Repository mesosphere/kommander-applications, pull requests merged in 2022-12, with the labels that each got.

#847 build: bump license check
  .github/workflows/validate-licenses.yaml
Labels: ready-for-review, size/XS

#849 fix: add license variables to fix install-e2e check
  make/ci.mk
  make/test.mk
Labels: ok-to-test, size/XS

#846 chore: bump knative-serving
  licenses.d2iq.yaml
  services/knative/0.5.0/defaults/cm.yaml
  services/knative/0.5.0/defaults/kustomization.yaml
  services/knative/0.5.0/knative-serving.yaml
  services/knative/0.5.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, services/knative

#845 chore: Remove Kaptain internal HelmRepository
  common/helm-repositories/kaptain.yaml
Labels: ready-for-review, ok-to-test, size/S

#850 feat: bump knative chart to 0.5.1
  licenses.d2iq.yaml
  services/knative/0.5.1/defaults/cm.yaml
  services/knative/0.5.1/defaults/kustomization.yaml
  services/knative/0.5.1/knative-serving.yaml
  services/knative/0.5.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/knative

#851 fix: new kubecost logo
  services/kubecost/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kubecost

#829 feat: bump rook-ceph to v1.10.6
  licenses.d2iq.yaml
  services/rook-ceph-cluster/1.10.6/defaults/cm.yaml
  services/rook-ceph-cluster/1.10.6/defaults/kustomization.yaml
  services/rook-ceph-cluster/1.10.6/grafana-dashboards/kustomization.yaml
  services/rook-ceph-cluster/1.10.6/grafana-dashboards/rook-ceph-cluster.json
  services/rook-ceph-cluster/1.10.6/grafana-dashboards/rook-ceph-osd.json
  services/rook-ceph-cluster/1.10.6/grafana-dashboards/rook-ceph-pools.json
  services/rook-ceph-cluster/1.10.6/helmrelease/dashboard-cm.yaml
  services/rook-ceph-cluster/1.10.6/helmrelease/helmrelease.yaml
  services/rook-ceph-cluster/1.10.6/helmrelease/kustomization.yaml
  services/rook-ceph-cluster/1.10.6/kustomization.yaml
  services/rook-ceph-cluster/1.10.6/object-bucket-claims.yaml
  services/rook-ceph-cluster/1.10.6/objectbucketclaims/helmrelease.yaml
  services/rook-ceph-cluster/1.10.6/objectbucketclaims/kustomization.yaml
  services/rook-ceph-cluster/1.10.6/pre-install.yaml
  services/rook-ceph-cluster/1.10.6/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.10.6/rook-ceph-cluster.yaml
  services/rook-ceph/1.10.6/defaults/cm.yaml
  services/rook-ceph/1.10.6/defaults/kustomization.yaml
  services/rook-ceph/1.10.6/helmrelease/helmrelease.yaml
  services/rook-ceph/1.10.6/helmrelease/kustomization.yaml
  services/rook-ceph/1.10.6/kustomization.yaml
  services/rook-ceph/1.10.6/rook-ceph.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/M, open-kommander-pr, services/rook-ceph-cluster, services/rook-ceph

#840 feat: Bump kiali to 1.59.1
  licenses.d2iq.yaml
  services/kiali/1.59.1/defaults/cm.yaml
  services/kiali/1.59.1/defaults/kustomization.yaml
  services/kiali/1.59.1/kiali.yaml
  services/kiali/1.59.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/kiali

#842 feat: Bump traefik to 20.5.2
  licenses.d2iq.yaml
  services/kommander/0.5.0/defaults/cm.yaml
  services/traefik/20.5.2/defaults/cm.yaml
  services/traefik/20.5.2/defaults/kustomization.yaml
  services/traefik/20.5.2/grafana-dashboards/kustomization.yaml
  services/traefik/20.5.2/grafana-dashboards/traefik.json
  services/traefik/20.5.2/kustomization.yaml
  services/traefik/20.5.2/traefik-plugin-rewritebody.yaml
  services/traefik/20.5.2/traefik.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, services/kommander, services/traefik

#857 feat: Bump kiali to 1.60.0
  licenses.d2iq.yaml
  services/kiali/1.60.0/defaults/cm.yaml
  services/kiali/1.60.0/defaults/kustomization.yaml
  services/kiali/1.60.0/kiali.yaml
  services/kiali/1.60.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/kiali

#856 feat: Bump jaeger to 2.38.0
  services/jaeger/2.38.0/defaults/cm.yaml
  services/jaeger/2.38.0/defaults/kustomization.yaml
  services/jaeger/2.38.0/helmrelease.yaml
  services/jaeger/2.38.0/helmrelease/release.yaml
  services/jaeger/2.38.0/kustomization.yaml
  services/jaeger/2.38.0/pre-upgrade.yaml
  services/jaeger/2.38.0/pre-upgrade/delete-jaeger-deployment.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/jaeger

#853 feat: Bump dex-k8s-authenticator to 1.2.14
  services/dex-k8s-authenticator/1.2.14/defaults/cm.yaml
  services/dex-k8s-authenticator/1.2.14/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.2.14/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.2.14/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/dex-k8s-authenticator

#862 feat: Bump reloader to 0.0.126
  licenses.d2iq.yaml
  services/kommander/0.5.0/defaults/cm.yaml
  services/reloader/0.0.126/defaults/cm.yaml
  services/reloader/0.0.126/defaults/kustomization.yaml
  services/reloader/0.0.126/kustomization.yaml
  services/reloader/0.0.126/reloader.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/kommander, services/reloader

#863 chore: bump logging-operator to 3.17.10
  licenses.d2iq.yaml
  services/logging-operator/3.17.10/defaults/cm.yaml
  services/logging-operator/3.17.10/defaults/kustomization.yaml
  services/logging-operator/3.17.10/grafana-dashboards/kustomization.yaml
  services/logging-operator/3.17.10/grafana-dashboards/logging-operator.json
  services/logging-operator/3.17.10/grafana-dashboards/logging-stack-stress.json
  services/logging-operator/3.17.10/kustomization.yaml
  services/logging-operator/3.17.10/logging-operator-logging.yaml
  services/logging-operator/3.17.10/logging-operator.yaml
Labels: ready-for-review, ok-to-test, size/S, services/logging-operator

#864 feat: Bump kubecost to 0.30.0
  licenses.d2iq.yaml
  services/centralized-kubecost/0.30.0/defaults/cm.yaml
  services/centralized-kubecost/0.30.0/defaults/kustomization.yaml
  services/centralized-kubecost/0.30.0/kustomization.yaml
  services/centralized-kubecost/0.30.0/post-install-jobs.yaml
  services/centralized-kubecost/0.30.0/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.30.0/release.yaml
  services/centralized-kubecost/0.30.0/release/release.yaml
  services/kommander/0.5.0/defaults/cm.yaml
  services/kubecost/0.30.0/defaults/cm.yaml
  services/kubecost/0.30.0/defaults/kustomization.yaml
  services/kubecost/0.30.0/kubecost.yaml
  services/kubecost/0.30.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kommander, services/centralized-kubecost, services/kubecost

#860 feat: Bump traefik to 20.8.0
  licenses.d2iq.yaml
  services/kommander/0.5.0/defaults/cm.yaml
  services/traefik/20.8.0/defaults/cm.yaml
  services/traefik/20.8.0/defaults/kustomization.yaml
  services/traefik/20.8.0/grafana-dashboards/kustomization.yaml
  services/traefik/20.8.0/grafana-dashboards/traefik.json
  services/traefik/20.8.0/kustomization.yaml
  services/traefik/20.8.0/traefik-plugin-rewritebody.yaml
  services/traefik/20.8.0/traefik.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kommander, services/traefik

#866 build: enable K8s 1.25 in Bloodhound checks
  .bloodhound.yml
Labels: ready-for-review, ok-to-test, size/XS

#865 fix: use default fluentd image
  services/logging-operator/3.17.10/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/logging-operator

#852 feat: Provide default application config
  common/base/kustomization.yaml
  common/values/kubernetes-dashboard-6.0.0.yaml
  common/values/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S

#812 feat: Bump fluent-bit to 0.21.6
  licenses.d2iq.yaml
  services/fluent-bit/0.21.6/defaults/cm.yaml
  services/fluent-bit/0.21.6/defaults/kustomization.yaml
  services/fluent-bit/0.21.6/fluent-bit.yaml
  services/fluent-bit/0.21.6/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.21.6/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.21.6/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.21.6/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.21.6/kustomization.yaml
  services/fluent-bit/0.21.6/resource-quota.yaml
  services/fluent-bit/0.21.6/resource-quota/resourcequota.yaml
  services/logging-operator/3.17.10/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/fluent-bit, services/logging-operator

#870 feat: Add ingress for centralized-kubecost thanos query
  services/centralized-kubecost/0.30.0/defaults/cm.yaml
  services/kubecost/0.30.0/defaults/cm.yaml
  services/kubecost/0.30.0/kubecost.yaml
Labels: ready-for-review, ok-to-test, size/M, services/centralized-kubecost, services/kubecost

#867 feat: open-kommander-pr modifies kommander tests for auto bumps
  .github/workflows/kommander-branch.yaml
Labels: ready-for-review, ok-to-test, size/S

#872 build: bump bloodhound to 0.8.1
  .bloodhound.yml
  make/validate.mk
Labels: ready-for-review, ok-to-test

#871 fix: Use archive full index bitnami helmrepo url
  common/helm-repositories/bitnami.yaml
Labels: ready-for-review, ok-to-test, open-kommander-pr

#869 feat: Add opencost configuration to centralized-kubecost
  licenses.d2iq.yaml
  services/centralized-kubecost/0.31.0/defaults/cm.yaml
  services/centralized-kubecost/0.31.0/defaults/kustomization.yaml
  services/centralized-kubecost/0.31.0/kustomization.yaml
  services/centralized-kubecost/0.31.0/post-install-jobs.yaml
  services/centralized-kubecost/0.31.0/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.31.0/release.yaml
  services/centralized-kubecost/0.31.0/release/release.yaml
  services/kommander/0.5.0/defaults/cm.yaml
  services/kubecost/0.31.0/defaults/cm.yaml
  services/kubecost/0.31.0/defaults/kustomization.yaml
  services/kubecost/0.31.0/kubecost.yaml
  services/kubecost/0.31.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/kommander, services/centralized-kubecost, services/kubecost

#868 ci: Improve labeler workflow
  .github/services-pr-labeler.yaml
  .github/workflows/labeler.yaml
Labels: ready-for-review, ok-to-test, size/XS

#873 feat: bump rook to v1.10.8
  licenses.d2iq.yaml
  services/rook-ceph-cluster/1.10.8/defaults/cm.yaml
  services/rook-ceph-cluster/1.10.8/defaults/kustomization.yaml
  services/rook-ceph-cluster/1.10.8/grafana-dashboards/kustomization.yaml
  services/rook-ceph-cluster/1.10.8/grafana-dashboards/rook-ceph-cluster.json
  services/rook-ceph-cluster/1.10.8/grafana-dashboards/rook-ceph-osd.json
  services/rook-ceph-cluster/1.10.8/grafana-dashboards/rook-ceph-pools.json
  services/rook-ceph-cluster/1.10.8/helmrelease/dashboard-cm.yaml
  services/rook-ceph-cluster/1.10.8/helmrelease/helmrelease.yaml
  services/rook-ceph-cluster/1.10.8/helmrelease/kustomization.yaml
  services/rook-ceph-cluster/1.10.8/kustomization.yaml
  services/rook-ceph-cluster/1.10.8/object-bucket-claims.yaml
  services/rook-ceph-cluster/1.10.8/objectbucketclaims/helmrelease.yaml
  services/rook-ceph-cluster/1.10.8/objectbucketclaims/kustomization.yaml
  services/rook-ceph-cluster/1.10.8/pre-install.yaml
  services/rook-ceph-cluster/1.10.8/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.10.8/rook-ceph-cluster.yaml
  services/rook-ceph/1.10.8/defaults/cm.yaml
  services/rook-ceph/1.10.8/defaults/kustomization.yaml
  services/rook-ceph/1.10.8/helmrelease/helmrelease.yaml
  services/rook-ceph/1.10.8/helmrelease/kustomization.yaml
  services/rook-ceph/1.10.8/kustomization.yaml
  services/rook-ceph/1.10.8/rook-ceph.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr

#874 feat: bump rook to v1.10.8
  licenses.d2iq.yaml
  services/rook-ceph-cluster/1.10.8/defaults/cm.yaml
  services/rook-ceph-cluster/1.10.8/defaults/kustomization.yaml
  services/rook-ceph-cluster/1.10.8/grafana-dashboards/kustomization.yaml
  services/rook-ceph-cluster/1.10.8/grafana-dashboards/rook-ceph-cluster.json
  services/rook-ceph-cluster/1.10.8/grafana-dashboards/rook-ceph-osd.json
  services/rook-ceph-cluster/1.10.8/grafana-dashboards/rook-ceph-pools.json
  services/rook-ceph-cluster/1.10.8/helmrelease/dashboard-cm.yaml
  services/rook-ceph-cluster/1.10.8/helmrelease/helmrelease.yaml
  services/rook-ceph-cluster/1.10.8/helmrelease/kustomization.yaml
  services/rook-ceph-cluster/1.10.8/kustomization.yaml
  services/rook-ceph-cluster/1.10.8/object-bucket-claims.yaml
  services/rook-ceph-cluster/1.10.8/objectbucketclaims/helmrelease.yaml
  services/rook-ceph-cluster/1.10.8/objectbucketclaims/kustomization.yaml
  services/rook-ceph-cluster/1.10.8/pre-install.yaml
  services/rook-ceph-cluster/1.10.8/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.10.8/rook-ceph-cluster.yaml
  services/rook-ceph/1.10.8/defaults/cm.yaml
  services/rook-ceph/1.10.8/defaults/kustomization.yaml
  services/rook-ceph/1.10.8/helmrelease/helmrelease.yaml
  services/rook-ceph/1.10.8/helmrelease/kustomization.yaml
  services/rook-ceph/1.10.8/kustomization.yaml
  services/rook-ceph/1.10.8/rook-ceph.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/rook-ceph-cluster, services/rook-ceph
