Repository mesosphere/kommander-applications, pull requests merged in 2022-11, with the labels that each got.

#777 feat: Bump istio to 1.15.3
  licenses.d2iq.yaml
  services/istio/1.15.3/defaults/cm.yaml
  services/istio/1.15.3/defaults/kustomization.yaml
  services/istio/1.15.3/helmrelease.yaml
  services/istio/1.15.3/helmrelease/helmrelease.yaml
  services/istio/1.15.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/istio

#779 feat: add license validation check (2.2)
  .bloodhound.yml
  .github/workflows/validate-licenses.yaml
  licenses.d2iq.yaml
Labels: ready-for-review

#780 feat: add license validation check (2.1)
  .bloodhound.yml
  .github/workflows/validate-licenses.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test

#781 fix: add kommander prometheus label
  services/rook-ceph-cluster/1.10.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/rook-ceph-cluster

#782 fix: use 8.5.14 for grafana-logging
  licenses.d2iq.yaml
  services/grafana-logging/6.38.1/defaults/cm.yaml
  services/project-grafana-logging/6.38.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, services/grafana-logging, services/project-grafana-logging

#784 feat: scale tested resources for ceph cluster
  services/fluent-bit/0.20.9/resource-quota.yaml
  services/rook-ceph-cluster/1.10.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/M, services/fluent-bit, services/rook-ceph-cluster

#783 fix: Fix cluster label var for rook ceph dashboard
  services/rook-ceph-cluster/1.10.3/defaults/cm.yaml
  services/rook-ceph-cluster/1.10.3/grafana-dashboards/kustomization.yaml
  services/rook-ceph-cluster/1.10.3/grafana-dashboards/rook-ceph-cluster.json
  services/rook-ceph-cluster/1.10.3/grafana-dashboards/rook-ceph-osd.json
  services/rook-ceph-cluster/1.10.3/grafana-dashboards/rook-ceph-pools.json
  services/rook-ceph/1.10.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XXL, services/rook-ceph-cluster, services/rook-ceph

#787 chore: decrease velero capacity
  services/rook-ceph-cluster/1.10.3/defaults/cm.yaml
  services/rook-ceph-cluster/1.10.3/grafana-dashboards/rook-ceph-osd.json
Labels: ready-for-review, ok-to-test, size/XS, services/rook-ceph-cluster

#786 chore: Bump DKP-Insights Management
  licenses.d2iq.yaml
  services/dkp-insights-management/0.3.0/defaults/cm.yaml
  services/dkp-insights-management/0.3.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/dkp-insights-management

#788 build: enable license mapping source validation
  .github/workflows/validate-licenses.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS

#789 chore: bump label limit in workspace loki
  services/grafana-loki/0.48.6/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/grafana-loki

#792 chore: post-release bumps to 2.5.0-dev
  mergebot-config.json
  services/kommander-appmanagement/0.5.0/defaults/cm.yaml
  services/kommander-appmanagement/0.5.0/defaults/kustomization.yaml
  services/kommander-appmanagement/0.5.0/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.5.0/kustomization.yaml
  services/kommander/0.5.0/defaults/cm.yaml
  services/kommander/0.5.0/defaults/kustomization.yaml
  services/kommander/0.5.0/dynamic-helmreleases/README.txt
  services/kommander/0.5.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.5.0/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.5.0/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.5.0/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.5.0/kommander.yaml
  services/kommander/0.5.0/kustomization.yaml
Labels: ok-to-test, size/S, services/kommander, services/kommander-appmanagement

#791 fix: Update dashboard app versions, bump Kiali img
  licenses.d2iq.yaml
  services/centralized-grafana/40.0.0/centralized-grafana.yaml
  services/grafana-logging/6.38.1/grafana.yaml
  services/jaeger/2.36.0/helmrelease/release.yaml
  services/kiali/1.57.1/defaults/cm.yaml
  services/kiali/1.57.1/kiali.yaml
  services/kube-prometheus-stack/40.0.0/helmrelease/kube-prometheus-stack.yaml
  services/kubecost/0.28.0/kubecost.yaml
  services/kubernetes-dashboard/5.11.0/kubernetes-dashboard.yaml
  services/traefik/10.30.1/traefik.yaml
Labels: ready-for-review, ok-to-test, needs-backport, size/S, open-kommander-pr

#795 feat: Backport post-release script
  hack/release/cmd/postrelease/postrelease.go
  hack/release/cmd/root.go
  hack/release/go.mod
  hack/release/go.sum
  hack/release/pkg/appversion/appversion.go
  hack/release/pkg/appversion/appversion_test.go
  hack/release/pkg/chartversion/chartversion.go
  hack/release/pkg/chartversion/chartversion_test.go
  hack/release/pkg/constants/constants.go
  licenses.d2iq.yaml
Labels: ok-to-test

#796 fix: license mapping
  .github/workflows/validate-licenses.yaml
  licenses.d2iq.yaml
Labels: ready-for-review

#797 feat: Bump DKP-Insights to 0.3.1
  licenses.d2iq.yaml
  services/dkp-insights-management/0.3.1/defaults/cm.yaml
  services/dkp-insights-management/0.3.1/defaults/kustomization.yaml
  services/dkp-insights-management/0.3.1/helmrelease.yaml
  services/dkp-insights-management/0.3.1/helmrelease/helmrelease.yaml
  services/dkp-insights-management/0.3.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, services/dkp-insights-management, backport-to-release-2.4

#803 chore: bump license validation tool to v0.0.6
  .github/workflows/validate-licenses.yaml
  licenses.d2iq.yaml
Labels: ready-for-review

#804 fix: license mapping (2.3)
  .github/workflows/validate-licenses.yaml
  licenses.d2iq.yaml
Labels: ready-for-review

#790 build: use pre-built Docker image for license check
  .github/workflows/validate-licenses.yaml
Labels: ready-for-review, size/S

#801 feat: Post release bumps
  mergebot-config.json
Labels: ok-to-test, size/XS

#807 test: upgrade from 2.4.0-dev
  make/test.mk
Labels: ready-for-review, ok-to-test, size/XS

#806 fix: enable reloading on creation of secrets
  services/reloader/0.0.121/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/XS

#799 feat: Post release bumps
  licenses.d2iq.yaml
  mergebot-config.json
  services/kommander-appmanagement/0.2.4/defaults/cm.yaml
  services/kommander-appmanagement/0.2.4/defaults/kustomization.yaml
  services/kommander-appmanagement/0.2.4/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.2.4/kustomization.yaml
  services/kommander/0.2.4/defaults/cm.yaml
  services/kommander/0.2.4/defaults/kustomization.yaml
  services/kommander/0.2.4/dynamic-helmreleases/README.txt
  services/kommander/0.2.4/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.2.4/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.2.4/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.2.4/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.2.4/kommander.yaml
  services/kommander/0.2.4/kustomization.yaml
Labels: ok-to-test

#800 feat: Post release bumps
  mergebot-config.json
  services/kommander-appmanagement/0.3.2/defaults/cm.yaml
  services/kommander-appmanagement/0.3.2/defaults/kustomization.yaml
  services/kommander-appmanagement/0.3.2/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.3.2/kustomization.yaml
  services/kommander/0.3.2/defaults/cm.yaml
  services/kommander/0.3.2/defaults/kustomization.yaml
  services/kommander/0.3.2/dynamic-helmreleases/README.txt
  services/kommander/0.3.2/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.3.2/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.3.2/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.3.2/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.3.2/kommander.yaml
  services/kommander/0.3.2/kustomization.yaml
Labels: ok-to-test

#809 chore: bump bloodhound
  make/validate.mk
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/XS

#808 fix: bump velero aws plugin for compatibility
  licenses.d2iq.yaml
  services/velero/3.3.0/defaults/cm.yaml
Labels: ok-to-test, size/XS, services/velero

#802 feat: Post release bumps
  mergebot-config.json
Labels: ok-to-test, size/XS

#805 fix: enable reloading on creation of secrets
  services/reloader/0.0.121/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/reloader

#719 feat: Bump reloader to 0.0.124
  services/kommander/0.5.0/defaults/cm.yaml
  services/reloader/0.0.124/defaults/cm.yaml
  services/reloader/0.0.124/defaults/kustomization.yaml
  services/reloader/0.0.124/kustomization.yaml
  services/reloader/0.0.124/reloader.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kommander, services/reloader

#820 chore: bump reloader image in licenses
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS

#819 chore: simply wait for CRDs instead of operator
  services/rook-ceph-cluster/1.10.3/kustomization.yaml
  services/rook-ceph-cluster/1.10.3/pre-install.yaml
  services/rook-ceph-cluster/1.10.3/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.10.3/rook-ceph-cluster.yaml
Labels: ready-for-review, ok-to-test, needs-backport, size/M, services/rook-ceph-cluster

#821 chore: simply wait for CRDs instead of operator
  services/rook-ceph-cluster/1.10.3/kustomization.yaml
  services/rook-ceph-cluster/1.10.3/pre-install.yaml
  services/rook-ceph-cluster/1.10.3/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.10.3/rook-ceph-cluster.yaml
Labels: ready-for-review, ok-to-test, size/M

#814 feat: Bump kiali to 1.59.0
  licenses.d2iq.yaml
  services/kiali/1.59.0/defaults/cm.yaml
  services/kiali/1.59.0/defaults/kustomization.yaml
  services/kiali/1.59.0/kiali.yaml
  services/kiali/1.59.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/kiali

#771 feat: Bump gitea to 6.0.3
  licenses.d2iq.yaml
  services/gitea/6.0.3/defaults/cm.yaml
  services/gitea/6.0.3/defaults/kustomization.yaml
  services/gitea/6.0.3/gitea.yaml
  services/gitea/6.0.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/gitea

#815 feat: Bump prometheus-adapter to 3.4.2
  services/kommander/0.5.0/defaults/cm.yaml
  services/prometheus-adapter/3.4.2/defaults/cm.yaml
  services/prometheus-adapter/3.4.2/defaults/kustomization.yaml
  services/prometheus-adapter/3.4.2/helmrelease/prometheus-adapter.yaml
  services/prometheus-adapter/3.4.2/kustomization.yaml
  services/prometheus-adapter/3.4.2/pre-upgrade/delete-prometheus-adapter-deployment.yaml
  services/prometheus-adapter/3.4.2/prometheus-adapter-helmrelease.yaml
  services/prometheus-adapter/3.4.2/prometheus-adapter-pre-upgrade.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kommander, services/prometheus-adapter

#811 feat: Bump external-dns to 6.11.3
  licenses.d2iq.yaml
  services/external-dns/6.11.3/defaults/cm.yaml
  services/external-dns/6.11.3/defaults/kustomization.yaml
  services/external-dns/6.11.3/external-dns.yaml
  services/external-dns/6.11.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/external-dns

#813 feat: Bump jaeger to 2.37.0
  licenses.d2iq.yaml
  services/jaeger/2.37.0/defaults/cm.yaml
  services/jaeger/2.37.0/defaults/kustomization.yaml
  services/jaeger/2.37.0/helmrelease.yaml
  services/jaeger/2.37.0/helmrelease/release.yaml
  services/jaeger/2.37.0/kustomization.yaml
  services/jaeger/2.37.0/pre-upgrade.yaml
  services/jaeger/2.37.0/pre-upgrade/delete-jaeger-deployment.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/jaeger

#822 feat: Bump kubecost
  licenses.d2iq.yaml
  services/centralized-kubecost/0.29.0/defaults/cm.yaml
  services/centralized-kubecost/0.29.0/defaults/kustomization.yaml
  services/centralized-kubecost/0.29.0/kustomization.yaml
  services/centralized-kubecost/0.29.0/post-install-jobs.yaml
  services/centralized-kubecost/0.29.0/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.29.0/release.yaml
  services/centralized-kubecost/0.29.0/release/release.yaml
  services/kommander/0.5.0/defaults/cm.yaml
  services/kubecost/0.29.0/defaults/cm.yaml
  services/kubecost/0.29.0/defaults/kustomization.yaml
  services/kubecost/0.29.0/kubecost.yaml
  services/kubecost/0.29.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kommander, services/centralized-kubecost, services/kubecost

#818 feat: Bump traefik to 20.3.0
  licenses.d2iq.yaml
  services/kommander/0.5.0/defaults/cm.yaml
  services/traefik/20.3.0/defaults/cm.yaml
  services/traefik/20.3.0/defaults/kustomization.yaml
  services/traefik/20.3.0/grafana-dashboards/kustomization.yaml
  services/traefik/20.3.0/grafana-dashboards/traefik.json
  services/traefik/20.3.0/kustomization.yaml
  services/traefik/20.3.0/traefik-plugin-rewritebody.yaml
  services/traefik/20.3.0/traefik.yaml
Labels: ready-for-review, ok-to-test, size/M, services/kommander, services/traefik

#825 feat: Post release bumps
  mergebot-config.json
Labels: ok-to-test, size/XS

#826 feat: Post release bumps
  mergebot-config.json
Labels: ready-for-review, ok-to-test

#827 feat: Post release bumps
  mergebot-config.json
Labels: ready-for-review, ok-to-test

#828 feat: Post release bumps
  mergebot-config.json
  services/kommander-appmanagement/0.4.1/defaults/cm.yaml
  services/kommander-appmanagement/0.4.1/defaults/kustomization.yaml
  services/kommander-appmanagement/0.4.1/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.4.1/kustomization.yaml
  services/kommander/0.4.1/defaults/cm.yaml
  services/kommander/0.4.1/defaults/kustomization.yaml
  services/kommander/0.4.1/dynamic-helmreleases/README.txt
  services/kommander/0.4.1/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.4.1/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.4.1/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.4.1/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.4.1/kommander.yaml
  services/kommander/0.4.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S

#831 build: add magefile and dagger support
  .gitignore
  go.work
  go.work.sum
  hack/release/go.mod
  hack/release/go.sum
  mage
  magefiles/go.mod
  magefiles/go.sum
  magefiles/mage.go
  magefiles/targets.go
Labels: ready-for-review, ok-to-test, size/L

#832 build(deps): use go 1.19
  .tool-versions
  hack/release/go.mod
Labels: ready-for-review, ok-to-test, size/XS

#785 build: add lint:precommit target to mage
  .github/workflows/lint.yaml
  go.work.sum
  hack/release/go.mod
  hack/release/go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/targets.go
Labels: ready-for-review, ok-to-test, size/XXL

#793 chore: Upgrade github checkout action
  .github/workflows/test.yaml
Labels: ok-to-test, size/XS

#836 ci: run pull_request on source branch
  .github/workflows/lint.yaml
Labels: size/XS

#841 feat: Bump kubernetes-dashboard to 6.0.0
  services/kommander/0.5.0/defaults/cm.yaml
  services/kubernetes-dashboard/6.0.0/defaults/cm.yaml
  services/kubernetes-dashboard/6.0.0/defaults/kustomization.yaml
  services/kubernetes-dashboard/6.0.0/kubernetes-dashboard.yaml
  services/kubernetes-dashboard/6.0.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander, services/kubernetes-dashboard
