Repository mesosphere/kommander-applications, pull requests merged in 2022-10, with the labels that each got.

#680 build: Bump rebase to v1.7
  .github/workflows/rebase.yaml
Labels: ready-for-review, size/XS

#682 feat: Enable coveralls reporting
  .github/workflows/test.yaml
  .gitignore
  .go-tools
  README.md
  make/go.mk
Labels: ok-to-test, size/XS

#674 feat: Bump kubernetes-dashboard to 5.11.0
  services/kommander/0.4.0/defaults/cm.yaml
  services/kubernetes-dashboard/5.11.0/defaults/cm.yaml
  services/kubernetes-dashboard/5.11.0/defaults/kustomization.yaml
  services/kubernetes-dashboard/5.11.0/kubernetes-dashboard.yaml
  services/kubernetes-dashboard/5.11.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S

#675 feat: Bump reloader to 0.0.121
  services/kommander/0.4.0/defaults/cm.yaml
  services/reloader/0.0.118/defaults/cm.yaml
  services/reloader/0.0.121/defaults/cm.yaml
  services/reloader/0.0.121/defaults/kustomization.yaml
  services/reloader/0.0.121/kustomization.yaml
  services/reloader/0.0.121/reloader.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr

#686 fix: Use correct branch for test coverage badge
  README.md
Labels: ok-to-test, size/XS

#681 build: Add workflows for bump PRs
  .github/bump-pr-labeler.yaml
  .github/service-labeler.yaml
  .github/workflows/automerge.yaml
  .github/workflows/labeler.yaml
  .github/workflows/update-service-labeler.yaml
  make/all.mk
  make/workflows.mk
Labels: ready-for-review, size/L

#688 fix: Pre-commit remove newline
  .github/workflows/update-service-labeler.yaml
Labels: ready-for-review, ok-to-test, size/XS

#649 feat: Bump kiali to 1.57.0
  services/kiali/1.57.0/defaults/cm.yaml
  services/kiali/1.57.0/defaults/kustomization.yaml
  services/kiali/1.57.0/kiali.yaml
  services/kiali/1.57.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/kiali

#646 feat: Bump gitea to 6.0.1
  services/gitea/6.0.1/defaults/cm.yaml
  services/gitea/6.0.1/defaults/kustomization.yaml
  services/gitea/6.0.1/gitea.yaml
  services/gitea/6.0.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/gitea

#689 fix: updating rook-ceph logos
  services/rook-ceph-cluster/metadata.yaml
  services/rook-ceph/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/rook-ceph-cluster, services/rook-ceph

#687 chore: clean up kubetools vars
  services/centralized-kubecost/0.27.0/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.27.0/release/release.yaml
  services/istio/1.14.1/defaults/cm.yaml
  services/jaeger/2.32.2/pre-upgrade/delete-jaeger-deployment.yaml
  services/kommander/0.4.0/defaults/cm.yaml
  services/kube-prometheus-stack/40.0.0/pre-upgrade/delete-node-exporter-daemonset.yaml
  services/kubetunnel/0.0.14/defaults/cm.yaml
  services/minio-operator/4.4.25/minio-operator-pre-upgrade/update-minio-tenant-crd-metadata.yaml
  services/prometheus-adapter/3.4.0/pre-upgrade/delete-prometheus-adapter-deployment.yaml
  services/thanos/0.4.7/jobs/jobs.yaml
  services/traefik/10.9.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S

#645 feat: Bump gatekeeper to 3.9.0
  services/gatekeeper/3.9.0/constraints.yaml
  services/gatekeeper/3.9.0/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.9.0/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.9.0/constrainttemplates.yaml
  services/gatekeeper/3.9.0/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.9.0/defaults/cm.yaml
  services/gatekeeper/3.9.0/defaults/kustomization.yaml
  services/gatekeeper/3.9.0/kustomization.yaml
  services/gatekeeper/3.9.0/release.yaml
  services/gatekeeper/3.9.0/release/kustomization.yaml
  services/gatekeeper/3.9.0/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
  services/kommander-flux/0.35.0/defaults/kustomization.yaml
  services/kommander/0.4.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/M, services/gatekeeper, services/kommander, services/kommander-flux

#651 feat: Bump logging-operator and fluent-bit
  services/fluent-bit/0.20.9/defaults/cm.yaml
  services/fluent-bit/0.20.9/defaults/kustomization.yaml
  services/fluent-bit/0.20.9/fluent-bit.yaml
  services/fluent-bit/0.20.9/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.20.9/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.20.9/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.20.9/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.20.9/kustomization.yaml
  services/fluent-bit/0.20.9/resource-quota.yaml
  services/fluent-bit/0.20.9/resource-quota/resourcequota.yaml
  services/logging-operator/3.17.9/defaults/cm.yaml
  services/logging-operator/3.17.9/defaults/kustomization.yaml
  services/logging-operator/3.17.9/grafana-dashboards/kustomization.yaml
  services/logging-operator/3.17.9/grafana-dashboards/logging-operator.json
  services/logging-operator/3.17.9/grafana-dashboards/logging-stack-stress.json
  services/logging-operator/3.17.9/kustomization.yaml
  services/logging-operator/3.17.9/logging-operator-logging.yaml
  services/logging-operator/3.17.9/logging-operator.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/fluent-bit, services/logging-operator

#692 fix: do not set kubetools var for kommander
  services/kommander/0.4.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/kommander

#691 build: Sign commits in gh workflows
  .github/workflows/backport.yaml
  .github/workflows/kommander-branch.yaml
  .github/workflows/kommander-revert-kapps-ref.yaml
  .github/workflows/rebase.yaml
  .github/workflows/update-service-labeler.yaml
Labels: ready-for-review, auto-backport, backport-to-release-2.2, backport-to-release-2.1, backport-to-release-2.3, size/M, open-kommander-pr, services/centralized-grafana

#693 fix: Fix backport action
  .github/workflows/backport.yaml
  .github/workflows/rebase.yaml
Labels: ready-for-review, auto-backport, backport-to-release-2.3, size/S

#704 chore: bump bloodhound to v0.8.0
  make/validate.mk
Labels: ready-for-review, ok-to-test, size/XS

#676 feat: Bump rook-ceph to 1.10.3
  services/rook-ceph-cluster/1.10.3/defaults/cm.yaml
  services/rook-ceph-cluster/1.10.3/defaults/kustomization.yaml
  services/rook-ceph-cluster/1.10.3/helmrelease/dashboard-cm.yaml
  services/rook-ceph-cluster/1.10.3/helmrelease/helmrelease.yaml
  services/rook-ceph-cluster/1.10.3/helmrelease/kustomization.yaml
  services/rook-ceph-cluster/1.10.3/kustomization.yaml
  services/rook-ceph-cluster/1.10.3/rook-ceph-cluster.yaml
  services/rook-ceph/1.10.3/defaults/cm.yaml
  services/rook-ceph/1.10.3/defaults/kustomization.yaml
  services/rook-ceph/1.10.3/helmrelease/helmrelease.yaml
  services/rook-ceph/1.10.3/helmrelease/kustomization.yaml
  services/rook-ceph/1.10.3/kustomization.yaml
  services/rook-ceph/1.10.3/rook-ceph.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/rook-ceph-cluster, services/rook-ceph

#697 feat: Bump gatekeeper to 3.9.1
  services/gatekeeper/3.9.1/constraints.yaml
  services/gatekeeper/3.9.1/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.9.1/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.9.1/constrainttemplates.yaml
  services/gatekeeper/3.9.1/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.9.1/defaults/cm.yaml
  services/gatekeeper/3.9.1/defaults/kustomization.yaml
  services/gatekeeper/3.9.1/kustomization.yaml
  services/gatekeeper/3.9.1/release.yaml
  services/gatekeeper/3.9.1/release/kustomization.yaml
  services/gatekeeper/3.9.1/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
  services/kommander/0.4.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, services/gatekeeper, services/kommander

#696 feat: Bump external-dns to 6.10.2
  .github/workflows/automerge.yaml
  services/external-dns/6.10.2/defaults/cm.yaml
  services/external-dns/6.10.2/defaults/kustomization.yaml
  services/external-dns/6.10.2/external-dns.yaml
  services/external-dns/6.10.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/external-dns

#698 feat: Bump kiali to 1.57.1
  services/kiali/1.57.1/defaults/cm.yaml
  services/kiali/1.57.1/defaults/kustomization.yaml
  services/kiali/1.57.1/kiali.yaml
  services/kiali/1.57.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/kiali

#673 feat: Bump jaeger to 2.36.0
  services/istio/1.14.1/helmrelease.yaml
  services/jaeger/2.36.0/defaults/cm.yaml
  services/jaeger/2.36.0/defaults/kustomization.yaml
  services/jaeger/2.36.0/helmrelease.yaml
  services/jaeger/2.36.0/helmrelease/release.yaml
  services/jaeger/2.36.0/kustomization.yaml
  services/jaeger/2.36.0/pre-upgrade.yaml
  services/jaeger/2.36.0/pre-upgrade/delete-jaeger-deployment.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/istio, services/jaeger

#679 feat: Bump traefik to 10.30.1
  services/kommander/0.4.0/defaults/cm.yaml
  services/traefik/10.30.1/defaults/cm.yaml
  services/traefik/10.30.1/defaults/kustomization.yaml
  services/traefik/10.30.1/grafana-dashboards/kustomization.yaml
  services/traefik/10.30.1/grafana-dashboards/traefik.json
  services/traefik/10.30.1/kustomization.yaml
  services/traefik/10.30.1/traefik-plugin-rewritebody.yaml
  services/traefik/10.30.1/traefik.yaml
  services/traefik/10.9.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XL, open-kommander-pr, services/kommander, services/traefik

#647 feat: Bump cert-manager to 1.9.1
  services/cert-manager/1.9.1/defaults/cm.yaml
  services/cert-manager/1.9.1/defaults/kustomization.yaml
  services/cert-manager/1.9.1/kustomization.yaml
  services/cert-manager/1.9.1/release.yaml
  services/cert-manager/1.9.1/release/kustomization.yaml
  services/cert-manager/1.9.1/release/release.yaml
  services/cert-manager/1.9.1/root-ca.yaml
  services/cert-manager/1.9.1/root-ca/root-ca.yaml
  services/cert-manager/bootstrap/kustomization.yaml
  services/kommander/0.4.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/M, services/kommander, services/cert-manager

#710 fix: update rook ceph icons to remove name
  services/rook-ceph-cluster/metadata.yaml
  services/rook-ceph/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/rook-ceph-cluster, services/rook-ceph

#684 feat: use velero from upstream chart backed by ceph
  common/helm-repositories/kustomization.yaml
  common/helm-repositories/vmware-tanzu.yaml
  make/test.mk
  services/rook-ceph-cluster/1.10.3/defaults/cm.yaml
  services/velero/3.2.3/defaults/cm.yaml
  services/velero/3.2.3/velero.yaml
  services/velero/3.3.0/defaults/cm.yaml
  services/velero/3.3.0/defaults/kustomization.yaml
  services/velero/3.3.0/grafana-dashboards/kustomization.yaml
  services/velero/3.3.0/grafana-dashboards/velero.json
  services/velero/3.3.0/helmrelease/helmrelease.yaml
  services/velero/3.3.0/kustomization.yaml
  services/velero/3.3.0/velero.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/L, open-kommander-pr, services/rook-ceph-cluster, services/velero

#706 fix: Remove default inhibit-rules from KPS v40.0.0
  services/kube-prometheus-stack/40.0.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S

#711 feat: adds dependencies in metadata
  services/centralized-kubecost/metadata.yaml
  services/dex-k8s-authenticator/metadata.yaml
  services/dkp-insights-management/metadata.yaml
  services/istio/metadata.yaml
  services/jaeger/metadata.yaml
  services/karma-traefik/metadata.yaml
  services/karma/metadata.yaml
  services/kiali/metadata.yaml
  services/knative/metadata.yaml
  services/kommander/metadata.yaml
  services/kube-prometheus-stack/metadata.yaml
  services/kubecost-thanos-traefik/metadata.yaml
  services/kubecost/metadata.yaml
  services/prometheus-adapter/metadata.yaml
  services/prometheus-thanos-traefik/metadata.yaml
  services/traefik-forward-auth-mgmt/metadata.yaml
  services/traefik-forward-auth/metadata.yaml
Labels: ready-for-review, ok-to-test, size/M, services/kiali, services/kommander, services/istio, services/jaeger, services/kube-prometheus-stack, services/centralized-kubecost, services/dex-k8s-authenticator, services/dkp-insights-management, services/karma, services/karma-traefik, services/knative, services/kubecost, services/kubecost-thanos-traefik, services/prometheus-adapter, services/prometheus-thanos-traefik, services/traefik-forward-auth, services/traefik-forward-auth-mgmt

#712 fix: legendformat of logging stack stress dash
  services/logging-operator/3.17.9/grafana-dashboards/logging-stack-stress.json
Labels: ready-for-review, ok-to-test, size/M, services/logging-operator

#713 fix: add upgrade job for grafana-loki
  services/grafana-loki/0.33.3/grafana-loki-upgrade-job.yaml
  services/grafana-loki/0.33.3/grafana-loki-upgrade-job/upgrade-job.yaml
  services/grafana-loki/0.33.3/kustomization.yaml
  services/grafana-loki/0.33.3/minio.yaml
  services/project-grafana-loki/0.33.3/grafana-loki-upgrade-job.yaml
  services/project-grafana-loki/0.33.3/grafana-loki-upgrade-job/upgrade-job.yaml
  services/project-grafana-loki/0.33.3/kustomization.yaml
  services/project-grafana-loki/0.33.3/minio.yaml
Labels: ready-for-review, do-not-merge, ok-to-test, open-kommander-pr

#727 revert: add upgrade job for grafana-loki
  services/grafana-loki/0.33.3/grafana-loki-upgrade-job.yaml
  services/grafana-loki/0.33.3/grafana-loki-upgrade-job/upgrade-job.yaml
  services/grafana-loki/0.33.3/kustomization.yaml
  services/grafana-loki/0.33.3/minio.yaml
  services/project-grafana-loki/0.33.3/grafana-loki-upgrade-job.yaml
  services/project-grafana-loki/0.33.3/grafana-loki-upgrade-job/upgrade-job.yaml
  services/project-grafana-loki/0.33.3/kustomization.yaml
  services/project-grafana-loki/0.33.3/minio.yaml
Labels: ready-for-review, ok-to-test

#722 [release-2.2] refactor: move loki HR and tenant behind kustomizations
  services/grafana-loki/0.33.3/grafana-loki-helmrelease.yaml
  services/grafana-loki/0.33.3/grafana-loki-helmrelease/grafana-loki.yaml
  services/grafana-loki/0.33.3/grafana-loki-tenant.yaml
  services/grafana-loki/0.33.3/grafana-loki-tenant/minio.yaml
  services/grafana-loki/0.33.3/kustomization.yaml
  services/project-grafana-loki/0.33.3/kustomization.yaml
  services/project-grafana-loki/0.33.3/project-grafana-loki-tenant.yaml
  services/project-grafana-loki/0.33.3/project-grafana-loki-tenant/minio.yaml
Labels: ready-for-review, ok-to-test, open-kommander-pr

#723 chore: high cpu limits to avoid throttling
  services/rook-ceph-cluster/1.10.3/defaults/cm.yaml
  services/rook-ceph/1.10.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, services/rook-ceph-cluster, services/rook-ceph

#725 chore: Set output of github actions in the new way
  .github/workflows/kommander-branch.yaml
  .github/workflows/kommander-revert-kapps-ref.yaml
Labels: ok-to-test, size/S

#612 feat: post release bumps
  mergebot-config.json
Labels: ready-for-review, ok-to-test, size/XS

#736 chore: bump grafana-loki and project-grafana-loki
  services/grafana-loki/0.48.6/defaults/cm.yaml
  services/grafana-loki/0.48.6/defaults/kustomization.yaml
  services/grafana-loki/0.48.6/grafana-dashboards-logging/kustomization.yaml
  services/grafana-loki/0.48.6/grafana-dashboards-logging/logging-loki-dashboard.json
  services/grafana-loki/0.48.6/grafana-dashboards/grafana-loki.json
  services/grafana-loki/0.48.6/grafana-dashboards/kustomization.yaml
  services/grafana-loki/0.48.6/grafana-dashboards/loki-chunks.json
  services/grafana-loki/0.48.6/grafana-dashboards/loki-deletion.json
  services/grafana-loki/0.48.6/grafana-dashboards/loki-reads-resources.json
  services/grafana-loki/0.48.6/grafana-dashboards/loki-retention.json
  services/grafana-loki/0.48.6/grafana-dashboards/loki-writes-resources.json
  services/grafana-loki/0.48.6/grafana-loki.yaml
  services/grafana-loki/0.48.6/kustomization.yaml
  services/project-grafana-loki/0.48.6/defaults/cm.yaml
  services/project-grafana-loki/0.48.6/defaults/kustomization.yaml
  services/project-grafana-loki/0.48.6/grafana-dashboards-logging/kustomization.yaml
  services/project-grafana-loki/0.48.6/grafana-dashboards-logging/logging-loki-dashboard.json
  services/project-grafana-loki/0.48.6/kustomization.yaml
  services/project-grafana-loki/0.48.6/object-bucket-claims.yaml
  services/project-grafana-loki/0.48.6/project-grafana-loki.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/grafana-loki, services/project-grafana-loki

#730 fix: patch gatekeeper deployment to support FIPS clusters
  services/gatekeeper/3.9.1/release/release.yaml
Labels: ready-for-review, ok-to-test, size/S, services/gatekeeper

#735 fix: make sure to reload upon s3 secret refresh
  services/grafana-loki/0.48.6/defaults/cm.yaml
  services/grafana-loki/0.48.6/grafana-loki.yaml
  services/project-grafana-loki/0.48.6/defaults/cm.yaml
  services/project-grafana-loki/0.48.6/project-grafana-loki.yaml
  services/velero/3.3.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/velero, services/grafana-loki, services/project-grafana-loki

#709 feat: Remove minio-operator app
  .github/service-labeler.yaml
  common/helm-repositories/kustomization.yaml
  common/helm-repositories/minio.yaml
  services/minio-operator/4.4.25/defaults/cm.yaml
  services/minio-operator/4.4.25/defaults/kustomization.yaml
  services/minio-operator/4.4.25/grafana-dashboards/kustomization.yaml
  services/minio-operator/4.4.25/grafana-dashboards/minio.json
  services/minio-operator/4.4.25/kustomization.yaml
  services/minio-operator/4.4.25/minio-operator-helmrelease.yaml
  services/minio-operator/4.4.25/minio-operator-helmrelease/release.yaml
  services/minio-operator/4.4.25/minio-operator-pre-upgrade.yaml
  services/minio-operator/4.4.25/minio-operator-pre-upgrade/update-minio-tenant-crd-metadata.yaml
  services/minio-operator/4.4.25/minio-tenant-helmrelease.yaml
  services/minio-operator/4.4.25/minio-tenant-helmrelease/release.yaml
  services/minio-operator/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XXL, open-kommander-pr, services/minio-operator

#740 feat: gatekeeper 3.10.0
  licenses.d2iq.yaml
  services/gatekeeper/3.10.0/constraints.yaml
  services/gatekeeper/3.10.0/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.10.0/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.10.0/constrainttemplates.yaml
  services/gatekeeper/3.10.0/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.10.0/defaults/cm.yaml
  services/gatekeeper/3.10.0/defaults/kustomization.yaml
  services/gatekeeper/3.10.0/kustomization.yaml
  services/gatekeeper/3.10.0/release.yaml
  services/gatekeeper/3.10.0/release/kustomization.yaml
  services/gatekeeper/3.10.0/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
  services/kommander/0.4.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/gatekeeper, services/kommander

#733 chore: update nvidia-gpu-operator metadata.yaml
  services/nvidia-gpu-operator/metadata.yaml
Labels: documentation, ready-for-review, size/XS, services/nvidia-gpu-operator

#726 feat: enable rook-ceph monitoring
  services/rook-ceph-cluster/1.10.3/defaults/cm.yaml
  services/rook-ceph-cluster/1.10.3/grafana-dashboards/kustomization.yaml
  services/rook-ceph-cluster/1.10.3/grafana-dashboards/rook-ceph-cluster.json
  services/rook-ceph-cluster/1.10.3/kustomization.yaml
  services/rook-ceph/1.10.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XXL, open-kommander-pr, services/rook-ceph-cluster, services/rook-ceph

#741 chore: remove unused license mappings
  licenses.d2iq.yaml
Labels: ready-for-review, size/L

#743 chore: use data unit for panels that counts bytes
  services/logging-operator/3.17.9/grafana-dashboards/logging-stack-stress.json
Labels: ready-for-review, ok-to-test, size/XS, services/logging-operator

#747 feat: enable multiple flush thread
  services/logging-operator/3.17.9/defaults/cm.yaml
  services/project-logging/1.0.3/project-logging.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/logging-operator, services/project-logging

#728 build: Bump k8s to 1.24.6
  .bloodhound.yml
  hack/release/go.mod
  hack/release/go.sum
  licenses.d2iq.yaml
  make/test.mk
  services/centralized-kubecost/0.28.0/defaults/cm.yaml
  services/centralized-kubecost/0.28.0/defaults/kustomization.yaml
  services/centralized-kubecost/0.28.0/kustomization.yaml
  services/centralized-kubecost/0.28.0/post-install-jobs.yaml
  services/centralized-kubecost/0.28.0/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.28.0/release.yaml
  services/centralized-kubecost/0.28.0/release/release.yaml
  services/istio/1.14.2/defaults/cm.yaml
  services/istio/1.14.2/defaults/kustomization.yaml
  services/istio/1.14.2/helmrelease.yaml
  services/istio/1.14.2/helmrelease/helmrelease.yaml
  services/istio/1.14.2/kustomization.yaml
  services/jaeger/2.36.0/pre-upgrade/delete-jaeger-deployment.yaml
  services/kommander/0.4.0/defaults/cm.yaml
  services/kube-prometheus-stack/40.0.0/pre-upgrade/delete-node-exporter-daemonset.yaml
  services/kubecost/0.28.0/defaults/cm.yaml
  services/kubecost/0.28.0/defaults/kustomization.yaml
  services/kubecost/0.28.0/kubecost.yaml
  services/kubecost/0.28.0/kustomization.yaml
  services/kubefed/0.10.0/defaults/cm.yaml
  services/kubetunnel/0.0.14/defaults/cm.yaml
  services/prometheus-adapter/3.4.0/pre-upgrade/delete-prometheus-adapter-deployment.yaml
  services/thanos/0.4.8/defaults/cm.yaml
  services/thanos/0.4.8/defaults/kustomization.yaml
  services/thanos/0.4.8/jobs.yaml
  services/thanos/0.4.8/jobs/jobs.yaml
  services/thanos/0.4.8/kustomization.yaml
  services/thanos/0.4.8/thanos.yaml
  services/traefik/10.30.1/defaults/cm.yaml
  services/velero/3.3.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/M, services/kommander, services/istio, services/jaeger, services/traefik, services/kube-prometheus-stack, services/minio-operator, services/centralized-kubecost, services/kubecost, services/prometheus-adapter, services/velero, services/kubefed, services/kubetunnel, services/thanos

#738 fix: increase memory requests for helm-controller
  services/kommander-flux/0.35.0/templates/apps_v1_deployment_helm-controller.yaml
Labels: ready-for-review, size/XS, services/kommander-flux

#752 chore: Let's validate licenses on main and releases
  .github/workflows/validate-licenses.yaml
Labels: ready-for-review, ok-to-test, size/XS

#714 feat: Remove nvidia application
  .github/bump-pr-labeler.yaml
  .github/service-labeler.yaml
  services/nvidia/0.4.4/defaults/cm.yaml
  services/nvidia/0.4.4/defaults/kustomization.yaml
  services/nvidia/0.4.4/kustomization.yaml
  services/nvidia/0.4.4/nvidia.yaml
  services/nvidia/metadata.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/L, open-kommander-pr

#737 chore: erasure coded replication for ceph object store
  services/project-grafana-loki/0.48.6/defaults/cm.yaml
  services/rook-ceph-cluster/1.10.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/rook-ceph-cluster, services/project-grafana-loki

#731 docs: Fix typo in the Reloader app overview
  services/reloader/metadata.yaml
Labels: ready-for-review, ok-to-test

#742 chore: app version bump reminder in pull req template
  .github/pull_request_template.md
Labels: documentation, ready-for-review, size/XS

#739 chore: added capimate and automation script
  README.md
  hack/release/cmd/prerelease/prerelease.go
  hack/release/pkg/chartversion/chartversion_test.go
  hack/release/pkg/constants/constants.go
  hack/release/pkg/updatecapimate/updatecapimate.go
  hack/release/pkg/updatecapimate/updatecapimate_test.go
  licenses.d2iq.yaml
  services/kommander/0.4.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/L, services/kommander

#749 chore: bump license check
  .github/workflows/validate-licenses.yaml
Labels: size/XS

#754 chore: use variables in license mapping file
  .github/workflows/validate-licenses.yaml
  licenses.d2iq.yaml
Labels: size/L

#732 feat: update velero metadata with warning
  services/velero/metadata.yaml
Labels: documentation, ready-for-review, size/XS, services/velero

#756 chore: make ceph osds portable
  services/rook-ceph-cluster/1.10.3/defaults/cm.yaml
  services/velero/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/rook-ceph-cluster, services/velero

#757 feat: set dkp-insights-management `airgapped.enabled` from kommander var
  services/dkp-insights-management/0.3.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/dkp-insights-management

#762 fix: use default value for useSecret configuration
  services/velero/3.3.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/velero

#760 fix: increase requests to flux avoid misfunctioning
  hack/flux/flux-update-kustomization.yaml
  services/kommander-flux/0.36.0/templates/apps_v1_deployment_helm-controller.yaml
  services/kommander-flux/0.36.0/templates/apps_v1_deployment_kustomize-controller.yaml
  services/kommander-flux/0.36.0/templates/apps_v1_deployment_source-controller.yaml
Labels: ok-to-test, size/M, open-kommander-pr, services/kommander-flux

#764 fix: Update license mapping for kommander UI
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS

#763 fix: incorrect licenses mappings
  licenses.d2iq.yaml
Labels: size/M

#761 feat: use an official ngc image for the validator
  services/nvidia-gpu-operator/1.11.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/nvidia-gpu-operator

#746 feat: remove deprecated metallb
  .github/service-labeler.yaml
  licenses.d2iq.yaml
  services/metallb/0.12.3/defaults/cm.yaml
  services/metallb/0.12.3/defaults/kustomization.yaml
  services/metallb/0.12.3/kustomization.yaml
  services/metallb/0.12.3/metallb.yaml
  services/metallb/metadata.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/metallb

#765 fix: use variable for kommander ui container license mapping
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS

#766 fix: kommander-ui licenses variable name
  licenses.d2iq.yaml
Labels: ready-for-review, size/XS

#768 feat: kubetunnel v0.0.15
  licenses.d2iq.yaml
  services/kubetunnel/0.0.15/defaults/cm.yaml
  services/kubetunnel/0.0.15/defaults/kustomization.yaml
  services/kubetunnel/0.0.15/kubetunnel.yaml
  services/kubetunnel/0.0.15/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/kubetunnel

#767 fix: licenses tfa mapping
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS
