Repository mesosphere/kommander-applications, pull requests merged in 2023-06, with the labels that each got.

#1302 feat: add utilisation metrics config to prometheus-adapter
  services/prometheus-adapter/4.2.1/defaults/cm.yaml
  services/prometheus-adapter/4.2.1/defaults/kustomization.yaml
  services/prometheus-adapter/4.2.1/helmrelease/prometheus-adapter.yaml
  services/prometheus-adapter/4.2.1/kustomization.yaml
  services/prometheus-adapter/4.2.1/prometheus-adapter-helmrelease.yaml
Labels: ok-to-test, size/S, services/prometheus-adapter

#1305 feat: Bump dex to 2.12.2
  services/dex/2.12.2/defaults/cm.yaml
  services/dex/2.12.2/defaults/kustomization.yaml
  services/dex/2.12.2/dex.yaml
  services/dex/2.12.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/dex

#1310 feat: Bump fluent-bit to 0.30.3
  services/fluent-bit/0.30.3/defaults/cm.yaml
  services/fluent-bit/0.30.3/defaults/kustomization.yaml
  services/fluent-bit/0.30.3/fluent-bit.yaml
  services/fluent-bit/0.30.3/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.30.3/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.30.3/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.30.3/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.30.3/kustomization.yaml
  services/fluent-bit/0.30.3/resource-quota.yaml
  services/fluent-bit/0.30.3/resource-quota/resourcequota.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/fluent-bit

#1304 feat: Bump external-dns to 6.20.3
  licenses.d2iq.yaml
  services/external-dns/6.20.3/defaults/cm.yaml
  services/external-dns/6.20.3/defaults/kustomization.yaml
  services/external-dns/6.20.3/external-dns.yaml
  services/external-dns/6.20.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/external-dns

#1308 feat: Bump thanos to 12.6.2
  licenses.d2iq.yaml
  services/thanos/12.6.2/defaults/cm.yaml
  services/thanos/12.6.2/defaults/kustomization.yaml
  services/thanos/12.6.2/jobs.yaml
  services/thanos/12.6.2/jobs/jobs.yaml
  services/thanos/12.6.2/kustomization.yaml
  services/thanos/12.6.2/thanos.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/thanos

#1318 chore: bump kubectl image tags
  licenses.d2iq.yaml
  make/test.mk
  services/centralized-kubecost/0.34.0/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.34.0/release/release.yaml
  services/grafana-loki/0.69.14/grafana-loki-pre-install-jobs/pre-install.yaml
  services/istio/1.17.2/defaults/cm.yaml
  services/kubefed/0.10.2/defaults/cm.yaml
  services/kubetunnel/0.0.21/defaults/cm.yaml
  services/rook-ceph-cluster/1.11.4/obc-pre-upgrade/delete-obc-jobs.yaml
  services/rook-ceph-cluster/1.11.4/pre-install/ceph-crd-check.yaml
  services/thanos/12.6.2/jobs/jobs.yaml
  services/traefik/23.0.1/defaults/cm.yaml
  services/velero/4.0.1/defaults/cm.yaml
  services/velero/4.0.1/pre-install/pre-install-job.yaml
Labels: ok-to-test, size/M, open-kommander-pr, services/rook-ceph-cluster, services/istio, services/traefik, services/centralized-kubecost, services/velero, services/grafana-loki, services/kubefed, services/kubetunnel, services/thanos

#1312 feat: Bump grafana to 6.57.0
  licenses.d2iq.yaml
  services/grafana-logging/6.57.0/defaults/cm.yaml
  services/grafana-logging/6.57.0/defaults/kustomization.yaml
  services/grafana-logging/6.57.0/grafana.yaml
  services/grafana-logging/6.57.0/kustomization.yaml
  services/project-grafana-logging/6.57.0/defaults/cm.yaml
  services/project-grafana-logging/6.57.0/defaults/kustomization.yaml
  services/project-grafana-logging/6.57.0/kustomization.yaml
  services/project-grafana-logging/6.57.0/project-grafana.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/grafana-logging, services/project-grafana-logging, update-licenses

#1307 feat: Bump jaeger-operator to 2.45.0
  licenses.d2iq.yaml
  services/jaeger/2.45.0/defaults/cm.yaml
  services/jaeger/2.45.0/defaults/kustomization.yaml
  services/jaeger/2.45.0/helmrelease.yaml
  services/jaeger/2.45.0/helmrelease/release.yaml
  services/jaeger/2.45.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/jaeger, update-licenses

#1309 feat: Bump rook-ceph to v1.11.7
  licenses.d2iq.yaml
  services/rook-ceph-cluster/1.11.7/defaults/cm.yaml
  services/rook-ceph-cluster/1.11.7/defaults/kustomization.yaml
  services/rook-ceph-cluster/1.11.7/grafana-dashboards/kustomization.yaml
  services/rook-ceph-cluster/1.11.7/grafana-dashboards/rook-ceph-cluster.json
  services/rook-ceph-cluster/1.11.7/grafana-dashboards/rook-ceph-osd.json
  services/rook-ceph-cluster/1.11.7/grafana-dashboards/rook-ceph-pools.json
  services/rook-ceph-cluster/1.11.7/helmrelease/dashboard-cm.yaml
  services/rook-ceph-cluster/1.11.7/helmrelease/helmrelease.yaml
  services/rook-ceph-cluster/1.11.7/helmrelease/kustomization.yaml
  services/rook-ceph-cluster/1.11.7/kustomization.yaml
  services/rook-ceph-cluster/1.11.7/obc-pre-upgrade.yaml
  services/rook-ceph-cluster/1.11.7/obc-pre-upgrade/delete-obc-jobs.yaml
  services/rook-ceph-cluster/1.11.7/object-bucket-claims.yaml
  services/rook-ceph-cluster/1.11.7/objectbucketclaims/helmrelease.yaml
  services/rook-ceph-cluster/1.11.7/objectbucketclaims/kustomization.yaml
  services/rook-ceph-cluster/1.11.7/pre-install.yaml
  services/rook-ceph-cluster/1.11.7/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.11.7/rook-ceph-cluster.yaml
  services/rook-ceph/1.11.7/defaults/cm.yaml
  services/rook-ceph/1.11.7/defaults/kustomization.yaml
  services/rook-ceph/1.11.7/helmrelease/helmrelease.yaml
  services/rook-ceph/1.11.7/helmrelease/kustomization.yaml
  services/rook-ceph/1.11.7/kustomization.yaml
  services/rook-ceph/1.11.7/rook-ceph.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/rook-ceph-cluster, services/rook-ceph, update-licenses

#1325 fix: use a more generic contains for nvidia kommander automation
  .github/workflows/kommander-branch.yaml
  hack/update-nvidia.sh
Labels: size/S

#1314 feat: Bump gpu-operator to v23.3.2
  .github/workflows/kommander-branch.yaml
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/23.3.2/defaults/cm.yaml
  services/nvidia-gpu-operator/23.3.2/defaults/kustomization.yaml
  services/nvidia-gpu-operator/23.3.2/grafana-dashboards/gpu-operator.json
  services/nvidia-gpu-operator/23.3.2/grafana-dashboards/kustomization.yaml
  services/nvidia-gpu-operator/23.3.2/helmrelease.yaml
  services/nvidia-gpu-operator/23.3.2/helmrelease/nvidia.yaml
  services/nvidia-gpu-operator/23.3.2/kustomization.yaml
Labels: do-not-merge, ok-to-test, size/S, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#1326 feat: Bump kube-prometheus-stack to 46.8.0
  licenses.d2iq.yaml
  services/centralized-grafana/46.8.0/centralized-grafana.yaml
  services/centralized-grafana/46.8.0/defaults/cm.yaml
  services/centralized-grafana/46.8.0/defaults/kustomization.yaml
  services/centralized-grafana/46.8.0/grafana-dashboards/global-overview.json
  services/centralized-grafana/46.8.0/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/46.8.0/kustomization.yaml
  services/kube-prometheus-stack/46.8.0/defaults/cm.yaml
  services/kube-prometheus-stack/46.8.0/defaults/kustomization.yaml
  services/kube-prometheus-stack/46.8.0/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/46.8.0/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/46.8.0/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/46.8.0/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/46.8.0/grafana-dashboards/calico.json
  services/kube-prometheus-stack/46.8.0/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/46.8.0/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/46.8.0/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/46.8.0/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/46.8.0/helmrelease.yaml
  services/kube-prometheus-stack/46.8.0/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/46.8.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, services/centralized-grafana, services/kube-prometheus-stack, update-licenses

#1261 fix: bump rook-ceph-cluster/loki HelmRelease timeout
  services/grafana-loki/0.69.16/grafana-loki-helmrelease/grafana-loki.yaml
  services/project-grafana-loki/0.69.16/project-grafana-loki.yaml
  services/rook-ceph-cluster/1.11.7/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, services/rook-ceph-cluster, services/grafana-loki, services/project-grafana-loki, backport-to-release-2.5

#1336 feat: Bump kubecost to 0.35.1
  licenses.d2iq.yaml
  services/centralized-kubecost/0.35.1/defaults/cm.yaml
  services/centralized-kubecost/0.35.1/defaults/kustomization.yaml
  services/centralized-kubecost/0.35.1/kustomization.yaml
  services/centralized-kubecost/0.35.1/post-install-jobs.yaml
  services/centralized-kubecost/0.35.1/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.35.1/release.yaml
  services/centralized-kubecost/0.35.1/release/release.yaml
  services/kubecost/0.35.1/defaults/cm.yaml
  services/kubecost/0.35.1/defaults/kustomization.yaml
  services/kubecost/0.35.1/kubecost.yaml
  services/kubecost/0.35.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, services/centralized-kubecost, services/kubecost, update-licenses

#1334 fix: bump rook-ceph-cluster/loki HelmRelease timeout (backport) (2.5)
  services/grafana-loki/0.69.4/grafana-loki-helmrelease/grafana-loki.yaml
  services/project-grafana-loki/0.69.4/project-grafana-loki.yaml
  services/rook-ceph-cluster/1.10.11/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1322 feat: Release DKP-Insights Backend v0.5.0-beta.1
  .github/service-labeler.yaml
  common/helm-repositories/mesosphere-repos.yaml
  licenses.d2iq.yaml
  services/dkp-insights/0.5.0-beta.1/defaults/cm.yaml
  services/dkp-insights/0.5.0-beta.1/defaults/kustomization.yaml
  services/dkp-insights/0.5.0-beta.1/helmrelease.yaml
  services/dkp-insights/0.5.0-beta.1/helmrelease/helmrelease.yaml
  services/dkp-insights/0.5.0-beta.1/kustomization.yaml
  services/dkp-insights/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XXL, services/dkp-insights

#1339 feat: Bump knative to 1.10.4
  services/knative/1.10.4/defaults/cm.yaml
  services/knative/1.10.4/defaults/kustomization.yaml
  services/knative/1.10.4/knative-serving.yaml
  services/knative/1.10.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/knative, update-licenses

#1342 ci: Open Kommander PR for kubecost bumps
  .github/services-pr-labeler.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1340 fix: duplicate key in fluentbit config defaults
  services/fluent-bit/0.30.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/fluent-bit

#1337 feat: bump ChartMuseum to 3.10.0
  .github/services-pr-labeler.yaml
  licenses.d2iq.yaml
  services/chartmuseum/3.10.0/README.md
  services/chartmuseum/3.10.0/chartmuseum-3.10.0.tgz
  services/chartmuseum/3.10.0/chartmuseum.yaml
  services/chartmuseum/3.10.0/defaults/cm.yaml
  services/chartmuseum/3.10.0/defaults/kustomization.yaml
  services/chartmuseum/3.10.0/kustomization.yaml
  services/chartmuseum/3.9.0/chartmuseum-3.9.0.tgz
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/chartmuseum

#1345 chore: add license manifest for kommander config-api image
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1347 fix(istio): expose metrics to allow prometheus scraping
  services/istio/1.17.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/istio

#1350 feat: Bump dex to add priority to certs jobs
  services/dex/2.12.3/defaults/cm.yaml
  services/dex/2.12.3/defaults/kustomization.yaml
  services/dex/2.12.3/dex.yaml
  services/dex/2.12.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/dex, update-licenses

#1355 chore: bumps mtls-proxy to latest chart
  services/kommander/0.6.0/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander

#1352 feat: config api image subst var
  services/kommander-appmanagement/0.6.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander-appmanagement

#1360 revert: "feat: New Charts for Knative"
  licenses.d2iq.yaml
  services/knative/1.10.4/defaults/cm.yaml
  services/knative/1.10.4/defaults/kustomization.yaml
  services/knative/1.10.4/knative-serving.yaml
  services/knative/1.10.4/kustomization.yaml
  services/knative/metadata.yaml
Labels: ready-for-review, ok-to-test, size/M, services/knative

#1363 feat: Bump k8s patch to 1.26.6
  .bloodhound.yml
Labels: ready-for-review, ok-to-test, size/XS
