Repository mesosphere/kommander-applications, pull requests merged in 2023-12, with the labels that each got.

#1745 chore: Post release 2.8
  common/kommander-operator/defaults/cm.yaml
  services/kommander-appmanagement/0.8.0/defaults/cm.yaml
  services/kommander-appmanagement/0.8.0/defaults/kustomization.yaml
  services/kommander-appmanagement/0.8.0/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.8.0/kustomization.yaml
  services/kommander/0.8.0/defaults/cm.yaml
  services/kommander/0.8.0/defaults/kustomization.yaml
  services/kommander/0.8.0/dynamic-helmreleases/README.txt
  services/kommander/0.8.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.8.0/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.8.0/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.8.0/dynamic-helmreleases/mtls-proxy/list-images-values.yaml
  services/kommander/0.8.0/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.8.0/kommander.yaml
  services/kommander/0.8.0/kustomization.yaml
Labels: ready-for-review, ok-to-test

#1740 chore: Post release bumps
  mergebot-config.json
Labels: ok-to-test, size/XS

#1742 chore: Post release bumps
  mergebot-config.json
Labels: ok-to-test, size/XS

#1760 fix: Pin grafana-logging to 8.5
  licenses.d2iq.yaml
  services/grafana-logging/6.60.1/defaults/cm.yaml
  services/grafana-logging/6.60.1/grafana.yaml
  services/project-grafana-logging/6.60.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, backport-pr, auto-backport, size/S, update-licenses, backport-to-main

#1763 feat: bump ui to 10.31.1
  services/kommander-ui/10.31.1/defaults/cm.yaml
  services/kommander-ui/10.31.1/defaults/kustomization.yaml
  services/kommander-ui/10.31.1/kommander-ui.yaml
  services/kommander-ui/10.31.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander-ui

#1765 feat: Release DKP-Insights v1.0.1
  licenses.d2iq.yaml
  services/dkp-insights-management/1.0.1/defaults/cm.yaml
  services/dkp-insights-management/1.0.1/defaults/kustomization.yaml
  services/dkp-insights-management/1.0.1/helmrelease.yaml
  services/dkp-insights-management/1.0.1/helmrelease/helmrelease.yaml
  services/dkp-insights-management/1.0.1/helmrelease/kustomization.yaml
  services/dkp-insights-management/1.0.1/kustomization.yaml
  services/dkp-insights/1.0.1/defaults/cm.yaml
  services/dkp-insights/1.0.1/defaults/kustomization.yaml
  services/dkp-insights/1.0.1/helmrelease.yaml
  services/dkp-insights/1.0.1/helmrelease/extra-images.txt
  services/dkp-insights/1.0.1/helmrelease/helmrelease.yaml
  services/dkp-insights/1.0.1/helmrelease/kustomization.yaml
  services/dkp-insights/1.0.1/helmrelease/list-images-values.yaml
  services/dkp-insights/1.0.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, services/dkp-insights-management, services/dkp-insights, backport-to-release-2.7

#1767 feat: Release DKP-Insights v1.0.1
  licenses.d2iq.yaml
  services/dkp-insights-management/1.0.1/defaults/cm.yaml
  services/dkp-insights-management/1.0.1/defaults/kustomization.yaml
  services/dkp-insights-management/1.0.1/helmrelease.yaml
  services/dkp-insights-management/1.0.1/helmrelease/helmrelease.yaml
  services/dkp-insights-management/1.0.1/helmrelease/kustomization.yaml
  services/dkp-insights-management/1.0.1/kustomization.yaml
  services/dkp-insights/1.0.1/defaults/cm.yaml
  services/dkp-insights/1.0.1/defaults/kustomization.yaml
  services/dkp-insights/1.0.1/helmrelease.yaml
  services/dkp-insights/1.0.1/helmrelease/extra-images.txt
  services/dkp-insights/1.0.1/helmrelease/helmrelease.yaml
  services/dkp-insights/1.0.1/helmrelease/kustomization.yaml
  services/dkp-insights/1.0.1/helmrelease/list-images-values.yaml
  services/dkp-insights/1.0.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/S

#1768 fix: Address critical postrgres CVE
  licenses.d2iq.yaml
  services/gitea/8.2.0/defaults/cm.yaml
Labels: ok-to-test, size/XS, services/gitea

#1769 fix: Address critical postrgres CVE (#1768)
  licenses.d2iq.yaml
  services/gitea/8.2.0/defaults/cm.yaml
Labels: size/XS

#1770 fix: bump karma container image to address critical CVEs
  licenses.d2iq.yaml
  services/karma/2.0.3/defaults/cm.yaml
  services/karma/2.0.3/defaults/kustomization.yaml
  services/karma/2.0.3/karma.yaml
  services/karma/2.0.3/kustomization.yaml
Labels: ready-for-review, size/S, open-kommander-pr, services/karma

#1773 fix: bump karma container image to address critical CVEs (2.7)
  licenses.d2iq.yaml
  services/karma/2.0.3/defaults/cm.yaml
  services/karma/2.0.3/defaults/kustomization.yaml
  services/karma/2.0.3/karma.yaml
  services/karma/2.0.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S

#1772 fix: bump ghostunnel image to address critical CVEs
  licenses.d2iq.yaml
  services/kommander/0.8.0/dynamic-helmreleases/mtls-proxy/list-images-values.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/kommander, backport-to-release-2.7

#1775 fix: bump ghostunnel image to address critical CVEs (2.7)
  licenses.d2iq.yaml
  services/kommander/0.7.0/dynamic-helmreleases/mtls-proxy/list-images-values.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1777 feat: bump dex image
  licenses.d2iq.yaml
  services/dex/2.13.6/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, open-kommander-pr, services/dex, update-licenses, backport-to-release-2.7

#1782 fix: taking psql bump from major to minor version (#1779)
  licenses.d2iq.yaml
  services/gitea/8.2.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test

#1780 fix(CVE): bump pkg:docker/bitnami/kubectl@1.24.1
  services/kubecost/0.37.1/defaults/cm.yaml
Labels: ready-for-review, auto-backport, services/kubecost, backport-to-release-2.7

#1783 chore: bump kubetunnel to 0.0.31
  licenses.d2iq.yaml
  services/kubetunnel/0.0.31/defaults/cm.yaml
  services/kubetunnel/0.0.31/defaults/kustomization.yaml
  services/kubetunnel/0.0.31/extra-images.txt
  services/kubetunnel/0.0.31/kubetunnel.yaml
  services/kubetunnel/0.0.31/kustomization.yaml
Labels: ok-to-test, auto-backport, size/S, open-kommander-pr, services/kubetunnel, backport-to-release-2.7

#1788 feat: Bump kubefed ot 0.10.4
  licenses.d2iq.yaml
  services/kubefed/0.10.4/defaults/cm.yaml
  services/kubefed/0.10.4/defaults/kustomization.yaml
  services/kubefed/0.10.4/federatedtypeconfigs.yaml
  services/kubefed/0.10.4/federatedtypeconfigs/federatedtypeconfigs.yaml
  services/kubefed/0.10.4/kube-federation-system-namespace.yaml
  services/kubefed/0.10.4/kube-federation-system-namespace/kube-federation-system.yaml
  services/kubefed/0.10.4/kustomization.yaml
  services/kubefed/0.10.4/release.yaml
  services/kubefed/0.10.4/release/release.yaml
Labels: ready-for-review, auto-backport, size/S, services/kubefed, backport-to-release-2.7

#1785 fix: bump kubecost sidecar image
  licenses.d2iq.yaml
  services/centralized-grafana/48.3.1/defaults/cm.yaml
  services/centralized-kubecost/0.37.1/defaults/cm.yaml
  services/grafana-logging/6.60.1/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.1/defaults/cm.yaml
  services/kubecost/0.37.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, open-kommander-pr, services/centralized-grafana, services/grafana-logging, services/kube-prometheus-stack, services/centralized-kubecost, services/kubecost, backport-to-release-2.7

#1790 feat: Bump kubecost to 0.37.2
  licenses.d2iq.yaml
  services/centralized-kubecost/0.37.2/defaults/cm.yaml
  services/centralized-kubecost/0.37.2/defaults/kustomization.yaml
  services/centralized-kubecost/0.37.2/kustomization.yaml
  services/centralized-kubecost/0.37.2/post-install-jobs.yaml
  services/centralized-kubecost/0.37.2/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.2/release.yaml
  services/centralized-kubecost/0.37.2/release/release.yaml
  services/kubecost/0.37.2/defaults/cm.yaml
  services/kubecost/0.37.2/defaults/kustomization.yaml
  services/kubecost/0.37.2/kubecost.yaml
  services/kubecost/0.37.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, open-kommander-pr, services/centralized-kubecost, services/kubecost, update-licenses, backport-to-release-2.7

#1787 fix: drop airgapped support for Insights flags that use `bitnami-shell`
  services/dkp-insights/1.0.1/helmrelease/list-images-values.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, services/dkp-insights, backport-to-release-2.7
