Repository mesosphere/kommander-applications, pull requests merged in 2023-08, with the labels that each got.

#1441 fix: disable PSPs explictly to avoid upgrade failures (2.5)
  services/gatekeeper/3.11.1/constraints.yaml
  services/gatekeeper/3.11.1/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.11.1/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.11.1/constrainttemplates.yaml
  services/gatekeeper/3.11.1/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.11.1/defaults/cm.yaml
  services/gatekeeper/3.11.1/defaults/kustomization.yaml
  services/gatekeeper/3.11.1/kustomization.yaml
  services/gatekeeper/3.11.1/release.yaml
  services/gatekeeper/3.11.1/release/kustomization.yaml
  services/gatekeeper/3.11.1/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
  services/kommander/0.5.2/defaults/cm.yaml
  services/logging-operator/3.17.11/defaults/cm.yaml
  services/logging-operator/3.17.11/defaults/kustomization.yaml
  services/logging-operator/3.17.11/grafana-dashboards/kustomization.yaml
  services/logging-operator/3.17.11/grafana-dashboards/logging-operator.json
  services/logging-operator/3.17.11/grafana-dashboards/logging-stack-stress.json
  services/logging-operator/3.17.11/kustomization.yaml
  services/logging-operator/3.17.11/logging-operator-logging.yaml
  services/logging-operator/3.17.11/logging-operator.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/M

#1455 feat(gatekeeper): Bump app version for 2.7
  services/gatekeeper/3.12.1/constraints.yaml
  services/gatekeeper/3.12.1/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.12.1/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.12.1/constrainttemplates.yaml
  services/gatekeeper/3.12.1/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.12.1/defaults/cm.yaml
  services/gatekeeper/3.12.1/defaults/kustomization.yaml
  services/gatekeeper/3.12.1/kustomization.yaml
  services/gatekeeper/3.12.1/release.yaml
  services/gatekeeper/3.12.1/release/kustomization.yaml
  services/gatekeeper/3.12.1/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/gatekeeper

#1435 ci: Use prev k8s version for upgrade e2e test
  make/test.mk
Labels: ready-for-review, ok-to-test, size/S, services/gatekeeper

#1459 fix: Handle upgrade to logging-operator v4.2.0
  services/logging-operator/4.2.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1461 feat(jaeger): Remove pre-upgrade job for 2.7
  services/jaeger/2.46.2/helmrelease.yaml
  services/jaeger/2.46.2/kustomization.yaml
  services/jaeger/2.46.2/pre-upgrade.yaml
  services/jaeger/2.46.2/pre-upgrade/delete-jaeger-hr.yaml
  services/jaeger/2.46.2/pre-upgrade/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/L, services/jaeger

#1457 feat: Remove obc pre-upgrade job for 2.7+
  services/rook-ceph-cluster/1.11.9/kustomization.yaml
  services/rook-ceph-cluster/1.11.9/obc-pre-upgrade.yaml
  services/rook-ceph-cluster/1.11.9/obc-pre-upgrade/delete-obc-jobs.yaml
  services/rook-ceph-cluster/1.11.9/object-bucket-claims.yaml
Labels: ready-for-review, ok-to-test, size/M, services/rook-ceph-cluster

#1446 feat: Bump prometheus-adapter to 4.3.0
  licenses.d2iq.yaml
  services/prometheus-adapter/4.3.0/defaults/cm.yaml
  services/prometheus-adapter/4.3.0/defaults/kustomization.yaml
  services/prometheus-adapter/4.3.0/helmrelease/prometheus-adapter.yaml
  services/prometheus-adapter/4.3.0/kustomization.yaml
  services/prometheus-adapter/4.3.0/prometheus-adapter-helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/S, services/prometheus-adapter, update-licenses

#1463 fix: Use https for Insights Engine Helm Mirror URL
  common/helm-repositories/mesosphere-repos.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, backport-to-release-2.6

#1450 feat: Bump reloader to 1.0.33
  licenses.d2iq.yaml
  services/reloader/1.0.33/defaults/cm.yaml
  services/reloader/1.0.33/defaults/kustomization.yaml
  services/reloader/1.0.33/kustomization.yaml
  services/reloader/1.0.33/reloader.yaml
Labels: ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/reloader, update-licenses

#1452 feat: Bump external-dns to 6.21.0
  licenses.d2iq.yaml
  services/external-dns/6.21.0/defaults/cm.yaml
  services/external-dns/6.21.0/defaults/kustomization.yaml
  services/external-dns/6.21.0/external-dns.yaml
  services/external-dns/6.21.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/external-dns

#1464 feat: Release DKP-Insights v0.6.0-dev.2
  licenses.d2iq.yaml
  services/dkp-insights-management/0.6.0/defaults/cm.yaml
  services/dkp-insights-management/0.6.0/helmrelease/helmrelease.yaml
  services/dkp-insights/0.6.0/defaults/cm.yaml
  services/dkp-insights/0.6.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/S, services/dkp-insights-management, services/dkp-insights

#1443 feat: Bump thanos to 12.10.1
  licenses.d2iq.yaml
  services/thanos/12.10.1/defaults/cm.yaml
  services/thanos/12.10.1/defaults/kustomization.yaml
  services/thanos/12.10.1/jobs.yaml
  services/thanos/12.10.1/jobs/jobs.yaml
  services/thanos/12.10.1/kustomization.yaml
  services/thanos/12.10.1/thanos.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/S, open-kommander-pr, services/thanos

#1449 feat: Bump rook-ceph to v1.12.1
  licenses.d2iq.yaml
  services/rook-ceph-cluster/1.12.1/defaults/cm.yaml
  services/rook-ceph-cluster/1.12.1/defaults/kustomization.yaml
  services/rook-ceph-cluster/1.12.1/grafana-dashboards/kustomization.yaml
  services/rook-ceph-cluster/1.12.1/grafana-dashboards/rook-ceph-cluster.json
  services/rook-ceph-cluster/1.12.1/grafana-dashboards/rook-ceph-osd.json
  services/rook-ceph-cluster/1.12.1/grafana-dashboards/rook-ceph-pools.json
  services/rook-ceph-cluster/1.12.1/helmrelease/dashboard-cm.yaml
  services/rook-ceph-cluster/1.12.1/helmrelease/helmrelease.yaml
  services/rook-ceph-cluster/1.12.1/helmrelease/kustomization.yaml
  services/rook-ceph-cluster/1.12.1/kustomization.yaml
  services/rook-ceph-cluster/1.12.1/object-bucket-claims.yaml
  services/rook-ceph-cluster/1.12.1/objectbucketclaims/helmrelease.yaml
  services/rook-ceph-cluster/1.12.1/objectbucketclaims/kustomization.yaml
  services/rook-ceph-cluster/1.12.1/pre-install.yaml
  services/rook-ceph-cluster/1.12.1/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.12.1/rook-ceph-cluster.yaml
  services/rook-ceph/1.12.1/defaults/cm.yaml
  services/rook-ceph/1.12.1/defaults/kustomization.yaml
  services/rook-ceph/1.12.1/helmrelease/helmrelease.yaml
  services/rook-ceph/1.12.1/helmrelease/kustomization.yaml
  services/rook-ceph/1.12.1/kustomization.yaml
  services/rook-ceph/1.12.1/rook-ceph.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, let-me-merge-it, size/M, open-kommander-pr, services/rook-ceph-cluster, services/rook-ceph

#1444 feat: Bump traefik to 23.2.0
  licenses.d2iq.yaml
  services/traefik/23.2.0/defaults/cm.yaml
  services/traefik/23.2.0/defaults/kustomization.yaml
  services/traefik/23.2.0/grafana-dashboards/kustomization.yaml
  services/traefik/23.2.0/grafana-dashboards/traefik.json
  services/traefik/23.2.0/kustomization.yaml
  services/traefik/23.2.0/traefik-plugin-rewritebody.yaml
  services/traefik/23.2.0/traefik.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/traefik, update-licenses

#1466 fix: remove postRenderer from Loki HelmRelease (2.5)
  services/grafana-loki/0.69.4/grafana-loki-helmrelease/grafana-loki.yaml
  services/grafana-loki/0.69.5/defaults/cm.yaml
  services/grafana-loki/0.69.5/defaults/kustomization.yaml
  services/grafana-loki/0.69.5/grafana-dashboards-logging/kustomization.yaml
  services/grafana-loki/0.69.5/grafana-dashboards-logging/logging-loki-dashboard.json
  services/grafana-loki/0.69.5/grafana-dashboards/grafana-loki.json
  services/grafana-loki/0.69.5/grafana-dashboards/kustomization.yaml
  services/grafana-loki/0.69.5/grafana-dashboards/loki-chunks.json
  services/grafana-loki/0.69.5/grafana-dashboards/loki-deletion.json
  services/grafana-loki/0.69.5/grafana-dashboards/loki-reads-resources.json
  services/grafana-loki/0.69.5/grafana-dashboards/loki-retention.json
  services/grafana-loki/0.69.5/grafana-dashboards/loki-writes-resources.json
  services/grafana-loki/0.69.5/grafana-loki-helmrelease.yaml
  services/grafana-loki/0.69.5/grafana-loki-helmrelease/grafana-loki.yaml
  services/grafana-loki/0.69.5/grafana-loki-pre-install-jobs/pre-install.yaml
  services/grafana-loki/0.69.5/grafana-loki-pre-install.yaml
  services/grafana-loki/0.69.5/kustomization.yaml
  services/project-grafana-loki/0.69.4/project-grafana-loki.yaml
  services/project-grafana-loki/0.69.5/defaults/cm.yaml
  services/project-grafana-loki/0.69.5/defaults/kustomization.yaml
  services/project-grafana-loki/0.69.5/grafana-dashboards-logging/kustomization.yaml
  services/project-grafana-loki/0.69.5/grafana-dashboards-logging/logging-loki-dashboard.json
  services/project-grafana-loki/0.69.5/kustomization.yaml
  services/project-grafana-loki/0.69.5/object-bucket-claims.yaml
  services/project-grafana-loki/0.69.5/project-grafana-loki.yaml
Labels: ok-to-test, backport-pr, do-not-merge/testing, size/L, open-kommander-pr

#1471 chore: bump dex authenticator
  services/dex-k8s-authenticator/1.2.16/defaults/cm.yaml
  services/dex-k8s-authenticator/1.2.16/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.2.16/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.2.16/kustomization.yaml
Labels: ok-to-test, size/XS, services/dex-k8s-authenticator

#1475 chore: Post release bumps
  mergebot-config.json
Labels: size/XS

#1476 chore: Post release bumps
  mergebot-config.json
Labels: size/XS

#1473 chore: Post release bumps
  mergebot-config.json
Labels: size/XS

#1462 fix: not skipping authz for kube dashboard
  services/traefik-forward-auth-mgmt/0.3.9/defaults/cm.yaml
  services/traefik-forward-auth/0.3.9/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, services/traefik-forward-auth, services/traefik-forward-auth-mgmt, backport-to-release-2.5, backport-to-release-2.6

#1477 feat: Bump kube-prometheus-stack to 48.3.1
  licenses.d2iq.yaml
  services/kube-prometheus-stack/48.3.1/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.1/defaults/kustomization.yaml
  services/kube-prometheus-stack/48.3.1/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/48.3.1/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/48.3.1/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/48.3.1/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/48.3.1/grafana-dashboards/calico.json
  services/kube-prometheus-stack/48.3.1/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/48.3.1/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/48.3.1/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/48.3.1/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/48.3.1/helmrelease.yaml
  services/kube-prometheus-stack/48.3.1/helmrelease/extra-images.txt
  services/kube-prometheus-stack/48.3.1/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/48.3.1/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/48.3.1/kustomization.yaml
  services/kube-prometheus-stack/metadata.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/M, services/kube-prometheus-stack

#1472 chore: Post release bumps
  common/kommander-operator/defaults/cm.yaml
  mergebot-config.json
  services/gatekeeper/3.12.0/pre-upgrade/pre-upgrade.yaml
  services/kommander-appmanagement/0.6.1/defaults/cm.yaml
  services/kommander-appmanagement/0.6.1/defaults/kustomization.yaml
  services/kommander-appmanagement/0.6.1/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.6.1/kustomization.yaml
  services/kommander/0.6.1/defaults/cm.yaml
  services/kommander/0.6.1/defaults/kustomization.yaml
  services/kommander/0.6.1/dynamic-helmreleases/README.txt
  services/kommander/0.6.1/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.6.1/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.6.1/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.6.1/dynamic-helmreleases/mtls-proxy/list-images-values.yaml
  services/kommander/0.6.1/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.6.1/kommander.yaml
  services/kommander/0.6.1/kustomization.yaml
  services/kubecost/0.35.1/pre-upgrade/pre-upgrade.yaml
  services/logging-operator/4.2.3/pre-upgrade/pre-upgrade.yaml
Labels: ready-for-review, ok-to-test, size/S

#1483 fix(kps): Remove duplicate apiserver and unused keepalived scrapeconfig
  services/kube-prometheus-stack/48.3.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/M, services/kube-prometheus-stack, backport-to-release-2.4, backport-to-release-2.5, backport-to-release-2.6

#1490 fix: use latest bloodhound
  make/validate.mk
Labels: ready-for-review, ok-to-test, size/XS

#1489 feat: Bump traefik-forward-auth to 0.3.10
  services/traefik-forward-auth-mgmt/0.3.10/defaults/cm.yaml
  services/traefik-forward-auth-mgmt/0.3.10/defaults/kustomization.yaml
  services/traefik-forward-auth-mgmt/0.3.10/kustomization.yaml
  services/traefik-forward-auth-mgmt/0.3.10/traefik-forward-auth-mgmt.yaml
  services/traefik-forward-auth/0.3.10/defaults/cm.yaml
  services/traefik-forward-auth/0.3.10/defaults/kustomization.yaml
  services/traefik-forward-auth/0.3.10/kustomization.yaml
  services/traefik-forward-auth/0.3.10/traefik-forward-auth.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, auto-backport, size/S, open-kommander-pr, services/traefik-forward-auth, services/traefik-forward-auth-mgmt, backport-to-release-2.4, update-licenses, backport-to-release-2.5, backport-to-release-2.6

#1499 ci(gha): Avoid automerge if let-me-merge-it label is appliesd
  .github/workflows/automerge.yaml
Labels: ready-for-review, size/XS

#1496 feat(grafana): Use grafana 9.5.7
  licenses.d2iq.yaml
  services/grafana-logging/6.58.6/defaults/cm.yaml
  services/grafana-logging/6.58.6/grafana.yaml
  services/kube-prometheus-stack/48.3.1/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.1/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/metadata.yaml
  services/project-grafana-logging/6.58.6/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/M, services/grafana-logging, services/kube-prometheus-stack, services/project-grafana-logging

#1500 feat(tfa): Bump to 0.3.10 (2.5)
  services/traefik-forward-auth-mgmt/0.3.10/defaults/cm.yaml
  services/traefik-forward-auth-mgmt/0.3.10/defaults/kustomization.yaml
  services/traefik-forward-auth-mgmt/0.3.10/kustomization.yaml
  services/traefik-forward-auth-mgmt/0.3.10/traefik-forward-auth-mgmt.yaml
  services/traefik-forward-auth/0.3.10/defaults/cm.yaml
  services/traefik-forward-auth/0.3.10/defaults/kustomization.yaml
  services/traefik-forward-auth/0.3.10/kustomization.yaml
  services/traefik-forward-auth/0.3.10/traefik-forward-auth.yaml
Labels: ready-for-review, ok-to-test, backport-pr, auto-backport, size/S, open-kommander-pr, backport-to-release-2.4

#1501 feat(kps): Bump service version so upgrades are not automatic
  services/centralized-grafana/44.2.2/centralized-grafana.yaml
  services/centralized-grafana/44.2.2/defaults/cm.yaml
  services/centralized-grafana/44.2.2/defaults/kustomization.yaml
  services/centralized-grafana/44.2.2/grafana-dashboards/global-overview.json
  services/centralized-grafana/44.2.2/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/44.2.2/kustomization.yaml
  services/kommander/0.5.2/defaults/cm.yaml
  services/kube-prometheus-stack/44.2.2/defaults/cm.yaml
  services/kube-prometheus-stack/44.2.2/defaults/kustomization.yaml
  services/kube-prometheus-stack/44.2.2/grafana-dashboards/calico.json
  services/kube-prometheus-stack/44.2.2/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/44.2.2/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/44.2.2/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/44.2.2/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/44.2.2/helmrelease.yaml
  services/kube-prometheus-stack/44.2.2/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/44.2.2/kustomization.yaml
  services/kube-prometheus-stack/44.2.2/pre-upgrade.yaml
  services/kube-prometheus-stack/44.2.2/pre-upgrade/delete-node-exporter-daemonset.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/S

#1484 feat: Release DKP-Insights v0.6.0-dev.3
  licenses.d2iq.yaml
  services/dkp-insights-management/0.6.0/defaults/cm.yaml
  services/dkp-insights-management/0.6.0/helmrelease/helmrelease.yaml
  services/dkp-insights/0.6.0/defaults/cm.yaml
  services/dkp-insights/0.6.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/M, services/dkp-insights-management, services/dkp-insights

#1495 feat: Bump centralized-grafana to 48.3.1
  licenses.d2iq.yaml
  services/centralized-grafana/48.3.1/centralized-grafana.yaml
  services/centralized-grafana/48.3.1/defaults/cm.yaml
  services/centralized-grafana/48.3.1/defaults/kustomization.yaml
  services/centralized-grafana/48.3.1/grafana-dashboards/global-overview.json
  services/centralized-grafana/48.3.1/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/48.3.1/kustomization.yaml
Labels: ok-to-test, size/S, services/centralized-grafana, update-licenses

#1504 feat: Bump gatekeeper to 3.13.0
  licenses.d2iq.yaml
  services/gatekeeper/3.13.0/constraints.yaml
  services/gatekeeper/3.13.0/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.13.0/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.13.0/constrainttemplates.yaml
  services/gatekeeper/3.13.0/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.13.0/defaults/cm.yaml
  services/gatekeeper/3.13.0/defaults/kustomization.yaml
  services/gatekeeper/3.13.0/kustomization.yaml
  services/gatekeeper/3.13.0/release.yaml
  services/gatekeeper/3.13.0/release/kustomization.yaml
  services/gatekeeper/3.13.0/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/gatekeeper, update-licenses

#1465 ci: migrate tc remaining builds to gha
  .github/workflows/create-dev-tag.yml
  .github/workflows/lint.yaml
  .github/workflows/manifest-validation.yml
  .github/workflows/release.yml
  Dockerfile.ci
  make/ci.mk
  make/repo.mk
Labels: ready-for-review, ok-to-test, size/L
