Repository mesosphere/kommander-applications, pull requests merged in 2023-05, with the labels that each got.

#1198 feat: Bump centralized-grafana to 45.21.0
  licenses.d2iq.yaml
  services/centralized-grafana/45.21.0/centralized-grafana.yaml
  services/centralized-grafana/45.21.0/defaults/cm.yaml
  services/centralized-grafana/45.21.0/defaults/kustomization.yaml
  services/centralized-grafana/45.21.0/grafana-dashboards/global-overview.json
  services/centralized-grafana/45.21.0/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/45.21.0/kustomization.yaml
  services/kommander/0.6.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kommander, services/centralized-grafana

#1206 feat: Bump prometheus-adapter to 4.2.0
  services/kommander/0.6.0/defaults/cm.yaml
  services/prometheus-adapter/4.2.0/defaults/cm.yaml
  services/prometheus-adapter/4.2.0/defaults/kustomization.yaml
  services/prometheus-adapter/4.2.0/helmrelease/prometheus-adapter.yaml
  services/prometheus-adapter/4.2.0/kustomization.yaml
  services/prometheus-adapter/4.2.0/pre-upgrade/delete-prometheus-adapter-deployment.yaml
  services/prometheus-adapter/4.2.0/prometheus-adapter-helmrelease.yaml
  services/prometheus-adapter/4.2.0/prometheus-adapter-pre-upgrade.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kommander, services/prometheus-adapter

#1211 feat: fix update licenses bug
  .github/workflows/validate-licenses.yaml
  .gitignore
Labels: ready-for-review, ok-to-test, size/S, update-licenses

#1208 feat: Bump reloader to 1.0.24
  licenses.d2iq.yaml
  services/kommander/0.6.0/defaults/cm.yaml
  services/reloader/1.0.24/defaults/cm.yaml
  services/reloader/1.0.24/defaults/kustomization.yaml
  services/reloader/1.0.24/kustomization.yaml
  services/reloader/1.0.24/reloader.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/kommander, services/reloader

#1197 feat: Bump jaeger to 2.43.0
  services/jaeger/2.43.0/defaults/cm.yaml
  services/jaeger/2.43.0/defaults/kustomization.yaml
  services/jaeger/2.43.0/helmrelease.yaml
  services/jaeger/2.43.0/helmrelease/release.yaml
  services/jaeger/2.43.0/kustomization.yaml
  services/jaeger/2.43.0/pre-upgrade.yaml
  services/jaeger/2.43.0/pre-upgrade/delete-jaeger-deployment.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/jaeger

#1196 feat: Bump grafana-loki to 0.69.14
  services/grafana-loki/0.69.14/defaults/cm.yaml
  services/grafana-loki/0.69.14/defaults/kustomization.yaml
  services/grafana-loki/0.69.14/grafana-dashboards-logging/kustomization.yaml
  services/grafana-loki/0.69.14/grafana-dashboards-logging/logging-loki-dashboard.json
  services/grafana-loki/0.69.14/grafana-dashboards/grafana-loki.json
  services/grafana-loki/0.69.14/grafana-dashboards/kustomization.yaml
  services/grafana-loki/0.69.14/grafana-dashboards/loki-chunks.json
  services/grafana-loki/0.69.14/grafana-dashboards/loki-deletion.json
  services/grafana-loki/0.69.14/grafana-dashboards/loki-reads-resources.json
  services/grafana-loki/0.69.14/grafana-dashboards/loki-retention.json
  services/grafana-loki/0.69.14/grafana-dashboards/loki-writes-resources.json
  services/grafana-loki/0.69.14/grafana-loki-helmrelease.yaml
  services/grafana-loki/0.69.14/grafana-loki-helmrelease/grafana-loki.yaml
  services/grafana-loki/0.69.14/grafana-loki-pre-install-jobs/pre-install.yaml
  services/grafana-loki/0.69.14/grafana-loki-pre-install.yaml
  services/grafana-loki/0.69.14/kustomization.yaml
  services/project-grafana-loki/0.69.14/defaults/cm.yaml
  services/project-grafana-loki/0.69.14/defaults/kustomization.yaml
  services/project-grafana-loki/0.69.14/grafana-dashboards-logging/kustomization.yaml
  services/project-grafana-loki/0.69.14/grafana-dashboards-logging/logging-loki-dashboard.json
  services/project-grafana-loki/0.69.14/kustomization.yaml
  services/project-grafana-loki/0.69.14/object-bucket-claims.yaml
  services/project-grafana-loki/0.69.14/project-grafana-loki.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/grafana-loki

#1195 feat: Bump grafana-logging to 6.56.1
  services/grafana-logging/6.56.1/defaults/cm.yaml
  services/grafana-logging/6.56.1/defaults/kustomization.yaml
  services/grafana-logging/6.56.1/grafana.yaml
  services/grafana-logging/6.56.1/kustomization.yaml
  services/project-grafana-logging/6.56.1/defaults/cm.yaml
  services/project-grafana-logging/6.56.1/defaults/kustomization.yaml
  services/project-grafana-logging/6.56.1/kustomization.yaml
  services/project-grafana-logging/6.56.1/project-grafana.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/grafana-logging, services/project-grafana-logging

#1212 feat: dkp critical priorityclass - velero&kommander
  services/kommander-appmanagement/0.6.0/defaults/cm.yaml
  services/kommander/0.6.0/defaults/cm.yaml
  services/velero/3.4.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander, services/velero, services/kommander-appmanagement

#1193 feat: Bump fluent-bit to 0.28.0
  services/fluent-bit/0.28.0/defaults/cm.yaml
  services/fluent-bit/0.28.0/defaults/kustomization.yaml
  services/fluent-bit/0.28.0/fluent-bit.yaml
  services/fluent-bit/0.28.0/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.28.0/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.28.0/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.28.0/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.28.0/kustomization.yaml
  services/fluent-bit/0.28.0/resource-quota.yaml
  services/fluent-bit/0.28.0/resource-quota/resourcequota.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/fluent-bit

#1200 feat: Bump kiali to 1.67.0
  licenses.d2iq.yaml
  services/kiali/1.67.0/defaults/cm.yaml
  services/kiali/1.67.0/defaults/kustomization.yaml
  services/kiali/1.67.0/kiali.yaml
  services/kiali/1.67.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/kiali, update-licenses

#1202 feat: Bump kubecost to 0.34.0
  licenses.d2iq.yaml
  services/centralized-kubecost/0.34.0/defaults/cm.yaml
  services/centralized-kubecost/0.34.0/defaults/kustomization.yaml
  services/centralized-kubecost/0.34.0/kustomization.yaml
  services/centralized-kubecost/0.34.0/post-install-jobs.yaml
  services/centralized-kubecost/0.34.0/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.34.0/release.yaml
  services/centralized-kubecost/0.34.0/release/release.yaml
  services/kommander/0.6.0/defaults/cm.yaml
  services/kubecost/0.34.0/defaults/cm.yaml
  services/kubecost/0.34.0/defaults/kustomization.yaml
  services/kubecost/0.34.0/kubecost.yaml
  services/kubecost/0.34.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, services/kommander, services/centralized-kubecost, services/kubecost

#1201 feat: Bump kube-prometheus-stack to 45.21.0
  licenses.d2iq.yaml
  services/kommander/0.6.0/defaults/cm.yaml
  services/kube-prometheus-stack/45.21.0/defaults/cm.yaml
  services/kube-prometheus-stack/45.21.0/defaults/kustomization.yaml
  services/kube-prometheus-stack/45.21.0/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/45.21.0/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/45.21.0/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/45.21.0/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/45.21.0/grafana-dashboards/calico.json
  services/kube-prometheus-stack/45.21.0/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/45.21.0/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/45.21.0/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/45.21.0/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/45.21.0/helmrelease.yaml
  services/kube-prometheus-stack/45.21.0/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/45.21.0/kustomization.yaml
  services/kube-prometheus-stack/45.21.0/pre-upgrade.yaml
  services/kube-prometheus-stack/45.21.0/pre-upgrade/delete-node-exporter-daemonset.yaml
Labels: ready-for-review, ok-to-test, size/M, services/kommander, services/kube-prometheus-stack, update-licenses

#1219 chore: Post release bumps
  mergebot-config.json
Labels: ready-for-review

#1218 chore: Post release bumps
  mergebot-config.json
Labels: ready-for-review, size/XS

#1217 chore: Post release bumps
  mergebot-config.json
Labels: ready-for-review, size/XS

#1214 feat: Bump logging-operator to 4.1.0
  common/helm-repositories/kube-logging.yaml
  common/helm-repositories/kustomization.yaml
  licenses.d2iq.yaml
  services/logging-operator/4.1.0/defaults/cm.yaml
  services/logging-operator/4.1.0/defaults/kustomization.yaml
  services/logging-operator/4.1.0/grafana-dashboards/kustomization.yaml
  services/logging-operator/4.1.0/grafana-dashboards/logging-operator.json
  services/logging-operator/4.1.0/grafana-dashboards/logging-stack-stress.json
  services/logging-operator/4.1.0/kustomization.yaml
  services/logging-operator/4.1.0/logging-operator-logging.yaml
  services/logging-operator/4.1.0/logging-operator.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/logging-operator, update-licenses

#1163 feat: Bump traefik-forward-auth to 0.3.9
  services/traefik-forward-auth/0.3.9/defaults/cm.yaml
  services/traefik-forward-auth/0.3.9/defaults/kustomization.yaml
  services/traefik-forward-auth/0.3.9/kustomization.yaml
  services/traefik-forward-auth/0.3.9/traefik-forward-auth.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/traefik-forward-auth, update-licenses

#1111 feat: Bump gitea to 8.2.0
  licenses.d2iq.yaml
  services/gitea/8.2.0/defaults/cm.yaml
  services/gitea/8.2.0/defaults/kustomization.yaml
  services/gitea/8.2.0/gitea.yaml
  services/gitea/8.2.0/kustomization.yaml
Labels: do-not-merge, ok-to-test, size/XS, services/gitea

#1213 feat: dkp critical priorityclass - monitoring
  services/karma/2.0.2/defaults/cm.yaml
  services/kube-prometheus-stack/45.21.0/defaults/cm.yaml
  services/prometheus-adapter/4.2.0/defaults/cm.yaml
  services/thanos/12.4.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kube-prometheus-stack, services/karma, services/prometheus-adapter, services/thanos

#1192 feat: Bump velero to 4.0.1
  licenses.d2iq.yaml
  services/velero/4.0.1/defaults/cm.yaml
  services/velero/4.0.1/defaults/kustomization.yaml
  services/velero/4.0.1/grafana-dashboards/kustomization.yaml
  services/velero/4.0.1/grafana-dashboards/velero.json
  services/velero/4.0.1/helmrelease/helmrelease.yaml
  services/velero/4.0.1/kustomization.yaml
  services/velero/4.0.1/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/4.0.1/pre-install/pre-install-job.yaml
  services/velero/4.0.1/velero-post-install.yaml
  services/velero/4.0.1/velero-pre-install.yaml
  services/velero/4.0.1/velero.yaml
Labels: ready-for-review, ok-to-test, size/M, services/velero, update-licenses

#1191 fix: Add back empty kaptain.yaml file (2.4)
  common/helm-repositories/kaptain.yaml
Labels: ready-for-review, ok-to-test, backport-pr, auto-backport, size/XS, backport-to-release-2.5

#1215 chore: Post release bumps
  mergebot-config.json
  services/kommander-appmanagement/0.3.4/defaults/cm.yaml
  services/kommander-appmanagement/0.3.4/defaults/kustomization.yaml
  services/kommander-appmanagement/0.3.4/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.3.4/kustomization.yaml
  services/kommander/0.3.4/defaults/cm.yaml
  services/kommander/0.3.4/defaults/kustomization.yaml
  services/kommander/0.3.4/dynamic-helmreleases/README.txt
  services/kommander/0.3.4/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.3.4/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.3.4/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.3.4/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.3.4/kommander.yaml
  services/kommander/0.3.4/kustomization.yaml
Labels: ready-for-review, ok-to-test

#1221 feat: dkp critical priorityclass - logging
  services/fluent-bit/0.28.0/defaults/cm.yaml
  services/grafana-logging/6.56.1/defaults/cm.yaml
  services/grafana-loki/0.69.14/defaults/cm.yaml
  services/logging-operator/4.1.0/defaults/cm.yaml
  services/project-grafana-logging/6.56.1/defaults/cm.yaml
  services/project-grafana-loki/0.69.14/defaults/cm.yaml
  services/rook-ceph/1.11.4/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, services/fluent-bit, services/logging-operator, services/rook-ceph, services/grafana-logging, services/grafana-loki, services/project-grafana-loki, services/project-grafana-logging

#1222 feat: dkp critical for istio KOP
  services/istio/1.17.2/defaults/cm.yaml
  services/kube-oidc-proxy/0.3.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/istio, services/kube-oidc-proxy

#1224 feat: dkp critical for gitea&chartmuseum
  services/chartmuseum/3.9.0/defaults/cm.yaml
  services/gitea/8.2.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/gitea, services/chartmuseum

#1227 feat: Set priority class on Flux manifests
  hack/flux/flux-update-kustomization.yaml
  services/kommander-flux/0.41.2/templates/apps_v1_deployment_helm-controller.yaml
  services/kommander-flux/0.41.2/templates/apps_v1_deployment_kustomize-controller.yaml
  services/kommander-flux/0.41.2/templates/apps_v1_deployment_notification-controller.yaml
  services/kommander-flux/0.41.2/templates/apps_v1_deployment_source-controller.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kommander-flux

#1229 revert: "feat: Set priority class on Flux manifests (#1227)"
  hack/flux/flux-update-kustomization.yaml
  services/kommander-flux/0.41.2/templates/apps_v1_deployment_helm-controller.yaml
  services/kommander-flux/0.41.2/templates/apps_v1_deployment_kustomize-controller.yaml
  services/kommander-flux/0.41.2/templates/apps_v1_deployment_notification-controller.yaml
  services/kommander-flux/0.41.2/templates/apps_v1_deployment_source-controller.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kommander-flux

#1230 feat: Set priority class on Flux manifests
  common/priority-classes/dkp-priority-classes.yaml
  hack/flux/flux-update-kustomization.yaml
  services/kommander-flux/0.41.2/templates/apps_v1_deployment_helm-controller.yaml
  services/kommander-flux/0.41.2/templates/apps_v1_deployment_kustomize-controller.yaml
  services/kommander-flux/0.41.2/templates/apps_v1_deployment_notification-controller.yaml
  services/kommander-flux/0.41.2/templates/apps_v1_deployment_source-controller.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kommander-flux

#1231 ci: update capimate to 2.3.3
  hack/release/pkg/constants/constants.go
  services/kommander/0.3.4/defaults/cm.yaml
Labels: ready-for-review, ok-to-test

#1174 feat: Bump kubetunnel to 0.0.20 + dkp critical
  licenses.d2iq.yaml
  services/kubetunnel/0.0.20/defaults/cm.yaml
  services/kubetunnel/0.0.20/defaults/kustomization.yaml
  services/kubetunnel/0.0.20/kubetunnel.yaml
  services/kubetunnel/0.0.20/kustomization.yaml
Labels: ok-to-test, size/S, services/kubetunnel

#1228 feat: dkp high for dka reloader
  services/dex-k8s-authenticator/1.2.15/defaults/cm.yaml
  services/reloader/1.0.24/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/reloader, services/dex-k8s-authenticator

#1235 fix: adds missing values
  services/nvidia-gpu-operator/22.9.1/defaults/cm.yaml
Labels: size/XS, services/nvidia-gpu-operator

#1123 feat: Introduce kommander-ui service
  .github/service-labeler.yaml
  services/kommander-ui/9.11.11/defaults/cm.yaml
  services/kommander-ui/9.11.11/defaults/kustomization.yaml
  services/kommander-ui/9.11.11/kommander-ui.yaml
  services/kommander-ui/9.11.11/kustomization.yaml
  services/kommander-ui/metadata.yaml
  services/kommander/0.6.0/defaults/cm.yaml
Labels: ready-for-review, do-not-merge, ok-to-test, size/M, services/kommander, services/kommander-ui

#1234 ci: adds missing-images automation
  .github/services-pr-labeler.yaml
  .github/workflows/kommander-branch.yaml
  hack/update-nvidia.sh
Labels: ready-for-review, ok-to-test, size/M

#1238 fix: Revert kubetunnel to 0.0.15
  licenses.d2iq.yaml
  services/kubetunnel/0.0.15/defaults/cm.yaml
  services/kubetunnel/0.0.15/defaults/kustomization.yaml
  services/kubetunnel/0.0.15/kubetunnel.yaml
  services/kubetunnel/0.0.15/kustomization.yaml
  services/kubetunnel/0.0.20/defaults/cm.yaml
  services/traefik/23.0.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/traefik, services/kubetunnel

#1237 fix: disable rook-ceph admission controller (2.4)
  services/rook-ceph-cluster/1.10.8/pre-install/ceph-crd-check.yaml
  services/rook-ceph/1.10.8/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1239 feat: Chartbump/nvidia gpu operator 23.3.1
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/23.3.1/defaults/cm.yaml
  services/nvidia-gpu-operator/23.3.1/defaults/kustomization.yaml
  services/nvidia-gpu-operator/23.3.1/grafana-dashboards/gpu-operator.json
  services/nvidia-gpu-operator/23.3.1/grafana-dashboards/kustomization.yaml
  services/nvidia-gpu-operator/23.3.1/helmrelease.yaml
  services/nvidia-gpu-operator/23.3.1/helmrelease/nvidia.yaml
  services/nvidia-gpu-operator/23.3.1/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/nvidia-gpu-operator

#1223 feat: dkp critical traefik, tfa and dex
  services/dex/2.12.1/defaults/cm.yaml
  services/dex/2.12.1/dex.yaml
  services/traefik-forward-auth-mgmt/0.3.9/defaults/cm.yaml
  services/traefik-forward-auth/0.3.9/defaults/cm.yaml
  services/traefik/23.0.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/traefik, services/traefik-forward-auth, services/traefik-forward-auth-mgmt, services/dex

#1243 feat: add high priority for kubernetes-dashboard
  services/kubernetes-dashboard/6.0.7/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kubernetes-dashboard

#1232 feat: add dkp-high-priority for knative
  services/knative/1.10.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/knative

#1245 chore: kommander chart retry
  services/kommander/0.6.0/kommander.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kommander

#1240 feat: bump ui to latest
  services/kommander-ui/9.28.1/defaults/cm.yaml
  services/kommander-ui/9.28.1/defaults/kustomization.yaml
  services/kommander-ui/9.28.1/kommander-ui.yaml
  services/kommander-ui/9.28.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander-ui

#1244 ci: fix update missing images script for nvidia
  hack/update-nvidia.sh
Labels: size/XS

#1246 fix: wait for webhook to be deleted
  services/rook-ceph-cluster/1.10.8/pre-install.yaml
  services/rook-ceph-cluster/1.10.8/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.10.8/rook-ceph-cluster.yaml
Labels: ready-for-review, do-not-merge, ok-to-test, backport-pr, auto-backport, size/S, backport-to-release-2.5

#1251 feat: Set priority class for KPS (grafana) and kommander-ui
  services/centralized-grafana/45.21.0/defaults/cm.yaml
  services/kommander-ui/9.28.3/defaults/cm.yaml
  services/kube-prometheus-stack/45.21.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/centralized-grafana, services/kube-prometheus-stack, services/kommander-ui

#1252 fix: wait for webhook to be deleted (2.5)
  services/rook-ceph-cluster/1.10.11/pre-install.yaml
  services/rook-ceph-cluster/1.10.11/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.10.11/rook-ceph-cluster.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/S

#1254 refactor: Use system-cluster-critical priority for rook-ceph
  services/rook-ceph/1.11.4/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/rook-ceph

#1247 fix: Use array instead of map for apps values
  .pre-commit-config.yaml
  hack/validate-default-apps-versions.sh
  services/kommander/0.6.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/M, services/kommander

#1250 feat: Set priority class on nfs-server-provisioner
  services/nfs-server-provisioner/0.6.1/defaults/cm.yaml
  services/nfs-server-provisioner/0.6.1/defaults/kustomization.yaml
  services/nfs-server-provisioner/0.6.1/kustomization.yaml
  services/nfs-server-provisioner/0.6.1/nfs-server-provisioner.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/nfs-server-provisioner

#1258 chore: clean up old pre-upgrade jobs
  services/istio/1.17.2/helmrelease.yaml
  services/jaeger/2.43.0/helmrelease.yaml
  services/jaeger/2.43.0/kustomization.yaml
  services/jaeger/2.43.0/pre-upgrade.yaml
  services/jaeger/2.43.0/pre-upgrade/delete-jaeger-deployment.yaml
  services/kube-prometheus-stack/45.21.0/helmrelease.yaml
  services/kube-prometheus-stack/45.21.0/kustomization.yaml
  services/kube-prometheus-stack/45.21.0/pre-upgrade.yaml
  services/kube-prometheus-stack/45.21.0/pre-upgrade/delete-node-exporter-daemonset.yaml
  services/prometheus-adapter/4.2.0/kustomization.yaml
  services/prometheus-adapter/4.2.0/pre-upgrade/delete-prometheus-adapter-deployment.yaml
  services/prometheus-adapter/4.2.0/prometheus-adapter-helmrelease.yaml
  services/prometheus-adapter/4.2.0/prometheus-adapter-pre-upgrade.yaml
Labels: ready-for-review, ok-to-test, size/L, services/istio, services/jaeger, services/kube-prometheus-stack, services/prometheus-adapter

#1263 fix: bump toolkit version
  services/nvidia-gpu-operator/23.3.1/defaults/cm.yaml
Labels: size/XS, services/nvidia-gpu-operator

#1260 feat: Set priority class on more components
  services/dex/2.12.1/defaults/cm.yaml
  services/kube-oidc-proxy/0.3.2/kube-oidc-proxy.yaml
  services/kube-prometheus-stack/45.21.0/defaults/cm.yaml
  services/traefik-forward-auth-mgmt/0.3.9/traefik-forward-auth-mgmt.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kube-prometheus-stack, services/traefik-forward-auth-mgmt, services/dex, services/kube-oidc-proxy

#1242 feat: add high priority for cert-manager external-dns
  services/cert-manager/1.11.0/defaults/cm.yaml
  services/external-dns/6.18.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/external-dns, services/cert-manager

#1264 feat: Bump mtls-proxy to 0.1.7
  services/kommander/0.6.0/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/kommander

#1265 feat: Bump kommander-cert-federation
  common/build/kommander-cert-federation.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1266 feat: Set default priority class on koperator
  charts/kommander-operator/Chart.yaml
  charts/kommander-operator/templates/deployment.yaml
  charts/kommander-operator/templates/post_install_kommandercore_hook.yaml
  charts/kommander-operator/values.yaml
  common/kommander-operator/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/S

#1241 feat: add high priority for kiali
  services/kiali/1.67.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kiali

#1276 chore: Post release bumps
  mergebot-config.json
Labels: size/XS

#1275 chore: Post release bumps
  mergebot-config.json
Labels: size/XS

#1274 chore: Post release bumps
  mergebot-config.json
  services/kommander-appmanagement/0.4.2/defaults/cm.yaml
  services/kommander-appmanagement/0.4.2/defaults/kustomization.yaml
  services/kommander-appmanagement/0.4.2/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.4.2/kustomization.yaml
  services/kommander/0.4.2/defaults/cm.yaml
  services/kommander/0.4.2/defaults/kustomization.yaml
  services/kommander/0.4.2/dynamic-helmreleases/README.txt
  services/kommander/0.4.2/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.4.2/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.4.2/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.4.2/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.4.2/kommander.yaml
  services/kommander/0.4.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S

#1269 feat: Set priority class on remaining ceph components
  services/rook-ceph-cluster/1.11.4/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/rook-ceph-cluster

#1278 feat: Set priority for KPS node exporter
  services/kube-prometheus-stack/45.21.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kube-prometheus-stack

#1284 feat: Bump knative to 1.10.1
  licenses.d2iq.yaml
  services/knative/1.10.1/defaults/cm.yaml
  services/knative/1.10.1/defaults/kustomization.yaml
  services/knative/1.10.1/knative-serving.yaml
  services/knative/1.10.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/knative, update-licenses

#1281 feat: create-kommander-branch workflow supports multiple apps
  .github/workflows/kommander-branch.yaml
Labels: ready-for-review, size/S

#1285 feat: Set priority for istio components
  services/istio/1.17.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/istio

#1257 fix: ensure pre-upgrade runs prior to upgrade
  services/rook-ceph-cluster/1.11.4/pre-install.yaml
  services/rook-ceph-cluster/1.11.4/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.11.4/rook-ceph-cluster.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/rook-ceph-cluster

#1288 fix: bump knative serving version to v1.10.3
  licenses.d2iq.yaml
  services/knative/1.10.3/defaults/cm.yaml
  services/knative/1.10.3/defaults/kustomization.yaml
  services/knative/1.10.3/knative-serving.yaml
  services/knative/1.10.3/kustomization.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/knative, update-licenses

#1290 feat: Set priority on kustomization jobs
  services/centralized-kubecost/0.34.0/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.34.0/release/release.yaml
  services/grafana-loki/0.69.14/grafana-loki-pre-install-jobs/pre-install.yaml
  services/grafana-loki/0.69.14/grafana-loki-pre-install.yaml
  services/rook-ceph-cluster/1.11.4/pre-install/ceph-crd-check.yaml
  services/thanos/12.4.3/jobs/jobs.yaml
  services/velero/4.0.1/pre-install/pre-install-job.yaml
  services/velero/4.0.1/velero-pre-install.yaml
Labels: ready-for-review, ok-to-test, size/S, services/rook-ceph-cluster, services/centralized-kubecost, services/velero, services/grafana-loki, services/thanos

#1283 chore: bump kubetunnel to 0.0.21
  licenses.d2iq.yaml
  services/kubetunnel/0.0.21/defaults/cm.yaml
  services/kubetunnel/0.0.21/defaults/kustomization.yaml
  services/kubetunnel/0.0.21/kubetunnel.yaml
  services/kubetunnel/0.0.21/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kubetunnel

#1295 feat: Release DKP-Insights v0.5.0-beta.1
  licenses.d2iq.yaml
  services/dkp-insights-management/0.5.0/defaults/cm.yaml
  services/dkp-insights-management/0.5.0/defaults/kustomization.yaml
  services/dkp-insights-management/0.5.0/helmrelease.yaml
  services/dkp-insights-management/0.5.0/helmrelease/helmrelease.yaml
  services/dkp-insights-management/0.5.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/dkp-insights-management

#1298 chore: Post release bumps
  common/kommander-operator/helmrelease.yaml
  mergebot-config.json
  services/kommander-appmanagement/0.5.2/defaults/cm.yaml
  services/kommander-appmanagement/0.5.2/defaults/kustomization.yaml
  services/kommander-appmanagement/0.5.2/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.5.2/kustomization.yaml
  services/kommander/0.5.2/defaults/cm.yaml
  services/kommander/0.5.2/defaults/kustomization.yaml
  services/kommander/0.5.2/dynamic-helmreleases/README.txt
  services/kommander/0.5.2/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.5.2/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.5.2/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.5.2/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.5.2/kommander.yaml
  services/kommander/0.5.2/kustomization.yaml
Labels: size/S

#1297 chore: Post release bumps
  mergebot-config.json
Labels: size/XS

#1299 chore: Post release bumps
  mergebot-config.json
Labels: size/XS
