Repository mesosphere/kommander-applications, pull requests merged in 2023-07, with the labels that each got.

#1357 feat: Bump jaeger-operator to 2.46.0 and add priorityclass
  licenses.d2iq.yaml
  services/jaeger/2.46.0/defaults/cm.yaml
  services/jaeger/2.46.0/defaults/kustomization.yaml
  services/jaeger/2.46.0/helmrelease.yaml
  services/jaeger/2.46.0/helmrelease/release.yaml
  services/jaeger/2.46.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/jaeger, update-licenses

#1364 chore: disable config-api by default
  services/kommander-appmanagement/0.6.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander-appmanagement

#1378 feat: Bump external-dns to 6.20.4
  services/external-dns/6.20.4/defaults/cm.yaml
  services/external-dns/6.20.4/defaults/kustomization.yaml
  services/external-dns/6.20.4/external-dns.yaml
  services/external-dns/6.20.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/external-dns, update-licenses

#1372 feat: Bump reloader to 1.0.29
  licenses.d2iq.yaml
  services/reloader/1.0.29/defaults/cm.yaml
  services/reloader/1.0.29/defaults/kustomization.yaml
  services/reloader/1.0.29/kustomization.yaml
  services/reloader/1.0.29/reloader.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/reloader, update-licenses

#1379 feat: Bump grafana to 6.57.4
  services/grafana-logging/6.57.4/defaults/cm.yaml
  services/grafana-logging/6.57.4/defaults/kustomization.yaml
  services/grafana-logging/6.57.4/grafana.yaml
  services/grafana-logging/6.57.4/kustomization.yaml
  services/project-grafana-logging/6.57.4/defaults/cm.yaml
  services/project-grafana-logging/6.57.4/defaults/kustomization.yaml
  services/project-grafana-logging/6.57.4/kustomization.yaml
  services/project-grafana-logging/6.57.4/project-grafana.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/grafana-logging, services/project-grafana-logging, update-licenses

#1376 feat: Bump velero to 4.1.1
  services/velero/4.1.1/defaults/cm.yaml
  services/velero/4.1.1/defaults/kustomization.yaml
  services/velero/4.1.1/grafana-dashboards/kustomization.yaml
  services/velero/4.1.1/grafana-dashboards/velero.json
  services/velero/4.1.1/helmrelease/helmrelease.yaml
  services/velero/4.1.1/kustomization.yaml
  services/velero/4.1.1/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/4.1.1/pre-install/pre-install-job.yaml
  services/velero/4.1.1/velero-post-install.yaml
  services/velero/4.1.1/velero-pre-install.yaml
  services/velero/4.1.1/velero.yaml
Labels: ready-for-review, ok-to-test, size/S, services/velero, update-licenses

#1380 feat: Bump thanos to 12.8.3
  licenses.d2iq.yaml
  services/thanos/12.8.3/defaults/cm.yaml
  services/thanos/12.8.3/defaults/kustomization.yaml
  services/thanos/12.8.3/jobs.yaml
  services/thanos/12.8.3/jobs/jobs.yaml
  services/thanos/12.8.3/kustomization.yaml
  services/thanos/12.8.3/thanos.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/thanos, update-licenses

#1374 feat: Bump traefik to 23.1.0
  services/traefik/23.1.0/defaults/cm.yaml
  services/traefik/23.1.0/defaults/kustomization.yaml
  services/traefik/23.1.0/grafana-dashboards/kustomization.yaml
  services/traefik/23.1.0/grafana-dashboards/traefik.json
  services/traefik/23.1.0/kustomization.yaml
  services/traefik/23.1.0/traefik-plugin-rewritebody.yaml
  services/traefik/23.1.0/traefik.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/traefik, update-licenses

#1375 feat: Bump kiali-operator to 1.70.0
  licenses.d2iq.yaml
  services/kiali/1.70.0/defaults/cm.yaml
  services/kiali/1.70.0/defaults/kustomization.yaml
  services/kiali/1.70.0/kiali.yaml
  services/kiali/1.70.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/kiali, update-licenses

#1362 feat: bump cert-manager to v1.12.2
  licenses.d2iq.yaml
  services/cert-manager/1.12.2/defaults/cm.yaml
  services/cert-manager/1.12.2/defaults/kustomization.yaml
  services/cert-manager/1.12.2/kustomization.yaml
  services/cert-manager/1.12.2/release.yaml
  services/cert-manager/1.12.2/release/kustomization.yaml
  services/cert-manager/1.12.2/release/release.yaml
  services/cert-manager/1.12.2/root-ca.yaml
  services/cert-manager/1.12.2/root-ca/root-ca.yaml
  services/cert-manager/bootstrap/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/cert-manager, update-licenses

#1370 feat: Bump logging-operator to 4.2.3
  licenses.d2iq.yaml
  services/fluent-bit/0.34.1/defaults/cm.yaml
  services/logging-operator/4.2.3/defaults/cm.yaml
  services/logging-operator/4.2.3/defaults/kustomization.yaml
  services/logging-operator/4.2.3/grafana-dashboards/kustomization.yaml
  services/logging-operator/4.2.3/grafana-dashboards/logging-operator.json
  services/logging-operator/4.2.3/grafana-dashboards/logging-stack-stress.json
  services/logging-operator/4.2.3/kustomization.yaml
  services/logging-operator/4.2.3/logging-operator-logging.yaml
  services/logging-operator/4.2.3/logging-operator.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/fluent-bit, services/logging-operator, update-licenses

#1384 feat: Release DKP-Insights Backend and Management v0.5.0-beta.2
  licenses.d2iq.yaml
  services/dkp-insights-management/0.5.0/defaults/cm.yaml
  services/dkp-insights-management/0.5.0/helmrelease/helmrelease.yaml
  services/dkp-insights/0.5.0-beta.1/defaults/cm.yaml
  services/dkp-insights/0.5.0/defaults/cm.yaml
  services/dkp-insights/0.5.0/defaults/kustomization.yaml
  services/dkp-insights/0.5.0/helmrelease.yaml
  services/dkp-insights/0.5.0/helmrelease/helmrelease.yaml
  services/dkp-insights/0.5.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XXL, services/dkp-insights-management, services/dkp-insights

#1331 feat: add trustForwardHeader to TFA middlewares
  licenses.d2iq.yaml
  services/kubetunnel/0.0.23/defaults/cm.yaml
  services/kubetunnel/0.0.23/defaults/kustomization.yaml
  services/kubetunnel/0.0.23/kubetunnel.yaml
  services/kubetunnel/0.0.23/kustomization.yaml
  services/traefik/23.1.0/defaults/cm.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/traefik, services/kubetunnel

#1391 fix: Set cert-manager HR valuesFrom to use default cm
  services/cert-manager/1.12.2/release/release.yaml
Labels: ready-for-review, ok-to-test, needs-backport, auto-backport, backport-to-release-2.3, services/cert-manager, backport-to-release-2.4, backport-to-release-2.5

#1396 feat: bump kubetunnel to v0.0.24
  licenses.d2iq.yaml
  services/kubetunnel/0.0.24/defaults/cm.yaml
  services/kubetunnel/0.0.24/defaults/kustomization.yaml
  services/kubetunnel/0.0.24/kubetunnel.yaml
  services/kubetunnel/0.0.24/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kubetunnel

#1359 fix: Don't change original permissions of etcd certificates
  licenses.d2iq.yaml
  services/kube-prometheus-stack/46.8.0/etcd-metrics-proxy/kube-rbac-proxy.yaml
Labels: ready-for-review, ok-to-test, size/M, services/kube-prometheus-stack

#1401 chore: remove nvidia image automation
  .github/workflows/kommander-branch.yaml
  hack/update-nvidia.sh
Labels: ready-for-review, ok-to-test, size/M

#1406 feat: bump cluster-observer to 1.1.2
  licenses.d2iq.yaml
  services/kommander/0.6.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander

#1407 feat: Bump jaeger-operator to 2.46.2
  services/jaeger/2.46.2/defaults/cm.yaml
  services/jaeger/2.46.2/defaults/kustomization.yaml
  services/jaeger/2.46.2/helmrelease.yaml
  services/jaeger/2.46.2/helmrelease/extra-images.txt
  services/jaeger/2.46.2/helmrelease/kustomization.yaml
  services/jaeger/2.46.2/helmrelease/release.yaml
  services/jaeger/2.46.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, open-kommander-pr, services/jaeger, update-licenses

#1409 feat: bump kubetunnel to v0.0.26
  licenses.d2iq.yaml
  services/kubetunnel/0.0.26/defaults/cm.yaml
  services/kubetunnel/0.0.26/defaults/kustomization.yaml
  services/kubetunnel/0.0.26/extra-images.txt
  services/kubetunnel/0.0.26/kubetunnel.yaml
  services/kubetunnel/0.0.26/kustomization.yaml
Labels: ok-to-test, size/XS, size/S, services/kubetunnel

#1410 chore: bump ghostunnel image for airgapped bundle
  licenses.d2iq.yaml
  services/kommander/0.6.0/dynamic-helmreleases/mtls-proxy/list-images-values.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander

#1415 feat: bump kubetunnel to v0.0.27
  licenses.d2iq.yaml
  services/kubetunnel/0.0.27/defaults/cm.yaml
  services/kubetunnel/0.0.27/defaults/kustomization.yaml
  services/kubetunnel/0.0.27/extra-images.txt
  services/kubetunnel/0.0.27/kubetunnel.yaml
  services/kubetunnel/0.0.27/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/kubetunnel

#1412 feat: Update jaeger allinone img to match operator version
  licenses.d2iq.yaml
  services/grafana-logging/6.57.4/grafana.yaml
  services/jaeger/2.46.2/defaults/cm.yaml
  services/jaeger/2.46.2/helmrelease/release.yaml
  services/karma/2.0.2/karma.yaml
  services/kiali/1.70.0/kiali.yaml
  services/kube-prometheus-stack/46.8.0/helmrelease/kube-prometheus-stack.yaml
  services/kubecost/0.35.1/kubecost.yaml
  services/traefik/23.1.0/traefik.yaml
Labels: ready-for-review, ok-to-test, size/XS, size/S, services/kiali, services/jaeger, services/traefik, services/grafana-logging, services/kube-prometheus-stack, services/karma, services/kubecost

#1426 feat: Release DKP-Insights v0.5.0
  licenses.d2iq.yaml
  services/dkp-insights-management/0.5.0/defaults/cm.yaml
  services/dkp-insights-management/0.5.0/helmrelease/helmrelease.yaml
  services/dkp-insights/0.5.0/defaults/cm.yaml
  services/dkp-insights/0.5.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, services/dkp-insights-management, services/dkp-insights

#1429 chore: Post release bumps
  mergebot-config.json
Labels: ready-for-review, ok-to-test, size/XS

#1430 chore: Post release bumps
  mergebot-config.json
Labels: ready-for-review, ok-to-test, size/XS

#1427 chore: Post release bumps
  common/kommander-operator/defaults/cm.yaml
  mergebot-config.json
  services/kommander-appmanagement/0.7.0/defaults/cm.yaml
  services/kommander-appmanagement/0.7.0/defaults/kustomization.yaml
  services/kommander-appmanagement/0.7.0/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.7.0/kustomization.yaml
  services/kommander/0.7.0/defaults/cm.yaml
  services/kommander/0.7.0/defaults/kustomization.yaml
  services/kommander/0.7.0/dynamic-helmreleases/README.txt
  services/kommander/0.7.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.7.0/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.7.0/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.7.0/dynamic-helmreleases/mtls-proxy/list-images-values.yaml
  services/kommander/0.7.0/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.7.0/kommander.yaml
  services/kommander/0.7.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kommander, services/kommander-appmanagement

#1431 chore: Post release bumps
  mergebot-config.json
Labels: ready-for-review, ok-to-test, size/XS

#1428 chore: Post release bumps
  mergebot-config.json
Labels: ready-for-review, ok-to-test

#1433 ci: Validate PR title length instead of commit
  .github/workflows/lint-pr.yaml
  .gitlint
Labels: ready-for-review, size/XS

#1436 feat: Release DKP-Insights v0.6.0-dev.1
  licenses.d2iq.yaml
  services/dkp-insights-management/0.6.0/defaults/cm.yaml
  services/dkp-insights-management/0.6.0/defaults/kustomization.yaml
  services/dkp-insights-management/0.6.0/helmrelease.yaml
  services/dkp-insights-management/0.6.0/helmrelease/helmrelease.yaml
  services/dkp-insights-management/0.6.0/helmrelease/kustomization.yaml
  services/dkp-insights-management/0.6.0/kustomization.yaml
  services/dkp-insights/0.6.0/defaults/cm.yaml
  services/dkp-insights/0.6.0/defaults/kustomization.yaml
  services/dkp-insights/0.6.0/helmrelease.yaml
  services/dkp-insights/0.6.0/helmrelease/extra-images.txt
  services/dkp-insights/0.6.0/helmrelease/helmrelease.yaml
  services/dkp-insights/0.6.0/helmrelease/kustomization.yaml
  services/dkp-insights/0.6.0/helmrelease/list-images-values.yaml
  services/dkp-insights/0.6.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/dkp-insights-management, services/dkp-insights

#1437 fix: disable PSPs explictly to avoid upgrade failures
  services/gatekeeper/3.12.0/defaults/cm.yaml
  services/logging-operator/4.2.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, services/logging-operator, services/gatekeeper, backport-to-release-2.4, backport-to-release-2.5

#1438 fix: Disable kubecost-grafana PSP by default
  services/kubecost/0.33.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1440 fix: disable PSPs explictly to avoid upgrade failures (2.6)
  services/gatekeeper/3.12.0/defaults/cm.yaml
  services/logging-operator/4.2.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/XS
