Repository mesosphere/kommander-applications, pull requests merged in 2023-10, with the labels that each got.

#1652 fix(ai-navigator): Add missing defaults directory and manifests
  services/ai-navigator-app/0.1.0/defaults/cm.yaml
  services/ai-navigator-app/0.1.0/defaults/kustomization.yaml
Labels: ready-for-review, ok-to-test, needs-backport, auto-backport, size/XS, backport-to-release-2.6

#1524 feat: Bump traefik to 24.0.0
  services/traefik/24.0.0/defaults/cm.yaml
  services/traefik/24.0.0/defaults/kustomization.yaml
  services/traefik/24.0.0/grafana-dashboards/kustomization.yaml
  services/traefik/24.0.0/grafana-dashboards/traefik.json
  services/traefik/24.0.0/kustomization.yaml
  services/traefik/24.0.0/traefik-plugin-rewritebody.yaml
  services/traefik/24.0.0/traefik.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/traefik, update-licenses

#1635 fix: used dedicated clusterrole for kcore hooks
  charts/kommander-operator/templates/post_install_kommandercore_hook.yaml
  charts/kommander-operator/templates/pre_upgrade_kommandercore_hook.yaml
Labels: ready-for-review, ok-to-test, size/M

#1655 fix: Exclude ai-navigator-app from the bundle
  make/release.mk
Labels: ok-to-test, size/XS

#1628 feat: Bump reloader to 1.0.41
  licenses.d2iq.yaml
  services/reloader/1.0.41/defaults/cm.yaml
  services/reloader/1.0.41/defaults/kustomization.yaml
  services/reloader/1.0.41/kustomization.yaml
  services/reloader/1.0.41/reloader.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/reloader, update-licenses

#1623 feat: Bump kiali-operator to 1.74.0
  licenses.d2iq.yaml
  services/kiali/1.74.0/defaults/cm.yaml
  services/kiali/1.74.0/defaults/kustomization.yaml
  services/kiali/1.74.0/extra-images.txt
  services/kiali/1.74.0/kiali.yaml
  services/kiali/1.74.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kiali, update-licenses

#1658 fix: Exclude ai-navigator-app from the bundle (#1655)
  make/release.mk
Labels: ready-for-review, ok-to-test, size/XS

#1654 feat: add kubernetes client
  apptests/client/client.go
  apptests/go.mod
  apptests/go.sum
  go.work
  go.work.sum
Labels: ready-for-review, size/XL

#1656 feat: install flux components API
  apptests/flux/apply.go
  apptests/flux/flux.go
  apptests/go.mod
  apptests/go.sum
  go.work.sum
Labels: ready-for-review, size/L

#1659 chore: bump dagger version
  .tool-versions
  magefiles/go.mod
  magefiles/go.sum
  magefiles/targets.go
Labels: ready-for-review, size/XL

#1653 feat: provision kind clusters
  apptests/go.mod
  apptests/go.sum
  apptests/kind/kind.go
  apptests/kind/kind_test.go
Labels: ready-for-review, size/L

#1536 feat: Bump gpu-operator to v23.6.1
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/23.6.1/defaults/cm.yaml
  services/nvidia-gpu-operator/23.6.1/defaults/kustomization.yaml
  services/nvidia-gpu-operator/23.6.1/grafana-dashboards/gpu-operator.json
  services/nvidia-gpu-operator/23.6.1/grafana-dashboards/kustomization.yaml
  services/nvidia-gpu-operator/23.6.1/helmrelease.yaml
  services/nvidia-gpu-operator/23.6.1/helmrelease/extra-images.txt
  services/nvidia-gpu-operator/23.6.1/helmrelease/kustomization.yaml
  services/nvidia-gpu-operator/23.6.1/helmrelease/nvidia.yaml
  services/nvidia-gpu-operator/23.6.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/M, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#1663 feat: add kustomization
  apptests/kustomize/kustomize.go
  apptests/kustomize/kustomize_test.go
  apptests/kustomize/testdata/kustomization.yaml
  apptests/kustomize/testdata/sample.yaml
Labels: ready-for-review, size/L

#1664 feat: Release DKP-Insights v0.6.0-dev.12
  licenses.d2iq.yaml
  services/dkp-insights-management/0.6.0/defaults/cm.yaml
  services/dkp-insights-management/0.6.0/helmrelease/helmrelease.yaml
  services/dkp-insights/0.6.0/defaults/cm.yaml
  services/dkp-insights/0.6.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, services/dkp-insights-management, services/dkp-insights

#1626 feat: Bump external-dns to 6.26.1
  licenses.d2iq.yaml
  services/external-dns/6.26.1/defaults/cm.yaml
  services/external-dns/6.26.1/defaults/kustomization.yaml
  services/external-dns/6.26.1/external-dns.yaml
  services/external-dns/6.26.1/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/external-dns, update-licenses

#1667 feat: environment provisioning
  apptests/environment/environment.go
  apptests/environment/environment_test.go
  apptests/go.mod
  apptests/go.sum
  apptests/kind/kind.go
  apptests/kind/kind_test.go
  apptests/kustomize/kustomize.go
Labels: ready-for-review, size/L

#1670 feat(koperator): Remove pre-upgrade job to set kcore version
  charts/kommander-operator/templates/pre_upgrade_kommandercore_hook.yaml
Labels: ready-for-review, ok-to-test, size/L

#1682 chore: Post release bumps
  mergebot-config.json
Labels: ready-for-review, size/XS

#1681 chore: Post release bumps
  common/kommander-operator/defaults/cm.yaml
  mergebot-config.json
  services/gatekeeper/3.12.0/pre-upgrade/pre-upgrade.yaml
  services/kommander-appmanagement/0.6.2/defaults/cm.yaml
  services/kommander-appmanagement/0.6.2/defaults/kustomization.yaml
  services/kommander-appmanagement/0.6.2/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.6.2/kustomization.yaml
  services/kommander/0.6.2/defaults/cm.yaml
  services/kommander/0.6.2/defaults/kustomization.yaml
  services/kommander/0.6.2/dynamic-helmreleases/README.txt
  services/kommander/0.6.2/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.6.2/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.6.2/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.6.2/dynamic-helmreleases/mtls-proxy/list-images-values.yaml
  services/kommander/0.6.2/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.6.2/kommander.yaml
  services/kommander/0.6.2/kustomization.yaml
  services/kubecost/0.35.1/pre-upgrade/pre-upgrade.yaml
  services/logging-operator/4.2.3/pre-upgrade/pre-upgrade.yaml
Labels: ready-for-review, ok-to-test, size/S

#1674 feat: Add certified and supported labels to dkp-insights.
  services/dkp-insights/metadata.yaml
Labels: ready-for-review, size/XS, services/dkp-insights

#1625 feat: Bump dex to 2.12.4
  licenses.d2iq.yaml
  services/dex/2.12.4/defaults/cm.yaml
  services/dex/2.12.4/defaults/kustomization.yaml
  services/dex/2.12.4/dex.yaml
  services/dex/2.12.4/kustomization.yaml
Labels: ok-to-test, size/XS, services/dex, update-licenses

#1680 chore: Post release bumps
  mergebot-config.json
Labels: ready-for-review, ok-to-test, size/XS

#1678 chore: `IfNotPresent` pull policy for gitea
  services/gitea/9.3.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/gitea

#1677 ci(bloodhound): Update k8s version for validation
  .bloodhound.yml
Labels: ready-for-review, ok-to-test, size/XS

#1521 feat: Bump rook-ceph to v1.12.3
  licenses.d2iq.yaml
  services/rook-ceph-cluster/1.12.3/defaults/cm.yaml
  services/rook-ceph-cluster/1.12.3/defaults/kustomization.yaml
  services/rook-ceph-cluster/1.12.3/grafana-dashboards/kustomization.yaml
  services/rook-ceph-cluster/1.12.3/grafana-dashboards/rook-ceph-cluster.json
  services/rook-ceph-cluster/1.12.3/grafana-dashboards/rook-ceph-osd.json
  services/rook-ceph-cluster/1.12.3/grafana-dashboards/rook-ceph-pools.json
  services/rook-ceph-cluster/1.12.3/helmrelease/dashboard-cm.yaml
  services/rook-ceph-cluster/1.12.3/helmrelease/helmrelease.yaml
  services/rook-ceph-cluster/1.12.3/helmrelease/kustomization.yaml
  services/rook-ceph-cluster/1.12.3/kustomization.yaml
  services/rook-ceph-cluster/1.12.3/object-bucket-claims.yaml
  services/rook-ceph-cluster/1.12.3/objectbucketclaims/helmrelease.yaml
  services/rook-ceph-cluster/1.12.3/objectbucketclaims/kustomization.yaml
  services/rook-ceph-cluster/1.12.3/pre-install.yaml
  services/rook-ceph-cluster/1.12.3/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.12.3/rook-ceph-cluster.yaml
  services/rook-ceph/1.12.3/defaults/cm.yaml
  services/rook-ceph/1.12.3/defaults/kustomization.yaml
  services/rook-ceph/1.12.3/helmrelease/helmrelease.yaml
  services/rook-ceph/1.12.3/helmrelease/kustomization.yaml
  services/rook-ceph/1.12.3/kustomization.yaml
  services/rook-ceph/1.12.3/rook-ceph.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/M, open-kommander-pr, services/rook-ceph-cluster, services/rook-ceph, update-licenses

#1660 feat: Bump kubecost to 0.37.1
  licenses.d2iq.yaml
  services/centralized-kubecost/0.37.1/defaults/cm.yaml
  services/centralized-kubecost/0.37.1/defaults/kustomization.yaml
  services/centralized-kubecost/0.37.1/kustomization.yaml
  services/centralized-kubecost/0.37.1/post-install-jobs.yaml
  services/centralized-kubecost/0.37.1/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.1/release.yaml
  services/centralized-kubecost/0.37.1/release/release.yaml
  services/kubecost/0.37.1/defaults/cm.yaml
  services/kubecost/0.37.1/defaults/kustomization.yaml
  services/kubecost/0.37.1/kubecost.yaml
  services/kubecost/0.37.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/centralized-kubecost, services/kubecost, update-licenses

#1675 feat: Release DKP-Insights v0.6.0-dev.13
  licenses.d2iq.yaml
  services/dkp-insights-management/0.6.0/defaults/cm.yaml
  services/dkp-insights-management/0.6.0/helmrelease/helmrelease.yaml
  services/dkp-insights/0.6.0/defaults/cm.yaml
  services/dkp-insights/0.6.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, services/dkp-insights-management, services/dkp-insights

#1646 feat: Bump loki-distributed to 0.74.6
  services/grafana-loki/0.74.6/defaults/cm.yaml
  services/grafana-loki/0.74.6/defaults/kustomization.yaml
  services/grafana-loki/0.74.6/grafana-dashboards-logging/kustomization.yaml
  services/grafana-loki/0.74.6/grafana-dashboards-logging/logging-loki-dashboard.json
  services/grafana-loki/0.74.6/grafana-dashboards/grafana-loki.json
  services/grafana-loki/0.74.6/grafana-dashboards/kustomization.yaml
  services/grafana-loki/0.74.6/grafana-dashboards/loki-chunks.json
  services/grafana-loki/0.74.6/grafana-dashboards/loki-deletion.json
  services/grafana-loki/0.74.6/grafana-dashboards/loki-reads-resources.json
  services/grafana-loki/0.74.6/grafana-dashboards/loki-retention.json
  services/grafana-loki/0.74.6/grafana-dashboards/loki-writes-resources.json
  services/grafana-loki/0.74.6/grafana-loki-helmrelease.yaml
  services/grafana-loki/0.74.6/grafana-loki-helmrelease/grafana-loki.yaml
  services/grafana-loki/0.74.6/grafana-loki-pre-install-jobs/pre-install.yaml
  services/grafana-loki/0.74.6/grafana-loki-pre-install.yaml
  services/grafana-loki/0.74.6/kustomization.yaml
  services/project-grafana-loki/0.74.6/defaults/cm.yaml
  services/project-grafana-loki/0.74.6/defaults/kustomization.yaml
  services/project-grafana-loki/0.74.6/grafana-dashboards-logging/kustomization.yaml
  services/project-grafana-loki/0.74.6/grafana-dashboards-logging/logging-loki-dashboard.json
  services/project-grafana-loki/0.74.6/kustomization.yaml
  services/project-grafana-loki/0.74.6/object-bucket-claims.yaml
  services/project-grafana-loki/0.74.6/project-grafana-loki.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/grafana-loki, services/project-grafana-loki, update-licenses

#1620 feat: Bump fluent-bit to 0.38.0
  services/fluent-bit/0.38.0/defaults/cm.yaml
  services/fluent-bit/0.38.0/defaults/kustomization.yaml
  services/fluent-bit/0.38.0/fluent-bit.yaml
  services/fluent-bit/0.38.0/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.38.0/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.38.0/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.38.0/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.38.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/XS, services/fluent-bit, update-licenses

#1645 feat: Bump grafana to 6.60.1
  licenses.d2iq.yaml
  services/grafana-logging/6.60.1/defaults/cm.yaml
  services/grafana-logging/6.60.1/defaults/kustomization.yaml
  services/grafana-logging/6.60.1/grafana.yaml
  services/grafana-logging/6.60.1/kustomization.yaml
  services/project-grafana-logging/6.60.1/defaults/cm.yaml
  services/project-grafana-logging/6.60.1/defaults/kustomization.yaml
  services/project-grafana-logging/6.60.1/kustomization.yaml
  services/project-grafana-logging/6.60.1/project-grafana.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/S, open-kommander-pr, services/grafana-logging, services/project-grafana-logging, update-licenses

#1689 fix: Typo in namespace name
  services/gitea/9.3.0/defaults/cm.yaml
Labels: ok-to-test, size/XS, services/gitea

#1684 build: bump cluster observer to v1.2.0
  licenses.d2iq.yaml
  services/kommander/0.7.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
Labels: ready-for-review, ok-to-test, services/kommander

#1691 fix: Double memory resources for prometheus-adapter
  services/prometheus-adapter/4.4.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/prometheus-adapter

#1685 feat: bump dex to v2.37.0 and introduce webhooks
  go.work.sum
  hack/release/go.mod
  hack/release/go.sum
  licenses.d2iq.yaml
  magefiles/go.mod
  magefiles/go.sum
  services/dex/2.13.2/defaults/cm.yaml
  services/dex/2.13.2/defaults/kustomization.yaml
  services/dex/2.13.2/dex.yaml
  services/dex/2.13.2/kustomization.yaml
Labels: ok-to-test, size/XXL, open-kommander-pr, services/dex

#1690 chore: Adjust livenessprobe in gitea
  services/gitea/9.3.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1692 fix: Set default timeouts for the high load
  services/dex-k8s-authenticator/1.2.16/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/dex-k8s-authenticator

#1693 feat: verify the health of the kube-prometheus-stack deployment
  services/kube-prometheus-stack/48.3.1/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kube-prometheus-stack

#1695 feat: bump dex and dka
  licenses.d2iq.yaml
  services/dex-k8s-authenticator/1.2.18/defaults/cm.yaml
  services/dex-k8s-authenticator/1.2.18/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.2.18/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.2.18/kustomization.yaml
  services/dex/2.13.4/defaults/cm.yaml
  services/dex/2.13.4/defaults/kustomization.yaml
  services/dex/2.13.4/dex.yaml
  services/dex/2.13.4/kustomization.yaml
Labels: ok-to-test, size/S, services/dex-k8s-authenticator, services/dex

#1696 fix: bump kubetunnel to v0.0.30
  licenses.d2iq.yaml
  services/kubetunnel/0.0.30/defaults/cm.yaml
  services/kubetunnel/0.0.30/defaults/kustomization.yaml
  services/kubetunnel/0.0.30/extra-images.txt
  services/kubetunnel/0.0.30/kubetunnel.yaml
  services/kubetunnel/0.0.30/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/kubetunnel

#1699 revert: "feat: Bump rook-ceph to v1.12.3"
  licenses.d2iq.yaml
  services/rook-ceph-cluster/1.12.1/defaults/cm.yaml
  services/rook-ceph-cluster/1.12.1/defaults/kustomization.yaml
  services/rook-ceph-cluster/1.12.1/grafana-dashboards/kustomization.yaml
  services/rook-ceph-cluster/1.12.1/grafana-dashboards/rook-ceph-cluster.json
  services/rook-ceph-cluster/1.12.1/grafana-dashboards/rook-ceph-osd.json
  services/rook-ceph-cluster/1.12.1/grafana-dashboards/rook-ceph-pools.json
  services/rook-ceph-cluster/1.12.1/helmrelease/dashboard-cm.yaml
  services/rook-ceph-cluster/1.12.1/helmrelease/helmrelease.yaml
  services/rook-ceph-cluster/1.12.1/helmrelease/kustomization.yaml
  services/rook-ceph-cluster/1.12.1/kustomization.yaml
  services/rook-ceph-cluster/1.12.1/object-bucket-claims.yaml
  services/rook-ceph-cluster/1.12.1/objectbucketclaims/helmrelease.yaml
  services/rook-ceph-cluster/1.12.1/objectbucketclaims/kustomization.yaml
  services/rook-ceph-cluster/1.12.1/pre-install.yaml
  services/rook-ceph-cluster/1.12.1/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.12.1/rook-ceph-cluster.yaml
  services/rook-ceph/1.12.1/defaults/cm.yaml
  services/rook-ceph/1.12.1/defaults/kustomization.yaml
  services/rook-ceph/1.12.1/helmrelease/helmrelease.yaml
  services/rook-ceph/1.12.1/helmrelease/kustomization.yaml
  services/rook-ceph/1.12.1/kustomization.yaml
  services/rook-ceph/1.12.1/rook-ceph.yaml
Labels: ready-for-review, ok-to-test, size/M, services/rook-ceph-cluster, services/rook-ceph

#1698 feat: Release DKP-Insights v1.0.0-dev.1
  licenses.d2iq.yaml
  services/dkp-insights-management/1.0.0/defaults/cm.yaml
  services/dkp-insights-management/1.0.0/defaults/kustomization.yaml
  services/dkp-insights-management/1.0.0/helmrelease.yaml
  services/dkp-insights-management/1.0.0/helmrelease/helmrelease.yaml
  services/dkp-insights-management/1.0.0/helmrelease/kustomization.yaml
  services/dkp-insights-management/1.0.0/kustomization.yaml
  services/dkp-insights/1.0.0/defaults/cm.yaml
  services/dkp-insights/1.0.0/defaults/kustomization.yaml
  services/dkp-insights/1.0.0/helmrelease.yaml
  services/dkp-insights/1.0.0/helmrelease/extra-images.txt
  services/dkp-insights/1.0.0/helmrelease/helmrelease.yaml
  services/dkp-insights/1.0.0/helmrelease/kustomization.yaml
  services/dkp-insights/1.0.0/helmrelease/list-images-values.yaml
  services/dkp-insights/1.0.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, services/dkp-insights-management, services/dkp-insights
