Repository mesosphere/kommander-applications, pull requests merged in 2023-11, with the labels that each got.

#1719 fix: Enable startup probe for gitea's postgres
  services/gitea/9.3.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test

#1722 feat: bump dex-k8s-authenticator to v1.3.0
  licenses.d2iq.yaml
  services/dex-k8s-authenticator/1.3.0/defaults/cm.yaml
  services/dex-k8s-authenticator/1.3.0/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.3.0/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.3.0/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/dex-k8s-authenticator

#1721 revert: Gitea Bump
  licenses.d2iq.yaml
  services/gitea/8.2.0/defaults/cm.yaml
  services/gitea/8.2.0/defaults/kustomization.yaml
  services/gitea/8.2.0/gitea.yaml
  services/gitea/8.2.0/kustomization.yaml
  services/gitea/9.3.0/pvc.yaml
Labels: bug, ok-to-test, size/M, services/gitea

#1723 feat: bump dex-k8s-authenticator to v1.3.1
  licenses.d2iq.yaml
  services/dex-k8s-authenticator/1.3.1/defaults/cm.yaml
  services/dex-k8s-authenticator/1.3.1/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.3.1/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.3.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/dex-k8s-authenticator

#1720 feat: bump cert-manager to v1.13.1
  licenses.d2iq.yaml
  services/cert-manager/1.13.1/cert-manager-namespace.yaml
  services/cert-manager/1.13.1/cert-manager-namespace/namespace.yaml
  services/cert-manager/1.13.1/defaults/cm.yaml
  services/cert-manager/1.13.1/defaults/kustomization.yaml
  services/cert-manager/1.13.1/kustomization.yaml
  services/cert-manager/1.13.1/priorityclass-resource-quota.yaml
  services/cert-manager/1.13.1/priorityclass-resource-quota/resourcequota.yaml
  services/cert-manager/1.13.1/release.yaml
  services/cert-manager/1.13.1/release/kustomization.yaml
  services/cert-manager/1.13.1/release/release.yaml
  services/cert-manager/1.13.1/root-ca.yaml
  services/cert-manager/1.13.1/root-ca/root-ca.yaml
  services/cert-manager/bootstrap/kustomization.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, services/cert-manager

#1706 feat: AI Navigator cluster info app changes
  .github/service-labeler.yaml
  common/helm-repositories/mesosphere-repos.yaml
  licenses.d2iq.yaml
  services/ai-navigator-app/0.1.0/defaults/cm.yaml
  services/ai-navigator-app/0.2.0/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.0/defaults/cm.yaml
  services/ai-navigator-app/0.2.0/defaults/kustomization.yaml
  services/ai-navigator-app/0.2.0/helmrelease.yaml
  services/ai-navigator-app/0.2.0/helmrelease/helmrelease.yaml
  services/ai-navigator-app/0.2.0/kustomization.yaml
  services/ai-navigator-cluster-info-agent/0.1.0/defaults/cm.yaml
  services/ai-navigator-cluster-info-agent/0.1.0/defaults/kustomization.yaml
  services/ai-navigator-cluster-info-agent/0.1.0/helmrelease.yaml
  services/ai-navigator-cluster-info-agent/0.1.0/helmrelease/helmrelease.yaml
  services/ai-navigator-cluster-info-agent/0.1.0/kustomization.yaml
  services/ai-navigator-cluster-info-agent/metadata.yaml
Labels: ready-for-review, ok-to-test, size/L, services/ai-navigator-app, services/ai-navigator-cluster-info-agent

#1732 feat: Release DKP-Insights v1.0.0-dev.6
  licenses.d2iq.yaml
  services/dkp-insights-management/1.0.0/defaults/cm.yaml
  services/dkp-insights-management/1.0.0/helmrelease/helmrelease.yaml
  services/dkp-insights/1.0.0/defaults/cm.yaml
  services/dkp-insights/1.0.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/L, services/dkp-insights-management, services/dkp-insights

#1661 feat: Bump thanos to 12.13.13
  licenses.d2iq.yaml
  services/thanos/12.13.13/defaults/cm.yaml
  services/thanos/12.13.13/defaults/kustomization.yaml
  services/thanos/12.13.13/jobs.yaml
  services/thanos/12.13.13/jobs/jobs.yaml
  services/thanos/12.13.13/kustomization.yaml
  services/thanos/12.13.13/thanos.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/S, open-kommander-pr, services/thanos, update-licenses

#1733 fix: Reduce Weaviate storage size
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.0/defaults/cm.yaml
Labels: ok-to-test, size/XS, services/ai-navigator-app

#1734 feat: Release DKP-Insights v1.0.0-dev.7
  licenses.d2iq.yaml
  services/dkp-insights-management/1.0.0/defaults/cm.yaml
  services/dkp-insights-management/1.0.0/helmrelease/helmrelease.yaml
  services/dkp-insights/1.0.0/defaults/cm.yaml
  services/dkp-insights/1.0.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/S, services/dkp-insights-management, services/dkp-insights

#1735 fix: xxclude ai-nav info agent from the bundle
  make/release.mk
Labels: ok-to-test, size/XS

#1737 fix: reduce CPU requests for cluster info pods
  services/ai-navigator-app/0.2.0/defaults/cm.yaml
  services/ai-navigator-cluster-info-agent/0.1.0/defaults/cm.yaml
Labels: ok-to-test, size/XS, services/ai-navigator-app, services/ai-navigator-cluster-info-agent

#1683 chore: Dedupe images to reduce airgapped bundle size
  licenses.d2iq.yaml
  services/traefik-forward-auth-mgmt/0.3.10/defaults/cm.yaml
  services/traefik-forward-auth/0.3.10/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/traefik-forward-auth, services/traefik-forward-auth-mgmt, update-licenses

#1739 chore: Post release bumps
  mergebot-config.json
Labels: ok-to-test, size/XS

#1741 chore: Post release bumps
  mergebot-config.json
Labels: ok-to-test, size/XS

#1744 feat: Release DKP-Insights v1.0.0
  licenses.d2iq.yaml
  services/dkp-insights-management/1.0.0/defaults/cm.yaml
  services/dkp-insights-management/1.0.0/helmrelease/helmrelease.yaml
  services/dkp-insights/1.0.0/defaults/cm.yaml
  services/dkp-insights/1.0.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/S, services/dkp-insights-management, services/dkp-insights
