Repository mesosphere/kommander-applications, pull requests merged in 2023-01, with the labels that each got.

#878 test: disable lvm in release-2.3
  make/test.mk
Labels: ready-for-review, ok-to-test

#889 feat: Bump Insights Management to v0.4.0-beta.1
  licenses.d2iq.yaml
  services/dkp-insights-management/0.4.0/defaults/cm.yaml
  services/dkp-insights-management/0.4.0/defaults/kustomization.yaml
  services/dkp-insights-management/0.4.0/helmrelease.yaml
  services/dkp-insights-management/0.4.0/helmrelease/helmrelease.yaml
  services/dkp-insights-management/0.4.0/kustomization.yaml
Labels: ready-for-review, ok-to-test

#888 feat: Bump kubecost to 0.32.0
  licenses.d2iq.yaml
  services/centralized-kubecost/0.32.0/defaults/cm.yaml
  services/centralized-kubecost/0.32.0/defaults/kustomization.yaml
  services/centralized-kubecost/0.32.0/kustomization.yaml
  services/centralized-kubecost/0.32.0/post-install-jobs.yaml
  services/centralized-kubecost/0.32.0/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.32.0/release.yaml
  services/centralized-kubecost/0.32.0/release/release.yaml
  services/kommander/0.5.0/defaults/cm.yaml
  services/kubecost/0.32.0/defaults/cm.yaml
  services/kubecost/0.32.0/defaults/kustomization.yaml
  services/kubecost/0.32.0/kubecost.yaml
  services/kubecost/0.32.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/kommander, services/centralized-kubecost, services/kubecost

#909 ci: Add DNM label to bump PRs requiring komm pr
  .github/services-pr-labeler.yaml
Labels: ready-for-review, size/S

#908 feat: add a helm chart for kommander-lifecycle
  kommander-operator/chart/Chart.yaml
  kommander-operator/chart/templates/crd_kommandercores.yaml
Labels: ready-for-review, ok-to-test, size/M

#921 refactor: change directory/file structures
  charts/kommander-operator/Chart.yaml
  charts/kommander-operator/templates/crd_kommandercores.yaml
Labels: ready-for-review, ok-to-test, size/XS

#904 feat: bump kustomize-controller concurrency to 15
  hack/flux/flux-update-kustomization.yaml
  services/kommander-flux/0.38.2/templates/apps_v1_deployment_kustomize-controller.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander-flux

#918 feat: Bump jaeger to 2.39.0
  services/jaeger/2.39.0/defaults/cm.yaml
  services/jaeger/2.39.0/defaults/kustomization.yaml
  services/jaeger/2.39.0/helmrelease.yaml
  services/jaeger/2.39.0/helmrelease/release.yaml
  services/jaeger/2.39.0/kustomization.yaml
  services/jaeger/2.39.0/pre-upgrade.yaml
  services/jaeger/2.39.0/pre-upgrade/delete-jaeger-deployment.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/jaeger

#897 feat: Bump prometheus-adapter to 4.0.2
  licenses.d2iq.yaml
  services/kommander/0.5.0/defaults/cm.yaml
  services/prometheus-adapter/4.0.2/defaults/cm.yaml
  services/prometheus-adapter/4.0.2/defaults/kustomization.yaml
  services/prometheus-adapter/4.0.2/helmrelease/prometheus-adapter.yaml
  services/prometheus-adapter/4.0.2/kustomization.yaml
  services/prometheus-adapter/4.0.2/pre-upgrade/delete-prometheus-adapter-deployment.yaml
  services/prometheus-adapter/4.0.2/prometheus-adapter-helmrelease.yaml
  services/prometheus-adapter/4.0.2/prometheus-adapter-pre-upgrade.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kommander, services/prometheus-adapter

#925 fix: Use last stable capimate build (2.3)
  hack/release/pkg/constants/constants.go
  hack/release/pkg/updatecapimate/updatecapimate_test.go
  services/kommander/0.3.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test

#910 feat: bump cluster observer to `1.1.0`
  services/kommander/0.5.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander

#932 feat: Post release bumps
  mergebot-config.json
Labels: size/XS

#898 feat: Bump reloader to 1.0.2
  licenses.d2iq.yaml
  services/kommander/0.5.0/defaults/cm.yaml
  services/reloader/1.0.2/defaults/cm.yaml
  services/reloader/1.0.2/defaults/kustomization.yaml
  services/reloader/1.0.2/kustomization.yaml
  services/reloader/1.0.2/reloader.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/kommander, services/reloader

#890 feat: Bump external-dns to 6.13.1
  licenses.d2iq.yaml
  services/external-dns/6.13.1/defaults/cm.yaml
  services/external-dns/6.13.1/defaults/kustomization.yaml
  services/external-dns/6.13.1/external-dns.yaml
  services/external-dns/6.13.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/external-dns

#927 fix: Fix capimate image to be last stable (2.2)
  hack/release/pkg/constants/constants.go
  hack/release/pkg/updatecapimate/updatecapimate_test.go
  services/kommander/0.2.4/defaults/cm.yaml
Labels: ready-for-review, ok-to-test

#902 feat: Bump kiali to 1.62.0
  licenses.d2iq.yaml
  services/kiali/1.62.0/defaults/cm.yaml
  services/kiali/1.62.0/defaults/kustomization.yaml
  services/kiali/1.62.0/kiali.yaml
  services/kiali/1.62.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/kiali

#922 feat: add kommander operator scaffold
  charts/kommander-operator/crds/crd_kommandercores.yaml
  charts/kommander-operator/templates/deployment.yaml
  charts/kommander-operator/templates/post_install_kommandercore_hook.yaml
  charts/kommander-operator/templates/rback_v1_clusterrole_binding_operator_kommander-operator.yaml
  charts/kommander-operator/templates/rback_v1_clusterrole_operator_kommander-operator.yaml
  charts/kommander-operator/templates/serviceaccount.yaml
  charts/kommander-operator/values.yaml
Labels: ready-for-review, ok-to-test, size/L
