Repository mesosphere/kommander-applications, pull requests merged in 2023-03, with the labels that each got.

#1016 fix: Add kubetunnel to list of management apps
  services/kommander/0.5.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander

#1018 fix: Fix indentation in dex defaults cm
  services/dex/2.11.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, services/dex

#1019 feat: Bump up alertmanager resource requests
  services/kube-prometheus-stack/44.2.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kube-prometheus-stack

#1017 fix: remove thanos-traefik HR dependsOn
  services/karma-traefik/0.0.1/karma-traefik.yaml
  services/kubecost-thanos-traefik/0.0.1/kubecost-thanos-traefik.yaml
  services/prometheus-thanos-traefik/0.0.1/prometheus-thanos-traefik.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/karma-traefik, services/kubecost-thanos-traefik, services/prometheus-thanos-traefik, update-licenses

#1002 feat: Add controller-runtime Grafana dashboard
  services/kube-prometheus-stack/44.2.1/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/44.2.1/grafana-dashboards/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XL, services/kube-prometheus-stack

#1020 fix: Fix errors in kiali config
  services/kiali/1.63.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kiali, update-licenses

#1021 feat: Release DKP-Insights v0.4.0-rc.2
  licenses.d2iq.yaml
  services/dkp-insights-management/0.4.0/defaults/cm.yaml
  services/dkp-insights-management/0.4.0/helmrelease.yaml
  services/dkp-insights-management/0.4.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/M, services/dkp-insights-management

#1022 fix: Disable grafana links in kiali dashboard
  services/kiali/1.63.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kiali

#1031 fix: Fix errors in kiali config (2.4)
  services/kiali/1.57.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, backport-to-release-2.2, backport-to-release-2.3, size/S

#1034 fix: Remove koperator from base kustomization
  common/base/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr

#1035 fix: Kommander bump PRs overwriting suffixes
  .github/workflows/kommander-branch.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1037 feat: Release DKP-Insights v0.4.0-rc.4
  licenses.d2iq.yaml
  services/dkp-insights-management/0.4.0/defaults/cm.yaml
  services/dkp-insights-management/0.4.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/S, services/dkp-insights-management

#1038 fix: use registry.k8s.io image
  services/kubecost/0.33.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/kubecost

#1039 fix: update license manifest
  licenses.d2iq.yaml
Labels: ready-for-review, size/XS

#1048 fix: Run informer in deployment for velero post-install
  licenses.d2iq.yaml
  services/velero/3.4.0/post-install/deployment_update-backupstoragelocation.yaml
Labels: ready-for-review, ok-to-test, auto-backport, backport-to-release-2.2, backport-to-release-2.3, size/S, services/velero, backport-to-release-2.4

#1053 fix: Run informer in deployment for velero post-install (2.4)
  licenses.d2iq.yaml
  services/velero/3.3.1/post-install/deployment_update-backupstoragelocation.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/S, update-licenses

#1054 fix: keep gitea during expansion workflow
  services/kommander/0.5.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander

#1066 revert: "fix: keep gitea during expansion workflow"
  services/kommander/0.5.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander

#1067 feat: Release DKP-Insights v0.4.0
  licenses.d2iq.yaml
  services/dkp-insights-management/0.4.0/defaults/cm.yaml
  services/dkp-insights-management/0.4.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/S, services/dkp-insights-management

#1080 chore: Post release bumps
  mergebot-config.json
Labels: size/XS

#1065 feat: Add optional mgmt overrides cm to KPS HR
  services/kube-prometheus-stack/44.2.1/helmrelease/kube-prometheus-stack.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kube-prometheus-stack

#1086 feat: Release DKP-Insights v0.4.1
  licenses.d2iq.yaml
  services/dkp-insights-management/0.4.1/defaults/cm.yaml
  services/dkp-insights-management/0.4.1/defaults/kustomization.yaml
  services/dkp-insights-management/0.4.1/helmrelease.yaml
  services/dkp-insights-management/0.4.1/helmrelease/helmrelease.yaml
  services/dkp-insights-management/0.4.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S

#1085 feat: Release DKP-Insights v0.4.1
  licenses.d2iq.yaml
  services/dkp-insights-management/0.4.1/defaults/cm.yaml
  services/dkp-insights-management/0.4.1/defaults/kustomization.yaml
  services/dkp-insights-management/0.4.1/helmrelease.yaml
  services/dkp-insights-management/0.4.1/helmrelease/helmrelease.yaml
  services/dkp-insights-management/0.4.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/dkp-insights-management

#1087 feat: Add optional mgmt overrides cm to KPS HR (#1065)
  services/kube-prometheus-stack/44.2.1/helmrelease/kube-prometheus-stack.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/XS

#1082 chore: Post release bumps
  common/kommander-operator/helmrelease.yaml
  mergebot-config.json
  services/kommander-appmanagement/0.6.0/defaults/cm.yaml
  services/kommander-appmanagement/0.6.0/defaults/kustomization.yaml
  services/kommander-appmanagement/0.6.0/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.6.0/kustomization.yaml
  services/kommander/0.6.0/defaults/cm.yaml
  services/kommander/0.6.0/defaults/kustomization.yaml
  services/kommander/0.6.0/dynamic-helmreleases/README.txt
  services/kommander/0.6.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.6.0/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.6.0/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.6.0/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.6.0/kommander.yaml
  services/kommander/0.6.0/kustomization.yaml
Labels: ok-to-test, size/S, services/kommander, services/kommander-appmanagement

#1090 fix: ensure license check fails check
  .github/workflows/validate-licenses.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/M, backport-to-release-2.5

#1089 build: update license mappings
  README.md
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, auto-backport, backport-to-release-2.5

#1095 fix: update github rsa host key
  Dockerfile.ci
Labels: ok-to-test, size/XS

#1102 feat: bump knative to 0.5.2
  services/knative/0.5.2/defaults/cm.yaml
  services/knative/0.5.2/defaults/kustomization.yaml
  services/knative/0.5.2/knative-serving.yaml
  services/knative/0.5.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1097 fix: set config reloader image repo explicitly (2.4)
  services/logging-operator/3.17.9/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS
