Repository mesosphere/kommander-applications, pull requests merged in 2023-04, with the labels that each got.

#1107 feat: run ceph toolbox deployment by default
  licenses.d2iq.yaml
  services/rook-ceph-cluster/1.10.11/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/rook-ceph-cluster, backport-to-release-2.4, backport-to-release-2.5

#1120 feat: run ceph toolbox deployment by default
  licenses.d2iq.yaml
  services/rook-ceph-cluster/1.10.11/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1119 feat: Bump reloader to 1.0.18
  licenses.d2iq.yaml
  services/kommander/0.6.0/defaults/cm.yaml
  services/reloader/1.0.18/defaults/cm.yaml
  services/reloader/1.0.18/defaults/kustomization.yaml
  services/reloader/1.0.18/kustomization.yaml
  services/reloader/1.0.18/reloader.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kommander, services/reloader, update-licenses

#1110 feat: Bump fluent-bit to 0.25.0
  services/fluent-bit/0.25.0/defaults/cm.yaml
  services/fluent-bit/0.25.0/defaults/kustomization.yaml
  services/fluent-bit/0.25.0/fluent-bit.yaml
  services/fluent-bit/0.25.0/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.25.0/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.25.0/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.25.0/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.25.0/kustomization.yaml
  services/fluent-bit/0.25.0/resource-quota.yaml
  services/fluent-bit/0.25.0/resource-quota/resourcequota.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/fluent-bit, update-licenses

#1114 feat: Bump project-grafana-loki to 0.69.10
  services/project-grafana-loki/0.69.10/defaults/cm.yaml
  services/project-grafana-loki/0.69.10/defaults/kustomization.yaml
  services/project-grafana-loki/0.69.10/grafana-dashboards-logging/kustomization.yaml
  services/project-grafana-loki/0.69.10/grafana-dashboards-logging/logging-loki-dashboard.json
  services/project-grafana-loki/0.69.10/kustomization.yaml
  services/project-grafana-loki/0.69.10/object-bucket-claims.yaml
  services/project-grafana-loki/0.69.10/project-grafana-loki.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/project-grafana-loki, update-licenses

#1122 feat: add kubetunnel-proxy ingress config
  services/kubetunnel/0.0.15/defaults/cm.yaml
  services/traefik/20.8.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, services/traefik, services/kubetunnel

#1112 feat: Bump grafana-loki to 0.69.10
  licenses.d2iq.yaml
  services/grafana-loki/0.69.10/defaults/cm.yaml
  services/grafana-loki/0.69.10/defaults/kustomization.yaml
  services/grafana-loki/0.69.10/grafana-dashboards-logging/kustomization.yaml
  services/grafana-loki/0.69.10/grafana-dashboards-logging/logging-loki-dashboard.json
  services/grafana-loki/0.69.10/grafana-dashboards/grafana-loki.json
  services/grafana-loki/0.69.10/grafana-dashboards/kustomization.yaml
  services/grafana-loki/0.69.10/grafana-dashboards/loki-chunks.json
  services/grafana-loki/0.69.10/grafana-dashboards/loki-deletion.json
  services/grafana-loki/0.69.10/grafana-dashboards/loki-reads-resources.json
  services/grafana-loki/0.69.10/grafana-dashboards/loki-retention.json
  services/grafana-loki/0.69.10/grafana-dashboards/loki-writes-resources.json
  services/grafana-loki/0.69.10/grafana-loki-helmrelease.yaml
  services/grafana-loki/0.69.10/grafana-loki-helmrelease/grafana-loki.yaml
  services/grafana-loki/0.69.10/grafana-loki-pre-install-jobs/pre-install.yaml
  services/grafana-loki/0.69.10/grafana-loki-pre-install.yaml
  services/grafana-loki/0.69.10/kustomization.yaml
  services/project-grafana-loki/0.69.10/defaults/cm.yaml
  services/project-grafana-loki/0.69.10/defaults/kustomization.yaml
  services/project-grafana-loki/0.69.10/grafana-dashboards-logging/kustomization.yaml
  services/project-grafana-loki/0.69.10/grafana-dashboards-logging/logging-loki-dashboard.json
  services/project-grafana-loki/0.69.10/kustomization.yaml
  services/project-grafana-loki/0.69.10/object-bucket-claims.yaml
  services/project-grafana-loki/0.69.10/project-grafana-loki.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/grafana-loki, services/project-grafana-loki

#1115 feat: Bump rook-ceph to 1.11.2
  licenses.d2iq.yaml
  services/rook-ceph-cluster/1.11.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.11.2/defaults/kustomization.yaml
  services/rook-ceph-cluster/1.11.2/grafana-dashboards/kustomization.yaml
  services/rook-ceph-cluster/1.11.2/grafana-dashboards/rook-ceph-cluster.json
  services/rook-ceph-cluster/1.11.2/grafana-dashboards/rook-ceph-osd.json
  services/rook-ceph-cluster/1.11.2/grafana-dashboards/rook-ceph-pools.json
  services/rook-ceph-cluster/1.11.2/helmrelease/dashboard-cm.yaml
  services/rook-ceph-cluster/1.11.2/helmrelease/helmrelease.yaml
  services/rook-ceph-cluster/1.11.2/helmrelease/kustomization.yaml
  services/rook-ceph-cluster/1.11.2/kustomization.yaml
  services/rook-ceph-cluster/1.11.2/object-bucket-claims.yaml
  services/rook-ceph-cluster/1.11.2/objectbucketclaims/helmrelease.yaml
  services/rook-ceph-cluster/1.11.2/objectbucketclaims/kustomization.yaml
  services/rook-ceph-cluster/1.11.2/pre-install.yaml
  services/rook-ceph-cluster/1.11.2/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.11.2/rook-ceph-cluster.yaml
  services/rook-ceph/1.11.2/defaults/cm.yaml
  services/rook-ceph/1.11.2/defaults/kustomization.yaml
  services/rook-ceph/1.11.2/helmrelease/helmrelease.yaml
  services/rook-ceph/1.11.2/helmrelease/kustomization.yaml
  services/rook-ceph/1.11.2/kustomization.yaml
  services/rook-ceph/1.11.2/rook-ceph.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/rook-ceph-cluster, services/rook-ceph

#1126 feat: Bump jaeger to 2.41.0
  licenses.d2iq.yaml
  services/jaeger/2.41.0/defaults/cm.yaml
  services/jaeger/2.41.0/defaults/kustomization.yaml
  services/jaeger/2.41.0/helmrelease.yaml
  services/jaeger/2.41.0/helmrelease/release.yaml
  services/jaeger/2.41.0/kustomization.yaml
  services/jaeger/2.41.0/pre-upgrade.yaml
  services/jaeger/2.41.0/pre-upgrade/delete-jaeger-deployment.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/jaeger

#1109 feat: Bump external-dns to 6.15.1
  README.md
  licenses.d2iq.yaml
  services/external-dns/6.15.1/defaults/cm.yaml
  services/external-dns/6.15.1/defaults/kustomization.yaml
  services/external-dns/6.15.1/external-dns.yaml
  services/external-dns/6.15.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/external-dns

#1125 feat: Bump istio to 1.17.1
  licenses.d2iq.yaml
  services/istio/1.17.1/defaults/cm.yaml
  services/istio/1.17.1/defaults/kustomization.yaml
  services/istio/1.17.1/helmrelease.yaml
  services/istio/1.17.1/helmrelease/helmrelease.yaml
  services/istio/1.17.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/istio

#1071 feat: Bump kiali to 1.65.0
  licenses.d2iq.yaml
  services/kiali/1.65.0/defaults/cm.yaml
  services/kiali/1.65.0/defaults/kustomization.yaml
  services/kiali/1.65.0/kiali.yaml
  services/kiali/1.65.0/kustomization.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/kiali

#1103 fix: update automatic license bump to run with label
  .github/workflows/validate-licenses.yaml
Labels: ready-for-review, size/M

#1129 fix: increase the failureThreshold of the DKA liveness probe #1407
  services/dex-k8s-authenticator/1.2.14/defaults/cm.yaml
Labels: ok-to-test, size/XS, services/dex-k8s-authenticator

#1106 feat: update dependencies to match docs
  services/grafana-logging/metadata.yaml
  services/grafana-loki/metadata.yaml
  services/kube-oidc-proxy/metadata.yaml
  services/kubernetes-dashboard/metadata.yaml
  services/project-grafana-logging/metadata.yaml
  services/project-grafana-loki/metadata.yaml
  services/project-logging/metadata.yaml
  services/rook-ceph-cluster/metadata.yaml
  services/traefik/metadata.yaml
  services/velero/metadata.yaml
Labels: ready-for-review, ok-to-test, size/S, services/rook-ceph-cluster, services/traefik, services/grafana-logging, services/velero, services/grafana-loki, services/project-grafana-loki, services/project-logging, services/project-grafana-logging, services/kubernetes-dashboard, services/kube-oidc-proxy

#1135 feat: bump knative to 0.6.0
  services/knative/0.6.0/defaults/cm.yaml
  services/knative/0.6.0/defaults/kustomization.yaml
  services/knative/0.6.0/knative-serving.yaml
  services/knative/0.6.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/knative

#1133 fix: licenses for kommander single module (2.5)
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1137 chore: Post release bumps
  mergebot-config.json
Labels: ready-for-review

#1138 chore: Post release bumps
  mergebot-config.json
Labels: ready-for-review

#1139 chore: Post release bumps
  mergebot-config.json
Labels: ready-for-review, size/XS

#1141 chore: Post release bumps
  mergebot-config.json
Labels: ready-for-review, size/XS

#1105 build: add Kubernetes 1.26 to bloodhound checks and bump bloodhound version
  .bloodhound.yml
  make/validate.mk
Labels: ready-for-review, ok-to-test, size/XS

#1153 feat: Bump karma to 2.0.2
  services/karma/2.0.2/defaults/cm.yaml
  services/karma/2.0.2/defaults/kustomization.yaml
  services/karma/2.0.2/karma.yaml
  services/karma/2.0.2/kustomization.yaml
  services/kommander/0.6.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kommander, services/karma

#1164 fix: update metallb repository source
  licenses.d2iq.yaml
  services/metallb/0.12.4/defaults/cm.yaml
  services/metallb/0.12.4/defaults/kustomization.yaml
  services/metallb/0.12.4/kustomization.yaml
  services/metallb/0.12.4/metallb.yaml
Labels: ready-for-review, ok-to-test

#1143 feat: Bump dex to 2.12.1
  licenses.d2iq.yaml
  services/dex/2.12.1/defaults/cm.yaml
  services/dex/2.12.1/defaults/kustomization.yaml
  services/dex/2.12.1/dex.yaml
  services/dex/2.12.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/dex

#1151 feat: Bump istio to 1.17.2
  licenses.d2iq.yaml
  services/istio/1.17.2/defaults/cm.yaml
  services/istio/1.17.2/defaults/kustomization.yaml
  services/istio/1.17.2/helmrelease.yaml
  services/istio/1.17.2/helmrelease/helmrelease.yaml
  services/istio/1.17.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/istio

#1165 fix: Remove unnecessary traefik dependency from apps
  services/centralized-kubecost/0.33.1/release/release.yaml
  services/centralized-kubecost/metadata.yaml
  services/dkp-insights-management/0.4.1/helmrelease/helmrelease.yaml
  services/dkp-insights-management/metadata.yaml
  services/kube-prometheus-stack/44.2.1/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/metadata.yaml
  services/kubecost/0.33.1/kubecost.yaml
  services/kubecost/metadata.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kube-prometheus-stack, services/centralized-kubecost, services/dkp-insights-management, services/kubecost

#1155 feat: Bump kubernetes-dashboard to 6.0.7
  services/kommander/0.6.0/defaults/cm.yaml
  services/kubernetes-dashboard/6.0.7/defaults/cm.yaml
  services/kubernetes-dashboard/6.0.7/defaults/kustomization.yaml
  services/kubernetes-dashboard/6.0.7/kubernetes-dashboard.yaml
  services/kubernetes-dashboard/6.0.7/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander, services/kubernetes-dashboard

#1171 build: validate manifests against 1.27.0
  .bloodhound.yml
Labels: ready-for-review, ok-to-test, size/XS

#1159 feat: Bump reloader to 1.0.22
  licenses.d2iq.yaml
  services/kommander/0.6.0/defaults/cm.yaml
  services/reloader/1.0.22/defaults/cm.yaml
  services/reloader/1.0.22/defaults/kustomization.yaml
  services/reloader/1.0.22/kustomization.yaml
  services/reloader/1.0.22/reloader.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/kommander, services/reloader

#1136 feat: Enable etcd metrics in Prometheus
  licenses.d2iq.yaml
  services/kube-prometheus-stack/44.2.1/defaults/cm.yaml
  services/kube-prometheus-stack/44.2.1/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/44.2.1/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/44.2.1/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/44.2.1/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/44.2.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/L, services/kube-prometheus-stack

#1144 feat: Bump dex-k8s-authenticator to 1.2.15
  services/dex-k8s-authenticator/1.2.15/defaults/cm.yaml
  services/dex-k8s-authenticator/1.2.15/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.2.15/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.2.15/kustomization.yaml
Labels: ok-to-test, size/XS, services/dex-k8s-authenticator

#1147 feat: Bump gatekeeper to 3.12.0
  licenses.d2iq.yaml
  services/gatekeeper/3.12.0/constraints.yaml
  services/gatekeeper/3.12.0/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.12.0/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.12.0/constrainttemplates.yaml
  services/gatekeeper/3.12.0/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.12.0/defaults/cm.yaml
  services/gatekeeper/3.12.0/defaults/kustomization.yaml
  services/gatekeeper/3.12.0/kustomization.yaml
  services/gatekeeper/3.12.0/release.yaml
  services/gatekeeper/3.12.0/release/kustomization.yaml
  services/gatekeeper/3.12.0/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
  services/kommander/0.6.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, services/gatekeeper, services/kommander

#1152 feat: Bump jaeger to 2.42.0
  licenses.d2iq.yaml
  services/jaeger/2.42.0/defaults/cm.yaml
  services/jaeger/2.42.0/defaults/kustomization.yaml
  services/jaeger/2.42.0/helmrelease.yaml
  services/jaeger/2.42.0/helmrelease/release.yaml
  services/jaeger/2.42.0/kustomization.yaml
  services/jaeger/2.42.0/pre-upgrade.yaml
  services/jaeger/2.42.0/pre-upgrade/delete-jaeger-deployment.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/jaeger

#1177 ci: Add gatekeeper to auto apply open-kommander-pr
  .github/services-pr-labeler.yaml
Labels: ready-for-review, size/XS

#1176 fix: new default resources for grafana
  services/kube-prometheus-stack/44.2.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kube-prometheus-stack

#1172 feat: switch to bitnami/thanos
  licenses.d2iq.yaml
  services/centralized-grafana/44.2.1/defaults/cm.yaml
  services/kommander/0.6.0/defaults/cm.yaml
  services/thanos/0.4.8/defaults/cm.yaml
  services/thanos/12.4.3/defaults/cm.yaml
  services/thanos/12.4.3/defaults/kustomization.yaml
  services/thanos/12.4.3/jobs.yaml
  services/thanos/12.4.3/jobs/jobs.yaml
  services/thanos/12.4.3/kustomization.yaml
  services/thanos/12.4.3/thanos.yaml
Labels: ready-for-review, ok-to-test, size/L, open-kommander-pr, services/kommander, services/centralized-grafana, services/thanos

#1180 ci: Auto apply open-kommander-pr to thanos bumps
  .github/services-pr-labeler.yaml
Labels: ready-for-review, size/XS

#1146 feat: Bump fluent-bit to 0.27.0
  services/fluent-bit/0.27.0/defaults/cm.yaml
  services/fluent-bit/0.27.0/defaults/kustomization.yaml
  services/fluent-bit/0.27.0/fluent-bit.yaml
  services/fluent-bit/0.27.0/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.27.0/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.27.0/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.27.0/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.27.0/kustomization.yaml
  services/fluent-bit/0.27.0/resource-quota.yaml
  services/fluent-bit/0.27.0/resource-quota/resourcequota.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/fluent-bit

#1179 chore: use envsubst strip func
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1182 ci: upgrade from 2.5.0-dev to 2.6.0-dev
  make/test.mk
Labels: ready-for-review, ok-to-test, size/XS

#1142 feat: Upgrade knative to latest knative-serving
  .gitignore
  licenses.d2iq.yaml
  services/knative/1.10.0/defaults/cm.yaml
  services/knative/1.10.0/defaults/kustomization.yaml
  services/knative/1.10.0/knative-serving.yaml
  services/knative/1.10.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/knative

#1154 feat: Bump kiali to 1.66.0
  .gitignore
  licenses.d2iq.yaml
  services/kiali/1.66.0/defaults/cm.yaml
  services/kiali/1.66.0/defaults/kustomization.yaml
  services/kiali/1.66.0/kiali.yaml
  services/kiali/1.66.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kiali

#1184 chore: remove Kaptain internal HelmRepository (2.3)
  common/helm-repositories/kaptain.yaml
Labels: ready-for-review, ok-to-test, backport-pr

#1145 feat: Bump external-dns to 6.18.0
  services/external-dns/6.18.0/defaults/cm.yaml
  services/external-dns/6.18.0/defaults/kustomization.yaml
  services/external-dns/6.18.0/external-dns.yaml
  services/external-dns/6.18.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/external-dns

#1185 feat: readinessProbe for fluentd
  services/logging-operator/3.17.8/defaults/cm.yaml
Labels: ready-for-review, ok-to-test

#1187 feat: readinessProbe for fluentd (main)
  services/logging-operator/3.17.10/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, services/logging-operator, backport-to-release-2.5

#1157 feat: Bump project-grafana-logging to 6.53.0
  licenses.d2iq.yaml
  services/grafana-logging/6.53.0/defaults/cm.yaml
  services/grafana-logging/6.53.0/defaults/kustomization.yaml
  services/grafana-logging/6.53.0/grafana.yaml
  services/grafana-logging/6.53.0/kustomization.yaml
  services/project-grafana-logging/6.53.0/defaults/cm.yaml
  services/project-grafana-logging/6.53.0/defaults/kustomization.yaml
  services/project-grafana-logging/6.53.0/kustomization.yaml
  services/project-grafana-logging/6.53.0/project-grafana.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/grafana-logging, services/project-grafana-logging

#1190 fix: Add back empty kaptain.yaml file
  common/helm-repositories/kaptain.yaml
Labels: ready-for-review, ok-to-test
