Repository mesosphere/kommander-applications, pull requests merged in 2024-03, with the labels that each got.

#1981 chore(kommander-cert-federation): bump chart to v0.0.11
  common/build/kommander-cert-federation.yaml
  licenses.d2iq.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr

#1998 chore: bump ui to latest for 262 release
  services/kommander-ui/9.65.0/defaults/cm.yaml
  services/kommander-ui/9.65.0/defaults/kustomization.yaml
  services/kommander-ui/9.65.0/kommander-ui.yaml
  services/kommander-ui/9.65.0/kustomization.yaml
Labels: ready-for-review, size/XS, backport-to-release-2.6

#1997 chore: bump dex container image to v2.37.0-d2iq.4
  licenses.d2iq.yaml
  services/dex/2.13.9-dkp.2/defaults/cm.yaml
  services/dex/2.13.9-dkp.2/defaults/kustomization.yaml
  services/dex/2.13.9-dkp.2/dex.yaml
  services/dex/2.13.9-dkp.2/kustomization.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/dex, update-licenses

#1970 chore(kube-oidc-proxy): bump oidc proxy to v1.0.6
  licenses.d2iq.yaml
  services/kube-oidc-proxy/0.3.4/defaults/cm.yaml
  services/kube-oidc-proxy/0.3.4/defaults/kustomization.yaml
  services/kube-oidc-proxy/0.3.4/kube-oidc-proxy.yaml
  services/kube-oidc-proxy/0.3.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/kube-oidc-proxy, update-licenses

#2001 chore(rook-ceph): use custom patched images with fixed CVEs
  licenses.d2iq.yaml
  services/rook-ceph-cluster/1.13.2/defaults/cm.yaml
  services/rook-ceph/1.13.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/rook-ceph-cluster, services/rook-ceph, update-licenses

#2004 chore: updating ui to last tag
  services/kommander-ui/11.4.0/defaults/cm.yaml
  services/kommander-ui/11.4.0/defaults/kustomization.yaml
  services/kommander-ui/11.4.0/kommander-ui.yaml
  services/kommander-ui/11.4.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2002 feat: Bump metrics scraper to v1.1.0
  licenses.d2iq.yaml
  services/kubernetes-dashboard/6.0.9/defaults/cm.yaml
  services/kubernetes-dashboard/6.0.9/defaults/kustomization.yaml
  services/kubernetes-dashboard/6.0.9/helmrelease.yaml
  services/kubernetes-dashboard/6.0.9/helmrelease/kubernetes-dashboard.yaml
  services/kubernetes-dashboard/6.0.9/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, services/kubernetes-dashboard, update-licenses

#2009 chore: updating ui to most recent tag
  services/kommander-ui/11.4.1/defaults/cm.yaml
  services/kommander-ui/11.4.1/defaults/kustomization.yaml
  services/kommander-ui/11.4.1/kommander-ui.yaml
  services/kommander-ui/11.4.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, update-licenses, services/kommander-ui

#2008 fix(ceph): Downgrade to 1.12.11
  licenses.d2iq.yaml
  services/dkp-insights/1.0.1/defaults/cm.yaml
  services/rook-ceph-cluster/1.12.11/defaults/cm.yaml
  services/rook-ceph-cluster/1.12.11/defaults/kustomization.yaml
  services/rook-ceph-cluster/1.12.11/grafana-dashboards/kustomization.yaml
  services/rook-ceph-cluster/1.12.11/grafana-dashboards/rook-ceph-cluster.json
  services/rook-ceph-cluster/1.12.11/grafana-dashboards/rook-ceph-osd.json
  services/rook-ceph-cluster/1.12.11/grafana-dashboards/rook-ceph-pools.json
  services/rook-ceph-cluster/1.12.11/helmrelease/dashboard-cm.yaml
  services/rook-ceph-cluster/1.12.11/helmrelease/helmrelease.yaml
  services/rook-ceph-cluster/1.12.11/helmrelease/kustomization.yaml
  services/rook-ceph-cluster/1.12.11/kustomization.yaml
  services/rook-ceph-cluster/1.12.11/object-bucket-claims.yaml
  services/rook-ceph-cluster/1.12.11/objectbucketclaims/helmrelease.yaml
  services/rook-ceph-cluster/1.12.11/objectbucketclaims/kustomization.yaml
  services/rook-ceph-cluster/1.12.11/pre-install.yaml
  services/rook-ceph-cluster/1.12.11/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.12.11/rook-ceph-cluster.yaml
  services/rook-ceph/1.12.11/defaults/cm.yaml
  services/rook-ceph/1.12.11/defaults/kustomization.yaml
  services/rook-ceph/1.12.11/helmrelease/helmrelease.yaml
  services/rook-ceph/1.12.11/helmrelease/kustomization.yaml
  services/rook-ceph/1.12.11/kustomization.yaml
  services/rook-ceph/1.12.11/rook-ceph.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, let-me-merge-it, size/M, open-kommander-pr, services/rook-ceph-cluster, services/rook-ceph, update-licenses, services/dkp-insights

#2011 fix(kube-oidc-proxy): use custom copied certs bundle
  services/kube-oidc-proxy/0.3.4/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/kube-oidc-proxy, update-licenses

#2013 fix: only one k8s version for ui
  services/kommander-ui/9.65.1/defaults/cm.yaml
  services/kommander-ui/9.65.1/defaults/kustomization.yaml
  services/kommander-ui/9.65.1/kommander-ui.yaml
  services/kommander-ui/9.65.1/kustomization.yaml
Labels: ready-for-review, backport-pr, size/XS

#2012 feat(nvidia): Bump to 23.9.2
  .github/workflows/validate-licenses.yaml
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/23.9.2/defaults/cm.yaml
  services/nvidia-gpu-operator/23.9.2/defaults/kustomization.yaml
  services/nvidia-gpu-operator/23.9.2/grafana-dashboards/gpu-operator.json
  services/nvidia-gpu-operator/23.9.2/grafana-dashboards/kustomization.yaml
  services/nvidia-gpu-operator/23.9.2/helmrelease.yaml
  services/nvidia-gpu-operator/23.9.2/helmrelease/extra-images.txt
  services/nvidia-gpu-operator/23.9.2/helmrelease/kustomization.yaml
  services/nvidia-gpu-operator/23.9.2/helmrelease/nvidia.yaml
  services/nvidia-gpu-operator/23.9.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/S, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#2006 ci(gha): Update backport action repo
  .github/workflows/backport.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, backport-to-release-2.5, backport-to-release-2.6

#2016 fix(ceph): Downgrade to 1.12.6
  licenses.d2iq.yaml
  services/dkp-insights/1.0.1/defaults/cm.yaml
  services/rook-ceph-cluster/1.12.6/defaults/cm.yaml
  services/rook-ceph-cluster/1.12.6/defaults/kustomization.yaml
  services/rook-ceph-cluster/1.12.6/grafana-dashboards/kustomization.yaml
  services/rook-ceph-cluster/1.12.6/grafana-dashboards/rook-ceph-cluster.json
  services/rook-ceph-cluster/1.12.6/grafana-dashboards/rook-ceph-osd.json
  services/rook-ceph-cluster/1.12.6/grafana-dashboards/rook-ceph-pools.json
  services/rook-ceph-cluster/1.12.6/helmrelease/dashboard-cm.yaml
  services/rook-ceph-cluster/1.12.6/helmrelease/helmrelease.yaml
  services/rook-ceph-cluster/1.12.6/helmrelease/kustomization.yaml
  services/rook-ceph-cluster/1.12.6/kustomization.yaml
  services/rook-ceph-cluster/1.12.6/object-bucket-claims.yaml
  services/rook-ceph-cluster/1.12.6/objectbucketclaims/helmrelease.yaml
  services/rook-ceph-cluster/1.12.6/objectbucketclaims/kustomization.yaml
  services/rook-ceph-cluster/1.12.6/pre-install.yaml
  services/rook-ceph-cluster/1.12.6/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.12.6/rook-ceph-cluster.yaml
  services/rook-ceph/1.12.6/defaults/cm.yaml
  services/rook-ceph/1.12.6/defaults/kustomization.yaml
  services/rook-ceph/1.12.6/helmrelease/helmrelease.yaml
  services/rook-ceph/1.12.6/helmrelease/kustomization.yaml
  services/rook-ceph/1.12.6/kustomization.yaml
  services/rook-ceph/1.12.6/rook-ceph.yaml
Labels: ok-to-test, let-me-merge-it, size/M, open-kommander-pr, services/rook-ceph-cluster, services/rook-ceph, update-licenses, services/dkp-insights

#2014 ci(gha): Update backport action repo
  .github/workflows/backport.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, backport-to-release-2.5

#2021 chore: bump ui to show no default ami fix
  services/kommander-ui/11.4.2/defaults/cm.yaml
  services/kommander-ui/11.4.2/defaults/kustomization.yaml
  services/kommander-ui/11.4.2/kommander-ui.yaml
  services/kommander-ui/11.4.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2020 feat: updates nvidia values to use all latest and pins toolkit
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/23.9.2/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#2015 feat(gatekeeeper): Bump to 3.14.1
  licenses.d2iq.yaml
  services/gatekeeper/3.14.1/constraints.yaml
  services/gatekeeper/3.14.1/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.14.1/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.14.1/constrainttemplates.yaml
  services/gatekeeper/3.14.1/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.14.1/defaults/cm.yaml
  services/gatekeeper/3.14.1/defaults/kustomization.yaml
  services/gatekeeper/3.14.1/kustomization.yaml
  services/gatekeeper/3.14.1/release.yaml
  services/gatekeeper/3.14.1/release/kustomization.yaml
  services/gatekeeper/3.14.1/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
Labels: ready-for-review, ok-to-test, services/gatekeeper, update-licenses

#2022 chore: updating ui to include ami fixes
  services/kommander-ui/9.65.2/defaults/cm.yaml
  services/kommander-ui/9.65.2/defaults/kustomization.yaml
  services/kommander-ui/9.65.2/kommander-ui.yaml
  services/kommander-ui/9.65.2/kustomization.yaml
Labels: ready-for-review, backport-pr, size/XS

#2023 chore: bump cluster-observer to 1.2.1
  licenses.d2iq.yaml
  services/kommander/0.8.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
Labels: ok-to-test, open-kommander-pr, services/kommander, update-licenses

#2025 feat: Release DKP-Insights v1.1.0
  licenses.d2iq.yaml
  services/dkp-insights-management/1.1.0/defaults/cm.yaml
  services/dkp-insights-management/1.1.0/defaults/kustomization.yaml
  services/dkp-insights-management/1.1.0/helmrelease.yaml
  services/dkp-insights-management/1.1.0/helmrelease/helmrelease.yaml
  services/dkp-insights-management/1.1.0/helmrelease/kustomization.yaml
  services/dkp-insights-management/1.1.0/kustomization.yaml
  services/dkp-insights/1.1.0/defaults/cm.yaml
  services/dkp-insights/1.1.0/defaults/kustomization.yaml
  services/dkp-insights/1.1.0/helmrelease.yaml
  services/dkp-insights/1.1.0/helmrelease/extra-images.txt
  services/dkp-insights/1.1.0/helmrelease/helmrelease.yaml
  services/dkp-insights/1.1.0/helmrelease/kustomization.yaml
  services/dkp-insights/1.1.0/helmrelease/list-images-values.yaml
  services/dkp-insights/1.1.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, services/dkp-insights-management, update-licenses, services/dkp-insights

#2018 ci(gha): Update backport action repo (#2014)
  .github/workflows/backport.yaml
Labels: ready-for-review, backport-pr, size/XS

#2026 feat: Release DKP-Insights v1.1.1
  licenses.d2iq.yaml
  services/dkp-insights-management/1.1.1/defaults/cm.yaml
  services/dkp-insights-management/1.1.1/defaults/kustomization.yaml
  services/dkp-insights-management/1.1.1/helmrelease.yaml
  services/dkp-insights-management/1.1.1/helmrelease/helmrelease.yaml
  services/dkp-insights-management/1.1.1/helmrelease/kustomization.yaml
  services/dkp-insights-management/1.1.1/kustomization.yaml
  services/dkp-insights/1.1.1/defaults/cm.yaml
  services/dkp-insights/1.1.1/defaults/kustomization.yaml
  services/dkp-insights/1.1.1/helmrelease.yaml
  services/dkp-insights/1.1.1/helmrelease/extra-images.txt
  services/dkp-insights/1.1.1/helmrelease/helmrelease.yaml
  services/dkp-insights/1.1.1/helmrelease/kustomization.yaml
  services/dkp-insights/1.1.1/helmrelease/list-images-values.yaml
  services/dkp-insights/1.1.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, services/dkp-insights-management, update-licenses, services/dkp-insights

#2033 chore(rook-ceph): use custom patched images with fixed CVEs
  licenses.d2iq.yaml
  services/rook-ceph-cluster/1.12.7/defaults/cm.yaml
  services/rook-ceph/1.12.7/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/rook-ceph-cluster, services/rook-ceph, update-licenses

#2034 feat: bump ui to latest
  services/kommander-ui/11.4.3/defaults/cm.yaml
  services/kommander-ui/11.4.3/defaults/kustomization.yaml
  services/kommander-ui/11.4.3/kommander-ui.yaml
  services/kommander-ui/11.4.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2039 fix: update workflow-dispatch action
  .github/workflows/create-dev-tag.yml
Labels: ready-for-review, size/XS

#2040 feat: bump ui to latest
  services/kommander-ui/10.32.0/defaults/cm.yaml
  services/kommander-ui/10.32.0/defaults/kustomization.yaml
  services/kommander-ui/10.32.0/kommander-ui.yaml
  services/kommander-ui/10.32.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1669 feat: ensure base repositories are applied to cluster
  apptests/environment/environment.go
  apptests/environment/environment_test.go
  apptests/go.mod
  apptests/go.sum
Labels: ready-for-review, size/L
