Repository mesosphere/kommander-applications, pull requests merged in 2024-07, with the labels that each got.

#2342 fix: remove unexisting mapping
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2364 ci: Fix flux update script
  hack/flux/update-flux.sh
Labels: ready-for-review, size/XS

#2365 ci: Allow to manually run flux update job
  .github/workflows/flux-update-scheduled-check.yml
Labels: size/XS

#2367 ci: Clone kommander repo for flux update script
  .github/workflows/flux-update-scheduled-check.yml
Labels: size/XS

#2368 ci: Clone as mesosphere user so it can access kommander repo
  .github/workflows/flux-update-scheduled-check.yml
Labels: size/XS

#2348 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.32.0/defaults/cm.yaml
  services/kommander-ui/11.32.0/defaults/kustomization.yaml
  services/kommander-ui/11.32.0/kommander-ui.yaml
  services/kommander-ui/11.32.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2370 feat: Conditional cluster teardown in app tests
  .github/workflows/application-test-scenario-install.yaml
  .github/workflows/application-test-scenario-upgrade.yaml
  apptests/appscenarios/certmanager_test.go
  apptests/appscenarios/externaldns_test.go
  apptests/appscenarios/gatekeeper_test.go
  apptests/appscenarios/karma_test.go
  apptests/appscenarios/kommanderflux_test.go
  apptests/appscenarios/kubecost_test.go
  apptests/appscenarios/reloader_test.go
  apptests/appscenarios/rookceph_test.go
  apptests/appscenarios/traefik_test.go
  apptests/appscenarios/velero_test.go
Labels: ok-to-test, services/rook-ceph, services/gatekeeper, services/kommander-flux, services/external-dns, services/traefik, services/reloader, services/cert-manager, services/karma, services/kubecost, services/velero

#2373 ci: devbox update
  devbox.lock
  hack/flux/update-flux.sh
Labels: size/XL

#2372 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.33.0/defaults/cm.yaml
  services/kommander-ui/11.33.0/defaults/kustomization.yaml
  services/kommander-ui/11.33.0/kommander-ui.yaml
  services/kommander-ui/11.33.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2331 feat: bump cert-manager 1.14.7
  licenses.d2iq.yaml
  services/cert-manager/1.14.7/cert-manager-namespace.yaml
  services/cert-manager/1.14.7/cert-manager-namespace/namespace.yaml
  services/cert-manager/1.14.7/defaults/cm.yaml
  services/cert-manager/1.14.7/defaults/kustomization.yaml
  services/cert-manager/1.14.7/kustomization.yaml
  services/cert-manager/1.14.7/priorityclass-resource-quota.yaml
  services/cert-manager/1.14.7/priorityclass-resource-quota/resourcequota.yaml
  services/cert-manager/1.14.7/release.yaml
  services/cert-manager/1.14.7/release/kustomization.yaml
  services/cert-manager/1.14.7/release/release.yaml
  services/cert-manager/1.14.7/root-ca.yaml
  services/cert-manager/1.14.7/root-ca/root-ca.yaml
  services/cert-manager/bootstrap/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, let-me-merge-it, size/S, open-kommander-pr, services/cert-manager, update-licenses

#2376 feat(git-operator): Bump to v0.8.1
  services/git-operator/0.1.0/git-operator.yaml
Labels: ok-to-test, update-licenses, services/git-operator

#2375 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.2.0/defaults/cm.yaml
  services/kommander-ui/12.2.0/defaults/kustomization.yaml
  services/kommander-ui/12.2.0/kommander-ui.yaml
  services/kommander-ui/12.2.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2377 feat: giving kommander-operator cluster-admin
  charts/kommander-operator/templates/rback_v1_clusterrole_operator_kommander-operator.yaml
Labels: ready-for-review, ok-to-test, size/S

#2384 chore: cleanup koperator clusterrole permissions
  charts/kommander-operator/templates/rback_v1_clusterrole_operator_kommander-operator.yaml
Labels: ready-for-review, ok-to-test, size/L, open-kommander-pr

#2250 fix: [backport-2.7] override with a higher memory limit (#2247)
  services/velero/4.1.2/defaults/cm.yaml
  services/velero/4.1.2/defaults/kustomization.yaml
  services/velero/4.1.2/grafana-dashboards/kustomization.yaml
  services/velero/4.1.2/grafana-dashboards/velero.json
  services/velero/4.1.2/helmrelease/helmrelease.yaml
  services/velero/4.1.2/kustomization.yaml
  services/velero/4.1.2/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/4.1.2/pre-install/pre-install-job.yaml
  services/velero/4.1.2/velero-post-install.yaml
  services/velero/4.1.2/velero-pre-install.yaml
  services/velero/4.1.2/velero.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/XS

#2249 fix: [backport-2.8] override with a higher memory limit (#2247)
  services/velero/5.2.3/defaults/cm.yaml
  services/velero/5.2.3/defaults/kustomization.yaml
  services/velero/5.2.3/grafana-dashboards/kustomization.yaml
  services/velero/5.2.3/grafana-dashboards/velero.json
  services/velero/5.2.3/helmrelease/helmrelease.yaml
  services/velero/5.2.3/kustomization.yaml
  services/velero/5.2.3/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/5.2.3/post-install/kustomization.yaml
  services/velero/5.2.3/pre-install/kustomization.yaml
  services/velero/5.2.3/pre-install/pre-install-job.yaml
  services/velero/5.2.3/v4-hooks-adoption/v4-hooks-adoption.yaml
  services/velero/5.2.3/velero-post-install.yaml
  services/velero/5.2.3/velero-pre-install.yaml
  services/velero/5.2.3/velero-v4-hooks-adoption.yaml
  services/velero/5.2.3/velero.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/XS

#2302 feat: Bump external-dns to 7.5.5
  licenses.d2iq.yaml
  services/external-dns/7.5.5/defaults/cm.yaml
  services/external-dns/7.5.5/defaults/kustomization.yaml
  services/external-dns/7.5.5/external-dns.yaml
  services/external-dns/7.5.5/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/external-dns, update-licenses

#2381 fix: Update Application Licensing Tier Annotations and Apps
  services/centralized-grafana/metadata.yaml
  services/centralized-kubecost/metadata.yaml
  services/gatekeeper/metadata.yaml
  services/karma-traefik/metadata.yaml
  services/karma/metadata.yaml
  services/kommander/0.12.0/defaults/cm.yaml
  services/kube-oidc-proxy/metadata.yaml
  services/kubecost-thanos-traefik/metadata.yaml
  services/kubecost/metadata.yaml
  services/kubetunnel/metadata.yaml
  services/prometheus-thanos-traefik/metadata.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, services/gatekeeper, services/kommander, services/centralized-grafana, services/centralized-kubecost, services/karma, services/karma-traefik, services/kubecost, services/kubecost-thanos-traefik, services/prometheus-thanos-traefik, services/kubetunnel, services/kube-oidc-proxy, update-licenses, services/ai-navigator-app, services/ai-navigator-cluster-info-agent

#2387 fix: revert incomplete Velero bump to 5.2.3
  services/velero/5.2.2/defaults/cm.yaml
  services/velero/5.2.2/defaults/kustomization.yaml
  services/velero/5.2.2/grafana-dashboards/kustomization.yaml
  services/velero/5.2.2/grafana-dashboards/velero.json
  services/velero/5.2.2/helmrelease/helmrelease.yaml
  services/velero/5.2.2/kustomization.yaml
  services/velero/5.2.2/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/5.2.2/post-install/kustomization.yaml
  services/velero/5.2.2/pre-install/kustomization.yaml
  services/velero/5.2.2/pre-install/pre-install-job.yaml
  services/velero/5.2.2/v4-hooks-adoption/v4-hooks-adoption.yaml
  services/velero/5.2.2/velero-post-install.yaml
  services/velero/5.2.2/velero-pre-install.yaml
  services/velero/5.2.2/velero-v4-hooks-adoption.yaml
  services/velero/5.2.2/velero.yaml
Labels: size/XS

#2383 feat: kommander-ca for git-operator
  services/git-operator/0.1.0/git-operator.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, update-licenses, services/git-operator

#2343 feat(kommander): Remove SSO from default mgmt apps
  services/dex-k8s-authenticator/1.3.2/dex-k8s-authenticator.yaml
  services/dex/2.13.12/dex.yaml
  services/kommander-appmanagement/0.12.0/kommander-appmanagement.yaml
  services/kommander-ui/12.2.0/kommander-ui.yaml
  services/kommander/0.12.0/defaults/cm.yaml
  services/kubefed/0.10.5/release/release.yaml
  services/reloader/1.0.107/reloader.yaml
  services/traefik-forward-auth-mgmt/0.3.11/traefik-forward-auth-mgmt.yaml
  services/traefik/27.0.2/traefik.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/M, open-kommander-pr, services/kommander, services/traefik, services/reloader, services/dex-k8s-authenticator, services/traefik-forward-auth-mgmt, services/kubefed, services/kommander-appmanagement, services/dex, update-licenses, services/kommander-ui

#2386 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.2.1/defaults/cm.yaml
  services/kommander-ui/12.2.1/defaults/kustomization.yaml
  services/kommander-ui/12.2.1/kommander-ui.yaml
  services/kommander-ui/12.2.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2326 feat: Bump Kubernetes dashboard to v7.5.0
  licenses.d2iq.yaml
  services/kubernetes-dashboard/6.0.9/defaults/cm.yaml
  services/kubernetes-dashboard/7.5.0/defaults/cm.yaml
  services/kubernetes-dashboard/7.5.0/defaults/kustomization.yaml
  services/kubernetes-dashboard/7.5.0/helmrelease.yaml
  services/kubernetes-dashboard/7.5.0/helmrelease/kubernetes-dashboard.yaml
  services/kubernetes-dashboard/7.5.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/L, open-kommander-pr, services/kubernetes-dashboard, update-licenses

#2391 fix: [backport-2.7] velero with bumped limits
  services/velero/4.1.2/defaults/cm.yaml
  services/velero/4.1.2/helmrelease/helmrelease.yaml
  services/velero/4.1.2/velero-post-install.yaml
  services/velero/4.1.2/velero-pre-install.yaml
  services/velero/4.1.2/velero.yaml
Labels: ready-for-review, ok-to-test, size/S

#2390 fix: [backport-2.8] velero with bumped limits
  services/velero/5.2.3/defaults/cm.yaml
  services/velero/5.2.3/defaults/kustomization.yaml
  services/velero/5.2.3/grafana-dashboards/kustomization.yaml
  services/velero/5.2.3/grafana-dashboards/velero.json
  services/velero/5.2.3/helmrelease/helmrelease.yaml
  services/velero/5.2.3/kustomization.yaml
  services/velero/5.2.3/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/5.2.3/post-install/kustomization.yaml
  services/velero/5.2.3/pre-install/kustomization.yaml
  services/velero/5.2.3/pre-install/pre-install-job.yaml
  services/velero/5.2.3/v4-hooks-adoption/v4-hooks-adoption.yaml
  services/velero/5.2.3/velero-post-install.yaml
  services/velero/5.2.3/velero-pre-install.yaml
  services/velero/5.2.3/velero-v4-hooks-adoption.yaml
  services/velero/5.2.3/velero.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/S, open-kommander-pr

#2393 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.3.0/defaults/cm.yaml
  services/kommander-ui/12.3.0/defaults/kustomization.yaml
  services/kommander-ui/12.3.0/kommander-ui.yaml
  services/kommander-ui/12.3.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2396 fix: open kommander branch body quoting
  .github/workflows/kommander-branch.yaml
Labels: size/XS

#2392 feat(git-operator): Remove kustomization and keep manifests directly
  .github/workflows/test.yaml
  justfile
  services/git-operator/0.1.0/git-operator-manifests/all.yaml
  services/git-operator/0.1.0/git-operator-manifests/kustomization.yaml
  services/git-operator/0.1.0/git-operator.yaml
  services/git-operator/0.1.0/ingress.yaml
  services/git-operator/0.1.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XL, open-kommander-pr, update-licenses, services/git-operator

#2394 fix: memcached patched image with fixed CVE
  licenses.d2iq.yaml
  services/gitea/8.2.1/defaults/cm.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/gitea, update-licenses

#2400 chore: bump git-operator to v0.8.3
  services/git-operator/0.1.0/git-operator-manifests/all.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, update-licenses, services/git-operator

#2389 fix: curlimages CVE fix
  licenses.d2iq.yaml
  services/gatekeeper/3.16.4/constraints.yaml
  services/gatekeeper/3.16.4/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.16.4/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.16.4/constrainttemplates.yaml
  services/gatekeeper/3.16.4/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.16.4/defaults/cm.yaml
  services/gatekeeper/3.16.4/defaults/kustomization.yaml
  services/gatekeeper/3.16.4/kustomization.yaml
  services/gatekeeper/3.16.4/release.yaml
  services/gatekeeper/3.16.4/release/kustomization.yaml
  services/gatekeeper/3.16.4/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/gatekeeper, update-licenses

#2408 fix: git-operator ingress port
  services/git-operator/0.1.0/ingress.yaml
Labels: ok-to-test, open-kommander-pr, update-licenses, services/git-operator

#2413 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.7.0/defaults/cm.yaml
  services/kommander-ui/12.7.0/defaults/kustomization.yaml
  services/kommander-ui/12.7.0/kommander-ui.yaml
  services/kommander-ui/12.7.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2409 fix: make git-operator images appear in the airgapped bundle
  hack/list-images.sh
  justfile
  licenses.d2iq.yaml
  services/git-operator/0.1.0/additional-images.txt
  services/git-operator/0.1.0/git-operator-manifests/all.yaml
Labels: ok-to-test, size/M, update-licenses, services/git-operator

#2411 fix(kubernetes-dashboard): Make deployable on gke
  services/kubernetes-dashboard/7.5.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/M, services/kubernetes-dashboard, update-licenses

#2414 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.8.1/defaults/cm.yaml
  services/kommander-ui/12.8.1/defaults/kustomization.yaml
  services/kommander-ui/12.8.1/kommander-ui.yaml
  services/kommander-ui/12.8.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2421 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.8.2/defaults/cm.yaml
  services/kommander-ui/12.8.2/defaults/kustomization.yaml
  services/kommander-ui/12.8.2/kommander-ui.yaml
  services/kommander-ui/12.8.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2423 chore: remove Gitea
  .github/service-labeler.yaml
  common/helm-repositories/gitea.yaml
  common/helm-repositories/kustomization.yaml
  licenses.d2iq.yaml
  services/gitea/8.2.1/defaults/cm.yaml
  services/gitea/8.2.1/defaults/kustomization.yaml
  services/gitea/8.2.1/gitea.yaml
  services/gitea/8.2.1/kustomization.yaml
  services/gitea/metadata.yaml
  services/kommander/0.12.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/L, services/gitea, services/kommander, update-licenses

#2416 feat: Bump grafana to 8.3.4
  licenses.d2iq.yaml
  services/grafana-logging/8.3.4/defaults/cm.yaml
  services/grafana-logging/8.3.4/defaults/kustomization.yaml
  services/grafana-logging/8.3.4/grafana.yaml
  services/grafana-logging/8.3.4/kustomization.yaml
  services/kube-prometheus-stack/60.4.0/helmrelease/kube-prometheus-stack.yaml
  services/project-grafana-logging/8.3.4/defaults/cm.yaml
  services/project-grafana-logging/8.3.4/defaults/kustomization.yaml
  services/project-grafana-logging/8.3.4/kustomization.yaml
  services/project-grafana-logging/8.3.4/project-grafana.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/grafana-logging, services/kube-prometheus-stack, services/project-grafana-logging, update-licenses

#2425 chore: bump git-operator to v0.9.0
  licenses.d2iq.yaml
  services/git-operator/0.1.0/additional-images.txt
  services/git-operator/0.1.0/git-operator-manifests/all.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, update-licenses, services/git-operator

#2424 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.9.2/defaults/cm.yaml
  services/kommander-ui/12.9.2/defaults/kustomization.yaml
  services/kommander-ui/12.9.2/kommander-ui.yaml
  services/kommander-ui/12.9.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2426 feat: Add chartmuseum ingress
  services/chartmuseum/3.10.2/ingress.yaml
  services/chartmuseum/3.10.2/kustomization.yaml
Labels: ok-to-test, size/S, update-licenses, services/chartmuseum

#2428 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.9.3/defaults/cm.yaml
  services/kommander-ui/12.9.3/defaults/kustomization.yaml
  services/kommander-ui/12.9.3/kommander-ui.yaml
  services/kommander-ui/12.9.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2429 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.9.4/defaults/cm.yaml
  services/kommander-ui/12.9.4/defaults/kustomization.yaml
  services/kommander-ui/12.9.4/kommander-ui.yaml
  services/kommander-ui/12.9.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2427 feat: Bump ai-navigator-app version
  services/ai-navigator-app/0.2.3/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.3/defaults/cm.yaml
  services/ai-navigator-app/0.2.3/defaults/kustomization.yaml
  services/ai-navigator-app/0.2.3/helmrelease.yaml
  services/ai-navigator-app/0.2.3/helmrelease/helmrelease.yaml
  services/ai-navigator-app/0.2.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, update-licenses, services/ai-navigator-app

#2430 fix: remove orphaned images
  licenses.d2iq.yaml
Labels: size/XS

#2431 chore: add missing image mappings
  licenses.d2iq.yaml
Labels: ready-for-review, size/L

#2432 chore: bump kubetunnel to v0.0.33
  licenses.d2iq.yaml
  services/kubetunnel/0.0.33-1/defaults/cm.yaml
  services/kubetunnel/0.0.33-1/defaults/kustomization.yaml
  services/kubetunnel/0.0.33-1/extra-images.txt
  services/kubetunnel/0.0.33-1/kubetunnel.yaml
  services/kubetunnel/0.0.33-1/kustomization.yaml
Labels: ok-to-test, size/S, services/kubetunnel, update-licenses

#2433 chore: bump dka to 1.3.3
  licenses.d2iq.yaml
  services/dex-k8s-authenticator/1.3.3/defaults/cm.yaml
  services/dex-k8s-authenticator/1.3.3/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.3.3/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.3.3/kustomization.yaml
Labels: ok-to-test, size/XS, services/dex-k8s-authenticator, update-licenses

#2434 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.10.0/defaults/cm.yaml
  services/kommander-ui/12.10.0/defaults/kustomization.yaml
  services/kommander-ui/12.10.0/kommander-ui.yaml
  services/kommander-ui/12.10.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2435 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.12.0/defaults/cm.yaml
  services/kommander-ui/12.12.0/defaults/kustomization.yaml
  services/kommander-ui/12.12.0/kommander-ui.yaml
  services/kommander-ui/12.12.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2406 fix: fluent-bit patched image with fixed CVE
  licenses.d2iq.yaml
  services/fluent-bit/0.46.9-d2iq.0/defaults/cm.yaml
  services/fluent-bit/0.46.9-d2iq.0/defaults/kustomization.yaml
  services/fluent-bit/0.46.9-d2iq.0/fluent-bit.yaml
  services/fluent-bit/0.46.9-d2iq.0/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.46.9-d2iq.0/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.46.9-d2iq.0/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.46.9-d2iq.0/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.46.9-d2iq.0/kustomization.yaml
  services/logging-operator/4.2.5/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/fluent-bit, services/logging-operator, update-licenses, services/git-operator

#2415 fix: container-toolkit patched image with fixed CVE
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/24.3.0-d2iq.0/defaults/cm.yaml
  services/nvidia-gpu-operator/24.3.0-d2iq.0/defaults/kustomization.yaml
  services/nvidia-gpu-operator/24.3.0-d2iq.0/grafana-dashboards/gpu-operator.json
  services/nvidia-gpu-operator/24.3.0-d2iq.0/grafana-dashboards/kustomization.yaml
  services/nvidia-gpu-operator/24.3.0-d2iq.0/helmrelease.yaml
  services/nvidia-gpu-operator/24.3.0-d2iq.0/helmrelease/extra-images.txt
  services/nvidia-gpu-operator/24.3.0-d2iq.0/helmrelease/kustomization.yaml
  services/nvidia-gpu-operator/24.3.0-d2iq.0/helmrelease/nvidia.yaml
  services/nvidia-gpu-operator/24.3.0-d2iq.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/nvidia-gpu-operator, update-licenses, services/git-operator

#2404 fix: polaris, nova, pluto CVE fix
  licenses.d2iq.yaml
  services/dkp-insights/1.1.2-d2iq.0/defaults/cm.yaml
  services/dkp-insights/1.1.2-d2iq.0/defaults/kustomization.yaml
  services/dkp-insights/1.1.2-d2iq.0/helmrelease.yaml
  services/dkp-insights/1.1.2-d2iq.0/helmrelease/extra-images.txt
  services/dkp-insights/1.1.2-d2iq.0/helmrelease/helmrelease.yaml
  services/dkp-insights/1.1.2-d2iq.0/helmrelease/kustomization.yaml
  services/dkp-insights/1.1.2-d2iq.0/helmrelease/list-images-values.yaml
  services/dkp-insights/1.1.2-d2iq.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, update-licenses, services/dkp-insights, services/git-operator

#2436 chore: Bump git operator to v0.9.1
  licenses.d2iq.yaml
  services/git-operator/0.1.0/additional-images.txt
  services/git-operator/0.1.0/git-operator-manifests/all.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/git-operator

#2438 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.12.1/defaults/cm.yaml
  services/kommander-ui/12.12.1/defaults/kustomization.yaml
  services/kommander-ui/12.12.1/kommander-ui.yaml
  services/kommander-ui/12.12.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2439 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.12.2/defaults/cm.yaml
  services/kommander-ui/12.12.2/defaults/kustomization.yaml
  services/kommander-ui/12.12.2/kommander-ui.yaml
  services/kommander-ui/12.12.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2447 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.12.3/defaults/cm.yaml
  services/kommander-ui/12.12.3/defaults/kustomization.yaml
  services/kommander-ui/12.12.3/kommander-ui.yaml
  services/kommander-ui/12.12.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2441 fix: karma patched image with fixed CVE
  licenses.d2iq.yaml
  services/karma/2.0.5/defaults/cm.yaml
  services/karma/2.0.5/defaults/kustomization.yaml
  services/karma/2.0.5/karma.yaml
  services/karma/2.0.5/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/karma, update-licenses

#2443 fix: remove pre-release semver names
  services/fluent-bit/0.46.10/defaults/cm.yaml
  services/fluent-bit/0.46.10/defaults/kustomization.yaml
  services/fluent-bit/0.46.10/fluent-bit.yaml
  services/fluent-bit/0.46.10/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.46.10/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.46.10/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.46.10/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.46.10/kustomization.yaml
  services/kubetunnel/0.0.34/defaults/cm.yaml
  services/kubetunnel/0.0.34/defaults/kustomization.yaml
  services/kubetunnel/0.0.34/extra-images.txt
  services/kubetunnel/0.0.34/kubetunnel.yaml
  services/kubetunnel/0.0.34/kustomization.yaml
  services/nvidia-gpu-operator/24.3.1/defaults/cm.yaml
  services/nvidia-gpu-operator/24.3.1/defaults/kustomization.yaml
  services/nvidia-gpu-operator/24.3.1/grafana-dashboards/gpu-operator.json
  services/nvidia-gpu-operator/24.3.1/grafana-dashboards/kustomization.yaml
  services/nvidia-gpu-operator/24.3.1/helmrelease.yaml
  services/nvidia-gpu-operator/24.3.1/helmrelease/extra-images.txt
  services/nvidia-gpu-operator/24.3.1/helmrelease/kustomization.yaml
  services/nvidia-gpu-operator/24.3.1/helmrelease/nvidia.yaml
  services/nvidia-gpu-operator/24.3.1/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/fluent-bit, services/nvidia-gpu-operator, services/kubetunnel, update-licenses

#2449 chore: remove old k8s version bloodhound validation
  .bloodhound.yml
Labels: size/XS

#2445 fix: kiwigrid/k8s-sidecar patched image with fixed CVE
  licenses.d2iq.yaml
  services/centralized-kubecost/0.37.4/defaults/cm.yaml
  services/centralized-kubecost/0.37.4/defaults/kustomization.yaml
  services/centralized-kubecost/0.37.4/kustomization.yaml
  services/centralized-kubecost/0.37.4/post-install-jobs.yaml
  services/centralized-kubecost/0.37.4/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.4/release.yaml
  services/centralized-kubecost/0.37.4/release/release.yaml
  services/grafana-logging/8.3.5/defaults/cm.yaml
  services/grafana-logging/8.3.5/defaults/kustomization.yaml
  services/grafana-logging/8.3.5/grafana.yaml
  services/grafana-logging/8.3.5/kustomization.yaml
  services/kubecost/0.37.4/defaults/cm.yaml
  services/kubecost/0.37.4/defaults/kustomization.yaml
  services/kubecost/0.37.4/kubecost.yaml
  services/kubecost/0.37.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/grafana-logging, services/centralized-kubecost, services/kubecost, update-licenses

#2446 fix: kustomize controller patched image with fixed CVE
  licenses.d2iq.yaml
  services/kommander-flux/2.2.4/defaults/cm.yaml
  services/kommander-flux/2.2.4/defaults/kustomization.yaml
  services/kommander-flux/2.2.4/kustomization.yaml
  services/kommander-flux/2.2.4/patch-proxy-env-vars.yaml
  services/kommander-flux/2.2.4/patch-source-ctrl-network-policy.yaml
  services/kommander-flux/2.2.4/templates/apiextensions.k8s.io_v1_customresourcedefinition_alerts.notification.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.4/templates/apiextensions.k8s.io_v1_customresourcedefinition_buckets.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.4/templates/apiextensions.k8s.io_v1_customresourcedefinition_gitrepositories.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.4/templates/apiextensions.k8s.io_v1_customresourcedefinition_helmcharts.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.4/templates/apiextensions.k8s.io_v1_customresourcedefinition_helmreleases.helm.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.4/templates/apiextensions.k8s.io_v1_customresourcedefinition_helmrepositories.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.4/templates/apiextensions.k8s.io_v1_customresourcedefinition_kustomizations.kustomize.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.4/templates/apiextensions.k8s.io_v1_customresourcedefinition_ocirepositories.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.4/templates/apiextensions.k8s.io_v1_customresourcedefinition_providers.notification.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.4/templates/apiextensions.k8s.io_v1_customresourcedefinition_receivers.notification.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.4/templates/apps_v1_deployment_helm-controller.yaml
  services/kommander-flux/2.2.4/templates/apps_v1_deployment_kustomize-controller.yaml
  services/kommander-flux/2.2.4/templates/apps_v1_deployment_notification-controller.yaml
  services/kommander-flux/2.2.4/templates/apps_v1_deployment_source-controller.yaml
  services/kommander-flux/2.2.4/templates/kustomization.yaml
  services/kommander-flux/2.2.4/templates/networking.k8s.io_v1_networkpolicy_allow-egress.yaml
  services/kommander-flux/2.2.4/templates/networking.k8s.io_v1_networkpolicy_allow-scraping.yaml
  services/kommander-flux/2.2.4/templates/networking.k8s.io_v1_networkpolicy_allow-source.yaml
  services/kommander-flux/2.2.4/templates/networking.k8s.io_v1_networkpolicy_allow-webhooks.yaml
  services/kommander-flux/2.2.4/templates/rbac.authorization.k8s.io_v1_clusterrole_crd-controller-kommander-flux.yaml
  services/kommander-flux/2.2.4/templates/rbac.authorization.k8s.io_v1_clusterrole_flux-edit-kommander-flux.yaml
  services/kommander-flux/2.2.4/templates/rbac.authorization.k8s.io_v1_clusterrole_flux-view-kommander-flux.yaml
  services/kommander-flux/2.2.4/templates/rbac.authorization.k8s.io_v1_clusterrolebinding_cluster-reconciler-kommander-flux.yaml
  services/kommander-flux/2.2.4/templates/rbac.authorization.k8s.io_v1_clusterrolebinding_crd-controller-kommander-flux.yaml
  services/kommander-flux/2.2.4/templates/v1_namespace_kommander-flux.yaml
  services/kommander-flux/2.2.4/templates/v1_resourcequota_critical-pods-kommander-flux.yaml
  services/kommander-flux/2.2.4/templates/v1_service_notification-controller.yaml
  services/kommander-flux/2.2.4/templates/v1_service_source-controller.yaml
  services/kommander-flux/2.2.4/templates/v1_service_webhook-receiver.yaml
  services/kommander-flux/2.2.4/templates/v1_serviceaccount_helm-controller.yaml
  services/kommander-flux/2.2.4/templates/v1_serviceaccount_kustomize-controller.yaml
  services/kommander-flux/2.2.4/templates/v1_serviceaccount_notification-controller.yaml
  services/kommander-flux/2.2.4/templates/v1_serviceaccount_source-controller.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/kommander-flux, update-licenses

#2448 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.13.0/defaults/cm.yaml
  services/kommander-ui/12.13.0/defaults/kustomization.yaml
  services/kommander-ui/12.13.0/kommander-ui.yaml
  services/kommander-ui/12.13.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2454 fix(kommander): Typo in app name
  services/kommander/0.12.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander, update-licenses

#2456 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.14.0/defaults/cm.yaml
  services/kommander-ui/12.14.0/defaults/kustomization.yaml
  services/kommander-ui/12.14.0/kommander-ui.yaml
  services/kommander-ui/12.14.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2455 fix: kubecost patched image with fixed CVEs
  licenses.d2iq.yaml
  services/centralized-kubecost/0.37.4/defaults/cm.yaml
  services/kubecost/0.37.4/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/centralized-kubecost, services/kubecost, update-licenses

#2442 fix: gpuoperator patched image with fixed CVE
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/24.3.1/defaults/cm.yaml
  services/nvidia-gpu-operator/24.3.1/helmrelease/extra-images.txt
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#2451 fix: grafana-10.3.3 patched image with fixed CVE
  licenses.d2iq.yaml
  services/kubecost/0.37.5/defaults/cm.yaml
  services/kubecost/0.37.5/defaults/kustomization.yaml
  services/kubecost/0.37.5/kubecost.yaml
  services/kubecost/0.37.5/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kubecost, update-licenses

#2457 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/12.14.1/defaults/cm.yaml
  services/kommander-ui/12.14.1/defaults/kustomization.yaml
  services/kommander-ui/12.14.1/kommander-ui.yaml
  services/kommander-ui/12.14.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2460 fix: Add contents to git-operator defaults kustomization
  services/git-operator/0.1.0/defaults/kustomization.yaml
Labels: ok-to-test, size/XS, update-licenses, services/git-operator

#2463 feat: Fix Traefik rewrite for api url
  services/traefik/27.0.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, services/traefik, update-licenses

#2464 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.0.0/defaults/cm.yaml
  services/kommander-ui/13.0.0/defaults/kustomization.yaml
  services/kommander-ui/13.0.0/kommander-ui.yaml
  services/kommander-ui/13.0.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2465 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.0.1/defaults/cm.yaml
  services/kommander-ui/13.0.1/defaults/kustomization.yaml
  services/kommander-ui/13.0.1/kommander-ui.yaml
  services/kommander-ui/13.0.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2467 feat: Bump external-dns to 7.5.6
  licenses.d2iq.yaml
  services/external-dns/7.5.6/defaults/cm.yaml
  services/external-dns/7.5.6/defaults/kustomization.yaml
  services/external-dns/7.5.6/external-dns.yaml
  services/external-dns/7.5.6/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/external-dns, update-licenses

#2471 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.0.2/defaults/cm.yaml
  services/kommander-ui/13.0.2/defaults/kustomization.yaml
  services/kommander-ui/13.0.2/kommander-ui.yaml
  services/kommander-ui/13.0.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2466 feat: Release DKP-Insights v1.2.0-beta.0
  licenses.d2iq.yaml
  services/dkp-insights-management/1.2.0/defaults/cm.yaml
  services/dkp-insights-management/1.2.0/defaults/kustomization.yaml
  services/dkp-insights-management/1.2.0/helmrelease.yaml
  services/dkp-insights-management/1.2.0/helmrelease/helmrelease.yaml
  services/dkp-insights-management/1.2.0/helmrelease/kustomization.yaml
  services/dkp-insights-management/1.2.0/kustomization.yaml
  services/dkp-insights/1.2.0/defaults/cm.yaml
  services/dkp-insights/1.2.0/defaults/kustomization.yaml
  services/dkp-insights/1.2.0/helmrelease.yaml
  services/dkp-insights/1.2.0/helmrelease/extra-images.txt
  services/dkp-insights/1.2.0/helmrelease/helmrelease.yaml
  services/dkp-insights/1.2.0/helmrelease/kustomization.yaml
  services/dkp-insights/1.2.0/helmrelease/list-images-values.yaml
  services/dkp-insights/1.2.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, services/dkp-insights-management, update-licenses, services/dkp-insights

#2472 feat: Bump git operator to v0.10.0
  licenses.d2iq.yaml
  services/git-operator/0.1.0/additional-images.txt
  services/git-operator/0.1.0/git-operator-manifests/all.yaml
Labels: ok-to-test, size/M, update-licenses, services/git-operator

#2473 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.0.3/defaults/cm.yaml
  services/kommander-ui/13.0.3/defaults/kustomization.yaml
  services/kommander-ui/13.0.3/kommander-ui.yaml
  services/kommander-ui/13.0.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2474 feat: Bump git operator to v0.11.0
  licenses.d2iq.yaml
  services/git-operator/0.1.0/additional-images.txt
  services/git-operator/0.1.0/git-operator-manifests/all.yaml
Labels: ok-to-test, size/XS, update-licenses, services/git-operator

#2468 feat: Bump kiali to 1.87.0
  licenses.d2iq.yaml
  services/kiali/1.85.0/extra-images.txt
  services/kiali/1.87.0/defaults/cm.yaml
  services/kiali/1.87.0/defaults/kustomization.yaml
  services/kiali/1.87.0/extra-images.txt
  services/kiali/1.87.0/kiali.yaml
  services/kiali/1.87.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kiali, update-licenses

#2469 fix: cuda-sample image with fixed CVEs
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/24.3.2/defaults/cm.yaml
  services/nvidia-gpu-operator/24.3.2/defaults/kustomization.yaml
  services/nvidia-gpu-operator/24.3.2/grafana-dashboards/gpu-operator.json
  services/nvidia-gpu-operator/24.3.2/grafana-dashboards/kustomization.yaml
  services/nvidia-gpu-operator/24.3.2/helmrelease.yaml
  services/nvidia-gpu-operator/24.3.2/helmrelease/extra-images.txt
  services/nvidia-gpu-operator/24.3.2/helmrelease/kustomization.yaml
  services/nvidia-gpu-operator/24.3.2/helmrelease/nvidia.yaml
  services/nvidia-gpu-operator/24.3.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#2476 fix: patched git-operator Nginx image in airgapped bundle
  licenses.d2iq.yaml
  services/git-operator/0.1.0/additional-images.txt
Labels: ready-for-review, ok-to-test, update-licenses, services/git-operator

#2479 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.0.4/defaults/cm.yaml
  services/kommander-ui/13.0.4/defaults/kustomization.yaml
  services/kommander-ui/13.0.4/kommander-ui.yaml
  services/kommander-ui/13.0.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2480 feat: Rename DKP Insights to NKP Insights
  .github/service-labeler.yaml
  common/helm-repositories/mesosphere-repos.yaml
  licenses.d2iq.yaml
  services/kommander/0.12.0/defaults/cm.yaml
  services/nkp-insights-management/1.2.0/defaults/cm.yaml
  services/nkp-insights-management/1.2.0/defaults/kustomization.yaml
  services/nkp-insights-management/1.2.0/helmrelease.yaml
  services/nkp-insights-management/1.2.0/helmrelease/helmrelease.yaml
  services/nkp-insights-management/1.2.0/helmrelease/kustomization.yaml
  services/nkp-insights-management/1.2.0/kustomization.yaml
  services/nkp-insights-management/metadata.yaml
  services/nkp-insights/1.2.0/defaults/cm.yaml
  services/nkp-insights/1.2.0/defaults/kustomization.yaml
  services/nkp-insights/1.2.0/helmrelease.yaml
  services/nkp-insights/1.2.0/helmrelease/extra-images.txt
  services/nkp-insights/1.2.0/helmrelease/helmrelease.yaml
  services/nkp-insights/1.2.0/helmrelease/kustomization.yaml
  services/nkp-insights/1.2.0/helmrelease/list-images-values.yaml
  services/nkp-insights/1.2.0/kustomization.yaml
  services/nkp-insights/metadata.yaml
Labels: ok-to-test, services/kommander, update-licenses, services/nkp-insights, services/nkp-insights-management

#2482 feat: Release NKP-Insights v1.2.0-beta.3
  licenses.d2iq.yaml
  services/nkp-insights-management/1.2.0/defaults/cm.yaml
  services/nkp-insights-management/1.2.0/helmrelease/helmrelease.yaml
  services/nkp-insights/1.2.0/defaults/cm.yaml
  services/nkp-insights/1.2.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, services/nkp-insights, services/nkp-insights-management

#2481 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.0.5/defaults/cm.yaml
  services/kommander-ui/13.0.5/defaults/kustomization.yaml
  services/kommander-ui/13.0.5/kommander-ui.yaml
  services/kommander-ui/13.0.5/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2483 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.0.6/defaults/cm.yaml
  services/kommander-ui/13.0.6/defaults/kustomization.yaml
  services/kommander-ui/13.0.6/kommander-ui.yaml
  services/kommander-ui/13.0.6/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2484 feat(git-operator): Bump to 0.12.0
  licenses.d2iq.yaml
  services/git-operator/0.1.0/additional-images.txt
  services/git-operator/0.1.0/git-operator-manifests/all.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, services/git-operator

#2485 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.1.0/defaults/cm.yaml
  services/kommander-ui/13.1.0/defaults/kustomization.yaml
  services/kommander-ui/13.1.0/kommander-ui.yaml
  services/kommander-ui/13.1.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2487 ci: add update-licenses label with Mesosphere bot
  .github/workflows/labeler.yaml
Labels: size/XS

#2488 ci: update licenses with user token
  .github/workflows/validate-licenses.yaml
Labels: size/XS
