Repository mesosphere/kommander-applications, pull requests merged in 2024-04, with the labels that each got.

#2019 feat: bump ui to latest
  services/kommander-ui/11.4.3/defaults/cm.yaml
  services/kommander-ui/11.4.3/defaults/kustomization.yaml
  services/kommander-ui/11.4.3/kommander-ui.yaml
  services/kommander-ui/11.4.3/kustomization.yaml
Labels: ready-for-review, do-not-merge, ok-to-test, size/XS

#2052 fix(grafana-logging): Fix OOM issue after upgrade to v9+
  services/grafana-logging/6.60.2/defaults/cm.yaml
  services/project-grafana-logging/6.60.2/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/grafana-logging, services/project-grafana-logging, update-licenses

#2054 fix(licensing): use static kommander-ui version
  licenses.d2iq.yaml
Labels: auto-backport, size/XS, backport-to-release-2.6, backport-to-release-2.7, backport-to-release-2.8

#2038 chore: bump ai nav and use priorityclass
  services/ai-navigator-app/0.2.2/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.2/defaults/cm.yaml
  services/ai-navigator-app/0.2.2/helmrelease/helmrelease.yaml
  services/ai-navigator-cluster-info-agent/0.1.1/defaults/cm.yaml
  services/ai-navigator-cluster-info-agent/0.1.1/defaults/kustomization.yaml
  services/ai-navigator-cluster-info-agent/0.1.1/helmrelease.yaml
  services/ai-navigator-cluster-info-agent/0.1.1/helmrelease/helmrelease.yaml
  services/ai-navigator-cluster-info-agent/0.1.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, auto-backport, size/S, update-licenses, backport-to-release-2.6, services/ai-navigator-app, services/ai-navigator-cluster-info-agent, backport-to-release-2.7

#2056 fix: use static kommander-ui version (2.7)
  licenses.d2iq.yaml
Labels: ready-for-review, size/XS

#2057 fix: use static kommander-ui version (2.6)
  licenses.d2iq.yaml
Labels: size/XS

#2058 fix: use latest bloodhound
  make/validate.mk
Labels: size/XS

#1973 fix(licenses): Remove unused kubectl images
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, backport-to-release-2.8

#2042 feat: add reloader scenario
  apptests/appscenarios/appscenarios.go
  apptests/appscenarios/appscenarios_test.go
  apptests/appscenarios/reloader.go
  apptests/appscenarios/reloader_test.go
  apptests/appscenarios/suite_test.go
  apptests/appscenarios/testdata/nginx-new.conf
  apptests/appscenarios/testdata/nginx-old.conf
  apptests/appscenarios/testdata/nginx.yaml
  apptests/environment/environment_test.go
  apptests/flux/apply.go
  apptests/go.mod
  apptests/go.sum
Labels: size/L

#2053 ci: GHA for app specific test
  .github/workflows/application-test-scenario.yaml
  .github/workflows/application-test.yaml
Labels: ok-to-test, size/L

#2081 fix(bloodhound): Bump to 0.10.1 to fix manifest validation
  make/validate.mk
Labels: ready-for-review, ok-to-test, size/XS

#2076 fix: remove excessive label
  charts/kommander-operator/Chart.yaml
  charts/kommander-operator/templates/rback_v1_clusterrole_operator_kommander-operator.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2082 fix: centr grafana chart bump 2.7
  services/centralized-grafana/48.3.2/centralized-grafana.yaml
  services/centralized-grafana/48.3.2/defaults/cm.yaml
  services/centralized-grafana/48.3.2/defaults/kustomization.yaml
  services/centralized-grafana/48.3.2/grafana-dashboards/global-overview.json
  services/centralized-grafana/48.3.2/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/48.3.2/kustomization.yaml
  services/kube-prometheus-stack/48.3.2/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.2/defaults/kustomization.yaml
  services/kube-prometheus-stack/48.3.2/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/48.3.2/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/48.3.2/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/48.3.2/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/48.3.2/grafana-dashboards/calico.json
  services/kube-prometheus-stack/48.3.2/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/48.3.2/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/48.3.2/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/48.3.2/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/48.3.2/helmrelease.yaml
  services/kube-prometheus-stack/48.3.2/helmrelease/extra-images.txt
  services/kube-prometheus-stack/48.3.2/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/48.3.2/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/48.3.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S

#2066 feat: Bump prometheus-adapter to 4.10.0
  services/prometheus-adapter/4.10.0/defaults/cm.yaml
  services/prometheus-adapter/4.10.0/defaults/kustomization.yaml
  services/prometheus-adapter/4.10.0/helmrelease/prometheus-adapter.yaml
  services/prometheus-adapter/4.10.0/kustomization.yaml
  services/prometheus-adapter/4.10.0/prometheus-adapter-helmrelease.yaml
Labels: ok-to-test, size/XS, services/prometheus-adapter, update-licenses

#2083 chore: [backport-2.8] bump ai nav and use priorityclass
  services/ai-navigator-app/0.2.2/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.2/defaults/cm.yaml
  services/ai-navigator-app/0.2.2/helmrelease/helmrelease.yaml
  services/ai-navigator-cluster-info-agent/0.1.1/defaults/cm.yaml
  services/ai-navigator-cluster-info-agent/0.1.1/defaults/kustomization.yaml
  services/ai-navigator-cluster-info-agent/0.1.1/helmrelease.yaml
  services/ai-navigator-cluster-info-agent/0.1.1/helmrelease/helmrelease.yaml
  services/ai-navigator-cluster-info-agent/0.1.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S

#2087 fix: [backport-2.7] rm kmd operator rbac label 2.7
  charts/kommander-operator/Chart.yaml
  charts/kommander-operator/templates/rback_v1_clusterrole_operator_kommander-operator.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2098 revert: the bump of flux libraries in /apptests
  apptests/go.mod
  apptests/go.sum
Labels: ready-for-review, ok-to-test, size/L

#2073 feat: Cert Manager tests
  .gitignore
  apptests/appscenarios/appscenarios.go
  apptests/appscenarios/certmanager.go
  apptests/appscenarios/certmanager_test.go
  apptests/appscenarios/contants.go
  apptests/appscenarios/reloader.go
  apptests/appscenarios/suite_test.go
  apptests/environment/environment.go
  apptests/kind/kind.go
  apptests/testdata/cert-manager/certificate.yaml
  magefiles/go.mod
Labels: ready-for-review, ok-to-test, size/XL

#2101 chore: [backport-2.8] bump flux kust api version in ai nav
  services/ai-navigator-app/0.2.2/helmrelease.yaml
  services/ai-navigator-cluster-info-agent/0.1.1/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2100 ci: Update devbox install action org name
  .github/workflows/create-dev-tag.yml
  .github/workflows/flux-update-scheduled-check.yml
  .github/workflows/lint.yaml
  .github/workflows/manifest-validation.yml
  .github/workflows/release.yml
  .github/workflows/test.yaml
  .github/workflows/update-service-labeler.yaml
  .github/workflows/validate-licenses.yaml
Labels: ok-to-test, size/S

#2084 fix: [backport-2.8] bump centr grafana and KPS chart version
  services/centralized-grafana/48.3.2/centralized-grafana.yaml
  services/kube-prometheus-stack/48.3.2/helmrelease/kube-prometheus-stack.yaml
Labels: ready-for-review, ok-to-test, open-kommander-pr, services/centralized-grafana, services/kube-prometheus-stack, update-licenses

#2085 fix: [backport-2.8] remove excessive label
  charts/kommander-operator/Chart.yaml
  charts/kommander-operator/templates/rback_v1_clusterrole_operator_kommander-operator.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2106 chore: clean up reloader test
  apptests/appscenarios/reloader.go
  apptests/appscenarios/reloader_test.go
  apptests/appscenarios/testdata/nginx-new.conf
  apptests/appscenarios/testdata/nginx-old.conf
  apptests/testdata/reloader/nginx-cm-new.yaml
  apptests/testdata/reloader/nginx-cm-old.yaml
  apptests/testdata/reloader/nginx.yaml
Labels: ready-for-review, ok-to-test, size/L, services/reloader

#2107 test: reloader upgrade
  apptests/appscenarios/reloader.go
  apptests/appscenarios/reloader_test.go
Labels: ready-for-review, ok-to-test, size/L, services/reloader

#2105 fix: add general kommander overrides cm
  hack/release/pkg/appversion/appversion_test.go
  services/kommander/0.8.0/kommander.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kommander, update-licenses

#1992 feat: Bump traefik to 26.1.0
  licenses.d2iq.yaml
  services/traefik/26.1.0/defaults/cm.yaml
  services/traefik/26.1.0/defaults/kustomization.yaml
  services/traefik/26.1.0/grafana-dashboards/kustomization.yaml
  services/traefik/26.1.0/grafana-dashboards/traefik.json
  services/traefik/26.1.0/kustomization.yaml
  services/traefik/26.1.0/traefik-plugin-rewritebody.yaml
  services/traefik/26.1.0/traefik.yaml
Labels: ok-to-test, size/S, services/traefik, update-licenses

#2112 feat: Bump thanos to 15.0.5
  licenses.d2iq.yaml
  services/thanos/15.0.5/defaults/cm.yaml
  services/thanos/15.0.5/defaults/kustomization.yaml
  services/thanos/15.0.5/jobs.yaml
  services/thanos/15.0.5/jobs/jobs.yaml
  services/thanos/15.0.5/kustomization.yaml
  services/thanos/15.0.5/thanos.yaml
Labels: ok-to-test, do-not-merge/testing, let-me-merge-it, size/S, open-kommander-pr, services/thanos, update-licenses

#2119 fix: Fix Kubernetes Audit Dashboard failing in Grafana Logging v9+
  licenses.d2iq.yaml
  services/fluent-bit/0.43.0/grafana-dashboards-logging/audit.json
  services/grafana-logging/6.60.2/defaults/cm.yaml
  services/grafana-logging/6.60.2/grafana.yaml
  services/project-grafana-logging/6.60.2/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/fluent-bit, services/grafana-logging, services/project-grafana-logging, update-licenses

#2121 ci: Generate dev tags dynamically
  .github/workflows/create-dev-tag.yml
  make/repo.mk
Labels: size/M

#2122 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.5.0/defaults/cm.yaml
  services/kommander-ui/11.5.0/defaults/kustomization.yaml
  services/kommander-ui/11.5.0/kommander-ui.yaml
  services/kommander-ui/11.5.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2045 feat: Bump kiali-operator to 1.82.0
  licenses.d2iq.yaml
  services/kiali/1.82.0/defaults/cm.yaml
  services/kiali/1.82.0/defaults/kustomization.yaml
  services/kiali/1.82.0/extra-images.txt
  services/kiali/1.82.0/kiali.yaml
  services/kiali/1.82.0/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kiali, update-licenses

#2097 feat: Bump external-dns to 7.1.2
  licenses.d2iq.yaml
  services/external-dns/7.1.2/defaults/cm.yaml
  services/external-dns/7.1.2/defaults/kustomization.yaml
  services/external-dns/7.1.2/external-dns.yaml
  services/external-dns/7.1.2/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/external-dns, update-licenses

#2123 feat: Bump traefik to 27.0.2
  licenses.d2iq.yaml
  services/traefik/27.0.2/defaults/cm.yaml
  services/traefik/27.0.2/defaults/kustomization.yaml
  services/traefik/27.0.2/grafana-dashboards/kustomization.yaml
  services/traefik/27.0.2/grafana-dashboards/traefik.json
  services/traefik/27.0.2/kustomization.yaml
  services/traefik/27.0.2/traefik-plugin-rewritebody.yaml
  services/traefik/27.0.2/traefik.yaml
Labels: ok-to-test, let-me-merge-it, size/S, open-kommander-pr, services/traefik, update-licenses

#2115 feat: Bump jaeger-operator to 2.53.0
  services/jaeger/2.53.0/defaults/cm.yaml
  services/jaeger/2.53.0/defaults/kustomization.yaml
  services/jaeger/2.53.0/helmrelease.yaml
  services/jaeger/2.53.0/helmrelease/extra-images.txt
  services/jaeger/2.53.0/helmrelease/kustomization.yaml
  services/jaeger/2.53.0/helmrelease/release.yaml
  services/jaeger/2.53.0/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/jaeger, update-licenses

#2124 feat(grafana): Add PV Stats grafana dashboard
  services/kube-prometheus-stack/48.3.2/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/48.3.2/grafana-dashboards/pv-stats.json
Labels: ready-for-review, ok-to-test, size/XXL, services/kube-prometheus-stack, update-licenses

#2120 feat(kommander): Specify default mgmt apps in values
  services/kommander/0.8.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/kommander, update-licenses

#2108 feat: Bump reloader to 1.0.79
  licenses.d2iq.yaml
  services/reloader/1.0.79/defaults/cm.yaml
  services/reloader/1.0.79/defaults/kustomization.yaml
  services/reloader/1.0.79/kustomization.yaml
  services/reloader/1.0.79/reloader.yaml
Labels: ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/reloader, update-licenses

#2126 feat: Bump grafana to 7.3.8
  licenses.d2iq.yaml
  services/grafana-logging/7.3.8/defaults/cm.yaml
  services/grafana-logging/7.3.8/defaults/kustomization.yaml
  services/grafana-logging/7.3.8/grafana.yaml
  services/grafana-logging/7.3.8/kustomization.yaml
  services/project-grafana-logging/7.3.8/defaults/cm.yaml
  services/project-grafana-logging/7.3.8/defaults/kustomization.yaml
  services/project-grafana-logging/7.3.8/kustomization.yaml
  services/project-grafana-logging/7.3.8/project-grafana.yaml
Labels: ok-to-test, do-not-merge/testing, let-me-merge-it, size/S, open-kommander-pr, services/grafana-logging, services/project-grafana-logging, update-licenses

#2063 feat: Bump gatekeeper to 3.15.1
  licenses.d2iq.yaml
  services/gatekeeper/3.15.1/constraints.yaml
  services/gatekeeper/3.15.1/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.15.1/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.15.1/constrainttemplates.yaml
  services/gatekeeper/3.15.1/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.15.1/defaults/cm.yaml
  services/gatekeeper/3.15.1/defaults/kustomization.yaml
  services/gatekeeper/3.15.1/kustomization.yaml
  services/gatekeeper/3.15.1/release.yaml
  services/gatekeeper/3.15.1/release/kustomization.yaml
  services/gatekeeper/3.15.1/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, let-me-merge-it, size/M, open-kommander-pr, services/gatekeeper, update-licenses

#2135 fix(release): Omit ai-nav helmrepos from bundle
  common/helm-repositories/ai-navigator-repos.yaml
  common/helm-repositories/kustomization.yaml
  common/helm-repositories/mesosphere-repos.yaml
  make/release.mk
Labels: ready-for-review, ok-to-test, backport-pr, auto-backport, size/M, backport-to-main

#2140 ci: New org for devbox-install-action - missed in previous PR
  .github/workflows/create-dev-tag.yml
Labels: size/XS

#2088 refactor: dkp to nkp
  common/priority-classes/dkp-priority-classes.yaml
  make/test.mk
  services/ai-navigator-app/metadata.yaml
  services/ai-navigator-cluster-info-agent/metadata.yaml
  services/dkp-insights/metadata.yaml
  services/project-grafana-loki/0.78.3/defaults/cm.yaml
  services/rook-ceph-cluster/1.12.7/defaults/cm.yaml
  services/rook-ceph-cluster/1.12.7/pre-install/ceph-crd-check.yaml
  services/rook-ceph/1.12.7/defaults/cm.yaml
  services/velero/metadata.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, services/rook-ceph-cluster, services/rook-ceph, services/traefik, services/velero, services/project-grafana-loki, update-licenses, services/dkp-insights, services/ai-navigator-app, services/ai-navigator-cluster-info-agent

#2139 fix: Fix Kubernetes Audit Dashboard failing in Grafana Logging v9+
  licenses.d2iq.yaml
  services/fluent-bit/0.43.0/grafana-dashboards-logging/audit.json
  services/grafana-logging/6.60.2/defaults/cm.yaml
  services/grafana-logging/6.60.2/grafana.yaml
  services/project-grafana-logging/6.60.2/defaults/cm.yaml
Labels: ok-to-test, size/M

#2137 fix(external-dns): Bump to 7.1.2
  licenses.d2iq.yaml
  services/external-dns/7.1.2/defaults/cm.yaml
  services/external-dns/7.1.2/defaults/kustomization.yaml
  services/external-dns/7.1.2/external-dns.yaml
  services/external-dns/7.1.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, update-licenses

#2071 feat: Bump loki-distributed to 0.78.5
  licenses.d2iq.yaml
  services/grafana-loki/0.78.5/defaults/cm.yaml
  services/grafana-loki/0.78.5/defaults/kustomization.yaml
  services/grafana-loki/0.78.5/grafana-dashboards-logging/kustomization.yaml
  services/grafana-loki/0.78.5/grafana-dashboards-logging/logging-loki-dashboard.json
  services/grafana-loki/0.78.5/grafana-dashboards/grafana-loki.json
  services/grafana-loki/0.78.5/grafana-dashboards/kustomization.yaml
  services/grafana-loki/0.78.5/grafana-dashboards/loki-chunks.json
  services/grafana-loki/0.78.5/grafana-dashboards/loki-deletion.json
  services/grafana-loki/0.78.5/grafana-dashboards/loki-reads-resources.json
  services/grafana-loki/0.78.5/grafana-dashboards/loki-retention.json
  services/grafana-loki/0.78.5/grafana-dashboards/loki-writes-resources.json
  services/grafana-loki/0.78.5/grafana-loki-helmrelease.yaml
  services/grafana-loki/0.78.5/grafana-loki-helmrelease/grafana-loki.yaml
  services/grafana-loki/0.78.5/grafana-loki-pre-install-jobs/pre-install.yaml
  services/grafana-loki/0.78.5/grafana-loki-pre-install.yaml
  services/grafana-loki/0.78.5/kustomization.yaml
  services/project-grafana-loki/0.78.5/defaults/cm.yaml
  services/project-grafana-loki/0.78.5/defaults/kustomization.yaml
  services/project-grafana-loki/0.78.5/grafana-dashboards-logging/kustomization.yaml
  services/project-grafana-loki/0.78.5/grafana-dashboards-logging/logging-loki-dashboard.json
  services/project-grafana-loki/0.78.5/kustomization.yaml
  services/project-grafana-loki/0.78.5/object-bucket-claims.yaml
  services/project-grafana-loki/0.78.5/project-grafana-loki.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/grafana-loki, services/project-grafana-loki, update-licenses

#2103 ci: app specific test GHA #2
  .github/workflows/application-test-scenario-install.yaml
  .github/workflows/application-test-scenario-upgrade.yaml
  .github/workflows/application-test.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/L, services/reloader

#2142 fix(grafana-logging): Fix OOM issue after upgrade to v9+
  services/grafana-logging/6.60.2/defaults/cm.yaml
  services/project-grafana-logging/6.60.2/defaults/cm.yaml
Labels: ok-to-test, size/XS

#2141 fix(release): Omit ai-nav helmrepos from bundle (#2135)
  common/helm-repositories/ai-navigator-repos.yaml
  common/helm-repositories/kustomization.yaml
  common/helm-repositories/mesosphere-repos.yaml
  make/release.mk
Labels: ready-for-review, ok-to-test, backport-pr, size/M

#2133 feat(grafana): Add PV Stats grafana dashboard (#2124)
  services/kube-prometheus-stack/48.3.2/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/48.3.2/grafana-dashboards/pv-stats.json
Labels: ready-for-review, ok-to-test, backport-pr, size/XXL

#2144 feat: new nkp app icons
  services/ai-navigator-app/metadata.yaml
  services/ai-navigator-cluster-info-agent/metadata.yaml
  services/dkp-insights/metadata.yaml
Labels: ok-to-test, size/XS, update-licenses, services/dkp-insights, services/ai-navigator-app, services/ai-navigator-cluster-info-agent

#2134 feat: cert-manager acme workarround test
  apptests/appscenarios/certmanager.go
  apptests/appscenarios/certmanager_test.go
  apptests/environment/environment.go
  apptests/kind-config.yaml
  apptests/kind/kind.go
  apptests/testdata/cert-manager/acme-clusterissuer/clusterissuer.yaml
  apptests/testdata/cert-manager/acme-setup/configmap.yaml
  apptests/testdata/cert-manager/acme-setup/deploy-ingress-nginx-v1.10.0.yaml
  apptests/testdata/cert-manager/acme-setup/helmrelease.yaml
  apptests/testdata/cert-manager/acme-setup/secret.yaml
  apptests/testdata/cert-manager/acme-setup/step-certificates.yaml
  apptests/testdata/cert-manager/acme-test-cert/acmecertificate.yaml
  apptests/testdata/cert-manager/test-cert/certificate.yaml
  hack/list-images.sh
Labels: ready-for-review, ok-to-test, size/XXL

#2138 feat: Bump external-dns to 7.1.2
  licenses.d2iq.yaml
  services/external-dns/7.1.2/defaults/cm.yaml
  services/external-dns/7.1.2/defaults/kustomization.yaml
  services/external-dns/7.1.2/external-dns.yaml
  services/external-dns/7.1.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr

#2146 feat: Bump istio to 1.21.1
  licenses.d2iq.yaml
  services/istio/1.21.1/defaults/cm.yaml
  services/istio/1.21.1/defaults/kustomization.yaml
  services/istio/1.21.1/helmrelease.yaml
  services/istio/1.21.1/helmrelease/extra-images.txt
  services/istio/1.21.1/helmrelease/helmrelease.yaml
  services/istio/1.21.1/helmrelease/kustomization.yaml
  services/istio/1.21.1/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, let-me-merge-it, size/S, open-kommander-pr, services/istio, update-licenses

#2111 feat: Bump fluent-bit to 0.46.1
  services/fluent-bit/0.46.1/defaults/cm.yaml
  services/fluent-bit/0.46.1/defaults/kustomization.yaml
  services/fluent-bit/0.46.1/fluent-bit.yaml
  services/fluent-bit/0.46.1/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.46.1/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.46.1/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.46.1/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.46.1/kustomization.yaml
Labels: ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/fluent-bit, update-licenses

#2147 revert: "feat: cert-manager acme workarround test"
  apptests/appscenarios/certmanager.go
  apptests/appscenarios/certmanager_test.go
  apptests/environment/environment.go
  apptests/kind-config.yaml
  apptests/kind/kind.go
  apptests/testdata/cert-manager/acme-clusterissuer/clusterissuer.yaml
  apptests/testdata/cert-manager/acme-setup/configmap.yaml
  apptests/testdata/cert-manager/acme-setup/deploy-ingress-nginx-v1.10.0.yaml
  apptests/testdata/cert-manager/acme-setup/helmrelease.yaml
  apptests/testdata/cert-manager/acme-setup/secret.yaml
  apptests/testdata/cert-manager/acme-setup/step-certificates.yaml
  apptests/testdata/cert-manager/acme-test-cert/acmecertificate.yaml
  apptests/testdata/cert-manager/certificate.yaml
  hack/list-images.sh
Labels: size/XXL

#2136 fix(release): Omit ai-nav helmrepos from bundle (#2135)
  common/helm-repositories/ai-navigator-repos.yaml
  common/helm-repositories/kustomization.yaml
  common/helm-repositories/mesosphere-repos.yaml
  make/release.mk
Labels: ready-for-review, ok-to-test, size/M

#2148 refactor: cleanup and use constructor func
  apptests/appscenarios/appscenarios.go
  apptests/appscenarios/reloader.go
  apptests/appscenarios/reloader_test.go
  apptests/constants/apps.go
Labels: ready-for-review, ok-to-test, size/M, services/reloader

#2154 fix: Modify files in the release archive
  hack/build-archive.sh
  make/release.mk
Labels: size/S

#2155 fix: Modify files in the release archive (#2154)
  hack/build-archive.sh
  make/release.mk
Labels: ready-for-review, ok-to-test, size/S

#2156 fix: Modify files in the release archive (#2154)
  hack/build-archive.sh
  make/release.mk
Labels: ready-for-review, ok-to-test, backport-pr, size/S

#2068 feat: Bump velero to 6.0.0
  licenses.d2iq.yaml
  services/velero/6.0.0/defaults/cm.yaml
  services/velero/6.0.0/defaults/kustomization.yaml
  services/velero/6.0.0/grafana-dashboards/kustomization.yaml
  services/velero/6.0.0/grafana-dashboards/velero.json
  services/velero/6.0.0/helmrelease/helmrelease.yaml
  services/velero/6.0.0/kustomization.yaml
  services/velero/6.0.0/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/6.0.0/post-install/kustomization.yaml
  services/velero/6.0.0/pre-install/kustomization.yaml
  services/velero/6.0.0/pre-install/pre-install-job.yaml
  services/velero/6.0.0/v4-hooks-adoption/v4-hooks-adoption.yaml
  services/velero/6.0.0/velero-post-install.yaml
  services/velero/6.0.0/velero-pre-install.yaml
  services/velero/6.0.0/velero-v4-hooks-adoption.yaml
  services/velero/6.0.0/velero.yaml
Labels: ok-to-test, let-me-merge-it, size/S, open-kommander-pr, services/velero, update-licenses

#2149 feat: cert-manager acme workarround test (take 2)
  apptests/appscenarios/certmanager.go
  apptests/appscenarios/certmanager_test.go
  apptests/environment/environment.go
  apptests/kind-config.yaml
  apptests/kind/kind.go
  apptests/testdata/cert-manager/acme-clusterissuer/clusterissuer.yaml
  apptests/testdata/cert-manager/acme-setup/configmap.yaml
  apptests/testdata/cert-manager/acme-setup/deploy-ingress-nginx-v1.10.0.yaml
  apptests/testdata/cert-manager/acme-setup/helmrelease.yaml
  apptests/testdata/cert-manager/acme-setup/secret.yaml
  apptests/testdata/cert-manager/acme-setup/step-certificates.yaml
  apptests/testdata/cert-manager/acme-test-cert/acmecertificate.yaml
  apptests/testdata/cert-manager/test-cert/certificate.yaml
  hack/list-images.sh
Labels: ready-for-review, ok-to-test, size/XXL

#2158 feat: Add basic kubecost tests for install and upgrade
  apptests/appscenarios/contants.go
  apptests/appscenarios/kubecost.go
  apptests/appscenarios/kubecost_test.go
  apptests/appscenarios/suite_test.go
  apptests/constants/apps.go
Labels: ready-for-review, ok-to-test, size/L

#2159 ci: karma traefik dep
  apptests/appscenarios/karma.go
  apptests/appscenarios/karma_test.go
  apptests/appscenarios/reloader_test.go
  apptests/appscenarios/suite_test.go
  apptests/docker/docker.go
  apptests/docker/network.go
  apptests/environment/calico.yaml
  apptests/environment/charts/metallb-0.13.7.tgz
  apptests/environment/environment.go
  apptests/environment/environment_test.go
  apptests/environment/metallb-crs/cm.yaml
  apptests/environment/metallb-crs/ipaddresspool.yaml
  apptests/environment/metallb-crs/l2advertisement.yaml
  apptests/environment/prerequisites.go
  apptests/go.mod
  apptests/go.sum
  apptests/kind/config/kind.yaml
  apptests/kind/kind.go
  apptests/kind/network.go
  apptests/net/net.go
  apptests/net/net_test.go
  apptests/testdata/traefik/override-cm.yaml
  apptests/utils/eval.go
Labels: ready-for-review, ok-to-test, size/XXL

#2161 fix: Use correct constant for app name
  apptests/appscenarios/kubecost.go
Labels: ready-for-review, ok-to-test

#2162 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.5.1/defaults/cm.yaml
  services/kommander-ui/11.5.1/defaults/kustomization.yaml
  services/kommander-ui/11.5.1/kommander-ui.yaml
  services/kommander-ui/11.5.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2172 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.5.2/defaults/cm.yaml
  services/kommander-ui/11.5.2/defaults/kustomization.yaml
  services/kommander-ui/11.5.2/kommander-ui.yaml
  services/kommander-ui/11.5.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2173 fix: updating links in some apps pages (#2171)
  services/kubecost/metadata.yaml
  services/logging-operator/metadata.yaml
  services/velero/metadata.yaml
Labels: size/XS

#2174 fix: updating links in some apps pages (#2171)
  services/kubecost/metadata.yaml
  services/logging-operator/metadata.yaml
  services/velero/metadata.yaml
Labels: size/XS

#2175 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.4.4/defaults/cm.yaml
  services/kommander-ui/11.4.4/defaults/kustomization.yaml
  services/kommander-ui/11.4.4/kommander-ui.yaml
  services/kommander-ui/11.4.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#2176 feat: Release DKP-Insights v1.1.2
  licenses.d2iq.yaml
  services/dkp-insights-management/1.1.2/defaults/cm.yaml
  services/dkp-insights-management/1.1.2/defaults/kustomization.yaml
  services/dkp-insights-management/1.1.2/helmrelease.yaml
  services/dkp-insights-management/1.1.2/helmrelease/helmrelease.yaml
  services/dkp-insights-management/1.1.2/helmrelease/kustomization.yaml
  services/dkp-insights-management/1.1.2/kustomization.yaml
  services/dkp-insights/1.1.2/defaults/cm.yaml
  services/dkp-insights/1.1.2/defaults/kustomization.yaml
  services/dkp-insights/1.1.2/helmrelease.yaml
  services/dkp-insights/1.1.2/helmrelease/extra-images.txt
  services/dkp-insights/1.1.2/helmrelease/helmrelease.yaml
  services/dkp-insights/1.1.2/helmrelease/kustomization.yaml
  services/dkp-insights/1.1.2/helmrelease/list-images-values.yaml
  services/dkp-insights/1.1.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S
