Repository mesosphere/kommander-applications, pull requests merged in 2024-06, with the labels that each got.

#2244 feat: Rook Ceph application specific tests
  apptests/appscenarios/rookceph.go
  apptests/appscenarios/rookceph_test.go
  apptests/appscenarios/setup.go
  apptests/appscenarios/suite_test.go
  apptests/constants/apps.go
  apptests/environment/environment.go
  apptests/kind-config.yaml
  apptests/kind/config/kind.yaml
  apptests/kind/kind.go
  apptests/testdata/rook-ceph/loop-devs/create-loop-devs-deamonset.yaml
  apptests/testdata/rook-ceph/manifests/persistent-volume-creator.yaml
  apptests/testdata/rook-ceph/overrides/rook-ceph-cluster-overrides.yaml
  apptests/testdata/rook-ceph/scripts/loopback-storage-creator.sh
Labels: ready-for-review, ok-to-test, size/XXL, services/rook-ceph

#2280 feat: add an Ingress for git-operator
  services/git-operator/0.0.0/git-operator.yaml
  services/traefik/27.0.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, services/traefik, update-licenses, services/git-operator

#2282 chore: bump to flux helm v2b2
  common/build/kommander-cert-federation.yaml
  common/kommander-operator/helmrelease.yaml
  make/validate.mk
  services/ai-navigator-app/0.2.2/helmrelease/helmrelease.yaml
  services/ai-navigator-cluster-info-agent/0.1.1/helmrelease/helmrelease.yaml
  services/centralized-grafana/48.3.2/centralized-grafana.yaml
  services/centralized-kubecost/0.37.3/release/release.yaml
  services/cert-manager/1.14.2/release.yaml
  services/cert-manager/1.14.2/release/release.yaml
  services/chartmuseum/3.10.2/chartmuseum.yaml
  services/dex-k8s-authenticator/1.3.2/dex-k8s-authenticator.yaml
  services/dex/2.13.12/dex.yaml
  services/dkp-insights-management/1.1.1/helmrelease/helmrelease.yaml
  services/dkp-insights/1.1.2/helmrelease/helmrelease.yaml
  services/external-dns/7.2.1/external-dns.yaml
  services/fluent-bit/0.46.2/fluent-bit.yaml
  services/gatekeeper/3.15.1/release.yaml
  services/gatekeeper/3.15.1/release/release.yaml
  services/gitea/8.2.1/gitea.yaml
  services/grafana-logging/7.3.8/grafana.yaml
  services/grafana-loki/0.78.5/grafana-loki-helmrelease/grafana-loki.yaml
  services/istio/1.21.1/helmrelease/helmrelease.yaml
  services/jaeger/2.53.0/helmrelease/release.yaml
  services/karma-traefik/0.0.1/karma-traefik.yaml
  services/karma/2.0.4/karma.yaml
  services/kiali/1.83.0/kiali.yaml
  services/knative/1.10.5/knative-serving.yaml
  services/kommander-appmanagement/0.12.0/kommander-appmanagement.yaml
  services/kommander-ui/11.12.0/kommander-ui.yaml
  services/kommander/0.12.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.12.0/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.12.0/kommander.yaml
  services/kube-oidc-proxy/0.3.4/kube-oidc-proxy.yaml
  services/kube-prometheus-stack/48.3.2/helmrelease/kube-prometheus-stack.yaml
  services/kubecost-thanos-traefik/0.0.1/kubecost-thanos-traefik.yaml
  services/kubecost/0.37.3/kubecost.yaml
  services/kubefed/0.10.5/release.yaml
  services/kubefed/0.10.5/release/release.yaml
  services/kubernetes-dashboard/6.0.9/helmrelease/kubernetes-dashboard.yaml
  services/kubetunnel/0.0.33/kubetunnel.yaml
  services/logging-operator/4.2.5/logging-operator-logging.yaml
  services/logging-operator/4.2.5/logging-operator.yaml
  services/nfs-server-provisioner/0.6.1/nfs-server-provisioner.yaml
  services/nvidia-gpu-operator/23.9.2/helmrelease/nvidia.yaml
  services/project-grafana-logging/7.3.8/project-grafana.yaml
  services/project-grafana-loki/0.78.5/object-bucket-claims.yaml
  services/project-grafana-loki/0.78.5/project-grafana-loki.yaml
  services/prometheus-adapter/4.10.0/helmrelease/prometheus-adapter.yaml
  services/prometheus-thanos-traefik/0.0.1/prometheus-thanos-traefik.yaml
  services/reloader/1.0.79/reloader.yaml
  services/rook-ceph-cluster/1.14.2/helmrelease/helmrelease.yaml
  services/rook-ceph-cluster/1.14.2/objectbucketclaims/helmrelease.yaml
  services/rook-ceph/1.14.2/helmrelease/helmrelease.yaml
  services/thanos/15.4.1/thanos.yaml
  services/traefik-forward-auth-mgmt/0.3.11/traefik-forward-auth-mgmt.yaml
  services/traefik-forward-auth/0.3.11/traefik-forward-auth.yaml
  services/traefik/27.0.2/traefik.yaml
  services/velero/6.0.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, let-me-merge-it, size/L, open-kommander-pr, services/gitea, services/kiali, services/fluent-bit, services/logging-operator, services/rook-ceph-cluster, services/rook-ceph, services/gatekeeper, services/kommander, services/istio, services/jaeger, services/centralized-grafana, services/external-dns, services/nvidia-gpu-operator, services/traefik, services/reloader, services/grafana-logging, services/cert-manager, services/kube-prometheus-stack, services/centralized-kubecost, services/dex-k8s-authenticator, services/dkp-insights-management, services/karma, services/karma-traefik, services/knative, services/kubecost, services/kubecost-thanos-traefik, services/prometheus-adapter, services/prometheus-thanos-traefik, services/traefik-forward-auth, services/traefik-forward-auth-mgmt, services/velero, services/grafana-loki, services/project-grafana-loki, services/kubefed, services/kubetunnel, services/thanos, services/project-grafana-logging, services/kommander-appmanagement, services/kubernetes-dashboard, services/dex, services/kube-oidc-proxy, update-licenses, services/kommander-ui, services/chartmuseum, services/nfs-server-provisioner, services/dkp-insights, services/ai-navigator-app, services/ai-navigator-cluster-info-agent

#2281 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.16.0/defaults/cm.yaml
  services/kommander-ui/11.16.0/defaults/kustomization.yaml
  services/kommander-ui/11.16.0/kommander-ui.yaml
  services/kommander-ui/11.16.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2284 feat: add gitops repo structure
  clusters/README.md
  clusters/kommander_host-cluster/apps/kommander.yaml
  clusters/kommander_host-cluster/apps/kommander/kustomization.yaml
  clusters/kommander_host-cluster/apps/kustomization.yaml
  clusters/kommander_host-cluster/common/kustomization.yaml
  clusters/kommander_host-cluster/kustomization.yaml
  make/release.mk
  projects/README.md
  workspaces/README.md
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr

#2289 chore: bump cluster-observer to 1.3.0 w/ helm v2b2
  licenses.d2iq.yaml
  services/kommander/0.12.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
Labels: ready-for-review, do-not-merge, ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/kommander, update-licenses

#2290 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.17.0/defaults/cm.yaml
  services/kommander-ui/11.17.0/defaults/kustomization.yaml
  services/kommander-ui/11.17.0/kommander-ui.yaml
  services/kommander-ui/11.17.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2279 ci: add (re)open events for prs and handle 2+ apps
  .github/workflows/application-test-scenario-install.yaml
  .github/workflows/application-test-scenario-upgrade.yaml
  .github/workflows/application-test.yaml
Labels: size/M, services/reloader

#2291 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.19.0/defaults/cm.yaml
  services/kommander-ui/11.19.0/defaults/kustomization.yaml
  services/kommander-ui/11.19.0/kommander-ui.yaml
  services/kommander-ui/11.19.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2285 feat: Application specific tests for Velero
  .github/workflows/application-test-scenario-install.yaml
  .github/workflows/application-test-scenario-upgrade.yaml
  apptests/appscenarios/contants.go
  apptests/appscenarios/velero.go
  apptests/appscenarios/velero_test.go
  apptests/constants/apps.go
  apptests/environment/environment.go
  apptests/support-bundle.yaml
  apptests/testdata/rook-ceph/manifests/kustomization.yaml
  apptests/testdata/rook-ceph/overrides/rook-ceph-cluster-overrides.yaml
  apptests/testdata/velero/backup/backup.yaml
  apptests/testdata/velero/nginx/nginx-app.yaml
  apptests/testdata/velero/restore/restore.yaml
Labels: ready-for-review, ok-to-test, size/XXL, services/velero

#2298 fix: Revert "feat: add gitops repo structure (#2284)"
  clusters/README.md
  clusters/kommander_host-cluster/apps/kommander.yaml
  clusters/kommander_host-cluster/apps/kommander/kustomization.yaml
  clusters/kommander_host-cluster/apps/kustomization.yaml
  clusters/kommander_host-cluster/common/kustomization.yaml
  clusters/kommander_host-cluster/kustomization.yaml
  make/release.mk
  projects/README.md
  workspaces/README.md
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr

#2299 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.20.0/defaults/cm.yaml
  services/kommander-ui/11.20.0/defaults/kustomization.yaml
  services/kommander-ui/11.20.0/kommander-ui.yaml
  services/kommander-ui/11.20.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2297 feat(koperator): Add feature flag gate for kcore upgrade
  charts/kommander-operator/templates/deployment.yaml
  charts/kommander-operator/values.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2309 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.21.0/defaults/cm.yaml
  services/kommander-ui/11.21.0/defaults/kustomization.yaml
  services/kommander-ui/11.21.0/kommander-ui.yaml
  services/kommander-ui/11.21.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2178 feat: Bump gpu-operator to v24.3.0
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/24.3.0/defaults/cm.yaml
  services/nvidia-gpu-operator/24.3.0/defaults/kustomization.yaml
  services/nvidia-gpu-operator/24.3.0/grafana-dashboards/gpu-operator.json
  services/nvidia-gpu-operator/24.3.0/grafana-dashboards/kustomization.yaml
  services/nvidia-gpu-operator/24.3.0/helmrelease.yaml
  services/nvidia-gpu-operator/24.3.0/helmrelease/extra-images.txt
  services/nvidia-gpu-operator/24.3.0/helmrelease/kustomization.yaml
  services/nvidia-gpu-operator/24.3.0/helmrelease/nvidia.yaml
  services/nvidia-gpu-operator/24.3.0/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#2315 fix: gfd no longer uses its own image
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/24.3.0/defaults/cm.yaml
  services/nvidia-gpu-operator/24.3.0/helmrelease/extra-images.txt
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#2308 feat: Bump velero to 6.6.0
  .github/services-pr-labeler.yaml
  licenses.d2iq.yaml
  services/velero/6.0.0/v4-hooks-adoption/v4-hooks-adoption.yaml
  services/velero/6.0.0/velero-post-install.yaml
  services/velero/6.6.0/defaults/cm.yaml
  services/velero/6.6.0/defaults/kustomization.yaml
  services/velero/6.6.0/grafana-dashboards/kustomization.yaml
  services/velero/6.6.0/grafana-dashboards/velero.json
  services/velero/6.6.0/helmrelease/helmrelease.yaml
  services/velero/6.6.0/kustomization.yaml
  services/velero/6.6.0/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/6.6.0/post-install/kustomization.yaml
  services/velero/6.6.0/pre-install/kustomization.yaml
  services/velero/6.6.0/pre-install/pre-install-job.yaml
  services/velero/6.6.0/velero-post-install.yaml
  services/velero/6.6.0/velero-pre-install.yaml
  services/velero/6.6.0/velero.yaml
Labels: ready-for-review, ok-to-test, size/L, services/velero, update-licenses

#2317 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.23.0/defaults/cm.yaml
  services/kommander-ui/11.23.0/defaults/kustomization.yaml
  services/kommander-ui/11.23.0/kommander-ui.yaml
  services/kommander-ui/11.23.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2301 feat: Bump reloader to 1.0.107
  licenses.d2iq.yaml
  services/reloader/1.0.107/defaults/cm.yaml
  services/reloader/1.0.107/defaults/kustomization.yaml
  services/reloader/1.0.107/kustomization.yaml
  services/reloader/1.0.107/reloader.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/reloader, update-licenses

#2296 feat: Add documentation for application specific tests
  apptests/tests-doc.md
Labels: ready-for-review, ok-to-test, size/M

#2320 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.24.0/defaults/cm.yaml
  services/kommander-ui/11.24.0/defaults/kustomization.yaml
  services/kommander-ui/11.24.0/kommander-ui.yaml
  services/kommander-ui/11.24.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2323 chore: update KommanderCore CRD
  charts/kommander-operator/crds/crd_kommandercores.yaml
  charts/kommander-operator/crds/dkp.d2iq.io_kommandercores.yaml
  charts/kommander-operator/templates/post_install_kommandercore_hook.yaml
Labels: ready-for-review, size/L

#2321 feat: bump ui to latest
  .github/workflows/lint.yaml
  licenses.d2iq.yaml
  services/kommander-ui/11.25.0/defaults/cm.yaml
  services/kommander-ui/11.25.0/defaults/kustomization.yaml
  services/kommander-ui/11.25.0/kommander-ui.yaml
  services/kommander-ui/11.25.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, services/kommander-ui

#2276 feat: Bump kiali-operator to 1.85.0
  licenses.d2iq.yaml
  services/kiali/1.85.0/defaults/cm.yaml
  services/kiali/1.85.0/defaults/kustomization.yaml
  services/kiali/1.85.0/extra-images.txt
  services/kiali/1.85.0/kiali.yaml
  services/kiali/1.85.0/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/kiali, update-licenses

#2319 feat: add gitops repo structure
  clusters/README.md
  clusters/kommander_host-cluster/apps/kommander.yaml
  clusters/kommander_host-cluster/apps/kommander/kustomization.yaml
  clusters/kommander_host-cluster/apps/kustomization.yaml
  clusters/kommander_host-cluster/common/kustomization.yaml
  clusters/kommander_host-cluster/kustomization.yaml
  make/release.mk
  projects/README.md
  workspaces/README.md
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/M

#2324 feat: Bump git-operator
  services/git-operator/0.1.0/defaults/kustomization.yaml
  services/git-operator/0.1.0/git-operator.yaml
  services/git-operator/0.1.0/kustomization.yaml
Labels: ok-to-test, size/XS, update-licenses, services/git-operator

#2327 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.26.0/defaults/cm.yaml
  services/kommander-ui/11.26.0/defaults/kustomization.yaml
  services/kommander-ui/11.26.0/kommander-ui.yaml
  services/kommander-ui/11.26.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2271 feat: Bump jaeger-operator to 2.54.0
  licenses.d2iq.yaml
  services/jaeger/2.54.0/defaults/cm.yaml
  services/jaeger/2.54.0/defaults/kustomization.yaml
  services/jaeger/2.54.0/helmrelease.yaml
  services/jaeger/2.54.0/helmrelease/extra-images.txt
  services/jaeger/2.54.0/helmrelease/kustomization.yaml
  services/jaeger/2.54.0/helmrelease/release.yaml
  services/jaeger/2.54.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/jaeger, update-licenses

#2328 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.27.0/defaults/cm.yaml
  services/kommander-ui/11.27.0/defaults/kustomization.yaml
  services/kommander-ui/11.27.0/kommander-ui.yaml
  services/kommander-ui/11.27.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2332 fix(licenses): override kubectl values
  common/build/list-images-values.yaml
  licenses.d2iq.yaml
  services/kommander/0.12.0/dynamic-helmreleases/cluster-observer/list-images-values.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, services/rook-ceph-cluster, services/kommander, services/istio, services/traefik, services/kube-prometheus-stack, services/centralized-kubecost, services/dkp-insights-management, services/knative, services/kubecost, services/velero, services/grafana-loki, services/project-grafana-loki, services/kubefed, services/kubetunnel, services/thanos, services/dex, update-licenses, services/dkp-insights, services/ai-navigator-app

#2322 feat: Bump k8s and kubectl to 1.29.6
  .bloodhound.yml
  apptests/appscenarios/contants.go
  common/build/list-images-values.yaml
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.2/defaults/cm.yaml
  services/centralized-kubecost/0.37.3/defaults/cm.yaml
  services/centralized-kubecost/0.37.3/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.3/release/release.yaml
  services/dex/2.13.12/defaults/cm.yaml
  services/dkp-insights-management/1.1.1/defaults/cm.yaml
  services/dkp-insights/1.1.2/defaults/cm.yaml
  services/grafana-loki/0.78.5/grafana-loki-pre-install-jobs/pre-install.yaml
  services/istio/1.21.1/defaults/cm.yaml
  services/knative/1.10.5/defaults/cm.yaml
  services/kommander/0.12.0/dynamic-helmreleases/cluster-observer/list-images-values.yaml
  services/kube-prometheus-stack/48.3.2/defaults/cm.yaml
  services/kubecost/0.37.3/defaults/cm.yaml
  services/kubefed/0.10.5/defaults/cm.yaml
  services/kubetunnel/0.0.33/defaults/cm.yaml
  services/project-grafana-loki/0.78.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.14.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.14.2/pre-install/ceph-crd-check.yaml
  services/thanos/15.4.1/jobs/jobs.yaml
  services/traefik/27.0.2/defaults/cm.yaml
  services/velero/6.6.0/defaults/cm.yaml
  services/velero/6.6.0/velero-pre-install.yaml
Labels: ready-for-review, ok-to-test, size/M, services/rook-ceph-cluster, services/kommander, services/istio, services/traefik, services/kube-prometheus-stack, services/centralized-kubecost, services/dkp-insights-management, services/knative, services/kubecost, services/velero, services/grafana-loki, services/project-grafana-loki, services/kubefed, services/kubetunnel, services/thanos, services/dex, update-licenses, services/dkp-insights, services/ai-navigator-app

#2268 feat: Bump gatekeeper to 3.16.3
  licenses.d2iq.yaml
  services/gatekeeper/3.16.3/constraints.yaml
  services/gatekeeper/3.16.3/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.16.3/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.16.3/constrainttemplates.yaml
  services/gatekeeper/3.16.3/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.16.3/defaults/cm.yaml
  services/gatekeeper/3.16.3/defaults/kustomization.yaml
  services/gatekeeper/3.16.3/kustomization.yaml
  services/gatekeeper/3.16.3/release.yaml
  services/gatekeeper/3.16.3/release/kustomization.yaml
  services/gatekeeper/3.16.3/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
Labels: ok-to-test, size/S, services/gatekeeper, update-licenses

#2334 ci: Set labels on dependabot prs
  .github/dependabot.yml
Labels: ready-for-review, ok-to-test, size/S

#2305 feat: Bump fluent-bit to 0.46.9
  services/fluent-bit/0.46.9/defaults/cm.yaml
  services/fluent-bit/0.46.9/defaults/kustomization.yaml
  services/fluent-bit/0.46.9/fluent-bit.yaml
  services/fluent-bit/0.46.9/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.46.9/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.46.9/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.46.9/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.46.9/kustomization.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/fluent-bit, update-licenses

#2300 feat: Bump grafana to 8.0.2
  services/grafana-logging/8.0.2/defaults/cm.yaml
  services/grafana-logging/8.0.2/defaults/kustomization.yaml
  services/grafana-logging/8.0.2/grafana.yaml
  services/grafana-logging/8.0.2/kustomization.yaml
  services/project-grafana-logging/8.0.2/defaults/cm.yaml
  services/project-grafana-logging/8.0.2/defaults/kustomization.yaml
  services/project-grafana-logging/8.0.2/kustomization.yaml
  services/project-grafana-logging/8.0.2/project-grafana.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/grafana-logging, services/project-grafana-logging, update-licenses

#2338 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.28.0/defaults/cm.yaml
  services/kommander-ui/11.28.0/defaults/kustomization.yaml
  services/kommander-ui/11.28.0/kommander-ui.yaml
  services/kommander-ui/11.28.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2304 feat: Bump thanos to 15.7.6
  licenses.d2iq.yaml
  services/thanos/15.7.6/defaults/cm.yaml
  services/thanos/15.7.6/defaults/kustomization.yaml
  services/thanos/15.7.6/jobs.yaml
  services/thanos/15.7.6/jobs/jobs.yaml
  services/thanos/15.7.6/kustomization.yaml
  services/thanos/15.7.6/thanos.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/thanos, update-licenses

#2339 feat: Bump git-operator to v0.7.0
  services/git-operator/0.1.0/git-operator.yaml
Labels: ok-to-test, update-licenses, services/git-operator

#2316 feat(koperator): Remove post-install hook that deploys kcore
  charts/kommander-operator/Chart.yaml
  charts/kommander-operator/templates/post_install_kommandercore_hook.yaml
  common/kommander-operator/helmrelease.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/L, open-kommander-pr

#2341 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.29.0/defaults/cm.yaml
  services/kommander-ui/11.29.0/defaults/kustomization.yaml
  services/kommander-ui/11.29.0/kommander-ui.yaml
  services/kommander-ui/11.29.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2340 chore: bump priorityclass for notification controller
  hack/flux/flux-update-kustomization.yaml
  services/kommander-flux/2.2.3/templates/apps_v1_deployment_notification-controller.yaml
Labels: ready-for-review, ok-to-test, open-kommander-pr, services/kommander-flux, update-licenses

#2337 feat(KPS): Bump to 60.4.0
  licenses.d2iq.yaml
  services/centralized-grafana/60.4.0/centralized-grafana.yaml
  services/centralized-grafana/60.4.0/defaults/cm.yaml
  services/centralized-grafana/60.4.0/defaults/kustomization.yaml
  services/centralized-grafana/60.4.0/grafana-dashboards/global-overview.json
  services/centralized-grafana/60.4.0/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/60.4.0/kustomization.yaml
  services/centralized-grafana/60.4.0/rbac/grafana.yaml
  services/centralized-grafana/60.4.0/rbac/kustomization.yaml
  services/kube-prometheus-stack/60.4.0/defaults/cm.yaml
  services/kube-prometheus-stack/60.4.0/defaults/kustomization.yaml
  services/kube-prometheus-stack/60.4.0/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/60.4.0/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/60.4.0/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/60.4.0/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/60.4.0/grafana-dashboards/calico.json
  services/kube-prometheus-stack/60.4.0/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/60.4.0/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/60.4.0/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/60.4.0/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/60.4.0/grafana-dashboards/pv-stats.json
  services/kube-prometheus-stack/60.4.0/helmrelease.yaml
  services/kube-prometheus-stack/60.4.0/helmrelease/extra-images.txt
  services/kube-prometheus-stack/60.4.0/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/60.4.0/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/60.4.0/kustomization.yaml
  services/kube-prometheus-stack/60.4.0/rbac/alertmanager.yaml
  services/kube-prometheus-stack/60.4.0/rbac/grafana.yaml
  services/kube-prometheus-stack/60.4.0/rbac/kustomization.yaml
  services/kube-prometheus-stack/60.4.0/rbac/prometheus.yaml
  services/kube-prometheus-stack/metadata.yaml
Labels: ready-for-review, ok-to-test, size/L, services/centralized-grafana, services/kube-prometheus-stack, update-licenses

#2344 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.30.0/defaults/cm.yaml
  services/kommander-ui/11.30.0/defaults/kustomization.yaml
  services/kommander-ui/11.30.0/kommander-ui.yaml
  services/kommander-ui/11.30.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2347 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.31.0/defaults/cm.yaml
  services/kommander-ui/11.31.0/defaults/kustomization.yaml
  services/kommander-ui/11.31.0/kommander-ui.yaml
  services/kommander-ui/11.31.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui
