Repository mesosphere/kommander-applications, pull requests merged in 2024-09, with the labels that each got.

#2589 chore: bump tfa to 3.2.0 (2.12)
  licenses.d2iq.yaml
  services/traefik-forward-auth-mgmt/0.3.12/defaults/cm.yaml
  services/traefik-forward-auth-mgmt/0.3.12/defaults/kustomization.yaml
  services/traefik-forward-auth-mgmt/0.3.12/kustomization.yaml
  services/traefik-forward-auth-mgmt/0.3.12/traefik-forward-auth-mgmt.yaml
  services/traefik-forward-auth/0.3.12/defaults/cm.yaml
  services/traefik-forward-auth/0.3.12/defaults/kustomization.yaml
  services/traefik-forward-auth/0.3.12/kustomization.yaml
  services/traefik-forward-auth/0.3.12/traefik-forward-auth.yaml
Labels: ok-to-test, size/S, open-kommander-pr

#2605 feat: Bump fluent-bit to 0.47.7
  services/fluent-bit/0.47.7/defaults/cm.yaml
  services/fluent-bit/0.47.7/defaults/kustomization.yaml
  services/fluent-bit/0.47.7/fluent-bit.yaml
  services/fluent-bit/0.47.7/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.47.7/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.47.7/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.47.7/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.47.7/kustomization.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/fluent-bit, update-licenses

#2593 feat: Bump kiali-operator to 1.89.0
  licenses.d2iq.yaml
  services/kiali/1.89.0/defaults/cm.yaml
  services/kiali/1.89.0/defaults/kustomization.yaml
  services/kiali/1.89.0/extra-images.txt
  services/kiali/1.89.0/kiali.yaml
  services/kiali/1.89.0/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kiali, update-licenses

#2594 feat: Bump reloader to 1.1.0
  licenses.d2iq.yaml
  services/reloader/1.1.0/defaults/cm.yaml
  services/reloader/1.1.0/defaults/kustomization.yaml
  services/reloader/1.1.0/kustomization.yaml
  services/reloader/1.1.0/reloader.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/reloader, update-licenses

#2596 feat: Bump prometheus-adapter to 4.11.0
  licenses.d2iq.yaml
  services/prometheus-adapter/4.11.0/defaults/cm.yaml
  services/prometheus-adapter/4.11.0/defaults/kustomization.yaml
  services/prometheus-adapter/4.11.0/helmrelease/prometheus-adapter.yaml
  services/prometheus-adapter/4.11.0/kustomization.yaml
  services/prometheus-adapter/4.11.0/prometheus-adapter-helmrelease.yaml
Labels: ok-to-test, size/S, services/prometheus-adapter, update-licenses

#2612 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.0.3/defaults/cm.yaml
  services/kommander-ui/15.0.3/defaults/kustomization.yaml
  services/kommander-ui/15.0.3/kommander-ui.yaml
  services/kommander-ui/15.0.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#2620 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.1.1/defaults/cm.yaml
  services/kommander-ui/15.1.1/defaults/kustomization.yaml
  services/kommander-ui/15.1.1/kommander-ui.yaml
  services/kommander-ui/15.1.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2570 fix(kps): Secure access to node-exporter metrics
  licenses.d2iq.yaml
  services/kube-prometheus-stack/60.4.1/defaults/cm.yaml
  services/kube-prometheus-stack/60.4.1/defaults/kustomization.yaml
  services/kube-prometheus-stack/60.4.1/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/60.4.1/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/60.4.1/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/60.4.1/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/60.4.1/grafana-dashboards/calico.json
  services/kube-prometheus-stack/60.4.1/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/60.4.1/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/60.4.1/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/60.4.1/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/60.4.1/grafana-dashboards/pv-stats.json
  services/kube-prometheus-stack/60.4.1/helmrelease.yaml
  services/kube-prometheus-stack/60.4.1/helmrelease/extra-images.txt
  services/kube-prometheus-stack/60.4.1/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/60.4.1/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/60.4.1/kustomization.yaml
  services/kube-prometheus-stack/60.4.1/rbac/alertmanager.yaml
  services/kube-prometheus-stack/60.4.1/rbac/grafana.yaml
  services/kube-prometheus-stack/60.4.1/rbac/kustomization.yaml
  services/kube-prometheus-stack/60.4.1/rbac/prometheus.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, open-kommander-pr, services/kube-prometheus-stack, update-licenses, backport-to-release-2.7, backport-to-release-2.8, backport-to-release-2.12

#2623 fix(kps): Secure access to node-exporter metrics (#2570)
  licenses.d2iq.yaml
  services/kube-prometheus-stack/60.4.1/defaults/cm.yaml
  services/kube-prometheus-stack/60.4.1/defaults/kustomization.yaml
  services/kube-prometheus-stack/60.4.1/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/60.4.1/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/60.4.1/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/60.4.1/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/60.4.1/grafana-dashboards/calico.json
  services/kube-prometheus-stack/60.4.1/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/60.4.1/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/60.4.1/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/60.4.1/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/60.4.1/grafana-dashboards/pv-stats.json
  services/kube-prometheus-stack/60.4.1/helmrelease.yaml
  services/kube-prometheus-stack/60.4.1/helmrelease/extra-images.txt
  services/kube-prometheus-stack/60.4.1/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/60.4.1/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/60.4.1/kustomization.yaml
  services/kube-prometheus-stack/60.4.1/rbac/alertmanager.yaml
  services/kube-prometheus-stack/60.4.1/rbac/grafana.yaml
  services/kube-prometheus-stack/60.4.1/rbac/kustomization.yaml
  services/kube-prometheus-stack/60.4.1/rbac/prometheus.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/S, open-kommander-pr

#2613 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.4.7/defaults/cm.yaml
  services/kommander-ui/11.4.7/defaults/kustomization.yaml
  services/kommander-ui/11.4.7/kommander-ui.yaml
  services/kommander-ui/11.4.7/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#2625 feat(dashboard): Set kong priority class
  services/kubernetes-dashboard/7.5.1/defaults/cm.yaml
  services/kubernetes-dashboard/7.5.1/defaults/kustomization.yaml
  services/kubernetes-dashboard/7.5.1/helmrelease.yaml
  services/kubernetes-dashboard/7.5.1/helmrelease/kubernetes-dashboard.yaml
  services/kubernetes-dashboard/7.5.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, backport-to-main

#2611 feat: Update upgrade-matrix.yaml in post-upgrade
  hack/release/cmd/postrelease/postrelease.go
  hack/release/pkg/upgradematrix/upgradematrix.go
  hack/release/pkg/upgradematrix/upgradematrix_test.go
Labels: ready-for-review, ok-to-test, size/L

#2632 revert: "feat: Update upgrade-matrix.yaml in post-upgrade"
  hack/release/cmd/postrelease/postrelease.go
  hack/release/pkg/upgradematrix/upgradematrix.go
  hack/release/pkg/upgradematrix/upgradematrix_test.go
Labels: ok-to-test, size/L

#2595 feat: Bump gatekeeper to 3.17.0
  licenses.d2iq.yaml
  services/gatekeeper/3.17.0/constraints.yaml
  services/gatekeeper/3.17.0/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.17.0/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.17.0/constrainttemplates.yaml
  services/gatekeeper/3.17.0/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.17.0/defaults/cm.yaml
  services/gatekeeper/3.17.0/defaults/kustomization.yaml
  services/gatekeeper/3.17.0/kustomization.yaml
  services/gatekeeper/3.17.0/release.yaml
  services/gatekeeper/3.17.0/release/kustomization.yaml
  services/gatekeeper/3.17.0/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
Labels: ok-to-test, size/S, services/gatekeeper, update-licenses

#2600 feat: Bump loki-distributed to 0.79.3
  services/grafana-loki/0.79.3/defaults/cm.yaml
  services/grafana-loki/0.79.3/defaults/kustomization.yaml
  services/grafana-loki/0.79.3/grafana-dashboards-logging/kustomization.yaml
  services/grafana-loki/0.79.3/grafana-dashboards-logging/logging-loki-dashboard.json
  services/grafana-loki/0.79.3/grafana-dashboards/grafana-loki.json
  services/grafana-loki/0.79.3/grafana-dashboards/kustomization.yaml
  services/grafana-loki/0.79.3/grafana-dashboards/loki-chunks.json
  services/grafana-loki/0.79.3/grafana-dashboards/loki-deletion.json
  services/grafana-loki/0.79.3/grafana-dashboards/loki-reads-resources.json
  services/grafana-loki/0.79.3/grafana-dashboards/loki-retention.json
  services/grafana-loki/0.79.3/grafana-dashboards/loki-writes-resources.json
  services/grafana-loki/0.79.3/grafana-loki-helmrelease.yaml
  services/grafana-loki/0.79.3/grafana-loki-helmrelease/grafana-loki.yaml
  services/grafana-loki/0.79.3/grafana-loki-pre-install-jobs/pre-install.yaml
  services/grafana-loki/0.79.3/grafana-loki-pre-install.yaml
  services/grafana-loki/0.79.3/kustomization.yaml
  services/project-grafana-loki/0.79.3/defaults/cm.yaml
  services/project-grafana-loki/0.79.3/defaults/kustomization.yaml
  services/project-grafana-loki/0.79.3/grafana-dashboards-logging/kustomization.yaml
  services/project-grafana-loki/0.79.3/grafana-dashboards-logging/logging-loki-dashboard.json
  services/project-grafana-loki/0.79.3/kustomization.yaml
  services/project-grafana-loki/0.79.3/object-bucket-claims.yaml
  services/project-grafana-loki/0.79.3/project-grafana-loki.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/grafana-loki, services/project-grafana-loki, update-licenses

#2619 fix: kustomize controller patched image with fixed CVE
  licenses.d2iq.yaml
  services/kommander-flux/2.2.5/defaults/cm.yaml
  services/kommander-flux/2.2.5/defaults/kustomization.yaml
  services/kommander-flux/2.2.5/kustomization.yaml
  services/kommander-flux/2.2.5/patch-proxy-env-vars.yaml
  services/kommander-flux/2.2.5/patch-source-ctrl-network-policy.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_alerts.notification.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_buckets.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_gitrepositories.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_helmcharts.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_helmreleases.helm.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_helmrepositories.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_kustomizations.kustomize.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_ocirepositories.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_providers.notification.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_receivers.notification.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apps_v1_deployment_helm-controller.yaml
  services/kommander-flux/2.2.5/templates/apps_v1_deployment_kustomize-controller.yaml
  services/kommander-flux/2.2.5/templates/apps_v1_deployment_notification-controller.yaml
  services/kommander-flux/2.2.5/templates/apps_v1_deployment_source-controller.yaml
  services/kommander-flux/2.2.5/templates/kustomization.yaml
  services/kommander-flux/2.2.5/templates/networking.k8s.io_v1_networkpolicy_allow-egress.yaml
  services/kommander-flux/2.2.5/templates/networking.k8s.io_v1_networkpolicy_allow-scraping.yaml
  services/kommander-flux/2.2.5/templates/networking.k8s.io_v1_networkpolicy_allow-source.yaml
  services/kommander-flux/2.2.5/templates/networking.k8s.io_v1_networkpolicy_allow-webhooks.yaml
  services/kommander-flux/2.2.5/templates/rbac.authorization.k8s.io_v1_clusterrole_crd-controller-kommander-flux.yaml
  services/kommander-flux/2.2.5/templates/rbac.authorization.k8s.io_v1_clusterrole_flux-edit-kommander-flux.yaml
  services/kommander-flux/2.2.5/templates/rbac.authorization.k8s.io_v1_clusterrole_flux-view-kommander-flux.yaml
  services/kommander-flux/2.2.5/templates/rbac.authorization.k8s.io_v1_clusterrolebinding_cluster-reconciler-kommander-flux.yaml
  services/kommander-flux/2.2.5/templates/rbac.authorization.k8s.io_v1_clusterrolebinding_crd-controller-kommander-flux.yaml
  services/kommander-flux/2.2.5/templates/v1_namespace_kommander-flux.yaml
  services/kommander-flux/2.2.5/templates/v1_resourcequota_critical-pods-kommander-flux.yaml
  services/kommander-flux/2.2.5/templates/v1_service_notification-controller.yaml
  services/kommander-flux/2.2.5/templates/v1_service_source-controller.yaml
  services/kommander-flux/2.2.5/templates/v1_service_webhook-receiver.yaml
  services/kommander-flux/2.2.5/templates/v1_serviceaccount_helm-controller.yaml
  services/kommander-flux/2.2.5/templates/v1_serviceaccount_kustomize-controller.yaml
  services/kommander-flux/2.2.5/templates/v1_serviceaccount_notification-controller.yaml
  services/kommander-flux/2.2.5/templates/v1_serviceaccount_source-controller.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/kommander-flux, update-licenses

#2618 feat: Bump kiali to 1.87.2 - cve fix
  licenses.d2iq.yaml
  services/kiali/1.89.2/defaults/cm.yaml
  services/kiali/1.89.2/defaults/kustomization.yaml
  services/kiali/1.89.2/extra-images.txt
  services/kiali/1.89.2/kiali.yaml
  services/kiali/1.89.2/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kiali, update-licenses

#2635 chore(dka): bump to 1.4.2
  licenses.d2iq.yaml
  services/dex-k8s-authenticator/1.4.2/defaults/cm.yaml
  services/dex-k8s-authenticator/1.4.2/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.4.2/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.4.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, open-kommander-pr, services/dex-k8s-authenticator, update-licenses, backport-to-release-2.12

#2622 fix: kiwigrid/k8s-sidecar patched image with fixed CVE
  licenses.d2iq.yaml
  services/centralized-grafana/60.4.1/centralized-grafana.yaml
  services/centralized-grafana/60.4.1/defaults/cm.yaml
  services/centralized-grafana/60.4.1/defaults/kustomization.yaml
  services/centralized-grafana/60.4.1/grafana-dashboards/global-overview.json
  services/centralized-grafana/60.4.1/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/60.4.1/kustomization.yaml
  services/centralized-grafana/60.4.1/rbac/grafana.yaml
  services/centralized-grafana/60.4.1/rbac/kustomization.yaml
  services/grafana-logging/8.3.6/defaults/cm.yaml
  services/grafana-logging/8.3.6/defaults/kustomization.yaml
  services/grafana-logging/8.3.6/grafana.yaml
  services/grafana-logging/8.3.6/kustomization.yaml
  services/kube-prometheus-stack/60.4.1/defaults/cm.yaml
  services/kubecost/0.37.6/defaults/cm.yaml
  services/project-grafana-logging/8.3.5/defaults/cm.yaml
  services/project-grafana-logging/8.3.5/defaults/kustomization.yaml
  services/project-grafana-logging/8.3.5/kustomization.yaml
  services/project-grafana-logging/8.3.5/project-grafana.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/centralized-grafana, services/grafana-logging, services/kube-prometheus-stack, services/kubecost, services/project-grafana-logging, update-licenses

#2642 chore(dka): bump to 1.4.4
  licenses.d2iq.yaml
  services/dex-k8s-authenticator/1.4.4/defaults/cm.yaml
  services/dex-k8s-authenticator/1.4.4/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.4.4/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.4.4/kustomization.yaml
Labels: ok-to-test, size/S, services/dex-k8s-authenticator, update-licenses

#2643 chore(dka): bump to 1.4.4
  licenses.d2iq.yaml
  services/dex-k8s-authenticator/1.4.4/defaults/cm.yaml
  services/dex-k8s-authenticator/1.4.4/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.4.4/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.4.4/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr

#2624 fix(kps): Secure access to node-exporter metrics (2.8)
  licenses.d2iq.yaml
  services/kube-prometheus-stack/48.3.3/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.3/defaults/kustomization.yaml
  services/kube-prometheus-stack/48.3.3/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/48.3.3/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/48.3.3/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/48.3.3/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/48.3.3/grafana-dashboards/calico.json
  services/kube-prometheus-stack/48.3.3/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/48.3.3/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/48.3.3/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/48.3.3/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/48.3.3/grafana-dashboards/pv-stats.json
  services/kube-prometheus-stack/48.3.3/helmrelease.yaml
  services/kube-prometheus-stack/48.3.3/helmrelease/extra-images.txt
  services/kube-prometheus-stack/48.3.3/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/48.3.3/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/48.3.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/S, open-kommander-pr

#2640 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.1.2/defaults/cm.yaml
  services/kommander-ui/15.1.2/defaults/kustomization.yaml
  services/kommander-ui/15.1.2/kommander-ui.yaml
  services/kommander-ui/15.1.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, update-licenses, services/kommander-ui

#2603 feat: Bump thanos to 15.7.23
  licenses.d2iq.yaml
  services/thanos/15.7.23/defaults/cm.yaml
  services/thanos/15.7.23/defaults/kustomization.yaml
  services/thanos/15.7.23/jobs.yaml
  services/thanos/15.7.23/jobs/jobs.yaml
  services/thanos/15.7.23/kustomization.yaml
  services/thanos/15.7.23/thanos.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/thanos, update-licenses

#2644 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.1.3/defaults/cm.yaml
  services/kommander-ui/15.1.3/defaults/kustomization.yaml
  services/kommander-ui/15.1.3/kommander-ui.yaml
  services/kommander-ui/15.1.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2645 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.0.4/defaults/cm.yaml
  services/kommander-ui/15.0.4/defaults/kustomization.yaml
  services/kommander-ui/15.0.4/kommander-ui.yaml
  services/kommander-ui/15.0.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#2639 fix: kustomize controller fixed CVE (2.12)
  licenses.d2iq.yaml
  services/kommander-flux/2.2.5/defaults/cm.yaml
  services/kommander-flux/2.2.5/defaults/kustomization.yaml
  services/kommander-flux/2.2.5/kustomization.yaml
  services/kommander-flux/2.2.5/patch-proxy-env-vars.yaml
  services/kommander-flux/2.2.5/patch-source-ctrl-network-policy.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_alerts.notification.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_buckets.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_gitrepositories.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_helmcharts.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_helmreleases.helm.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_helmrepositories.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_kustomizations.kustomize.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_ocirepositories.source.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_providers.notification.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apiextensions.k8s.io_v1_customresourcedefinition_receivers.notification.toolkit.fluxcd.io.yaml
  services/kommander-flux/2.2.5/templates/apps_v1_deployment_helm-controller.yaml
  services/kommander-flux/2.2.5/templates/apps_v1_deployment_kustomize-controller.yaml
  services/kommander-flux/2.2.5/templates/apps_v1_deployment_notification-controller.yaml
  services/kommander-flux/2.2.5/templates/apps_v1_deployment_source-controller.yaml
  services/kommander-flux/2.2.5/templates/kustomization.yaml
  services/kommander-flux/2.2.5/templates/networking.k8s.io_v1_networkpolicy_allow-egress.yaml
  services/kommander-flux/2.2.5/templates/networking.k8s.io_v1_networkpolicy_allow-scraping.yaml
  services/kommander-flux/2.2.5/templates/networking.k8s.io_v1_networkpolicy_allow-source.yaml
  services/kommander-flux/2.2.5/templates/networking.k8s.io_v1_networkpolicy_allow-webhooks.yaml
  services/kommander-flux/2.2.5/templates/rbac.authorization.k8s.io_v1_clusterrole_crd-controller-kommander-flux.yaml
  services/kommander-flux/2.2.5/templates/rbac.authorization.k8s.io_v1_clusterrole_flux-edit-kommander-flux.yaml
  services/kommander-flux/2.2.5/templates/rbac.authorization.k8s.io_v1_clusterrole_flux-view-kommander-flux.yaml
  services/kommander-flux/2.2.5/templates/rbac.authorization.k8s.io_v1_clusterrolebinding_cluster-reconciler-kommander-flux.yaml
  services/kommander-flux/2.2.5/templates/rbac.authorization.k8s.io_v1_clusterrolebinding_crd-controller-kommander-flux.yaml
  services/kommander-flux/2.2.5/templates/v1_namespace_kommander-flux.yaml
  services/kommander-flux/2.2.5/templates/v1_resourcequota_critical-pods-kommander-flux.yaml
  services/kommander-flux/2.2.5/templates/v1_service_notification-controller.yaml
  services/kommander-flux/2.2.5/templates/v1_service_source-controller.yaml
  services/kommander-flux/2.2.5/templates/v1_service_webhook-receiver.yaml
  services/kommander-flux/2.2.5/templates/v1_serviceaccount_helm-controller.yaml
  services/kommander-flux/2.2.5/templates/v1_serviceaccount_kustomize-controller.yaml
  services/kommander-flux/2.2.5/templates/v1_serviceaccount_notification-controller.yaml
  services/kommander-flux/2.2.5/templates/v1_serviceaccount_source-controller.yaml
Labels: ok-to-test, backport-pr, size/XS, open-kommander-pr

#2641 fix: k8s-sidecar patched image with fixed CVE (2.12)
  licenses.d2iq.yaml
  services/centralized-grafana/60.4.1/centralized-grafana.yaml
  services/centralized-grafana/60.4.1/defaults/cm.yaml
  services/centralized-grafana/60.4.1/defaults/kustomization.yaml
  services/centralized-grafana/60.4.1/grafana-dashboards/global-overview.json
  services/centralized-grafana/60.4.1/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/60.4.1/kustomization.yaml
  services/centralized-grafana/60.4.1/rbac/grafana.yaml
  services/centralized-grafana/60.4.1/rbac/kustomization.yaml
  services/grafana-logging/8.3.6/defaults/cm.yaml
  services/grafana-logging/8.3.6/defaults/kustomization.yaml
  services/grafana-logging/8.3.6/grafana.yaml
  services/grafana-logging/8.3.6/kustomization.yaml
  services/kube-prometheus-stack/60.4.1/defaults/cm.yaml
  services/kubecost/0.37.5/defaults/cm.yaml
  services/project-grafana-logging/8.3.5/defaults/cm.yaml
  services/project-grafana-logging/8.3.5/defaults/kustomization.yaml
  services/project-grafana-logging/8.3.5/kustomization.yaml
  services/project-grafana-logging/8.3.5/project-grafana.yaml
Labels: backport-pr, size/M, open-kommander-pr

#2634 fix: kubecost patched image with fixed CVEs (2.12)
  licenses.d2iq.yaml
  services/centralized-kubecost/0.37.5/defaults/cm.yaml
  services/centralized-kubecost/0.37.5/defaults/kustomization.yaml
  services/centralized-kubecost/0.37.5/kustomization.yaml
  services/centralized-kubecost/0.37.5/post-install-jobs.yaml
  services/centralized-kubecost/0.37.5/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.5/release.yaml
  services/centralized-kubecost/0.37.5/release/release.yaml
  services/kubecost/0.37.6/defaults/cm.yaml
  services/kubecost/0.37.6/defaults/kustomization.yaml
  services/kubecost/0.37.6/kubecost.yaml
  services/kubecost/0.37.6/kustomization.yaml
Labels: ok-to-test, backport-pr, size/S, open-kommander-pr

#2647 chore: bump kubetunnel to 0.0.36
  licenses.d2iq.yaml
  services/kubetunnel/0.0.36/defaults/cm.yaml
  services/kubetunnel/0.0.36/defaults/kustomization.yaml
  services/kubetunnel/0.0.36/extra-images.txt
  services/kubetunnel/0.0.36/kubetunnel.yaml
  services/kubetunnel/0.0.36/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/kubetunnel, update-licenses

#2646 fix: cve fix for git operator and webserver
  .env
  licenses.d2iq.yaml
  services/git-operator/0.1.1/defaults/kustomization.yaml
  services/git-operator/0.1.1/git-operator-manifests/all.yaml
  services/git-operator/0.1.1/git-operator-manifests/kustomization.yaml
  services/git-operator/0.1.1/ingress.yaml
  services/git-operator/0.1.1/kustomization.yaml
  services/grafana-loki/0.79.4/defaults/cm.yaml
  services/grafana-loki/0.79.4/defaults/kustomization.yaml
  services/grafana-loki/0.79.4/grafana-dashboards-logging/kustomization.yaml
  services/grafana-loki/0.79.4/grafana-dashboards-logging/logging-loki-dashboard.json
  services/grafana-loki/0.79.4/grafana-dashboards/grafana-loki.json
  services/grafana-loki/0.79.4/grafana-dashboards/kustomization.yaml
  services/grafana-loki/0.79.4/grafana-dashboards/loki-chunks.json
  services/grafana-loki/0.79.4/grafana-dashboards/loki-deletion.json
  services/grafana-loki/0.79.4/grafana-dashboards/loki-reads-resources.json
  services/grafana-loki/0.79.4/grafana-dashboards/loki-retention.json
  services/grafana-loki/0.79.4/grafana-dashboards/loki-writes-resources.json
  services/grafana-loki/0.79.4/grafana-loki-helmrelease.yaml
  services/grafana-loki/0.79.4/grafana-loki-helmrelease/grafana-loki.yaml
  services/grafana-loki/0.79.4/grafana-loki-pre-install-jobs/pre-install.yaml
  services/grafana-loki/0.79.4/grafana-loki-pre-install.yaml
  services/grafana-loki/0.79.4/kustomization.yaml
  services/project-grafana-loki/0.79.4/defaults/cm.yaml
  services/project-grafana-loki/0.79.4/defaults/kustomization.yaml
  services/project-grafana-loki/0.79.4/grafana-dashboards-logging/kustomization.yaml
  services/project-grafana-loki/0.79.4/grafana-dashboards-logging/logging-loki-dashboard.json
  services/project-grafana-loki/0.79.4/kustomization.yaml
  services/project-grafana-loki/0.79.4/object-bucket-claims.yaml
  services/project-grafana-loki/0.79.4/project-grafana-loki.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/grafana-loki, services/project-grafana-loki, update-licenses, services/git-operator

#2649 chore: bump kubetunnel to 0.0.36 (2.12)
  licenses.d2iq.yaml
  services/kubetunnel/0.0.36/defaults/cm.yaml
  services/kubetunnel/0.0.36/defaults/kustomization.yaml
  services/kubetunnel/0.0.36/extra-images.txt
  services/kubetunnel/0.0.36/kubetunnel.yaml
  services/kubetunnel/0.0.36/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr

#2650 fix: cve fix for git operator and webserver (2.12)
  .env
  licenses.d2iq.yaml
  services/git-operator/0.1.1/defaults/kustomization.yaml
  services/git-operator/0.1.1/git-operator-manifests/all.yaml
  services/git-operator/0.1.1/git-operator-manifests/kustomization.yaml
  services/git-operator/0.1.1/ingress.yaml
  services/git-operator/0.1.1/kustomization.yaml
  services/grafana-loki/0.79.4/defaults/cm.yaml
  services/grafana-loki/0.79.4/defaults/kustomization.yaml
  services/grafana-loki/0.79.4/grafana-dashboards-logging/kustomization.yaml
  services/grafana-loki/0.79.4/grafana-dashboards-logging/logging-loki-dashboard.json
  services/grafana-loki/0.79.4/grafana-dashboards/grafana-loki.json
  services/grafana-loki/0.79.4/grafana-dashboards/kustomization.yaml
  services/grafana-loki/0.79.4/grafana-dashboards/loki-chunks.json
  services/grafana-loki/0.79.4/grafana-dashboards/loki-deletion.json
  services/grafana-loki/0.79.4/grafana-dashboards/loki-reads-resources.json
  services/grafana-loki/0.79.4/grafana-dashboards/loki-retention.json
  services/grafana-loki/0.79.4/grafana-dashboards/loki-writes-resources.json
  services/grafana-loki/0.79.4/grafana-loki-helmrelease.yaml
  services/grafana-loki/0.79.4/grafana-loki-helmrelease/grafana-loki.yaml
  services/grafana-loki/0.79.4/grafana-loki-pre-install-jobs/pre-install.yaml
  services/grafana-loki/0.79.4/grafana-loki-pre-install.yaml
  services/grafana-loki/0.79.4/kustomization.yaml
  services/project-grafana-loki/0.79.4/defaults/cm.yaml
  services/project-grafana-loki/0.79.4/defaults/kustomization.yaml
  services/project-grafana-loki/0.79.4/grafana-dashboards-logging/kustomization.yaml
  services/project-grafana-loki/0.79.4/grafana-dashboards-logging/logging-loki-dashboard.json
  services/project-grafana-loki/0.79.4/kustomization.yaml
  services/project-grafana-loki/0.79.4/object-bucket-claims.yaml
  services/project-grafana-loki/0.79.4/project-grafana-loki.yaml
Labels: backport-pr, size/M, open-kommander-pr

#2651 feat: Release NKP-Insights v1.2.2
  licenses.d2iq.yaml
  services/nkp-insights-management/1.2.2/defaults/cm.yaml
  services/nkp-insights-management/1.2.2/defaults/kustomization.yaml
  services/nkp-insights-management/1.2.2/helmrelease.yaml
  services/nkp-insights-management/1.2.2/helmrelease/helmrelease.yaml
  services/nkp-insights-management/1.2.2/helmrelease/kustomization.yaml
  services/nkp-insights-management/1.2.2/kustomization.yaml
  services/nkp-insights/1.2.2/defaults/cm.yaml
  services/nkp-insights/1.2.2/defaults/kustomization.yaml
  services/nkp-insights/1.2.2/helmrelease.yaml
  services/nkp-insights/1.2.2/helmrelease/extra-images.txt
  services/nkp-insights/1.2.2/helmrelease/helmrelease.yaml
  services/nkp-insights/1.2.2/helmrelease/kustomization.yaml
  services/nkp-insights/1.2.2/helmrelease/list-images-values.yaml
  services/nkp-insights/1.2.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, update-licenses, services/nkp-insights, services/nkp-insights-management, backport-to-release-2.12

#2652 feat: Release NKP-Insights v1.2.2 (#2651) (2.12)
  licenses.d2iq.yaml
  services/nkp-insights-management/1.2.2/defaults/cm.yaml
  services/nkp-insights-management/1.2.2/defaults/kustomization.yaml
  services/nkp-insights-management/1.2.2/helmrelease.yaml
  services/nkp-insights-management/1.2.2/helmrelease/helmrelease.yaml
  services/nkp-insights-management/1.2.2/helmrelease/kustomization.yaml
  services/nkp-insights-management/1.2.2/kustomization.yaml
  services/nkp-insights/1.2.2/defaults/cm.yaml
  services/nkp-insights/1.2.2/defaults/kustomization.yaml
  services/nkp-insights/1.2.2/helmrelease.yaml
  services/nkp-insights/1.2.2/helmrelease/extra-images.txt
  services/nkp-insights/1.2.2/helmrelease/helmrelease.yaml
  services/nkp-insights/1.2.2/helmrelease/kustomization.yaml
  services/nkp-insights/1.2.2/helmrelease/list-images-values.yaml
  services/nkp-insights/1.2.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M

#2653 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.1.4/defaults/cm.yaml
  services/kommander-ui/15.1.4/defaults/kustomization.yaml
  services/kommander-ui/15.1.4/kommander-ui.yaml
  services/kommander-ui/15.1.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2659 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.1.5/defaults/cm.yaml
  services/kommander-ui/15.1.5/defaults/kustomization.yaml
  services/kommander-ui/15.1.5/kommander-ui.yaml
  services/kommander-ui/15.1.5/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2660 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.1.6/defaults/cm.yaml
  services/kommander-ui/15.1.6/defaults/kustomization.yaml
  services/kommander-ui/15.1.6/kommander-ui.yaml
  services/kommander-ui/15.1.6/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2662 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.0.5/defaults/cm.yaml
  services/kommander-ui/15.0.5/defaults/kustomization.yaml
  services/kommander-ui/15.0.5/kommander-ui.yaml
  services/kommander-ui/15.0.5/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#2661 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.2.0/defaults/cm.yaml
  services/kommander-ui/15.2.0/defaults/kustomization.yaml
  services/kommander-ui/15.2.0/kommander-ui.yaml
  services/kommander-ui/15.2.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2654 feat: Update upgrade-matrix.yaml in post-upgrade based on env variable
  hack/release/cmd/postrelease/postrelease.go
  hack/release/pkg/upgradematrix/upgradematrix.go
  hack/release/pkg/upgradematrix/upgradematrix_test.go
Labels: ready-for-review, ok-to-test, size/L

#2667 feat: remove nfs provisioner app
  .github/service-labeler.yaml
  licenses.d2iq.yaml
  services/nfs-server-provisioner/0.6.1/defaults/cm.yaml
  services/nfs-server-provisioner/0.6.1/defaults/kustomization.yaml
  services/nfs-server-provisioner/0.6.1/kustomization.yaml
  services/nfs-server-provisioner/0.6.1/nfs-server-provisioner.yaml
  services/nfs-server-provisioner/metadata.yaml
Labels: ok-to-test, size/M, open-kommander-pr, update-licenses, services/nfs-server-provisioner

#2665 build(gha): Flux update fixes
  .github/workflows/flux-update-scheduled-check.yml
  hack/flux/update-flux.sh
Labels: ready-for-review, ok-to-test, size/M

#2668 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.3.0/defaults/cm.yaml
  services/kommander-ui/15.3.0/defaults/kustomization.yaml
  services/kommander-ui/15.3.0/kommander-ui.yaml
  services/kommander-ui/15.3.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui
