Repository mesosphere/kommander-applications, pull requests merged in 2024-12, with the labels that each got.

#2895 fix: enable rbac proxy on kube-prometheus-stack node-exporter
  services/kube-prometheus-stack/65.5.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, open-kommander-pr, services/kube-prometheus-stack, update-licenses, backport-to-release-2.13

#2896 fix: enable rbac proxy on kube-prometheus-stack node-exporter (2.13)
  services/kube-prometheus-stack/65.5.0/defaults/cm.yaml
Labels: size/XS

#2897 feat: Bump AI Navigator chart to v0.2.8
  services/ai-navigator-app/0.2.8/defaults/cm.yaml
  services/ai-navigator-app/0.2.8/helmrelease/helmrelease.yaml
Labels: ok-to-test, auto-backport, size/XS, update-licenses, services/ai-navigator-app, backport-to-release-2.13

#2898 feat: Bump AI Navigator chart to v0.2.8 (2.13)
  services/ai-navigator-app/0.2.8/defaults/cm.yaml
  services/ai-navigator-app/0.2.8/helmrelease/helmrelease.yaml
Labels: size/XS

#2816 feat: bump ui to 16.22.0
  licenses.d2iq.yaml
  services/kommander-ui/16.22.0/defaults/cm.yaml
  services/kommander-ui/16.22.0/defaults/kustomization.yaml
  services/kommander-ui/16.22.0/kommander-ui.yaml
  services/kommander-ui/16.22.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2913 fix: bump cluster observer 141
  licenses.d2iq.yaml
  services/kommander/0.13.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, auto-backport, size/XS, backport-to-main

#2914 fix: bump cluster observer 141 (#2913)
  licenses.d2iq.yaml
  services/kommander/0.14.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
Labels: ok-to-test, size/XS, services/kommander, update-licenses

#2904 feat: Patch AI Navigator model size issues (backport to 2.7)
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.8/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.8/defaults/cm.yaml
  services/ai-navigator-app/0.2.8/defaults/kustomization.yaml
  services/ai-navigator-app/0.2.8/helmrelease.yaml
  services/ai-navigator-app/0.2.8/helmrelease/helmrelease.yaml
  services/ai-navigator-app/0.2.8/kustomization.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/M

#2906 feat: Patch AI Navigator model size issues (backport to 2.8)
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.8/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.8/defaults/cm.yaml
  services/ai-navigator-app/0.2.8/defaults/kustomization.yaml
  services/ai-navigator-app/0.2.8/helmrelease.yaml
  services/ai-navigator-app/0.2.8/helmrelease/helmrelease.yaml
  services/ai-navigator-app/0.2.8/kustomization.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/M

#2919 feat: git-operator release-0.13.4
  .env
  licenses.d2iq.yaml
  services/dex/2.14.0/defaults/cm.yaml
  services/git-operator/0.1.3/defaults/kustomization.yaml
  services/git-operator/0.1.3/git-operator-manifests/all.yaml
  services/git-operator/0.1.3/git-operator-manifests/kustomization.yaml
  services/git-operator/0.1.3/ingress.yaml
  services/git-operator/0.1.3/kustomization.yaml
  services/kube-prometheus-stack/65.5.0/defaults/cm.yaml
  services/kube-prometheus-stack/65.5.0/etcd-metrics-proxy/kube-rbac-proxy.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kube-prometheus-stack, services/dex, update-licenses, services/git-operator

#2882 feat: Bump kiali-operator to 2.1.0
  licenses.d2iq.yaml
  services/kiali/1.89.7/extra-images.txt
  services/kiali/2.1.0/defaults/cm.yaml
  services/kiali/2.1.0/defaults/kustomization.yaml
  services/kiali/2.1.0/extra-images.txt
  services/kiali/2.1.0/kiali.yaml
  services/kiali/2.1.0/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kiali, update-licenses

#2828 feat: bump velero v1.11.0
  licenses.d2iq.yaml
  services/velero/7.2.2/defaults/cm.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/velero, update-licenses

#2941 chore: remove deprecated gcr.io/kubebuilder/kube rbac proxy
  licenses.d2iq.yaml
  services/dex/2.13.12/defaults/cm.yaml
  services/dex/2.13.12/defaults/kustomization.yaml
  services/dex/2.13.12/dex.yaml
  services/dex/2.13.12/kustomization.yaml
Labels: ok-to-test, size/S, update-licenses

#2942 chore: remove deprecated gcr.io/kubebuilder/kube-rbac-proxy
  licenses.d2iq.yaml
  services/dex/2.13.15/defaults/cm.yaml
  services/dex/2.13.15/defaults/kustomization.yaml
  services/dex/2.13.15/dex.yaml
  services/dex/2.13.15/kustomization.yaml
Labels: size/S

#2933 feat: Bump ai-navigator-cluster-info chart version to 0.2.9
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.9/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.9/defaults/cm.yaml
  services/ai-navigator-app/0.2.9/defaults/kustomization.yaml
  services/ai-navigator-app/0.2.9/helmrelease.yaml
  services/ai-navigator-app/0.2.9/helmrelease/helmrelease.yaml
  services/ai-navigator-app/0.2.9/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, services/ai-navigator-app, services/nkp-insights

#2931 feat: bump Postgres version of NKP Insights
  licenses.d2iq.yaml
  services/nkp-insights/1.3.4/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/ai-navigator-app, services/nkp-insights

#2935 feat: Bump kube-webhook-certgen to 1.4.4
  apptests/testdata/cert-manager/acme-setup/deploy-ingress-nginx-v1.10.0.yaml
  licenses.d2iq.yaml
  services/kube-prometheus-stack/65.5.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kube-prometheus-stack, update-licenses

#2910 feat: bump thanos to 0.37.1 to fix cve
  licenses.d2iq.yaml
  services/centralized-kubecost/0.37.8/defaults/cm.yaml
  services/centralized-kubecost/0.37.8/defaults/kustomization.yaml
  services/centralized-kubecost/0.37.8/kustomization.yaml
  services/centralized-kubecost/0.37.8/post-install-jobs.yaml
  services/centralized-kubecost/0.37.8/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.8/release.yaml
  services/centralized-kubecost/0.37.8/release/release.yaml
  services/kube-prometheus-stack/65.5.1/defaults/cm.yaml
  services/kube-prometheus-stack/65.5.1/defaults/kustomization.yaml
  services/kube-prometheus-stack/65.5.1/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/65.5.1/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/65.5.1/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/65.5.1/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/65.5.1/grafana-dashboards/calico.json
  services/kube-prometheus-stack/65.5.1/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/65.5.1/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/65.5.1/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/65.5.1/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/65.5.1/grafana-dashboards/pv-stats.json
  services/kube-prometheus-stack/65.5.1/helmrelease.yaml
  services/kube-prometheus-stack/65.5.1/helmrelease/extra-images.txt
  services/kube-prometheus-stack/65.5.1/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/65.5.1/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/65.5.1/kustomization.yaml
  services/kube-prometheus-stack/65.5.1/rbac/alertmanager.yaml
  services/kube-prometheus-stack/65.5.1/rbac/grafana.yaml
  services/kube-prometheus-stack/65.5.1/rbac/kustomization.yaml
  services/kube-prometheus-stack/65.5.1/rbac/prometheus.yaml
  services/kubecost/0.37.9/defaults/cm.yaml
  services/kubecost/0.37.9/defaults/kustomization.yaml
  services/kubecost/0.37.9/kubecost.yaml
  services/kubecost/0.37.9/kustomization.yaml
  services/thanos/15.7.24/defaults/cm.yaml
  services/thanos/15.7.24/defaults/kustomization.yaml
  services/thanos/15.7.24/jobs.yaml
  services/thanos/15.7.24/jobs/jobs.yaml
  services/thanos/15.7.24/kustomization.yaml
  services/thanos/15.7.24/thanos.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/kube-prometheus-stack, services/centralized-kubecost, services/kubecost, services/thanos, update-licenses

#2911 feat: kube-rbac-proxy bump to 0.18.2
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kommander, services/kube-prometheus-stack, services/kommander-appmanagement, services/dex, update-licenses, services/git-operator

#2954 fix: dex cm reference bump
  services/dex/2.13.15/dex.yaml
Labels: size/XS

#2912 feat: app-reloader v1.2.0
  licenses.d2iq.yaml
  services/reloader/1.2.0/defaults/cm.yaml
  services/reloader/1.2.0/defaults/kustomization.yaml
  services/reloader/1.2.0/kustomization.yaml
  services/reloader/1.2.0/reloader.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/reloader, update-licenses

#2955 feat: Bump git-operator to 0.13.5
  .env
  licenses.d2iq.yaml
  services/git-operator/0.1.4/defaults/kustomization.yaml
  services/git-operator/0.1.4/git-operator-manifests/all.yaml
  services/git-operator/0.1.4/git-operator-manifests/kustomization.yaml
  services/git-operator/0.1.4/ingress.yaml
  services/git-operator/0.1.4/kustomization.yaml
Labels: size/M

#2956 feat: Bump git-operator to 0.13.5
  .env
  licenses.d2iq.yaml
  services/git-operator/0.1.3/git-operator-manifests/all.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, services/git-operator

#2958 feat: Bump git-operator to 0.13.5
  .env
  licenses.d2iq.yaml
  services/git-operator/0.1.2/git-operator-manifests/all.yaml
Labels: size/S

#2957 feat: introduce the NKP Pulse apps
  .github/service-labeler.yaml
  common/helm-repositories/mesosphere-repos.yaml
  licenses.d2iq.yaml
  services/kommander/0.14.0/defaults/cm.yaml
  services/nkp-pulse-management/metadata.yaml
  services/nkp-pulse-management/v0.0.1-dev.0/defaults/cm.yaml
  services/nkp-pulse-management/v0.0.1-dev.0/defaults/kustomization.yaml
  services/nkp-pulse-management/v0.0.1-dev.0/helmrelease.yaml
  services/nkp-pulse-management/v0.0.1-dev.0/kustomization.yaml
  services/nkp-pulse-workspace/metadata.yaml
  services/nkp-pulse-workspace/v0.0.1-dev.0/defaults/cm.yaml
  services/nkp-pulse-workspace/v0.0.1-dev.0/defaults/kustomization.yaml
  services/nkp-pulse-workspace/v0.0.1-dev.0/helmrelease.yaml
  services/nkp-pulse-workspace/v0.0.1-dev.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, services/kommander, update-licenses, services/nkp-pulse-management, services/nkp-pulse-workspace

#2961 chore: Exclude NKP-Pulse from Airgapped builds.
  .exclude-airgapped
  common/helm-repositories/kustomization.yaml
  common/helm-repositories/mesosphere-repos.yaml
  common/helm-repositories/nkp-pulse-repos.yaml
  justfile
Labels: ready-for-review, ok-to-test, size/S

#2966 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.23.17/defaults/cm.yaml
  services/kommander-ui/15.23.17/defaults/kustomization.yaml
  services/kommander-ui/15.23.17/kommander-ui.yaml
  services/kommander-ui/15.23.17/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2967 feat: bumping ui to latest for 2.12
  licenses.d2iq.yaml
  services/kommander-ui/15.0.13/defaults/cm.yaml
  services/kommander-ui/15.0.13/defaults/kustomization.yaml
  services/kommander-ui/15.0.13/kommander-ui.yaml
  services/kommander-ui/15.0.13/kustomization.yaml
Labels: size/XS

#2962 feat: Bump TFA to v3.2.1
  licenses.d2iq.yaml
  services/traefik-forward-auth-mgmt/0.3.14/defaults/cm.yaml
  services/traefik-forward-auth-mgmt/0.3.14/defaults/kustomization.yaml
  services/traefik-forward-auth-mgmt/0.3.14/kustomization.yaml
  services/traefik-forward-auth-mgmt/0.3.14/traefik-forward-auth-mgmt.yaml
  services/traefik-forward-auth/0.3.14/defaults/cm.yaml
  services/traefik-forward-auth/0.3.14/defaults/kustomization.yaml
  services/traefik-forward-auth/0.3.14/kustomization.yaml
  services/traefik-forward-auth/0.3.14/traefik-forward-auth.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/traefik-forward-auth, services/traefik-forward-auth-mgmt, update-licenses

#2973 feat: bump bloodhound to validate against 1.32.0
  .bloodhound.yml
Labels: ready-for-review, ok-to-test, size/XS

#2970 feat: bump thanos-traefik to 0.0.2
  services/karma-traefik/0.0.2/defaults/cm.yaml
  services/karma-traefik/0.0.2/defaults/kustomization.yaml
  services/karma-traefik/0.0.2/karma-traefik.yaml
  services/karma-traefik/0.0.2/kustomization.yaml
  services/kubecost-thanos-traefik/0.0.2/defaults/cm.yaml
  services/kubecost-thanos-traefik/0.0.2/defaults/kustomization.yaml
  services/kubecost-thanos-traefik/0.0.2/kubecost-thanos-traefik.yaml
  services/kubecost-thanos-traefik/0.0.2/kustomization.yaml
  services/prometheus-thanos-traefik/0.0.2/defaults/cm.yaml
  services/prometheus-thanos-traefik/0.0.2/defaults/kustomization.yaml
  services/prometheus-thanos-traefik/0.0.2/kustomization.yaml
  services/prometheus-thanos-traefik/0.0.2/prometheus-thanos-traefik.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/karma-traefik, services/kubecost-thanos-traefik, services/prometheus-thanos-traefik, update-licenses
