Repository mesosphere/kommander-applications, pull requests merged in 2024-01, with the labels that each got.

#1795 fix: bump grafana to 9.5.13
  licenses.d2iq.yaml
  services/centralized-grafana/48.3.1/centralized-grafana.yaml
  services/centralized-grafana/48.3.1/defaults/cm.yaml
  services/grafana-logging/6.60.1/defaults/cm.yaml
  services/grafana-logging/6.60.1/grafana.yaml
  services/kube-prometheus-stack/48.3.1/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.1/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/metadata.yaml
  services/project-grafana-logging/6.60.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, services/centralized-grafana, services/grafana-logging, services/kube-prometheus-stack, services/project-grafana-logging, backport-to-release-2.7

#1797 fix: bump nginx-unprivileged in *grafana-loki to 1.24.0-alpine
  licenses.d2iq.yaml
  services/grafana-loki/0.74.6/defaults/cm.yaml
  services/project-grafana-loki/0.74.6/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, services/grafana-loki, services/project-grafana-loki, backport-to-release-2.7

#1794 fix: bump fluentd image to kube-logging/fluentd:v1.16-full-build.122
  licenses.d2iq.yaml
  services/logging-operator/4.2.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, open-kommander-pr, services/logging-operator, backport-to-release-2.7

#1807 fix: bump grafana to 9.5.13 (#1795)
  licenses.d2iq.yaml
  services/centralized-grafana/48.3.1/centralized-grafana.yaml
  services/centralized-grafana/48.3.1/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.1/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.1/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/metadata.yaml
  services/project-grafana-logging/6.60.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/S

#1809 fix: Rebuild karma image to bring back TLS server name support
  licenses.d2iq.yaml
  services/karma/2.0.3/defaults/cm.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/karma, backport-to-release-2.7

#1811 fix: Rebuild karma image to bring back TLS server name support (#1809)
  licenses.d2iq.yaml
  services/karma/2.0.3/defaults/cm.yaml
Labels: size/XS

#1810 chore: Bump memcached to a default for gitea chart
  licenses.d2iq.yaml
  services/gitea/8.2.0/defaults/cm.yaml
Labels: ready-for-review, auto-backport, size/XS, open-kommander-pr, services/gitea, backport-to-release-2.7

#1804 fix: bump kubectl image to v1.27.9
  licenses.d2iq.yaml
  services/centralized-kubecost/0.37.2/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.2/release/release.yaml
  services/grafana-loki/0.74.6/grafana-loki-pre-install-jobs/pre-install.yaml
  services/istio/1.17.2/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.1/defaults/cm.yaml
  services/kubecost/0.37.2/defaults/cm.yaml
  services/kubefed/0.10.4/defaults/cm.yaml
  services/kubetunnel/0.0.31/defaults/cm.yaml
  services/rook-ceph-cluster/1.12.6/pre-install/ceph-crd-check.yaml
  services/thanos/12.13.13/jobs/jobs.yaml
  services/traefik/24.0.0/defaults/cm.yaml
  services/velero/4.1.1/defaults/cm.yaml
  services/velero/4.1.1/pre-install/pre-install-job.yaml
Labels: ok-to-test, auto-backport, size/S, open-kommander-pr, services/rook-ceph-cluster, services/istio, services/traefik, services/kube-prometheus-stack, services/centralized-kubecost, services/kubecost, services/velero, services/grafana-loki, services/kubefed, services/kubetunnel, services/thanos, backport-to-release-2.7

#1814 fix: Update gitea image to D2iQ fork to address CVEs.
  licenses.d2iq.yaml
  services/gitea/8.2.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, services/gitea, backport-to-release-2.7

#1815 fix: Update gitea image to D2iQ fork to address CVEs.
  licenses.d2iq.yaml
  services/gitea/8.2.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/XS, services/gitea

#1816 feat: bump chartmuseum image
  licenses.d2iq.yaml
  services/chartmuseum/3.10.0/chartmuseum-3.10.0.tgz
  services/chartmuseum/3.10.1/README.md
  services/chartmuseum/3.10.1/chartmuseum-3.10.1.tgz
  services/chartmuseum/3.10.1/chartmuseum.yaml
  services/chartmuseum/3.10.1/defaults/cm.yaml
  services/chartmuseum/3.10.1/defaults/kustomization.yaml
  services/chartmuseum/3.10.1/kustomization.yaml
Labels: ok-to-test, auto-backport, size/S, open-kommander-pr, services/chartmuseum, backport-to-release-2.7

#1800 feat: Bump external-dns to 6.28.6
  licenses.d2iq.yaml
  services/external-dns/6.28.6/defaults/cm.yaml
  services/external-dns/6.28.6/defaults/kustomization.yaml
  services/external-dns/6.28.6/external-dns.yaml
  services/external-dns/6.28.6/kustomization.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/external-dns, update-licenses

#1827 ci(bloodhound): Bump to latest 1.28 k8s version, add 1.29.0
  .bloodhound.yml
Labels: ready-for-review, ok-to-test, size/XS

#1818 chore: Post release bumps
  mergebot-config.json
Labels: size/XS

#1819 feat: Bump reloader to 1.0.60
  licenses.d2iq.yaml
  services/reloader/1.0.60/defaults/cm.yaml
  services/reloader/1.0.60/defaults/kustomization.yaml
  services/reloader/1.0.60/kustomization.yaml
  services/reloader/1.0.60/reloader.yaml
Labels: ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/reloader, update-licenses

#1821 feat: Bump fluent-bit to 0.42.0
  services/fluent-bit/0.42.0/defaults/cm.yaml
  services/fluent-bit/0.42.0/defaults/kustomization.yaml
  services/fluent-bit/0.42.0/fluent-bit.yaml
  services/fluent-bit/0.42.0/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.42.0/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.42.0/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.42.0/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.42.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/XS, services/fluent-bit, update-licenses

#1802 feat: Bump kiali-operator to 1.78.0
  licenses.d2iq.yaml
  services/kiali/1.78.0/defaults/cm.yaml
  services/kiali/1.78.0/defaults/kustomization.yaml
  services/kiali/1.78.0/extra-images.txt
  services/kiali/1.78.0/kiali.yaml
  services/kiali/1.78.0/kustomization.yaml
Labels: ok-to-test, let-me-merge-it, size/S, open-kommander-pr, services/kiali, update-licenses

#1822 feat: Bump external-dns to 6.29.0
  services/external-dns/6.29.0/defaults/cm.yaml
  services/external-dns/6.29.0/defaults/kustomization.yaml
  services/external-dns/6.29.0/external-dns.yaml
  services/external-dns/6.29.0/kustomization.yaml
Labels: ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/external-dns, update-licenses

#1833 feat: Bump external-dns to 6.29.1
  licenses.d2iq.yaml
  services/external-dns/6.29.1/defaults/cm.yaml
  services/external-dns/6.29.1/defaults/kustomization.yaml
  services/external-dns/6.29.1/external-dns.yaml
  services/external-dns/6.29.1/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, let-me-merge-it, size/XS, open-kommander-pr, services/external-dns, update-licenses

#1835 feat: Bump traefik to 26.0.0
  licenses.d2iq.yaml
  services/traefik/26.0.0/defaults/cm.yaml
  services/traefik/26.0.0/defaults/kustomization.yaml
  services/traefik/26.0.0/grafana-dashboards/kustomization.yaml
  services/traefik/26.0.0/grafana-dashboards/traefik.json
  services/traefik/26.0.0/kustomization.yaml
  services/traefik/26.0.0/traefik-plugin-rewritebody.yaml
  services/traefik/26.0.0/traefik.yaml
Labels: ok-to-test, let-me-merge-it, open-kommander-pr, services/traefik, update-licenses

#1824 fix: template kubectl images in a release
  hack/list-images.sh
  services/centralized-kubecost/0.37.2/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.2/release/release.yaml
  services/grafana-loki/0.74.6/grafana-loki-pre-install-jobs/pre-install.yaml
  services/kube-prometheus-stack/48.3.1/defaults/cm.yaml
  services/kubecost/0.37.2/defaults/cm.yaml
  services/kubetunnel/0.0.31/defaults/cm.yaml
  services/rook-ceph-cluster/1.12.6/pre-install/ceph-crd-check.yaml
  services/thanos/12.13.13/jobs/jobs.yaml
  services/velero/4.1.1/post-install/kustomization.yaml
  services/velero/4.1.1/pre-install/kustomization.yaml
  services/velero/4.1.1/pre-install/pre-install-job.yaml
  services/velero/4.1.1/velero-pre-install.yaml
Labels: size/M, open-kommander-pr, services/rook-ceph-cluster, services/kube-prometheus-stack, services/centralized-kubecost, services/kubecost, services/velero, services/grafana-loki, services/kubetunnel, services/thanos

#1838 chore: Post release bumps
  mergebot-config.json
Labels: size/XS

#1842 chore: Post release bumps
  mergebot-config.json
Labels: size/XS

#1832 feat: Bump thanos to 12.20.3
  licenses.d2iq.yaml
  services/thanos/12.20.3/defaults/cm.yaml
  services/thanos/12.20.3/defaults/kustomization.yaml
  services/thanos/12.20.3/jobs.yaml
  services/thanos/12.20.3/jobs/jobs.yaml
  services/thanos/12.20.3/kustomization.yaml
  services/thanos/12.20.3/thanos.yaml
Labels: ok-to-test, let-me-merge-it, size/S, open-kommander-pr, services/thanos, update-licenses

#1831 feat: Bump reloader to 1.0.62
  licenses.d2iq.yaml
  services/reloader/1.0.62/defaults/cm.yaml
  services/reloader/1.0.62/defaults/kustomization.yaml
  services/reloader/1.0.62/kustomization.yaml
  services/reloader/1.0.62/reloader.yaml
Labels: ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/reloader, update-licenses

#1844 ci: Enable dependabot
  .github/dependabot.yml
Labels: size/M

#1861 chore: Use patches instead of patchesJson6902
  services/cert-manager/bootstrap/kustomization.yaml
  services/gatekeeper/3.13.0/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
Labels: size/M, open-kommander-pr, services/gatekeeper, services/cert-manager

#1862 feat(gatekeeper): Bump to 3.14.0
  licenses.d2iq.yaml
  services/gatekeeper/3.14.0/constraints.yaml
  services/gatekeeper/3.14.0/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.14.0/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.14.0/constrainttemplates.yaml
  services/gatekeeper/3.14.0/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.14.0/defaults/cm.yaml
  services/gatekeeper/3.14.0/defaults/kustomization.yaml
  services/gatekeeper/3.14.0/kustomization.yaml
  services/gatekeeper/3.14.0/release.yaml
  services/gatekeeper/3.14.0/release/kustomization.yaml
  services/gatekeeper/3.14.0/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, services/gatekeeper, update-licenses

#1839 chore: Post release bumps
  mergebot-config.json
Labels: ok-to-test, size/XS

#1840 chore: Post release bumps
  mergebot-config.json
Labels: ok-to-test, size/XS

#1865 feat(prometheus-adapter): Upgrade to 4.9.0
  licenses.d2iq.yaml
  services/prometheus-adapter/4.9.0/defaults/cm.yaml
  services/prometheus-adapter/4.9.0/defaults/kustomization.yaml
  services/prometheus-adapter/4.9.0/helmrelease/prometheus-adapter.yaml
  services/prometheus-adapter/4.9.0/kustomization.yaml
  services/prometheus-adapter/4.9.0/prometheus-adapter-helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/S, services/prometheus-adapter, update-licenses

#1864 feat(velero): Upgrade to 5.2.2
  licenses.d2iq.yaml
  services/velero/5.2.2/defaults/cm.yaml
  services/velero/5.2.2/defaults/kustomization.yaml
  services/velero/5.2.2/grafana-dashboards/kustomization.yaml
  services/velero/5.2.2/grafana-dashboards/velero.json
  services/velero/5.2.2/helmrelease/helmrelease.yaml
  services/velero/5.2.2/kustomization.yaml
  services/velero/5.2.2/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/5.2.2/post-install/kustomization.yaml
  services/velero/5.2.2/pre-install/kustomization.yaml
  services/velero/5.2.2/pre-install/pre-install-job.yaml
  services/velero/5.2.2/velero-post-install.yaml
  services/velero/5.2.2/velero-pre-install.yaml
  services/velero/5.2.2/velero.yaml
Labels: ready-for-review, ok-to-test, size/S, services/velero, update-licenses

#1863 feat(jaeger): Bump to 2.50.1
  licenses.d2iq.yaml
  services/jaeger/2.50.1/defaults/cm.yaml
  services/jaeger/2.50.1/defaults/kustomization.yaml
  services/jaeger/2.50.1/helmrelease.yaml
  services/jaeger/2.50.1/helmrelease/extra-images.txt
  services/jaeger/2.50.1/helmrelease/kustomization.yaml
  services/jaeger/2.50.1/helmrelease/release.yaml
  services/jaeger/2.50.1/kustomization.yaml
Labels: ready-for-review, let-me-merge-it, size/S, open-kommander-pr, services/jaeger, update-licenses

#1837 fix: template kubectl
  common/build/kommander-cert-federation.yaml
  services/dex/2.13.6/defaults/cm.yaml
  services/istio/1.17.2/defaults/cm.yaml
  services/knative/1.10.4/defaults/cm.yaml
  services/velero/5.2.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/istio, services/knative, services/velero, services/dex

#1881 chore: remove use of MESOSPHERECI_USER_TOKEN
  .github/workflows/validate-licenses.yaml
Labels: ready-for-review, size/S

#1882 chore: remove use of MESOSPHERECI_USER_TOKEN (2.7)
  .github/workflows/validate-licenses.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, backport-to-release-2.4, backport-to-release-2.5, backport-to-release-2.6

#1883 chore: remove use of MESOSPHERECI_USER_TOKEN (2.6)
  .github/workflows/validate-licenses.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, backport-to-release-2.4, backport-to-release-2.5

#1887 fix: update-licenses basic auth oauth2 token
  .github/workflows/validate-licenses.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, backport-to-release-2.6, backport-to-release-2.7

#1869 fix(kommander): Add ai-nav apps to list of mgmt apps
  services/kommander/0.8.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, needs-backport, let-me-merge-it, auto-backport, size/XS, open-kommander-pr, services/kommander, backport-to-release-2.7

#1868 feat(istio): Upgrade to 1.20.2
  licenses.d2iq.yaml
  services/istio/1.20.2/defaults/cm.yaml
  services/istio/1.20.2/defaults/kustomization.yaml
  services/istio/1.20.2/helmrelease.yaml
  services/istio/1.20.2/helmrelease/extra-images.txt
  services/istio/1.20.2/helmrelease/helmrelease.yaml
  services/istio/1.20.2/helmrelease/kustomization.yaml
  services/istio/1.20.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/S, open-kommander-pr, services/istio, update-licenses

#1880 fix: Silence kommandercluster quota alert
  services/kube-prometheus-stack/48.3.1/defaults/cm.yaml
Labels: size/XS, open-kommander-pr, services/kube-prometheus-stack, backport-to-release-2.7

#1886 chore: remove use of MESOSPHERECI_USER_TOKEN (2.5)
  .github/workflows/validate-licenses.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1889 fix: update-licenses basic auth oauth2 token (2.6)
  .github/workflows/validate-licenses.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1890 fix: update-licenses basic auth oauth2 token (2.7)
  .github/workflows/validate-licenses.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1891 chore: bump DKA to 1.3.2
  licenses.d2iq.yaml
  services/dex-k8s-authenticator/1.3.2/defaults/cm.yaml
  services/dex-k8s-authenticator/1.3.2/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.3.2/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.3.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, open-kommander-pr, services/dex-k8s-authenticator, backport-to-release-2.7

#1841 chore: Post release bumps
  common/kommander-operator/defaults/cm.yaml
  mergebot-config.json
  services/kommander-appmanagement/0.7.1/defaults/cm.yaml
  services/kommander-appmanagement/0.7.1/defaults/kustomization.yaml
  services/kommander-appmanagement/0.7.1/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.7.1/kustomization.yaml
  services/kommander/0.7.1/defaults/cm.yaml
  services/kommander/0.7.1/defaults/kustomization.yaml
  services/kommander/0.7.1/dynamic-helmreleases/README.txt
  services/kommander/0.7.1/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.7.1/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.7.1/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.7.1/dynamic-helmreleases/mtls-proxy/list-images-values.yaml
  services/kommander/0.7.1/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.7.1/kommander.yaml
  services/kommander/0.7.1/kustomization.yaml
Labels: ok-to-test, size/S

#1892 feat: bump dex chart to 2.13.7
  licenses.d2iq.yaml
  services/dex/2.13.7/defaults/cm.yaml
  services/dex/2.13.7/defaults/kustomization.yaml
  services/dex/2.13.7/dex.yaml
  services/dex/2.13.7/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/dex, update-licenses
