Repository mesosphere/kommander-applications, pull requests merged in 2024-10, with the labels that each got.

#2666 feat: bump bloodhound to validate against 1.31.0
  .bloodhound.yml
Labels: ready-for-review, ok-to-test, size/XS

#2671 feat: Bump kube-prometheus-stack to 63.0.0
  licenses.d2iq.yaml
  services/centralized-grafana/63.0.0/centralized-grafana.yaml
  services/centralized-grafana/63.0.0/defaults/cm.yaml
  services/centralized-grafana/63.0.0/defaults/kustomization.yaml
  services/centralized-grafana/63.0.0/grafana-dashboards/global-overview.json
  services/centralized-grafana/63.0.0/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/63.0.0/kustomization.yaml
  services/centralized-grafana/63.0.0/rbac/grafana.yaml
  services/centralized-grafana/63.0.0/rbac/kustomization.yaml
  services/kube-prometheus-stack/60.4.1/rbac/alertmanager.yaml
  services/kube-prometheus-stack/60.4.1/rbac/grafana.yaml
  services/kube-prometheus-stack/63.0.0/defaults/cm.yaml
  services/kube-prometheus-stack/63.0.0/defaults/kustomization.yaml
  services/kube-prometheus-stack/63.0.0/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/63.0.0/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/63.0.0/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/63.0.0/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/63.0.0/grafana-dashboards/calico.json
  services/kube-prometheus-stack/63.0.0/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/63.0.0/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/63.0.0/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/63.0.0/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/63.0.0/grafana-dashboards/pv-stats.json
  services/kube-prometheus-stack/63.0.0/helmrelease.yaml
  services/kube-prometheus-stack/63.0.0/helmrelease/extra-images.txt
  services/kube-prometheus-stack/63.0.0/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/63.0.0/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/63.0.0/kustomization.yaml
  services/kube-prometheus-stack/63.0.0/rbac/alertmanager.yaml
  services/kube-prometheus-stack/63.0.0/rbac/grafana.yaml
  services/kube-prometheus-stack/63.0.0/rbac/kustomization.yaml
  services/kube-prometheus-stack/63.0.0/rbac/prometheus.yaml
Labels: ok-to-test, size/L, services/centralized-grafana, services/kube-prometheus-stack, update-licenses

#2681 fix: docker client fix
  apptests/kind/kind.go
Labels: ok-to-test, size/XS, services/rook-ceph-cluster, services/velero

#2695 chore: bump dex-controller v0.16.1
  licenses.d2iq.yaml
  services/dex/2.14.0/defaults/cm.yaml
  services/dex/2.14.0/defaults/kustomization.yaml
  services/dex/2.14.0/dex.yaml
  services/dex/2.14.0/kustomization.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/dex, update-licenses

#2696 feat: Bump istio to 1.23.2
  licenses.d2iq.yaml
  services/istio/1.23.2/defaults/cm.yaml
  services/istio/1.23.2/defaults/kustomization.yaml
  services/istio/1.23.2/helmrelease.yaml
  services/istio/1.23.2/helmrelease/extra-images.txt
  services/istio/1.23.2/helmrelease/helmrelease.yaml
  services/istio/1.23.2/helmrelease/kustomization.yaml
  services/istio/1.23.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/istio, update-licenses

#2677 feat: bump kubectl to 1.30.5 with cve fix
  apptests/appscenarios/contants.go
  common/build/list-images-values.yaml
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.5/defaults/cm.yaml
  services/centralized-kubecost/0.37.5/defaults/cm.yaml
  services/centralized-kubecost/0.37.5/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.5/release/release.yaml
  services/dex/2.14.0/defaults/cm.yaml
  services/grafana-loki/0.79.4/grafana-loki-pre-install-jobs/pre-install.yaml
  services/istio/1.23.2/defaults/cm.yaml
  services/knative/1.10.5/defaults/cm.yaml
  services/kommander/0.13.0/dynamic-helmreleases/cluster-observer/list-images-values.yaml
  services/kube-prometheus-stack/63.0.0/defaults/cm.yaml
  services/kubecost/0.37.6/defaults/cm.yaml
  services/kubefed/0.10.5/defaults/cm.yaml
  services/kubetunnel/0.0.36/defaults/cm.yaml
  services/nkp-insights-management/1.2.2/defaults/cm.yaml
  services/nkp-insights/1.2.2/defaults/cm.yaml
  services/project-grafana-loki/0.79.4/defaults/cm.yaml
  services/rook-ceph-cluster/1.14.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.14.5/pre-install/ceph-crd-check.yaml
  services/thanos/15.7.23/jobs/jobs.yaml
  services/traefik/27.0.2/defaults/cm.yaml
  services/velero/7.1.4/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/rook-ceph-cluster, services/kommander, services/istio, services/traefik, services/kube-prometheus-stack, services/centralized-kubecost, services/knative, services/kubecost, services/velero, services/grafana-loki, services/project-grafana-loki, services/kubefed, services/kubetunnel, services/thanos, services/dex, update-licenses, services/ai-navigator-app, services/nkp-insights, services/nkp-insights-management

#2679 build: Unify release code in one place
  .github/workflows/release.yml
  hack/build-archive.sh
  justfile
  make/all.mk
  make/release.mk
Labels: ready-for-review, ok-to-test, size/M

#2701 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.6.0/defaults/cm.yaml
  services/kommander-ui/15.6.0/defaults/kustomization.yaml
  services/kommander-ui/15.6.0/kommander-ui.yaml
  services/kommander-ui/15.6.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2705 fix: bump kubectl in velero pre install
  services/velero/7.1.4/velero-pre-install.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/velero, update-licenses

#2697 feat: bump kube-webhook-certgen to 1.4.3
  licenses.d2iq.yaml
  services/kube-prometheus-stack/63.0.0/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kube-prometheus-stack, update-licenses

#2710 build: Fix how S3 URL is constructed
  justfile
Labels: size/XS

#2680 feat: Add server that provides k-apps contents
  .github/workflows/test.yaml
  devbox.json
  devbox.lock
  just/test.just
  justfile
  server/Dockerfile
Labels: ready-for-review, ok-to-test, size/L

#2711 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.9.0/defaults/cm.yaml
  services/kommander-ui/15.9.0/defaults/kustomization.yaml
  services/kommander-ui/15.9.0/kommander-ui.yaml
  services/kommander-ui/15.9.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2692 feat: Bump gpu-operator to v24.6.2
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/24.3.2/helmrelease/extra-images.txt
  services/nvidia-gpu-operator/24.6.2/defaults/cm.yaml
  services/nvidia-gpu-operator/24.6.2/defaults/kustomization.yaml
  services/nvidia-gpu-operator/24.6.2/grafana-dashboards/gpu-operator.json
  services/nvidia-gpu-operator/24.6.2/grafana-dashboards/kustomization.yaml
  services/nvidia-gpu-operator/24.6.2/helmrelease.yaml
  services/nvidia-gpu-operator/24.6.2/helmrelease/extra-images.txt
  services/nvidia-gpu-operator/24.6.2/helmrelease/kustomization.yaml
  services/nvidia-gpu-operator/24.6.2/helmrelease/nvidia.yaml
  services/nvidia-gpu-operator/24.6.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#2712 feat: Bump kiali-operator to 1.89.7
  licenses.d2iq.yaml
  services/kiali/1.89.7/defaults/cm.yaml
  services/kiali/1.89.7/defaults/kustomization.yaml
  services/kiali/1.89.7/extra-images.txt
  services/kiali/1.89.7/kiali.yaml
  services/kiali/1.89.7/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kiali, update-licenses

#2704 feat: bump kube-state-metrics to v2.13.0
  apptests/appscenarios/kubecost_test.go
  licenses.d2iq.yaml
  services/kube-prometheus-stack/63.0.0/defaults/cm.yaml
  services/kubecost/0.37.6/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kube-prometheus-stack, services/kubecost, update-licenses

#2713 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.0.6/defaults/cm.yaml
  services/kommander-ui/15.0.6/defaults/kustomization.yaml
  services/kommander-ui/15.0.6/kommander-ui.yaml
  services/kommander-ui/15.0.6/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#2717 ci(bloodhound): Update k8s 1.29 version to 1.29.9
  .bloodhound.yml
Labels: ready-for-review, ok-to-test, size/XS

#2702 ci(automerge): Update/fix automerge workflow
  .github/workflows/automerge.yaml
Labels: ready-for-review, ok-to-test, size/S

#2718 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.0.7/defaults/cm.yaml
  services/kommander-ui/15.0.7/defaults/kustomization.yaml
  services/kommander-ui/15.0.7/kommander-ui.yaml
  services/kommander-ui/15.0.7/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#2716 build: Change docker image, enable server build
  .github/dependabot.yml
  .github/workflows/release.yml
  .github/workflows/test.yaml
  .include-airgapped
  just/test.just
  justfile
  server/Dockerfile
Labels: ready-for-review, ok-to-test, size/M

#2720 feat: Add extra image of kommander applications server
  hack/release/cmd/postrelease/postrelease.go
  hack/release/cmd/prerelease/prerelease.go
  hack/release/pkg/extraimages/extraimages.go
  hack/release/pkg/extraimages/extraimages_test.go
  licenses.d2iq.yaml
  services/kommander/0.13.0/extra-images.txt
Labels: ok-to-test, size/M, services/kommander, update-licenses

#2719 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.11.0/defaults/cm.yaml
  services/kommander-ui/15.11.0/defaults/kustomization.yaml
  services/kommander-ui/15.11.0/kommander-ui.yaml
  services/kommander-ui/15.11.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#2721 fix: Update typo in reloader overview
  services/reloader/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/reloader, update-licenses, auto-merge

#2728 chore: bump kubeaddons-addon-initializer image to v0.8.0
  licenses.d2iq.yaml
  services/traefik-forward-auth-mgmt/0.3.13/defaults/cm.yaml
  services/traefik-forward-auth-mgmt/0.3.13/defaults/kustomization.yaml
  services/traefik-forward-auth-mgmt/0.3.13/kustomization.yaml
  services/traefik-forward-auth-mgmt/0.3.13/traefik-forward-auth-mgmt.yaml
  services/traefik-forward-auth/0.3.13/defaults/cm.yaml
  services/traefik-forward-auth/0.3.13/defaults/kustomization.yaml
  services/traefik-forward-auth/0.3.13/kustomization.yaml
  services/traefik-forward-auth/0.3.13/traefik-forward-auth.yaml
  services/velero/7.1.5/defaults/cm.yaml
  services/velero/7.1.5/defaults/kustomization.yaml
  services/velero/7.1.5/grafana-dashboards/kustomization.yaml
  services/velero/7.1.5/grafana-dashboards/velero.json
  services/velero/7.1.5/helmrelease/helmrelease.yaml
  services/velero/7.1.5/kustomization.yaml
  services/velero/7.1.5/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/7.1.5/post-install/kustomization.yaml
  services/velero/7.1.5/pre-install/kustomization.yaml
  services/velero/7.1.5/pre-install/pre-install-job.yaml
  services/velero/7.1.5/velero-post-install.yaml
  services/velero/7.1.5/velero-pre-install.yaml
  services/velero/7.1.5/velero.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/traefik-forward-auth, services/traefik-forward-auth-mgmt, services/velero, update-licenses

#2723 fix(gha): Typo
  .github/workflows/automerge.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2729 feat: bump kubecost metric images (thanos, prometheus, alertmanager)
  licenses.d2iq.yaml
  services/centralized-kubecost/0.37.6/defaults/cm.yaml
  services/centralized-kubecost/0.37.6/defaults/kustomization.yaml
  services/centralized-kubecost/0.37.6/kustomization.yaml
  services/centralized-kubecost/0.37.6/post-install-jobs.yaml
  services/centralized-kubecost/0.37.6/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.6/release.yaml
  services/centralized-kubecost/0.37.6/release/release.yaml
  services/kubecost/0.37.7/defaults/cm.yaml
  services/kubecost/0.37.7/defaults/kustomization.yaml
  services/kubecost/0.37.7/kubecost.yaml
  services/kubecost/0.37.7/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/centralized-kubecost, services/kubecost, update-licenses

#2727 feat: Bump cr.fluentbit.io/fluent/fluent-bit
  licenses.d2iq.yaml
  services/fluent-bit/0.47.7/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/fluent-bit, update-licenses

#2738 fix: remove additional image tag trim
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2739 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.14.0/defaults/cm.yaml
  services/kommander-ui/15.14.0/defaults/kustomization.yaml
  services/kommander-ui/15.14.0/kommander-ui.yaml
  services/kommander-ui/15.14.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#2740 ci: use explicit name when publishing s3 blobs
  justfile
Labels: size/XS

#2737 feat: git-operator release-0.13.3
  .env
  licenses.d2iq.yaml
  services/git-operator/0.1.2/defaults/kustomization.yaml
  services/git-operator/0.1.2/git-operator-manifests/all.yaml
  services/git-operator/0.1.2/git-operator-manifests/kustomization.yaml
  services/git-operator/0.1.2/ingress.yaml
  services/git-operator/0.1.2/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, update-licenses, services/git-operator

#2726 feat: Bump docker.io/fluent/fluent-bit cve fix
  licenses.d2iq.yaml
  services/logging-operator/4.2.5/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/logging-operator, update-licenses

#2751 feat: bump karma to 0.120
  licenses.d2iq.yaml
  services/karma/2.0.6/defaults/cm.yaml
  services/karma/2.0.6/defaults/kustomization.yaml
  services/karma/2.0.6/karma.yaml
  services/karma/2.0.6/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/karma, update-licenses

#2742 feat: bump kiwigrid/k8s-sidecar to 1.28.0
  licenses.d2iq.yaml
  services/centralized-grafana/63.0.0/defaults/cm.yaml
  services/centralized-kubecost/0.37.6/defaults/cm.yaml
  services/grafana-logging/8.3.6/defaults/cm.yaml
  services/kube-prometheus-stack/63.0.0/defaults/cm.yaml
  services/kubecost/0.37.7/defaults/cm.yaml
  services/project-grafana-logging/8.3.5/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/centralized-grafana, services/grafana-logging, services/kube-prometheus-stack, services/centralized-kubecost, services/kubecost, services/project-grafana-logging, update-licenses

#2748 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.18.0/defaults/cm.yaml
  services/kommander-ui/15.18.0/defaults/kustomization.yaml
  services/kommander-ui/15.18.0/kommander-ui.yaml
  services/kommander-ui/15.18.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#2715 feat: bump configmap-reload to v0.14.0
  licenses.d2iq.yaml
  services/kubecost/0.37.7/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kube-prometheus-stack, services/centralized-kubecost, services/kubecost, update-licenses

#2745 feat: bump traefik image
  apptests/appscenarios/traefik.go
  apptests/appscenarios/traefik_test.go
  licenses.d2iq.yaml
  services/traefik/27.0.3/defaults/cm.yaml
  services/traefik/27.0.3/defaults/kustomization.yaml
  services/traefik/27.0.3/grafana-dashboards/kustomization.yaml
  services/traefik/27.0.3/grafana-dashboards/traefik.json
  services/traefik/27.0.3/kustomization.yaml
  services/traefik/27.0.3/traefik-plugin-rewritebody.yaml
  services/traefik/27.0.3/traefik.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/traefik, update-licenses

#2754 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.20.0/defaults/cm.yaml
  services/kommander-ui/15.20.0/defaults/kustomization.yaml
  services/kommander-ui/15.20.0/kommander-ui.yaml
  services/kommander-ui/15.20.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#2755 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.20.1/defaults/cm.yaml
  services/kommander-ui/15.20.1/defaults/kustomization.yaml
  services/kommander-ui/15.20.1/kommander-ui.yaml
  services/kommander-ui/15.20.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#2760 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.20.2/defaults/cm.yaml
  services/kommander-ui/15.20.2/defaults/kustomization.yaml
  services/kommander-ui/15.20.2/kommander-ui.yaml
  services/kommander-ui/15.20.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#2761 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.20.3/defaults/cm.yaml
  services/kommander-ui/15.20.3/defaults/kustomization.yaml
  services/kommander-ui/15.20.3/kommander-ui.yaml
  services/kommander-ui/15.20.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#2763 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.21.0/defaults/cm.yaml
  services/kommander-ui/15.21.0/defaults/kustomization.yaml
  services/kommander-ui/15.21.0/kommander-ui.yaml
  services/kommander-ui/15.21.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#2744 feat: kube-rbac-proxy version bump
  licenses.d2iq.yaml
  services/dex/2.14.0/defaults/cm.yaml
  services/kube-prometheus-stack/63.0.0/defaults/cm.yaml
  services/kube-prometheus-stack/63.0.0/etcd-metrics-proxy/kube-rbac-proxy.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/logging-operator, services/centralized-grafana, services/traefik, services/grafana-logging, services/cert-manager, services/kube-prometheus-stack, services/centralized-kubecost, services/karma, services/knative, services/kubecost, services/project-grafana-logging, services/dex, update-licenses, services/kommander-ui

#2752 feat: bump kube-oidc-proxy to 1.0.7
  licenses.d2iq.yaml
  services/kube-oidc-proxy/0.3.5/defaults/cm.yaml
  services/kube-oidc-proxy/0.3.5/defaults/kustomization.yaml
  services/kube-oidc-proxy/0.3.5/kube-oidc-proxy.yaml
  services/kube-oidc-proxy/0.3.5/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kube-oidc-proxy, update-licenses

#2724 feat: bump velero v1.10.1
  licenses.d2iq.yaml
  services/velero/7.1.5/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/velero, services/thanos, update-licenses

#2770 chore: bump ghostunnel to 1.8.1
  licenses.d2iq.yaml
  services/kommander/0.13.0/dynamic-helmreleases/mtls-proxy/list-images-values.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/kommander, update-licenses

#2773 fix: bump curl to 8.9.1
  licenses.d2iq.yaml
  services/gatekeeper/3.17.0/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/gatekeeper, update-licenses

#2774 feat: bump kubetunnel 0.0.38
  licenses.d2iq.yaml
  services/kubetunnel/0.0.38/defaults/cm.yaml
  services/kubetunnel/0.0.38/defaults/kustomization.yaml
  services/kubetunnel/0.0.38/extra-images.txt
  services/kubetunnel/0.0.38/kubetunnel.yaml
  services/kubetunnel/0.0.38/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/kubetunnel, update-licenses

#2771 feat: Bump grafana to 8.5.8
  licenses.d2iq.yaml
  services/grafana-logging/8.5.8/defaults/cm.yaml
  services/grafana-logging/8.5.8/defaults/kustomization.yaml
  services/grafana-logging/8.5.8/grafana.yaml
  services/grafana-logging/8.5.8/kustomization.yaml
  services/project-grafana-logging/8.5.8/defaults/cm.yaml
  services/project-grafana-logging/8.5.8/defaults/kustomization.yaml
  services/project-grafana-logging/8.5.8/kustomization.yaml
  services/project-grafana-logging/8.5.8/project-grafana.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/grafana-logging, services/project-grafana-logging, update-licenses

#2778 fix: bump cluster-observer 1.4.0
  licenses.d2iq.yaml
  services/kommander/0.13.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/kommander, update-licenses

#2725 feat: Bump ai-navigator-app version to v0.2.0
  services/ai-navigator-app/0.2.6/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.6/defaults/cm.yaml
  services/ai-navigator-app/0.2.6/defaults/kustomization.yaml
  services/ai-navigator-app/0.2.6/helmrelease.yaml
  services/ai-navigator-app/0.2.6/helmrelease/helmrelease.yaml
  services/ai-navigator-app/0.2.6/kustomization.yaml
Labels: ok-to-test, size/S, update-licenses, services/ai-navigator-app

#2781 feat: bump grafana-loki-chart to 0.79.4
  licenses.d2iq.yaml
  services/grafana-loki/0.79.5/defaults/cm.yaml
  services/grafana-loki/0.79.5/defaults/kustomization.yaml
  services/grafana-loki/0.79.5/grafana-dashboards-logging/kustomization.yaml
  services/grafana-loki/0.79.5/grafana-dashboards-logging/logging-loki-dashboard.json
  services/grafana-loki/0.79.5/grafana-dashboards/grafana-loki.json
  services/grafana-loki/0.79.5/grafana-dashboards/kustomization.yaml
  services/grafana-loki/0.79.5/grafana-dashboards/loki-chunks.json
  services/grafana-loki/0.79.5/grafana-dashboards/loki-deletion.json
  services/grafana-loki/0.79.5/grafana-dashboards/loki-reads-resources.json
  services/grafana-loki/0.79.5/grafana-dashboards/loki-retention.json
  services/grafana-loki/0.79.5/grafana-dashboards/loki-writes-resources.json
  services/grafana-loki/0.79.5/grafana-loki-helmrelease.yaml
  services/grafana-loki/0.79.5/grafana-loki-helmrelease/grafana-loki.yaml
  services/grafana-loki/0.79.5/grafana-loki-pre-install-jobs/pre-install.yaml
  services/grafana-loki/0.79.5/grafana-loki-pre-install.yaml
  services/grafana-loki/0.79.5/kustomization.yaml
  services/project-grafana-loki/0.79.5/defaults/cm.yaml
  services/project-grafana-loki/0.79.5/defaults/kustomization.yaml
  services/project-grafana-loki/0.79.5/grafana-dashboards-logging/kustomization.yaml
  services/project-grafana-loki/0.79.5/grafana-dashboards-logging/logging-loki-dashboard.json
  services/project-grafana-loki/0.79.5/kustomization.yaml
  services/project-grafana-loki/0.79.5/object-bucket-claims.yaml
  services/project-grafana-loki/0.79.5/project-grafana-loki.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/grafana-loki, services/project-grafana-loki, update-licenses

#2784 feat: Bump istio to 1.23.3
  licenses.d2iq.yaml
  services/istio/1.23.3/defaults/cm.yaml
  services/istio/1.23.3/defaults/kustomization.yaml
  services/istio/1.23.3/helmrelease.yaml
  services/istio/1.23.3/helmrelease/extra-images.txt
  services/istio/1.23.3/helmrelease/helmrelease.yaml
  services/istio/1.23.3/helmrelease/kustomization.yaml
  services/istio/1.23.3/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/istio, update-licenses
