Repository mesosphere/kommander-applications, pull requests merged in 2024-11, with the labels that each got.

#2803 feat: Release NKP-Insights v1.3.0
  licenses.d2iq.yaml
  services/nkp-insights-management/1.3.0/defaults/cm.yaml
  services/nkp-insights-management/1.3.0/defaults/kustomization.yaml
  services/nkp-insights-management/1.3.0/helmrelease.yaml
  services/nkp-insights-management/1.3.0/helmrelease/helmrelease.yaml
  services/nkp-insights-management/1.3.0/helmrelease/kustomization.yaml
  services/nkp-insights-management/1.3.0/kustomization.yaml
  services/nkp-insights/1.2.2/defaults/cm.yaml
  services/nkp-insights/1.3.0/defaults/cm.yaml
  services/nkp-insights/1.3.0/defaults/kustomization.yaml
  services/nkp-insights/1.3.0/helmrelease.yaml
  services/nkp-insights/1.3.0/helmrelease/extra-images.txt
  services/nkp-insights/1.3.0/helmrelease/helmrelease.yaml
  services/nkp-insights/1.3.0/helmrelease/kustomization.yaml
  services/nkp-insights/1.3.0/helmrelease/list-images-values.yaml
  services/nkp-insights/1.3.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XXL, update-licenses, services/nkp-insights, services/nkp-insights-management

#2807 feat: Update knative to 1.15.2
  services/knative/1.15.2/defaults/cm.yaml
  services/knative/1.15.2/defaults/kustomization.yaml
  services/knative/1.15.2/knative-serving.yaml
  services/knative/1.15.2/kustomization.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/knative, update-licenses

#2811 revert: "feat: Update knative to 1.15.2"
  services/knative/1.15.3/defaults/cm.yaml
  services/knative/1.15.3/defaults/kustomization.yaml
  services/knative/1.15.3/knative-serving.yaml
  services/knative/1.15.3/kustomization.yaml
Labels: ok-to-test, size/XS, services/knative, update-licenses

#2764 feat: bump ui to 15.23.7
  licenses.d2iq.yaml
  services/kommander-ui/15.23.7/defaults/cm.yaml
  services/kommander-ui/15.23.7/defaults/kustomization.yaml
  services/kommander-ui/15.23.7/kommander-ui.yaml
  services/kommander-ui/15.23.7/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2812 feat: Release NKP-Insights v1.3.1
  licenses.d2iq.yaml
  services/nkp-insights-management/1.3.1/defaults/cm.yaml
  services/nkp-insights-management/1.3.1/defaults/kustomization.yaml
  services/nkp-insights-management/1.3.1/helmrelease.yaml
  services/nkp-insights-management/1.3.1/helmrelease/helmrelease.yaml
  services/nkp-insights-management/1.3.1/helmrelease/kustomization.yaml
  services/nkp-insights-management/1.3.1/kustomization.yaml
  services/nkp-insights/1.3.1/defaults/cm.yaml
  services/nkp-insights/1.3.1/defaults/kustomization.yaml
  services/nkp-insights/1.3.1/helmrelease.yaml
  services/nkp-insights/1.3.1/helmrelease/extra-images.txt
  services/nkp-insights/1.3.1/helmrelease/helmrelease.yaml
  services/nkp-insights/1.3.1/helmrelease/kustomization.yaml
  services/nkp-insights/1.3.1/helmrelease/list-images-values.yaml
  services/nkp-insights/1.3.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, update-licenses, services/nkp-insights, services/nkp-insights-management

#2813 feat: bump cluster-info-api versions
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.7/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.7/defaults/cm.yaml
  services/ai-navigator-app/0.2.7/defaults/kustomization.yaml
  services/ai-navigator-app/0.2.7/helmrelease.yaml
  services/ai-navigator-app/0.2.7/helmrelease/helmrelease.yaml
  services/ai-navigator-app/0.2.7/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr, update-licenses, services/ai-navigator-app

#2814 feat: send slack notifications on success and failure
  .github/workflows/release.yml
Labels: size/M

#2779 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.0.10/defaults/cm.yaml
  services/kommander-ui/15.0.10/defaults/kustomization.yaml
  services/kommander-ui/15.0.10/kommander-ui.yaml
  services/kommander-ui/15.0.10/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#2815 feat: Release NKP-Insights v1.3.2
  licenses.d2iq.yaml
  services/nkp-insights-management/1.3.2/defaults/cm.yaml
  services/nkp-insights-management/1.3.2/defaults/kustomization.yaml
  services/nkp-insights-management/1.3.2/helmrelease.yaml
  services/nkp-insights-management/1.3.2/helmrelease/helmrelease.yaml
  services/nkp-insights-management/1.3.2/helmrelease/kustomization.yaml
  services/nkp-insights-management/1.3.2/kustomization.yaml
  services/nkp-insights/1.3.2/defaults/cm.yaml
  services/nkp-insights/1.3.2/defaults/kustomization.yaml
  services/nkp-insights/1.3.2/helmrelease.yaml
  services/nkp-insights/1.3.2/helmrelease/extra-images.txt
  services/nkp-insights/1.3.2/helmrelease/helmrelease.yaml
  services/nkp-insights/1.3.2/helmrelease/kustomization.yaml
  services/nkp-insights/1.3.2/helmrelease/list-images-values.yaml
  services/nkp-insights/1.3.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, update-licenses, services/nkp-insights, services/nkp-insights-management

#2819 fix: use `ncn-system-ops` slack for daily alerts
  .github/workflows/release.yml
Labels: size/XS

#2821 feat: bump ui to latest for 2.13.0
  licenses.d2iq.yaml
  services/kommander-ui/15.23.10/defaults/cm.yaml
  services/kommander-ui/15.23.10/defaults/kustomization.yaml
  services/kommander-ui/15.23.10/kommander-ui.yaml
  services/kommander-ui/15.23.10/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2817 feat: bump kubecost images
  licenses.d2iq.yaml
  services/centralized-kubecost/0.37.7/defaults/cm.yaml
  services/centralized-kubecost/0.37.7/defaults/kustomization.yaml
  services/centralized-kubecost/0.37.7/kustomization.yaml
  services/centralized-kubecost/0.37.7/post-install-jobs.yaml
  services/centralized-kubecost/0.37.7/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.7/release.yaml
  services/centralized-kubecost/0.37.7/release/release.yaml
  services/kubecost/0.37.8/defaults/cm.yaml
  services/kubecost/0.37.8/defaults/kustomization.yaml
  services/kubecost/0.37.8/kubecost.yaml
  services/kubecost/0.37.8/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/centralized-kubecost, services/kubecost, update-licenses

#2822 fix: use INCOMING_WEBHOOK for slack hook
  .github/workflows/release.yml
Labels: size/XS

#2824 feat: Release NKP-Insights v1.3.4
  licenses.d2iq.yaml
  services/nkp-insights-management/1.3.4/defaults/cm.yaml
  services/nkp-insights-management/1.3.4/defaults/kustomization.yaml
  services/nkp-insights-management/1.3.4/helmrelease.yaml
  services/nkp-insights-management/1.3.4/helmrelease/helmrelease.yaml
  services/nkp-insights-management/1.3.4/helmrelease/kustomization.yaml
  services/nkp-insights-management/1.3.4/kustomization.yaml
  services/nkp-insights/1.3.4/defaults/cm.yaml
  services/nkp-insights/1.3.4/defaults/kustomization.yaml
  services/nkp-insights/1.3.4/helmrelease.yaml
  services/nkp-insights/1.3.4/helmrelease/extra-images.txt
  services/nkp-insights/1.3.4/helmrelease/helmrelease.yaml
  services/nkp-insights/1.3.4/helmrelease/kustomization.yaml
  services/nkp-insights/1.3.4/helmrelease/list-images-values.yaml
  services/nkp-insights/1.3.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, update-licenses, services/nkp-insights, services/nkp-insights-management

#2827 feat: Bump AI Nav API and Agent to v0.1.2
  services/ai-navigator-app/0.2.7/defaults/cm.yaml
  services/ai-navigator-cluster-info-agent/0.1.2/defaults/cm.yaml
  services/ai-navigator-cluster-info-agent/0.1.2/defaults/kustomization.yaml
  services/ai-navigator-cluster-info-agent/0.1.2/helmrelease.yaml
  services/ai-navigator-cluster-info-agent/0.1.2/helmrelease/helmrelease.yaml
  services/ai-navigator-cluster-info-agent/0.1.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, update-licenses, services/ai-navigator-app, services/ai-navigator-cluster-info-agent

#2829 fix: `s/lastAppliedRevision/lastAttemptedRevision/` after flux bump
  services/rook-ceph-cluster/1.14.5/pre-install/ceph-crd-check.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/rook-ceph-cluster, update-licenses

#2753 feat: publish kapps server to ghcr
  just/test.just
  justfile
Labels: size/S

#2793 feat: Bump velero to 7.2.2
  licenses.d2iq.yaml
  services/velero/7.2.2/defaults/cm.yaml
  services/velero/7.2.2/defaults/kustomization.yaml
  services/velero/7.2.2/grafana-dashboards/kustomization.yaml
  services/velero/7.2.2/grafana-dashboards/velero.json
  services/velero/7.2.2/helmrelease/helmrelease.yaml
  services/velero/7.2.2/kustomization.yaml
  services/velero/7.2.2/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/7.2.2/post-install/kustomization.yaml
  services/velero/7.2.2/pre-install/kustomization.yaml
  services/velero/7.2.2/pre-install/pre-install-job.yaml
  services/velero/7.2.2/velero-post-install.yaml
  services/velero/7.2.2/velero-pre-install.yaml
  services/velero/7.2.2/velero.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/velero, update-licenses

#2833 build: Allow to write packages to release to ghcr
  .github/workflows/release.yml
Labels: size/XS

#2830 fix: broken store config in grafana loki
  services/grafana-loki/0.79.5/defaults/cm.yaml
Labels: ok-to-test, auto-backport, size/XS, services/grafana-loki, update-licenses, backport-to-release-2.7, backport-to-release-2.8, backport-to-release-2.12

#2838 build: Login to ghcr in order to push to it
  .github/workflows/release.yml
Labels: size/S

#2839 feat: Bump knative to 1.15.4
  licenses.d2iq.yaml
  services/knative/1.15.4/defaults/cm.yaml
  services/knative/1.15.4/defaults/kustomization.yaml
  services/knative/1.15.4/knative-serving.yaml
  services/knative/1.15.4/kustomization.yaml
Labels: ok-to-test, size/S, services/knative, update-licenses

#2831 fix: Remove hardcoded image in for ai-navigator-cluster-info-agent
  services/ai-navigator-cluster-info-agent/0.1.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/ai-navigator-cluster-info-agent

#2837 fix: broken store config in grafana loki (#2830)
  services/grafana-loki/0.79.4/defaults/cm.yaml
Labels: size/XS

#2836 fix: broken store config in grafana loki (#2830)
  services/grafana-loki/0.78.3/defaults/cm.yaml
Labels: size/XS

#2835 fix: broken store config in grafana loki (#2830)
  services/grafana-loki/0.74.6/defaults/cm.yaml
Labels: size/XS

#2823 feat: bump pkg docker/library/kong@3.8
  licenses.d2iq.yaml
  services/kubernetes-dashboard/7.10.0/defaults/cm.yaml
  services/kubernetes-dashboard/7.10.0/defaults/kustomization.yaml
  services/kubernetes-dashboard/7.10.0/helmrelease.yaml
  services/kubernetes-dashboard/7.10.0/helmrelease/kubernetes-dashboard.yaml
  services/kubernetes-dashboard/7.10.0/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/kubernetes-dashboard, update-licenses

#2847 fix: One more reference to the wrong repo
  licenses.d2iq.yaml
  services/kommander/0.13.0/extra-images.txt
Labels: ok-to-test, size/XS, services/kommander, update-licenses

#2852 build: Adjust the release automation to handle ghcr
  hack/release/pkg/extraimages/extraimages.go
  hack/release/pkg/extraimages/extraimages_test.go
Labels: size/XS

#2841 feat: Bump rook-ceph to v1.15.5
  licenses.d2iq.yaml
  services/rook-ceph-cluster/1.15.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.15.5/defaults/kustomization.yaml
  services/rook-ceph-cluster/1.15.5/grafana-dashboards/kustomization.yaml
  services/rook-ceph-cluster/1.15.5/grafana-dashboards/rook-ceph-cluster.json
  services/rook-ceph-cluster/1.15.5/grafana-dashboards/rook-ceph-osd.json
  services/rook-ceph-cluster/1.15.5/grafana-dashboards/rook-ceph-pools.json
  services/rook-ceph-cluster/1.15.5/helmrelease/dashboard-cm.yaml
  services/rook-ceph-cluster/1.15.5/helmrelease/helmrelease.yaml
  services/rook-ceph-cluster/1.15.5/helmrelease/kustomization.yaml
  services/rook-ceph-cluster/1.15.5/kustomization.yaml
  services/rook-ceph-cluster/1.15.5/object-bucket-claims.yaml
  services/rook-ceph-cluster/1.15.5/objectbucketclaims/helmrelease.yaml
  services/rook-ceph-cluster/1.15.5/objectbucketclaims/kustomization.yaml
  services/rook-ceph-cluster/1.15.5/pre-install.yaml
  services/rook-ceph-cluster/1.15.5/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.15.5/rook-ceph-cluster.yaml
  services/rook-ceph/1.15.5/defaults/cm.yaml
  services/rook-ceph/1.15.5/defaults/kustomization.yaml
  services/rook-ceph/1.15.5/helmrelease/helmrelease.yaml
  services/rook-ceph/1.15.5/helmrelease/kustomization.yaml
  services/rook-ceph/1.15.5/kustomization.yaml
  services/rook-ceph/1.15.5/rook-ceph.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/rook-ceph-cluster, services/rook-ceph, update-licenses

#2858 feat: bump ui to latest for 2.13.0
  licenses.d2iq.yaml
  services/kommander-ui/15.23.16/defaults/cm.yaml
  services/kommander-ui/15.23.16/defaults/kustomization.yaml
  services/kommander-ui/15.23.16/kommander-ui.yaml
  services/kommander-ui/15.23.16/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2857 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.23.16/defaults/cm.yaml
  services/kommander-ui/15.23.16/defaults/kustomization.yaml
  services/kommander-ui/15.23.16/kommander-ui.yaml
  services/kommander-ui/15.23.16/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2832 fix: patch and bump kubecost images to fix cve
  licenses.d2iq.yaml
  services/centralized-kubecost/0.37.7/defaults/cm.yaml
  services/kubecost/0.37.8/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/centralized-kubecost, services/kubecost, update-licenses

#2865 fix: [release-2.13] patch and bump kubecost images to fix cve (#2832)
  licenses.d2iq.yaml
  services/centralized-kubecost/0.37.7/defaults/cm.yaml
  services/kubecost/0.37.8/defaults/cm.yaml
Labels: size/XS

#2866 feat: [release-2.13] Bump ain-cluster-info chart to 0.2.6 (#2846)
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.8/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.8/defaults/cm.yaml
  services/ai-navigator-app/0.2.8/defaults/kustomization.yaml
  services/ai-navigator-app/0.2.8/helmrelease.yaml
  services/ai-navigator-app/0.2.8/helmrelease/helmrelease.yaml
  services/ai-navigator-app/0.2.8/kustomization.yaml
Labels: size/S

#2870 feat: Bump knative to 1.15.5
  services/knative/1.15.5/defaults/cm.yaml
  services/knative/1.15.5/defaults/kustomization.yaml
  services/knative/1.15.5/knative-serving.yaml
  services/knative/1.15.5/kustomization.yaml
Labels: ok-to-test, auto-backport, size/XS, services/knative, update-licenses, backport-to-release-2.13

#2871 feat: Bump knative to 1.15.5 (#2870)
  services/knative/1.15.5/defaults/cm.yaml
  services/knative/1.15.5/defaults/kustomization.yaml
  services/knative/1.15.5/knative-serving.yaml
  services/knative/1.15.5/kustomization.yaml
Labels: size/XS

#2875 feat: Update AI Navigator Cluster Info API chart to v0.2.7
  services/ai-navigator-app/0.2.8/helmrelease/helmrelease.yaml
Labels: ok-to-test, update-licenses, services/ai-navigator-app, backport-to-release-2.13

#2876 feat: Update AI Navigator API chart to v0.2.7 (2.13)
  services/ai-navigator-app/0.2.8/helmrelease/helmrelease.yaml
Labels: size/XS
