Repository mesosphere/kommander-applications, pull requests merged in 2024-02, with the labels that each got.

#1909 feat: Bump reloader to 1.0.65
  .github/workflows/labeler.yaml
  licenses.d2iq.yaml
  services/reloader/1.0.65/defaults/cm.yaml
  services/reloader/1.0.65/defaults/kustomization.yaml
  services/reloader/1.0.65/kustomization.yaml
  services/reloader/1.0.65/reloader.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, open-kommander-pr, services/reloader, update-licenses

#1894 feat: Update name of HR
  services/ai-navigator-app/0.2.0/defaults/cm.yaml
  services/ai-navigator-app/0.2.0/helmrelease.yaml
  services/ai-navigator-app/0.2.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1829 feat: Bump chartmuseum to 3.10.2
  services/chartmuseum/3.10.1/chartmuseum-3.10.1.tgz
  services/chartmuseum/3.10.2/README.md
  services/chartmuseum/3.10.2/chartmuseum-3.10.2.tgz
  services/chartmuseum/3.10.2/chartmuseum.yaml
  services/chartmuseum/3.10.2/defaults/cm.yaml
  services/chartmuseum/3.10.2/defaults/kustomization.yaml
  services/chartmuseum/3.10.2/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, services/chartmuseum

#1926 ci: Remove mergebot
  .github/workflows/mergebot.yml
  mergebot-config.json
Labels: ready-for-review, ok-to-test, auto-backport, size/M, backport-to-release-2.5, backport-to-release-2.6, backport-to-release-2.7

#1929 ci: Remove mergebot
  .github/workflows/mergebot.yml
  mergebot-config.json
Labels: ready-for-review, ok-to-test, size/M

#1927 ci: Remove mergebot
  .github/workflows/mergebot.yml
  mergebot-config.json
Labels: ready-for-review, ok-to-test, size/M

#1904 feat: Bump kiali-operator to 1.79.0
  licenses.d2iq.yaml
  services/kiali/1.79.0/defaults/cm.yaml
  services/kiali/1.79.0/defaults/kustomization.yaml
  services/kiali/1.79.0/extra-images.txt
  services/kiali/1.79.0/kiali.yaml
  services/kiali/1.79.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, let-me-merge-it, size/S, open-kommander-pr, services/kiali, update-licenses

#1928 ci: Remove mergebot
  .github/workflows/mergebot.yml
  mergebot-config.json
Labels: ready-for-review, ok-to-test, size/M

#1923 feat: Bump fluent-bit to 0.43.0
  services/fluent-bit/0.43.0/defaults/cm.yaml
  services/fluent-bit/0.43.0/defaults/kustomization.yaml
  services/fluent-bit/0.43.0/fluent-bit.yaml
  services/fluent-bit/0.43.0/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.43.0/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.43.0/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.43.0/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.43.0/kustomization.yaml
Labels: ok-to-test, let-me-merge-it, size/XS, services/fluent-bit, update-licenses

#1930 ci: migrate tc remaining builds to gha (#1465)
  .github/workflows/create-dev-tag.yml
  .github/workflows/lint.yaml
  .github/workflows/manifest-validation.yml
  .github/workflows/release.yml
  .github/workflows/validate-licenses.yaml
  .gitignore
  Dockerfile.ci
  make/ci.mk
  make/repo.mk
Labels: ready-for-review, ok-to-test, backport-pr, size/L, update-licenses

#1918 feat: Bump external-dns to 6.31.5
  licenses.d2iq.yaml
  services/external-dns/6.31.5/defaults/cm.yaml
  services/external-dns/6.31.5/defaults/kustomization.yaml
  services/external-dns/6.31.5/external-dns.yaml
  services/external-dns/6.31.5/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/external-dns, update-licenses

#1937 feat: Bump ai-navigator-app
  services/ai-navigator-app/0.2.1/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.1/defaults/cm.yaml
  services/ai-navigator-app/0.2.1/defaults/kustomization.yaml
  services/ai-navigator-app/0.2.1/helmrelease.yaml
  services/ai-navigator-app/0.2.1/helmrelease/helmrelease.yaml
  services/ai-navigator-app/0.2.1/kustomization.yaml
Labels: ok-to-test, size/XS, update-licenses, services/ai-navigator-app

#1925 feat: Rename deprecated secretRef to certSecretRef
  common/airgapped/patch-add-secret-ref.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr

#1843 ci: Switch to devbox
  .github/workflows/create-dev-tag.yml
  .github/workflows/flux-update-scheduled-check.yml
  .github/workflows/lint.yaml
  .github/workflows/manifest-validation.yml
  .github/workflows/release.yml
  .github/workflows/test.yaml
  .github/workflows/update-service-labeler.yaml
  .github/workflows/validate-licenses.yaml
  .go-tools
  .tool-versions
  Dockerfile.ci
  Makefile
  devbox.json
  devbox.lock
  go.work
  go.work.sum
  hack/flux/update-flux.sh
  hack/release/go.mod
  magefiles/targets.go
  make/all.mk
  make/ci.mk
  make/flux.mk
  make/go.mk
  make/release.mk
  make/tools.mk
Labels: ready-for-review, ok-to-test, size/XXL

#1939 refactor: rename d2iq to nutanix
  services/centralized-kubecost/0.37.2/release/release.yaml
  services/dkp-insights/metadata.yaml
  services/karma/2.0.3/karma.yaml
  services/project-logging/metadata.yaml
  services/thanos/12.20.3/thanos.yaml
  services/traefik-forward-auth/metadata.yaml
Labels: ok-to-test

#1941 fix: unpin KPS Grafana, update metrics path
  licenses.d2iq.yaml
  services/centralized-grafana/48.3.1/centralized-grafana.yaml
  services/centralized-grafana/48.3.1/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.1/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.1/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/metadata.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/centralized-grafana, services/kube-prometheus-stack, update-licenses

#1953 feat: Bump dex to 2.13.8
  services/dex/2.13.8/defaults/cm.yaml
  services/dex/2.13.8/defaults/kustomization.yaml
  services/dex/2.13.8/dex.yaml
  services/dex/2.13.8/kustomization.yaml
Labels: ok-to-test, size/XS, services/dex, update-licenses

#1951 fix(kubectl): Bump all kubectl image defaults to 1.29.2
  licenses.d2iq.yaml
  services/centralized-kubecost/0.37.2/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.2/release/release.yaml
  services/dex/2.13.8/defaults/cm.yaml
  services/grafana-loki/0.74.6/grafana-loki-pre-install-jobs/pre-install.yaml
  services/istio/1.20.2/defaults/cm.yaml
  services/knative/1.10.4/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.1/defaults/cm.yaml
  services/kubecost/0.37.2/defaults/cm.yaml
  services/kubefed/0.10.4/defaults/cm.yaml
  services/kubetunnel/0.0.31/defaults/cm.yaml
  services/rook-ceph-cluster/1.13.2/pre-install/ceph-crd-check.yaml
  services/thanos/12.20.3/jobs/jobs.yaml
  services/traefik/26.0.0/defaults/cm.yaml
  services/velero/5.2.2/defaults/cm.yaml
  services/velero/5.2.2/velero-pre-install.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/rook-ceph-cluster, services/istio, services/traefik, services/kube-prometheus-stack, services/centralized-kubecost, services/knative, services/kubecost, services/velero, services/grafana-loki, services/kubefed, services/kubetunnel, services/thanos, services/dex, update-licenses

#1956 fix(centralized-grafana): Correct metrics path
  services/centralized-grafana/48.3.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/centralized-grafana, update-licenses

#1958 revert: "feat: Rename deprecated secretRef to certSecretRef (#1925)"
  common/airgapped/patch-add-secret-ref.yaml
Labels: size/XS

#1957 feat: bump grafana to the latest to fix critical CVEs
  licenses.d2iq.yaml
  services/centralized-grafana/48.3.1/centralized-grafana.yaml
  services/centralized-grafana/48.3.1/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.1/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.1/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/metadata.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/centralized-grafana, services/kube-prometheus-stack, update-licenses

#1955 feat: Bump kubecost to 0.37.3
  licenses.d2iq.yaml
  services/centralized-kubecost/0.37.3/defaults/cm.yaml
  services/centralized-kubecost/0.37.3/defaults/kustomization.yaml
  services/centralized-kubecost/0.37.3/kustomization.yaml
  services/centralized-kubecost/0.37.3/post-install-jobs.yaml
  services/centralized-kubecost/0.37.3/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.3/release.yaml
  services/centralized-kubecost/0.37.3/release/release.yaml
  services/kubecost/0.37.3/defaults/cm.yaml
  services/kubecost/0.37.3/defaults/kustomization.yaml
  services/kubecost/0.37.3/kubecost.yaml
  services/kubecost/0.37.3/kustomization.yaml
Labels: ok-to-test, size/S, services/centralized-kubecost, services/kubecost, update-licenses

#1961 chore(dex): bump dex chart to 2.13.9
  licenses.d2iq.yaml
  services/dex/2.13.9/defaults/cm.yaml
  services/dex/2.13.9/defaults/kustomization.yaml
  services/dex/2.13.9/dex.yaml
  services/dex/2.13.9/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/dex, update-licenses

#1959 feat: Bump thanos to 13.2.1
  licenses.d2iq.yaml
  services/thanos/13.2.1/defaults/cm.yaml
  services/thanos/13.2.1/defaults/kustomization.yaml
  services/thanos/13.2.1/jobs.yaml
  services/thanos/13.2.1/jobs/jobs.yaml
  services/thanos/13.2.1/kustomization.yaml
  services/thanos/13.2.1/thanos.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/thanos, update-licenses

#1960 ci(bloodhound): Update k8s 1.28 and 1.29 versions
  .bloodhound.yml
Labels: ready-for-review, ok-to-test, size/XS

#1966 feat(obc): Bump to 0.1.11
  services/project-grafana-loki/0.74.6/object-bucket-claims.yaml
  services/rook-ceph-cluster/1.13.2/objectbucketclaims/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/rook-ceph-cluster, services/project-grafana-loki, update-licenses

#1963 fix: bump mesosphere/grafana-plugins image - cve fixes
  licenses.d2iq.yaml
  services/centralized-grafana/48.3.1/defaults/cm.yaml
  services/grafana-logging/6.60.1/defaults/cm.yaml
  services/kube-prometheus-stack/48.3.1/defaults/cm.yaml
  services/project-grafana-logging/6.60.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/centralized-grafana, services/grafana-logging, services/kube-prometheus-stack, services/project-grafana-logging, update-licenses

#1968 feat: Bump external-dns to 6.34.2
  licenses.d2iq.yaml
  services/external-dns/6.34.2/defaults/cm.yaml
  services/external-dns/6.34.2/defaults/kustomization.yaml
  services/external-dns/6.34.2/external-dns.yaml
  services/external-dns/6.34.2/kustomization.yaml
Labels: ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/external-dns, update-licenses

#1952 feat(cert-federation): Bump to 0.0.8
  common/build/kommander-cert-federation.yaml
  licenses.d2iq.yaml
  services/velero/5.2.2/velero-v4-hooks-adoption.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/velero, update-licenses

#1972 refactor(gha): Use token instead of ssh key
  .github/workflows/kommander-branch.yaml
  .github/workflows/kommander-revert-kapps-ref.yaml
Labels: ready-for-review, ok-to-test, size/XS

#1971 feat(tfa,velero): Bump addons initializer image
  licenses.d2iq.yaml
  services/traefik-forward-auth-mgmt/0.3.11/defaults/cm.yaml
  services/traefik-forward-auth-mgmt/0.3.11/defaults/kustomization.yaml
  services/traefik-forward-auth-mgmt/0.3.11/kustomization.yaml
  services/traefik-forward-auth-mgmt/0.3.11/traefik-forward-auth-mgmt.yaml
  services/traefik-forward-auth/0.3.11/defaults/cm.yaml
  services/traefik-forward-auth/0.3.11/defaults/kustomization.yaml
  services/traefik-forward-auth/0.3.11/kustomization.yaml
  services/traefik-forward-auth/0.3.11/traefik-forward-auth.yaml
  services/velero/5.2.2/post-install/deployment_update-backupstoragelocation.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/S, open-kommander-pr, services/traefik-forward-auth, services/traefik-forward-auth-mgmt, services/velero, update-licenses

#1980 chore: debug list-images.sh script
  .envrc
  hack/list-images.sh
Labels: ready-for-review, size/XS

#1976 feat: Bump loki-distributed to 0.78.3
  licenses.d2iq.yaml
  services/grafana-loki/0.78.3/defaults/cm.yaml
  services/grafana-loki/0.78.3/defaults/kustomization.yaml
  services/grafana-loki/0.78.3/grafana-dashboards-logging/kustomization.yaml
  services/grafana-loki/0.78.3/grafana-dashboards-logging/logging-loki-dashboard.json
  services/grafana-loki/0.78.3/grafana-dashboards/grafana-loki.json
  services/grafana-loki/0.78.3/grafana-dashboards/kustomization.yaml
  services/grafana-loki/0.78.3/grafana-dashboards/loki-chunks.json
  services/grafana-loki/0.78.3/grafana-dashboards/loki-deletion.json
  services/grafana-loki/0.78.3/grafana-dashboards/loki-reads-resources.json
  services/grafana-loki/0.78.3/grafana-dashboards/loki-retention.json
  services/grafana-loki/0.78.3/grafana-dashboards/loki-writes-resources.json
  services/grafana-loki/0.78.3/grafana-loki-helmrelease.yaml
  services/grafana-loki/0.78.3/grafana-loki-helmrelease/grafana-loki.yaml
  services/grafana-loki/0.78.3/grafana-loki-pre-install-jobs/pre-install.yaml
  services/grafana-loki/0.78.3/grafana-loki-pre-install.yaml
  services/grafana-loki/0.78.3/kustomization.yaml
  services/project-grafana-loki/0.78.3/defaults/cm.yaml
  services/project-grafana-loki/0.78.3/defaults/kustomization.yaml
  services/project-grafana-loki/0.78.3/grafana-dashboards-logging/kustomization.yaml
  services/project-grafana-loki/0.78.3/grafana-dashboards-logging/logging-loki-dashboard.json
  services/project-grafana-loki/0.78.3/kustomization.yaml
  services/project-grafana-loki/0.78.3/object-bucket-claims.yaml
  services/project-grafana-loki/0.78.3/project-grafana-loki.yaml
Labels: ok-to-test, do-not-merge/testing, let-me-merge-it, size/S, open-kommander-pr, services/grafana-loki, services/project-grafana-loki, update-licenses

#1982 fix(kommander): Add ai-nav app to list of mgmt apps
  .github/workflows/manifest-validation.yml
  services/kommander/0.6.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/M

#1979 chore(dex): disable grpc service
  licenses.d2iq.yaml
  services/dex/2.13.9/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/dex, update-licenses

#1977 feat(cert-manager): Update to 1.14.2
  licenses.d2iq.yaml
  services/cert-manager/1.14.2/cert-manager-namespace.yaml
  services/cert-manager/1.14.2/cert-manager-namespace/namespace.yaml
  services/cert-manager/1.14.2/defaults/cm.yaml
  services/cert-manager/1.14.2/defaults/kustomization.yaml
  services/cert-manager/1.14.2/kustomization.yaml
  services/cert-manager/1.14.2/priorityclass-resource-quota.yaml
  services/cert-manager/1.14.2/priorityclass-resource-quota/resourcequota.yaml
  services/cert-manager/1.14.2/release.yaml
  services/cert-manager/1.14.2/release/kustomization.yaml
  services/cert-manager/1.14.2/release/release.yaml
  services/cert-manager/1.14.2/root-ca.yaml
  services/cert-manager/1.14.2/root-ca/root-ca.yaml
  services/cert-manager/bootstrap/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, let-me-merge-it, size/S, open-kommander-pr, services/cert-manager, update-licenses

#1984 fix(kubecost): Bump grafana to 10.3.3 to resolve CVE-2023-49569
  licenses.d2iq.yaml
  services/kubecost/0.37.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/kubecost, update-licenses

#1983 chore(gatekeeper): bump curl image
  licenses.d2iq.yaml
  services/gatekeeper/3.14.0-dkp.1/constraints.yaml
  services/gatekeeper/3.14.0-dkp.1/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.14.0-dkp.1/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.14.0-dkp.1/constrainttemplates.yaml
  services/gatekeeper/3.14.0-dkp.1/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.14.0-dkp.1/defaults/cm.yaml
  services/gatekeeper/3.14.0-dkp.1/defaults/kustomization.yaml
  services/gatekeeper/3.14.0-dkp.1/kustomization.yaml
  services/gatekeeper/3.14.0-dkp.1/release.yaml
  services/gatekeeper/3.14.0-dkp.1/release/kustomization.yaml
  services/gatekeeper/3.14.0-dkp.1/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/gatekeeper, update-licenses

#1978 chore: bump dex container image to v2.37.0-d2iq.3
  licenses.d2iq.yaml
  services/dex/2.13.9-dkp.1/defaults/cm.yaml
  services/dex/2.13.9-dkp.1/defaults/kustomization.yaml
  services/dex/2.13.9-dkp.1/dex.yaml
  services/dex/2.13.9-dkp.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/dex, update-licenses
