Repository mesosphere/kommander-applications, pull requests merged in 2024-05, with the labels that each got.

#2188 feat: Bump dkp-insights to v1.1.2
  services/dkp-insights/1.1.2/defaults/cm.yaml
  services/dkp-insights/1.1.2/defaults/kustomization.yaml
  services/dkp-insights/1.1.2/helmrelease.yaml
  services/dkp-insights/1.1.2/helmrelease/extra-images.txt
  services/dkp-insights/1.1.2/helmrelease/helmrelease.yaml
  services/dkp-insights/1.1.2/helmrelease/kustomization.yaml
  services/dkp-insights/1.1.2/helmrelease/list-images-values.yaml
  services/dkp-insights/1.1.2/kustomization.yaml
Labels: ok-to-test, size/S, update-licenses, services/dkp-insights

#2177 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.6.0/defaults/cm.yaml
  services/kommander-ui/11.6.0/defaults/kustomization.yaml
  services/kommander-ui/11.6.0/kommander-ui.yaml
  services/kommander-ui/11.6.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2193 ci: Exclude apptests dir in list-images.sh script
  hack/list-images.sh
Labels: ready-for-review, ok-to-test, size/XS

#2195 chore: Post release bumps
  common/kommander-operator/defaults/cm.yaml
  services/kommander-appmanagement/0.12.0/defaults/cm.yaml
  services/kommander-appmanagement/0.12.0/defaults/kustomization.yaml
  services/kommander-appmanagement/0.12.0/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.12.0/kustomization.yaml
  services/kommander/0.12.0/defaults/cm.yaml
  services/kommander/0.12.0/defaults/kustomization.yaml
  services/kommander/0.12.0/dynamic-helmreleases/README.txt
  services/kommander/0.12.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.12.0/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.12.0/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.12.0/dynamic-helmreleases/mtls-proxy/list-images-values.yaml
  services/kommander/0.12.0/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.12.0/kommander.yaml
  services/kommander/0.12.0/kustomization.yaml
Labels: ok-to-test, size/S, services/kommander, services/kommander-appmanagement, update-licenses

#2185 feat: Bump external-dns to 7.2.1
  services/external-dns/7.2.1/defaults/cm.yaml
  services/external-dns/7.2.1/defaults/kustomization.yaml
  services/external-dns/7.2.1/external-dns.yaml
  services/external-dns/7.2.1/kustomization.yaml
Labels: ok-to-test, let-me-merge-it, size/XS, open-kommander-pr, services/external-dns, update-licenses

#2203 fix: bump dex to 2.13.11 (dex-controller v0.14.6)
  licenses.d2iq.yaml
  services/dex/2.13.11/defaults/cm.yaml
  services/dex/2.13.11/defaults/kustomization.yaml
  services/dex/2.13.11/dex.yaml
  services/dex/2.13.11/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr

#2205 chore: bump golang
  apptests/go.mod
Labels: ready-for-review, ok-to-test, size/XS

#2202 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.6.1/defaults/cm.yaml
  services/kommander-ui/11.6.1/defaults/kustomization.yaml
  services/kommander-ui/11.6.1/kommander-ui.yaml
  services/kommander-ui/11.6.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2206 fix: bump dex to 2.13.11 (dex-controller v0.14.6) (2.7)
  licenses.d2iq.yaml
  services/dex/2.13.11/defaults/cm.yaml
  services/dex/2.13.11/defaults/kustomization.yaml
  services/dex/2.13.11/dex.yaml
  services/dex/2.13.11/kustomization.yaml
Labels: ok-to-test, backport-pr, size/S, open-kommander-pr

#2196 test: karma assertions
  apptests/appscenarios/contants.go
  apptests/appscenarios/karma.go
  apptests/appscenarios/karma_test.go
  apptests/appscenarios/suite_test.go
  apptests/flux/apply.go
  apptests/testdata/cert-manager/kommander-ca/kommander-ca.yaml
Labels: ready-for-review, ok-to-test, size/XL, services/karma

#2207 feat: Add External DNS tests
  apptests/appscenarios/externaldns.go
  apptests/appscenarios/externaldns_test.go
  apptests/constants/apps.go
Labels: ready-for-review, ok-to-test, size/L

#2204 test: traefik test
  apptests/appscenarios/traefik.go
  apptests/appscenarios/traefik_test.go
  apptests/environment/environment.go
  apptests/flux/apply.go
  apptests/go.mod
  apptests/go.sum
Labels: ready-for-review, ok-to-test, size/L, services/traefik

#2209 chore: bump centralized grafana resource limits
  services/centralized-grafana/48.3.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, services/centralized-grafana, update-licenses, backport-to-release-2.8

#2208 refactor: use traefik object to install traefik
  apptests/appscenarios/karma.go
  apptests/appscenarios/karma_test.go
Labels: ok-to-test, size/M, services/karma

#2219 chore: drop unused fluxcd api import
  apptests/flux/apply.go
  apptests/go.mod
  apptests/go.sum
Labels: ready-for-review, ok-to-test, size/S

#2222 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.4.6/defaults/cm.yaml
  services/kommander-ui/11.4.6/defaults/kustomization.yaml
  services/kommander-ui/11.4.6/kommander-ui.yaml
  services/kommander-ui/11.4.6/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#2220 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.7.0/defaults/cm.yaml
  services/kommander-ui/11.7.0/defaults/kustomization.yaml
  services/kommander-ui/11.7.0/kommander-ui.yaml
  services/kommander-ui/11.7.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2223 fix(kommander): Add kommander-ui to mgmt apps
  services/kommander/0.12.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, services/kommander, update-licenses, backport-to-release-2.6, backport-to-release-2.7, backport-to-release-2.8

#2224 fix(kommander): Add kommander-ui to mgmt apps
  services/kommander/0.8.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2225 fix(kommander): Add kommander-ui to mgmt apps
  services/kommander/0.7.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2226 fix(kommander): Add kommander-ui to mgmt apps
  services/kommander/0.6.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2221 feat: bump git-operator to v0.2.0
  licenses.d2iq.yaml
  services/git-operator/0.0.0/git-operator.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, services/git-operator

#2228 feat(koperator): Add necessary read perms for clusterapps
  charts/kommander-operator/templates/rback_v1_clusterrole_operator_kommander-operator.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, size/XS

#2230 fix: add a defaults Kustomization expected by the CLI to git-operator
  services/git-operator/0.0.0/defaults/kustomization.yaml
Labels: ready-for-review, ok-to-test, update-licenses, services/git-operator

#2181 feat: Bump kiali-operator to 1.83.0
  licenses.d2iq.yaml
  services/kiali/1.83.0/defaults/cm.yaml
  services/kiali/1.83.0/defaults/kustomization.yaml
  services/kiali/1.83.0/extra-images.txt
  services/kiali/1.83.0/kiali.yaml
  services/kiali/1.83.0/kustomization.yaml
Labels: ok-to-test, let-me-merge-it, size/S, open-kommander-pr, services/kiali, update-licenses

#2232 feat: bump bloodhound to validate against 1.29.4
  .bloodhound.yml
Labels: ready-for-review, ok-to-test, size/XS

#2233 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.8.0/defaults/cm.yaml
  services/kommander-ui/11.8.0/defaults/kustomization.yaml
  services/kommander-ui/11.8.0/kommander-ui.yaml
  services/kommander-ui/11.8.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2240 feat(koperator): Add missing permissions and pod label
  charts/kommander-operator/templates/deployment.yaml
  charts/kommander-operator/templates/rback_v1_clusterrole_operator_kommander-operator.yaml
Labels: ready-for-review, ok-to-test, size/S

#2227 feat: Add licensing tiers to Kommander Apps.
  apptests/appscenarios/externaldns_test.go
  services/ai-navigator-app/metadata.yaml
  services/ai-navigator-cluster-info-agent/metadata.yaml
  services/centralized-grafana/metadata.yaml
  services/centralized-kubecost/metadata.yaml
  services/cert-manager/metadata.yaml
  services/chartmuseum/metadata.yaml
  services/dex-k8s-authenticator/metadata.yaml
  services/dex/metadata.yaml
  services/dkp-insights-management/metadata.yaml
  services/dkp-insights/metadata.yaml
  services/external-dns/metadata.yaml
  services/fluent-bit/metadata.yaml
  services/gatekeeper/metadata.yaml
  services/git-operator/metadata.yaml
  services/gitea/metadata.yaml
  services/grafana-logging/metadata.yaml
  services/grafana-loki/metadata.yaml
  services/istio/metadata.yaml
  services/jaeger/metadata.yaml
  services/karma-traefik/metadata.yaml
  services/karma/metadata.yaml
  services/kiali/metadata.yaml
  services/knative/metadata.yaml
  services/kommander-appmanagement/metadata.yaml
  services/kommander-flux/metadata.yaml
  services/kommander-ui/metadata.yaml
  services/kommander/metadata.yaml
  services/kube-oidc-proxy/metadata.yaml
  services/kube-prometheus-stack/metadata.yaml
  services/kubecost-thanos-traefik/metadata.yaml
  services/kubecost/metadata.yaml
  services/kubefed/metadata.yaml
  services/kubernetes-dashboard/metadata.yaml
  services/kubetunnel/metadata.yaml
  services/logging-operator/metadata.yaml
  services/nfs-server-provisioner/metadata.yaml
  services/nvidia-gpu-operator/metadata.yaml
  services/project-grafana-logging/metadata.yaml
  services/project-grafana-loki/metadata.yaml
  services/project-logging/metadata.yaml
  services/prometheus-adapter/metadata.yaml
  services/prometheus-thanos-traefik/metadata.yaml
  services/reloader/metadata.yaml
  services/rook-ceph-cluster/metadata.yaml
  services/rook-ceph/metadata.yaml
  services/thanos/metadata.yaml
  services/traefik-forward-auth-mgmt/metadata.yaml
  services/traefik-forward-auth/metadata.yaml
  services/traefik/metadata.yaml
  services/velero/metadata.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/L, open-kommander-pr, services/gitea, services/kiali, services/fluent-bit, services/logging-operator, services/rook-ceph-cluster, services/rook-ceph, services/gatekeeper, services/kommander, services/kommander-flux, services/istio, services/jaeger, services/centralized-grafana, services/external-dns, services/nvidia-gpu-operator, services/traefik, services/reloader, services/grafana-logging, services/cert-manager, services/kube-prometheus-stack, services/centralized-kubecost, services/dex-k8s-authenticator, services/dkp-insights-management, services/karma, services/karma-traefik, services/knative, services/kubecost, services/kubecost-thanos-traefik, services/prometheus-adapter, services/prometheus-thanos-traefik, services/traefik-forward-auth, services/traefik-forward-auth-mgmt, services/velero, services/grafana-loki, services/project-grafana-loki, services/kubefed, services/kubetunnel, services/thanos, services/project-logging, services/project-grafana-logging, services/kommander-appmanagement, services/kubernetes-dashboard, services/dex, services/kube-oidc-proxy, update-licenses, services/kommander-ui, services/chartmuseum, services/nfs-server-provisioner, services/dkp-insights, services/ai-navigator-app, services/ai-navigator-cluster-info-agent, services/git-operator

#2231 feat: gatekeeper test
  apptests/appscenarios/gatekeeper.go
  apptests/appscenarios/gatekeeper_test.go
  apptests/constants/apps.go
  apptests/flux/apply.go
  apptests/go.mod
  apptests/go.sum
Labels: ready-for-review, ok-to-test, size/L, services/gatekeeper

#2179 feat: Bump thanos to 15.4.1
  services/thanos/15.4.1/defaults/cm.yaml
  services/thanos/15.4.1/defaults/kustomization.yaml
  services/thanos/15.4.1/jobs.yaml
  services/thanos/15.4.1/jobs/jobs.yaml
  services/thanos/15.4.1/kustomization.yaml
  services/thanos/15.4.1/thanos.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/thanos, update-licenses

#2243 feat: bump fluent-bit chart to 0.46.2
  licenses.d2iq.yaml
  services/fluent-bit/0.46.2/defaults/cm.yaml
  services/fluent-bit/0.46.2/defaults/kustomization.yaml
  services/fluent-bit/0.46.2/fluent-bit.yaml
  services/fluent-bit/0.46.2/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.46.2/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.46.2/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.46.2/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.46.2/kustomization.yaml
  services/logging-operator/4.2.5/defaults/cm.yaml
  services/logging-operator/4.2.5/defaults/kustomization.yaml
  services/logging-operator/4.2.5/extra-images.txt
  services/logging-operator/4.2.5/grafana-dashboards/kustomization.yaml
  services/logging-operator/4.2.5/grafana-dashboards/logging-operator.json
  services/logging-operator/4.2.5/grafana-dashboards/logging-stack-stress.json
  services/logging-operator/4.2.5/kustomization.yaml
  services/logging-operator/4.2.5/logging-operator-logging.yaml
  services/logging-operator/4.2.5/logging-operator.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/fluent-bit, services/logging-operator, update-licenses

#2245 feat: bump logging-operator:4.2.5 fluent-bit:0.43.1
  licenses.d2iq.yaml
  services/fluent-bit/0.43.1/defaults/cm.yaml
  services/fluent-bit/0.43.1/defaults/kustomization.yaml
  services/fluent-bit/0.43.1/fluent-bit.yaml
  services/fluent-bit/0.43.1/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.43.1/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.43.1/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.43.1/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.43.1/kustomization.yaml
  services/logging-operator/4.2.5/defaults/cm.yaml
  services/logging-operator/4.2.5/defaults/kustomization.yaml
  services/logging-operator/4.2.5/extra-images.txt
  services/logging-operator/4.2.5/grafana-dashboards/kustomization.yaml
  services/logging-operator/4.2.5/grafana-dashboards/logging-operator.json
  services/logging-operator/4.2.5/grafana-dashboards/logging-stack-stress.json
  services/logging-operator/4.2.5/kustomization.yaml
  services/logging-operator/4.2.5/logging-operator-logging.yaml
  services/logging-operator/4.2.5/logging-operator.yaml
Labels: size/S

#2246 feat: bump logging-operator:4.2.4 fluent-bit:0.39.0
  licenses.d2iq.yaml
  services/fluent-bit/0.39.0/defaults/cm.yaml
  services/fluent-bit/0.39.0/defaults/kustomization.yaml
  services/fluent-bit/0.39.0/fluent-bit.yaml
  services/fluent-bit/0.39.0/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.39.0/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.39.0/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.39.0/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.39.0/kustomization.yaml
  services/logging-operator/4.2.4/defaults/cm.yaml
  services/logging-operator/4.2.4/defaults/kustomization.yaml
  services/logging-operator/4.2.4/extra-images.txt
  services/logging-operator/4.2.4/grafana-dashboards/kustomization.yaml
  services/logging-operator/4.2.4/grafana-dashboards/logging-operator.json
  services/logging-operator/4.2.4/grafana-dashboards/logging-stack-stress.json
  services/logging-operator/4.2.4/kustomization.yaml
  services/logging-operator/4.2.4/logging-operator-logging.yaml
  services/logging-operator/4.2.4/logging-operator.yaml
Labels: size/S

#2242 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.9.0/defaults/cm.yaml
  services/kommander-ui/11.9.0/defaults/kustomization.yaml
  services/kommander-ui/11.9.0/kommander-ui.yaml
  services/kommander-ui/11.9.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2248 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/11.10.0/defaults/cm.yaml
  services/kommander-ui/11.10.0/defaults/kustomization.yaml
  services/kommander-ui/11.10.0/kommander-ui.yaml
  services/kommander-ui/11.10.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2257 chore: bump kubetunnel to v0.0.33
  licenses.d2iq.yaml
  services/kubetunnel/0.0.33/defaults/cm.yaml
  services/kubetunnel/0.0.33/defaults/kustomization.yaml
  services/kubetunnel/0.0.33/extra-images.txt
  services/kubetunnel/0.0.33/kubetunnel.yaml
  services/kubetunnel/0.0.33/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/kubetunnel, update-licenses

#2258 chore: bump dex to 2.13.12
  licenses.d2iq.yaml
  services/dex/2.13.12/defaults/cm.yaml
  services/dex/2.13.12/defaults/kustomization.yaml
  services/dex/2.13.12/dex.yaml
  services/dex/2.13.12/kustomization.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/dex, update-licenses

#2260 ci: Bump go to 1.22
  devbox.json
  devbox.lock
  hack/release/go.mod
Labels: ok-to-test, size/M
