Repository mesosphere/kommander-applications, pull requests merged in 2024-08, with the labels that each got.

#2490 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.2.0/defaults/cm.yaml
  services/kommander-ui/13.2.0/defaults/kustomization.yaml
  services/kommander-ui/13.2.0/kommander-ui.yaml
  services/kommander-ui/13.2.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2489 feat: Bump git-operator
  .env
  hack/list-images.sh
  licenses.d2iq.yaml
  services/git-operator/0.1.0/additional-images.txt
  services/git-operator/0.1.0/git-operator-manifests/all.yaml
  services/git-operator/0.1.0/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/L, open-kommander-pr, update-licenses, services/git-operator

#2505 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.3.0/defaults/cm.yaml
  services/kommander-ui/13.3.0/defaults/kustomization.yaml
  services/kommander-ui/13.3.0/kommander-ui.yaml
  services/kommander-ui/13.3.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2506 feat: Bump istio to 1.22.3
  licenses.d2iq.yaml
  services/istio/1.22.3/defaults/cm.yaml
  services/istio/1.22.3/defaults/kustomization.yaml
  services/istio/1.22.3/helmrelease.yaml
  services/istio/1.22.3/helmrelease/extra-images.txt
  services/istio/1.22.3/helmrelease/helmrelease.yaml
  services/istio/1.22.3/helmrelease/kustomization.yaml
  services/istio/1.22.3/kustomization.yaml
  services/kiali/1.87.0/kiali.yaml
Labels: ok-to-test, let-me-merge-it, size/S, open-kommander-pr, services/kiali, services/istio, update-licenses

#2508 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.3.2/defaults/cm.yaml
  services/kommander-ui/13.3.2/defaults/kustomization.yaml
  services/kommander-ui/13.3.2/kommander-ui.yaml
  services/kommander-ui/13.3.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2459 fix: weaviate patched image with fixed CVEs
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.4/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.4/defaults/cm.yaml
  services/ai-navigator-app/0.2.4/defaults/kustomization.yaml
  services/ai-navigator-app/0.2.4/helmrelease.yaml
  services/ai-navigator-app/0.2.4/helmrelease/helmrelease.yaml
  services/ai-navigator-app/0.2.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, update-licenses, services/ai-navigator-app

#2507 fix: update the docker to v26.1.5+incompatible to fix cve
  apptests/go.mod
  apptests/go.sum
  magefiles/go.mod
Labels: ok-to-test, size/S, dependencies

#2512 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.4.0/defaults/cm.yaml
  services/kommander-ui/13.4.0/defaults/kustomization.yaml
  services/kommander-ui/13.4.0/kommander-ui.yaml
  services/kommander-ui/13.4.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2515 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.5.1/defaults/cm.yaml
  services/kommander-ui/13.5.1/defaults/kustomization.yaml
  services/kommander-ui/13.5.1/kommander-ui.yaml
  services/kommander-ui/13.5.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2514 chore: bump kubetunnel to v0.0.34
  licenses.d2iq.yaml
  services/kubetunnel/0.0.34/kubetunnel.yaml
Labels: ok-to-test, open-kommander-pr, services/kubetunnel, update-licenses

#2518 fix: add license mapping for remaining images
  licenses.d2iq.yaml
Labels: size/S

#2517 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.5.3/defaults/cm.yaml
  services/kommander-ui/13.5.3/defaults/kustomization.yaml
  services/kommander-ui/13.5.3/kommander-ui.yaml
  services/kommander-ui/13.5.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2522 fix: oras version and types.auth changes
  apptests/docker/docker.go
  apptests/go.mod
  apptests/go.sum
Labels: ok-to-test, size/M, services/kommander-ui

#2521 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.6.0/defaults/cm.yaml
  services/kommander-ui/13.6.0/defaults/kustomization.yaml
  services/kommander-ui/13.6.0/kommander-ui.yaml
  services/kommander-ui/13.6.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2520 feat: Update upgrade matrix for v2.12.0
  upgrade-matrix.yaml
Labels: ready-for-review, ok-to-test

#2523 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.6.1/defaults/cm.yaml
  services/kommander-ui/13.6.1/defaults/kustomization.yaml
  services/kommander-ui/13.6.1/kommander-ui.yaml
  services/kommander-ui/13.6.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2524 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.6.2/defaults/cm.yaml
  services/kommander-ui/13.6.2/defaults/kustomization.yaml
  services/kommander-ui/13.6.2/kommander-ui.yaml
  services/kommander-ui/13.6.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2525 feat: Release NKP-Insights v1.2.0-beta.5
  licenses.d2iq.yaml
  services/nkp-insights-management/1.2.0/defaults/cm.yaml
  services/nkp-insights-management/1.2.0/helmrelease/helmrelease.yaml
  services/nkp-insights/1.2.0/defaults/cm.yaml
  services/nkp-insights/1.2.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, services/nkp-insights, services/nkp-insights-management

#2532 fix: the list-images regex
  hack/list-images.sh
Labels: ready-for-review, ok-to-test, size/XS

#2533 feat: Release NKP-Insights v1.2.0-beta.5
  licenses.d2iq.yaml
  services/nkp-insights-management/1.2.0/defaults/cm.yaml
  services/nkp-insights-management/1.2.0/helmrelease/helmrelease.yaml
  services/nkp-insights/1.2.0/defaults/cm.yaml
  services/nkp-insights/1.2.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, let-me-merge-it, update-licenses, services/nkp-insights, services/nkp-insights-management

#2527 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.6.5/defaults/cm.yaml
  services/kommander-ui/13.6.5/defaults/kustomization.yaml
  services/kommander-ui/13.6.5/kommander-ui.yaml
  services/kommander-ui/13.6.5/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2534 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/13.6.6/defaults/cm.yaml
  services/kommander-ui/13.6.6/defaults/kustomization.yaml
  services/kommander-ui/13.6.6/kommander-ui.yaml
  services/kommander-ui/13.6.6/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2536 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/14.0.0/defaults/cm.yaml
  services/kommander-ui/14.0.0/defaults/kustomization.yaml
  services/kommander-ui/14.0.0/kommander-ui.yaml
  services/kommander-ui/14.0.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2537 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/14.0.1/defaults/cm.yaml
  services/kommander-ui/14.0.1/defaults/kustomization.yaml
  services/kommander-ui/14.0.1/kommander-ui.yaml
  services/kommander-ui/14.0.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2540 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/14.0.2/defaults/cm.yaml
  services/kommander-ui/14.0.2/defaults/kustomization.yaml
  services/kommander-ui/14.0.2/kommander-ui.yaml
  services/kommander-ui/14.0.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, services/kommander-ui

#2543 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/14.1.0/defaults/cm.yaml
  services/kommander-ui/14.1.0/defaults/kustomization.yaml
  services/kommander-ui/14.1.0/kommander-ui.yaml
  services/kommander-ui/14.1.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2539 chore: Bump kubetunnel to v0.0.35
  licenses.d2iq.yaml
  services/kubetunnel/0.0.35/defaults/cm.yaml
  services/kubetunnel/0.0.35/defaults/kustomization.yaml
  services/kubetunnel/0.0.35/extra-images.txt
  services/kubetunnel/0.0.35/kubetunnel.yaml
  services/kubetunnel/0.0.35/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/kubetunnel, update-licenses

#2542 docs: removing old dkp references
  services/velero/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/velero, update-licenses

#2541 chore: updating link in logging operator
  services/logging-operator/metadata.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/logging-operator, update-licenses

#2546 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/14.1.1/defaults/cm.yaml
  services/kommander-ui/14.1.1/defaults/kustomization.yaml
  services/kommander-ui/14.1.1/kommander-ui.yaml
  services/kommander-ui/14.1.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2545 fix: Remove Thanos from the Pro/Essentials Tier
  services/thanos/metadata.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/thanos, update-licenses

#2548 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/14.1.2/defaults/cm.yaml
  services/kommander-ui/14.1.2/defaults/kustomization.yaml
  services/kommander-ui/14.1.2/kommander-ui.yaml
  services/kommander-ui/14.1.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2547 feat: Add Pro Apps autodeploy list
  services/kommander/0.12.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/S, services/kommander

#2544 fix: bump dex-controller v0.15.1
  licenses.d2iq.yaml
  services/dex/2.13.13/defaults/cm.yaml
  services/dex/2.13.13/defaults/kustomization.yaml
  services/dex/2.13.13/dex.yaml
  services/dex/2.13.13/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/dex, update-licenses

#2550 chore: bump dex image to v2.37.0-d2iq.5
  licenses.d2iq.yaml
  services/dex/2.13.13/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/dex, update-licenses

#2551 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/14.1.3/defaults/cm.yaml
  services/kommander-ui/14.1.3/defaults/kustomization.yaml
  services/kommander-ui/14.1.3/kommander-ui.yaml
  services/kommander-ui/14.1.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2549 feat(dex): Update dex image to v2.41.1-d2iq.0
  licenses.d2iq.yaml
  services/dex/2.13.14/defaults/cm.yaml
  services/dex/2.13.14/defaults/kustomization.yaml
  services/dex/2.13.14/dex.yaml
  services/dex/2.13.14/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, services/dex, update-licenses

#2503 feat: Bump reloader to 1.0.119
  .github/workflows/kommander-branch.yaml
  licenses.d2iq.yaml
  services/reloader/1.0.119/defaults/cm.yaml
  services/reloader/1.0.119/defaults/kustomization.yaml
  services/reloader/1.0.119/kustomization.yaml
  services/reloader/1.0.119/reloader.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/reloader, update-licenses

#2554 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/14.1.4/defaults/cm.yaml
  services/kommander-ui/14.1.4/defaults/kustomization.yaml
  services/kommander-ui/14.1.4/kommander-ui.yaml
  services/kommander-ui/14.1.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2555 feat: Release NKP-Insights v1.2.0
  licenses.d2iq.yaml
  services/nkp-insights-management/1.2.0/defaults/cm.yaml
  services/nkp-insights-management/1.2.0/helmrelease/helmrelease.yaml
  services/nkp-insights/1.2.0/defaults/cm.yaml
  services/nkp-insights/1.2.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, update-licenses, services/nkp-insights, services/nkp-insights-management, backport-to-release-2.12

#2556 feat: Release NKP-Insights v1.2.0 (#2555)
  licenses.d2iq.yaml
  services/nkp-insights-management/1.2.0/defaults/cm.yaml
  services/nkp-insights-management/1.2.0/helmrelease/helmrelease.yaml
  services/nkp-insights/1.2.0/defaults/cm.yaml
  services/nkp-insights/1.2.0/helmrelease/helmrelease.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/S

#2558 revert: "feat(dex): Update dex image to v2.41.1-d2iq.0 (#2549)"
  licenses.d2iq.yaml
  services/dex/2.13.13/defaults/cm.yaml
  services/dex/2.13.13/defaults/kustomization.yaml
  services/dex/2.13.13/dex.yaml
  services/dex/2.13.13/kustomization.yaml
Labels: ok-to-test, size/XS, services/dex, update-licenses

#2557 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.1.0/defaults/cm.yaml
  services/kommander-ui/15.1.0/defaults/kustomization.yaml
  services/kommander-ui/15.1.0/kommander-ui.yaml
  services/kommander-ui/15.1.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2562 chore: bump dka to 1.3.4 (2.12)
  licenses.d2iq.yaml
  services/dex-k8s-authenticator/1.3.4/defaults/cm.yaml
  services/dex-k8s-authenticator/1.3.4/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.3.4/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.3.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S

#2565 chore: bump jaeger operator to 2.56.0 (2.12)
  services/jaeger/2.56.0/defaults/cm.yaml
  services/jaeger/2.56.0/defaults/kustomization.yaml
  services/jaeger/2.56.0/helmrelease.yaml
  services/jaeger/2.56.0/helmrelease/extra-images.txt
  services/jaeger/2.56.0/helmrelease/kustomization.yaml
  services/jaeger/2.56.0/helmrelease/release.yaml
  services/jaeger/2.56.0/kustomization.yaml
Labels: ok-to-test, size/XS, open-kommander-pr

#2561 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.0.2/defaults/cm.yaml
  services/kommander-ui/15.0.2/defaults/kustomization.yaml
  services/kommander-ui/15.0.2/kommander-ui.yaml
  services/kommander-ui/15.0.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#2560 chore: bump tfa to 3.2.0
  licenses.d2iq.yaml
  services/traefik-forward-auth-mgmt/0.3.12/defaults/cm.yaml
  services/traefik-forward-auth-mgmt/0.3.12/defaults/kustomization.yaml
  services/traefik-forward-auth-mgmt/0.3.12/kustomization.yaml
  services/traefik-forward-auth-mgmt/0.3.12/traefik-forward-auth-mgmt.yaml
  services/traefik-forward-auth/0.3.12/defaults/cm.yaml
  services/traefik-forward-auth/0.3.12/defaults/kustomization.yaml
  services/traefik-forward-auth/0.3.12/kustomization.yaml
  services/traefik-forward-auth/0.3.12/traefik-forward-auth.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/traefik-forward-auth, services/traefik-forward-auth-mgmt, update-licenses

#2566 feat: Bump ai-navigator-app version
  services/ai-navigator-app/0.2.5/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.5/defaults/cm.yaml
  services/ai-navigator-app/0.2.5/defaults/kustomization.yaml
  services/ai-navigator-app/0.2.5/helmrelease.yaml
  services/ai-navigator-app/0.2.5/helmrelease/helmrelease.yaml
  services/ai-navigator-app/0.2.5/kustomization.yaml
Labels: ok-to-test, needs-backport, auto-backport, size/S, update-licenses, services/ai-navigator-app, backport-to-release-2.12

#2563 feat(dex): Update dex image to v2.41.1-d2iq.1
  licenses.d2iq.yaml
  services/dex/2.13.14/defaults/cm.yaml
  services/dex/2.13.14/defaults/kustomization.yaml
  services/dex/2.13.14/dex.yaml
  services/dex/2.13.14/kustomization.yaml
Labels: ready-for-review, ok-to-test, open-kommander-pr, services/dex, update-licenses

#2567 feat: Bump ai-navigator-app version (#2566)
  services/ai-navigator-app/0.2.5/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.5/defaults/cm.yaml
  services/ai-navigator-app/0.2.5/defaults/kustomization.yaml
  services/ai-navigator-app/0.2.5/helmrelease.yaml
  services/ai-navigator-app/0.2.5/helmrelease/helmrelease.yaml
  services/ai-navigator-app/0.2.5/kustomization.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/S

#2502 feat: Bump kiali-operator to 1.88.0
  licenses.d2iq.yaml
  services/kiali/1.88.0/defaults/cm.yaml
  services/kiali/1.88.0/defaults/kustomization.yaml
  services/kiali/1.88.0/extra-images.txt
  services/kiali/1.88.0/kiali.yaml
  services/kiali/1.88.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/kiali, update-licenses

#2501 feat: Bump loki-distributed to 0.79.2
  licenses.d2iq.yaml
  services/grafana-loki/0.79.2/defaults/cm.yaml
  services/grafana-loki/0.79.2/defaults/kustomization.yaml
  services/grafana-loki/0.79.2/grafana-dashboards-logging/kustomization.yaml
  services/grafana-loki/0.79.2/grafana-dashboards-logging/logging-loki-dashboard.json
  services/grafana-loki/0.79.2/grafana-dashboards/grafana-loki.json
  services/grafana-loki/0.79.2/grafana-dashboards/kustomization.yaml
  services/grafana-loki/0.79.2/grafana-dashboards/loki-chunks.json
  services/grafana-loki/0.79.2/grafana-dashboards/loki-deletion.json
  services/grafana-loki/0.79.2/grafana-dashboards/loki-reads-resources.json
  services/grafana-loki/0.79.2/grafana-dashboards/loki-retention.json
  services/grafana-loki/0.79.2/grafana-dashboards/loki-writes-resources.json
  services/grafana-loki/0.79.2/grafana-loki-helmrelease.yaml
  services/grafana-loki/0.79.2/grafana-loki-helmrelease/grafana-loki.yaml
  services/grafana-loki/0.79.2/grafana-loki-pre-install-jobs/pre-install.yaml
  services/grafana-loki/0.79.2/grafana-loki-pre-install.yaml
  services/grafana-loki/0.79.2/kustomization.yaml
  services/project-grafana-loki/0.79.2/defaults/cm.yaml
  services/project-grafana-loki/0.79.2/defaults/kustomization.yaml
  services/project-grafana-loki/0.79.2/grafana-dashboards-logging/kustomization.yaml
  services/project-grafana-loki/0.79.2/grafana-dashboards-logging/logging-loki-dashboard.json
  services/project-grafana-loki/0.79.2/kustomization.yaml
  services/project-grafana-loki/0.79.2/object-bucket-claims.yaml
  services/project-grafana-loki/0.79.2/project-grafana-loki.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/grafana-loki, services/project-grafana-loki, update-licenses

#2500 feat: Bump thanos to 15.7.16
  licenses.d2iq.yaml
  services/thanos/15.7.16/defaults/cm.yaml
  services/thanos/15.7.16/defaults/kustomization.yaml
  services/thanos/15.7.16/jobs.yaml
  services/thanos/15.7.16/jobs/jobs.yaml
  services/thanos/15.7.16/kustomization.yaml
  services/thanos/15.7.16/thanos.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/thanos, update-licenses

#2572 build: Use mesosphere token for backporting
  .github/workflows/backport.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, backport-to-release-2.7, backport-to-release-2.8, backport-to-release-2.12

#2573 fix(kiali): Override to use distroless kiali image
  services/kiali/1.87.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, backport-to-main

#2571 feat: Release NKP-Insights v1.2.1
  licenses.d2iq.yaml
  services/nkp-insights-management/1.2.1/defaults/cm.yaml
  services/nkp-insights-management/1.2.1/defaults/kustomization.yaml
  services/nkp-insights-management/1.2.1/helmrelease.yaml
  services/nkp-insights-management/1.2.1/helmrelease/helmrelease.yaml
  services/nkp-insights-management/1.2.1/helmrelease/kustomization.yaml
  services/nkp-insights-management/1.2.1/kustomization.yaml
  services/nkp-insights/1.2.1/defaults/cm.yaml
  services/nkp-insights/1.2.1/defaults/kustomization.yaml
  services/nkp-insights/1.2.1/helmrelease.yaml
  services/nkp-insights/1.2.1/helmrelease/extra-images.txt
  services/nkp-insights/1.2.1/helmrelease/helmrelease.yaml
  services/nkp-insights/1.2.1/helmrelease/kustomization.yaml
  services/nkp-insights/1.2.1/helmrelease/list-images-values.yaml
  services/nkp-insights/1.2.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, auto-backport, update-licenses, services/nkp-insights, services/nkp-insights-management, backport-to-release-2.12

#2577 feat: [Backport] Release NKP-Insights v1.2.1 (#2571)
  licenses.d2iq.yaml
  services/nkp-insights-management/1.2.1/defaults/cm.yaml
  services/nkp-insights-management/1.2.1/defaults/kustomization.yaml
  services/nkp-insights-management/1.2.1/helmrelease.yaml
  services/nkp-insights-management/1.2.1/helmrelease/helmrelease.yaml
  services/nkp-insights-management/1.2.1/helmrelease/kustomization.yaml
  services/nkp-insights-management/1.2.1/kustomization.yaml
  services/nkp-insights/1.2.1/defaults/cm.yaml
  services/nkp-insights/1.2.1/defaults/kustomization.yaml
  services/nkp-insights/1.2.1/helmrelease.yaml
  services/nkp-insights/1.2.1/helmrelease/extra-images.txt
  services/nkp-insights/1.2.1/helmrelease/helmrelease.yaml
  services/nkp-insights/1.2.1/helmrelease/kustomization.yaml
  services/nkp-insights/1.2.1/helmrelease/list-images-values.yaml
  services/nkp-insights/1.2.1/kustomization.yaml
Labels: ok-to-test, size/S

#2575 fix(kiali): Override to use distroless kiali image
  licenses.d2iq.yaml
  services/kiali/1.88.0/defaults/cm.yaml
  services/kiali/1.88.0/extra-images.txt
  services/kiali/1.88.0/kiali.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/kiali, update-licenses

#2585 fix(kcore): Update kommandercore crd
  charts/kommander-operator/crds/dkp.d2iq.io_kommandercores.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2586 fix(kcore): Update kommandercore crd (#2585)
  charts/kommander-operator/crds/dkp.d2iq.io_kommandercores.yaml
Labels: ready-for-review, ok-to-test, size/XS

#2591 fix(ceph): Set priorityclass for ceph-exporter (#2583)
  services/rook-ceph-cluster/1.14.5/defaults/cm.yaml
Labels: size/XS

#2590 feat(dex): Update dex image to v2.41.1-d2iq.1 (2.12)
  licenses.d2iq.yaml
  services/dex/2.13.14/defaults/cm.yaml
  services/dex/2.13.14/defaults/kustomization.yaml
  services/dex/2.13.14/dex.yaml
  services/dex/2.13.14/kustomization.yaml
Labels: ok-to-test, size/XS, open-kommander-pr

#2492 feat: Bump fluent-bit to 0.47.5
  services/fluent-bit/0.47.5/defaults/cm.yaml
  services/fluent-bit/0.47.5/defaults/kustomization.yaml
  services/fluent-bit/0.47.5/fluent-bit.yaml
  services/fluent-bit/0.47.5/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.47.5/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.47.5/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.47.5/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.47.5/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/fluent-bit, update-licenses

#2495 feat: Bump velero to 7.1.4
  licenses.d2iq.yaml
  services/velero/7.1.4/defaults/cm.yaml
  services/velero/7.1.4/defaults/kustomization.yaml
  services/velero/7.1.4/grafana-dashboards/kustomization.yaml
  services/velero/7.1.4/grafana-dashboards/velero.json
  services/velero/7.1.4/helmrelease/helmrelease.yaml
  services/velero/7.1.4/kustomization.yaml
  services/velero/7.1.4/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/7.1.4/post-install/kustomization.yaml
  services/velero/7.1.4/pre-install/kustomization.yaml
  services/velero/7.1.4/pre-install/pre-install-job.yaml
  services/velero/7.1.4/velero-post-install.yaml
  services/velero/7.1.4/velero-pre-install.yaml
  services/velero/7.1.4/velero.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/velero, update-licenses
