Repository mesosphere/kommander-applications, pull requests merged in 2025-02, with the labels that each got.

#3036 feat: update toolkit
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/24.9.2/defaults/cm.yaml
  services/nvidia-gpu-operator/24.9.2/defaults/kustomization.yaml
  services/nvidia-gpu-operator/24.9.2/grafana-dashboards/gpu-operator.json
  services/nvidia-gpu-operator/24.9.2/grafana-dashboards/kustomization.yaml
  services/nvidia-gpu-operator/24.9.2/helmrelease.yaml
  services/nvidia-gpu-operator/24.9.2/helmrelease/extra-images.txt
  services/nvidia-gpu-operator/24.9.2/helmrelease/kustomization.yaml
  services/nvidia-gpu-operator/24.9.2/helmrelease/nvidia.yaml
  services/nvidia-gpu-operator/24.9.2/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/nvidia-gpu-operator, services/nvidia, update-licenses

#3083 fix(harbor): cert-manager internal tls
  services/harbor/1.16.2/defaults/harbor.yaml
  services/harbor/1.16.2/release/certificates.yaml
  services/harbor/1.16.2/release/kustomization.yaml
Labels: ok-to-test, size/L, update-licenses, services/harbor

#3103 feat: update the alert-manager to v0.28.0
  licenses.d2iq.yaml
  services/kube-prometheus-stack/67.6.0/defaults/cm.yaml
  services/kubecost/2.5.2/defaults/cm.yaml
Labels: size/XS, open-kommander-pr, services/kube-prometheus-stack, services/kubecost

#3106 feat: Bump jaeger-operator to 1.65.0
  licenses.d2iq.yaml
  services/jaeger/2.57.0/defaults/cm.yaml
  services/jaeger/2.57.0/defaults/kustomization.yaml
  services/jaeger/2.57.0/helmrelease.yaml
  services/jaeger/2.57.0/helmrelease/extra-images.txt
  services/jaeger/2.57.0/helmrelease/kustomization.yaml
  services/jaeger/2.57.0/helmrelease/release.yaml
  services/jaeger/2.57.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/jaeger, update-licenses

#3101 feat: bump new version dcgm-exporter:4.0.0-4.0.1-ubuntu22.04
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/24.9.2/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#3110 fix(harbor): add priority classes to all pods
  services/harbor/1.16.2/defaults/database.yaml
  services/harbor/1.16.2/defaults/harbor.yaml
  services/harbor/1.16.2/defaults/valkey.yaml
Labels: ok-to-test, size/XS, update-licenses, services/harbor

#3086 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.31.2/defaults/cm.yaml
  services/kommander-ui/17.31.2/defaults/kustomization.yaml
  services/kommander-ui/17.31.2/kommander-ui.yaml
  services/kommander-ui/17.31.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3114 feat: install ceph cosi on attached clusters
  services/rook-ceph-cluster/1.16.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/objectbucketclaims/cosi-bucket.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/rook-ceph-cluster, update-licenses

#3113 fix: improved app icons for Isto, Knative, Harbor and CloudNativePG
  services/cloudnative-pg/metadata.yaml
  services/harbor/metadata.yaml
  services/istio/metadata.yaml
  services/knative/metadata.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/istio, services/knative, update-licenses, services/harbor, services/cloudnative-pg

#3087 chore: bump cosi-driver-nutanix helm chart
  services/cosi-driver-nutanix/0.0.4/cosi-driver-nutanix.yaml
Labels: ok-to-test, size/XS, update-licenses, services/cosi-driver-nutanix

#3109 fix: update kong anonymous_reports to off
  services/kubernetes-dashboard/7.10.0/defaults/cm.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/kubernetes-dashboard, update-licenses

#3115 feat: Release NKP-Insights v1.4.1
  licenses.d2iq.yaml
  services/nkp-insights-management/1.4.1/defaults/cm.yaml
  services/nkp-insights-management/1.4.1/defaults/kustomization.yaml
  services/nkp-insights-management/1.4.1/helmrelease.yaml
  services/nkp-insights-management/1.4.1/helmrelease/helmrelease.yaml
  services/nkp-insights-management/1.4.1/helmrelease/kustomization.yaml
  services/nkp-insights-management/1.4.1/kustomization.yaml
  services/nkp-insights/1.4.1/defaults/cm.yaml
  services/nkp-insights/1.4.1/defaults/kustomization.yaml
  services/nkp-insights/1.4.1/helmrelease.yaml
  services/nkp-insights/1.4.1/helmrelease/extra-images.txt
  services/nkp-insights/1.4.1/helmrelease/helmrelease.yaml
  services/nkp-insights/1.4.1/helmrelease/kustomization.yaml
  services/nkp-insights/1.4.1/helmrelease/list-images-values.yaml
  services/nkp-insights/1.4.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, update-licenses, services/nkp-insights, services/nkp-insights-management

#3116 feat: Release NKP-Insights v1.4.2
  licenses.d2iq.yaml
  services/nkp-insights-management/1.4.2/defaults/cm.yaml
  services/nkp-insights-management/1.4.2/defaults/kustomization.yaml
  services/nkp-insights-management/1.4.2/helmrelease.yaml
  services/nkp-insights-management/1.4.2/helmrelease/helmrelease.yaml
  services/nkp-insights-management/1.4.2/helmrelease/kustomization.yaml
  services/nkp-insights-management/1.4.2/kustomization.yaml
  services/nkp-insights/1.4.2/defaults/cm.yaml
  services/nkp-insights/1.4.2/defaults/kustomization.yaml
  services/nkp-insights/1.4.2/helmrelease.yaml
  services/nkp-insights/1.4.2/helmrelease/extra-images.txt
  services/nkp-insights/1.4.2/helmrelease/helmrelease.yaml
  services/nkp-insights/1.4.2/helmrelease/kustomization.yaml
  services/nkp-insights/1.4.2/helmrelease/list-images-values.yaml
  services/nkp-insights/1.4.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, services/nkp-insights, services/nkp-insights-management

#3096 feat: Bump fluent-bit to 0.48.5
  services/fluent-bit/0.48.5/defaults/cm.yaml
  services/fluent-bit/0.48.5/defaults/kustomization.yaml
  services/fluent-bit/0.48.5/fluent-bit.yaml
  services/fluent-bit/0.48.5/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.48.5/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.48.5/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.48.5/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.48.5/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/fluent-bit, update-licenses

#3097 feat: Bump kubernetes-dashboard to 7.10.3
  licenses.d2iq.yaml
  services/kubernetes-dashboard/7.10.3/defaults/cm.yaml
  services/kubernetes-dashboard/7.10.3/defaults/kustomization.yaml
  services/kubernetes-dashboard/7.10.3/helmrelease.yaml
  services/kubernetes-dashboard/7.10.3/helmrelease/kubernetes-dashboard.yaml
  services/kubernetes-dashboard/7.10.3/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/kubernetes-dashboard, update-licenses

#3120 fix: update cosi & harbor metadata fields
  services/cosi-driver-nutanix/metadata.yaml
  services/harbor/metadata.yaml
Labels: ok-to-test, size/XS, update-licenses, services/harbor, services/cosi-driver-nutanix

#3121 fix: missing certifications for knative and ai navigator apps
  services/ai-navigator-app/metadata.yaml
  services/ai-navigator-cluster-info-agent/metadata.yaml
  services/knative/metadata.yaml
Labels: ok-to-test, size/XS, services/knative, update-licenses, services/ai-navigator-app, services/ai-navigator-cluster-info-agent

#3118 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.33.4/defaults/cm.yaml
  services/kommander-ui/17.33.4/defaults/kustomization.yaml
  services/kommander-ui/17.33.4/kommander-ui.yaml
  services/kommander-ui/17.33.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3119 feat: Bump ai-navigator-cluster-info chart versions
  services/ai-navigator-app/0.2.10/ai-navigator-app.yaml
  services/ai-navigator-app/0.2.10/defaults/cm.yaml
  services/ai-navigator-app/0.2.10/defaults/kustomization.yaml
  services/ai-navigator-app/0.2.10/helmrelease.yaml
  services/ai-navigator-app/0.2.10/helmrelease/helmrelease.yaml
  services/ai-navigator-app/0.2.10/kustomization.yaml
  services/ai-navigator-cluster-info-agent/0.1.3/defaults/cm.yaml
  services/ai-navigator-cluster-info-agent/0.1.3/defaults/kustomization.yaml
  services/ai-navigator-cluster-info-agent/0.1.3/helmrelease.yaml
  services/ai-navigator-cluster-info-agent/0.1.3/helmrelease/helmrelease.yaml
  services/ai-navigator-cluster-info-agent/0.1.3/kustomization.yaml
Labels: ok-to-test, size/S, update-licenses, services/ai-navigator-app, services/ai-navigator-cluster-info-agent

#3082 feat(traefik): Increase default registry entrypoint read timeout
  services/traefik/34.1.0/defaults/traefik.yaml
Labels: ok-to-test, size/XS, services/traefik, update-licenses

#3122 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.34.2/defaults/cm.yaml
  services/kommander-ui/17.34.2/defaults/kustomization.yaml
  services/kommander-ui/17.34.2/kommander-ui.yaml
  services/kommander-ui/17.34.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3123 chore: update cloudnative-pg metadata
  services/cloudnative-pg/metadata.yaml
Labels: ok-to-test, size/XS, update-licenses, services/cloudnative-pg

#3098 feat: Bump grafana to 8.8.6
  licenses.d2iq.yaml
  services/centralized-grafana/69.1.2/centralized-grafana.yaml
  services/centralized-grafana/69.1.2/defaults/cm.yaml
  services/centralized-grafana/69.1.2/defaults/kustomization.yaml
  services/centralized-grafana/69.1.2/grafana-dashboards/global-overview.json
  services/centralized-grafana/69.1.2/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/69.1.2/kustomization.yaml
  services/centralized-grafana/69.1.2/rbac/grafana.yaml
  services/centralized-grafana/69.1.2/rbac/kustomization.yaml
  services/grafana-logging/8.9.0/defaults/cm.yaml
  services/grafana-logging/8.9.0/defaults/kustomization.yaml
  services/grafana-logging/8.9.0/grafana.yaml
  services/grafana-logging/8.9.0/kustomization.yaml
  services/kube-prometheus-stack/69.1.2/defaults/cm.yaml
  services/kube-prometheus-stack/69.1.2/defaults/kustomization.yaml
  services/kube-prometheus-stack/69.1.2/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/69.1.2/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/69.1.2/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/69.1.2/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/69.1.2/grafana-dashboards/calico.json
  services/kube-prometheus-stack/69.1.2/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/69.1.2/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/69.1.2/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/69.1.2/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/69.1.2/grafana-dashboards/pv-stats.json
  services/kube-prometheus-stack/69.1.2/helmrelease.yaml
  services/kube-prometheus-stack/69.1.2/helmrelease/extra-images.txt
  services/kube-prometheus-stack/69.1.2/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/69.1.2/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/69.1.2/kustomization.yaml
  services/kube-prometheus-stack/69.1.2/rbac/alertmanager.yaml
  services/kube-prometheus-stack/69.1.2/rbac/grafana.yaml
  services/kube-prometheus-stack/69.1.2/rbac/kustomization.yaml
  services/kube-prometheus-stack/69.1.2/rbac/prometheus.yaml
  services/project-grafana-logging/8.9.0/defaults/cm.yaml
  services/project-grafana-logging/8.9.0/defaults/kustomization.yaml
  services/project-grafana-logging/8.9.0/kustomization.yaml
  services/project-grafana-logging/8.9.0/project-grafana.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/centralized-grafana, services/grafana-logging, services/kube-prometheus-stack, services/project-grafana-logging, update-licenses

#3091 feat: Bump reloader to 1.2.1
  licenses.d2iq.yaml
  services/reloader/1.2.1/defaults/cm.yaml
  services/reloader/1.2.1/defaults/kustomization.yaml
  services/reloader/1.2.1/kustomization.yaml
  services/reloader/1.2.1/reloader.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/reloader, update-licenses

#3125 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.35.0/defaults/cm.yaml
  services/kommander-ui/17.35.0/defaults/kustomization.yaml
  services/kommander-ui/17.35.0/kommander-ui.yaml
  services/kommander-ui/17.35.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3128 fix: allow traefik-crds helmrelease overrides
  services/traefik/34.1.0/crds/crds.yaml
Labels: ok-to-test, size/XS, services/traefik, update-licenses

#3129 feat: Release NKP-Insights v1.4.3
  licenses.d2iq.yaml
  services/nkp-insights-management/1.4.3/defaults/cm.yaml
  services/nkp-insights-management/1.4.3/defaults/kustomization.yaml
  services/nkp-insights-management/1.4.3/helmrelease.yaml
  services/nkp-insights-management/1.4.3/helmrelease/helmrelease.yaml
  services/nkp-insights-management/1.4.3/helmrelease/kustomization.yaml
  services/nkp-insights-management/1.4.3/kustomization.yaml
  services/nkp-insights/1.4.3/defaults/cm.yaml
  services/nkp-insights/1.4.3/defaults/kustomization.yaml
  services/nkp-insights/1.4.3/helmrelease.yaml
  services/nkp-insights/1.4.3/helmrelease/extra-images.txt
  services/nkp-insights/1.4.3/helmrelease/helmrelease.yaml
  services/nkp-insights/1.4.3/helmrelease/kustomization.yaml
  services/nkp-insights/1.4.3/helmrelease/list-images-values.yaml
  services/nkp-insights/1.4.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, services/nkp-insights, services/nkp-insights-management

#3130 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.35.1/defaults/cm.yaml
  services/kommander-ui/17.35.1/defaults/kustomization.yaml
  services/kommander-ui/17.35.1/kommander-ui.yaml
  services/kommander-ui/17.35.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3094 feat: Bump velero to 8.3.0
  licenses.d2iq.yaml
  services/velero/8.3.0/defaults/cm.yaml
  services/velero/8.3.0/defaults/kustomization.yaml
  services/velero/8.3.0/grafana-dashboards/kustomization.yaml
  services/velero/8.3.0/grafana-dashboards/velero.json
  services/velero/8.3.0/helmrelease/helmrelease.yaml
  services/velero/8.3.0/kustomization.yaml
  services/velero/8.3.0/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/8.3.0/post-install/kustomization.yaml
  services/velero/8.3.0/pre-install/kustomization.yaml
  services/velero/8.3.0/pre-install/pre-install-job.yaml
  services/velero/8.3.0/velero-post-install.yaml
  services/velero/8.3.0/velero-pre-install.yaml
  services/velero/8.3.0/velero.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, services/velero, update-licenses

#3131 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.36.1/defaults/cm.yaml
  services/kommander-ui/17.36.1/defaults/kustomization.yaml
  services/kommander-ui/17.36.1/kommander-ui.yaml
  services/kommander-ui/17.36.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3132 fix: bump nutanix cosi driver helm chart
  services/cosi-driver-nutanix/0.0.4/cosi-driver-nutanix.yaml
Labels: ready-for-review, ok-to-test, update-licenses, services/cosi-driver-nutanix

#3133 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.36.3/defaults/cm.yaml
  services/kommander-ui/17.36.3/defaults/kustomization.yaml
  services/kommander-ui/17.36.3/kommander-ui.yaml
  services/kommander-ui/17.36.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3136 chore: update cosi-driver-nutanix overview metadata
  services/cosi-driver-nutanix/metadata.yaml
Labels: ok-to-test, size/S, update-licenses, services/cosi-driver-nutanix

#3137 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.36.4/defaults/cm.yaml
  services/kommander-ui/17.36.4/defaults/kustomization.yaml
  services/kommander-ui/17.36.4/kommander-ui.yaml
  services/kommander-ui/17.36.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3138 fix: align traefik-crds interval with traefik
  services/traefik/34.1.0/crds/crds.yaml
Labels: ok-to-test, size/XS, services/traefik, update-licenses

#3143 fix: Use Docker Hub for weaviate image
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.10/defaults/cm.yaml
Labels: ok-to-test, update-licenses, services/ai-navigator-app

#3142 fix: use fluentbit image from dockerhub
  licenses.d2iq.yaml
  services/fluent-bit/0.48.5/defaults/cm.yaml
  services/logging-operator/5.0.1/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/fluent-bit, services/logging-operator, update-licenses

#3135 chore: bump to latest cosi-bucket-kit
  services/cosi-driver-nutanix/0.0.4/cosi-resources-nutanix.yaml
  services/kubecost/2.5.2/cosi-storage/cosi-bucket.yaml
  services/rook-ceph-cluster/1.16.2/objectbucketclaims/cosi-bucket.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/rook-ceph-cluster, services/kubecost, update-licenses, services/cosi-driver-nutanix

#3134 docs: highlights kubecost v2 breaking change
  services/kubecost/metadata.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kubecost, update-licenses

#3124 fix: update the secret name annotation
  services/dex/2.14.1/defaults/cm.yaml
  services/dex/2.14.1/defaults/kustomization.yaml
  services/dex/2.14.1/dex.yaml
  services/dex/2.14.1/kustomization.yaml
Labels: ok-to-test, auto-backport, size/XS, open-kommander-pr, services/dex, update-licenses, backport-to-release-2.12, backport-to-release-2.13

#3139 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.39.0/defaults/cm.yaml
  services/kommander-ui/17.39.0/defaults/kustomization.yaml
  services/kommander-ui/17.39.0/kommander-ui.yaml
  services/kommander-ui/17.39.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3148 fix(harbor): add cloudnative/postgres image
  licenses.d2iq.yaml
  services/harbor/1.16.2/database/cluster.yaml
  services/harbor/1.16.2/database/extra-images.txt
Labels: ok-to-test, size/M, update-licenses, services/harbor

#3141 feat: bump kiali chart version
  services/kiali/2.4.0/defaults/cm.yaml
  services/kiali/2.4.0/defaults/kustomization.yaml
  services/kiali/2.4.0/extra-images.txt
  services/kiali/2.4.0/kiali.yaml
  services/kiali/2.4.0/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kiali, update-licenses

#3145 chore: add priorityclass for new pods
  services/cloudnative-pg/0.23.0/defaults/cm.yaml
  services/kubecost/2.5.2/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, open-kommander-pr, services/kubecost, update-licenses, services/cloudnative-pg

#3146 feat: bump cosi-driver-nutanix to v0.2.0
  licenses.d2iq.yaml
  services/cosi-driver-nutanix/0.2.0/cosi-driver-nutanix.yaml
  services/cosi-driver-nutanix/0.2.0/cosi-resources-nutanix.yaml
  services/cosi-driver-nutanix/0.2.0/defaults/cm.yaml
  services/cosi-driver-nutanix/0.2.0/defaults/kustomization.yaml
  services/cosi-driver-nutanix/0.2.0/kustomization.yaml
Labels: ok-to-test, size/S, update-licenses, services/cosi-driver-nutanix

#3150 feat: Release NKP-Insights v1.4.4
  licenses.d2iq.yaml
  services/nkp-insights-management/1.4.4/defaults/cm.yaml
  services/nkp-insights-management/1.4.4/defaults/kustomization.yaml
  services/nkp-insights-management/1.4.4/helmrelease.yaml
  services/nkp-insights-management/1.4.4/helmrelease/helmrelease.yaml
  services/nkp-insights-management/1.4.4/helmrelease/kustomization.yaml
  services/nkp-insights-management/1.4.4/kustomization.yaml
  services/nkp-insights/1.4.4/defaults/cm.yaml
  services/nkp-insights/1.4.4/defaults/kustomization.yaml
  services/nkp-insights/1.4.4/helmrelease.yaml
  services/nkp-insights/1.4.4/helmrelease/extra-images.txt
  services/nkp-insights/1.4.4/helmrelease/helmrelease.yaml
  services/nkp-insights/1.4.4/helmrelease/kustomization.yaml
  services/nkp-insights/1.4.4/helmrelease/list-images-values.yaml
  services/nkp-insights/1.4.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, update-licenses, services/nkp-insights, services/nkp-insights-management

#3147 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.41.0/defaults/cm.yaml
  services/kommander-ui/17.41.0/defaults/kustomization.yaml
  services/kommander-ui/17.41.0/kommander-ui.yaml
  services/kommander-ui/17.41.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3151 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.41.1/defaults/cm.yaml
  services/kommander-ui/17.41.1/defaults/kustomization.yaml
  services/kommander-ui/17.41.1/kommander-ui.yaml
  services/kommander-ui/17.41.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, update-licenses, services/kommander-ui, backport-to-release-2.14

#3153 feat(release-2.14): bump ui to latest (#3151)
  licenses.d2iq.yaml
  services/kommander-ui/17.41.1/defaults/cm.yaml
  services/kommander-ui/17.41.1/defaults/kustomization.yaml
  services/kommander-ui/17.41.1/kommander-ui.yaml
  services/kommander-ui/17.41.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, backport-pr

#3152 chore: update harbor overview metadata
  services/harbor/metadata.yaml
Labels: ok-to-test, size/S, update-licenses, services/harbor

#3161 chore: update harbor overview metadata
  services/harbor/metadata.yaml
Labels: size/S

#3163 fix(harbor): add reference to UI created overrides
  services/harbor/1.16.2/cosi-storage/cosi-bucket.yaml
  services/harbor/1.16.2/manual-storage/manual-bucket.yaml
  services/harbor/1.16.2/release/harbor.yaml
Labels: ok-to-test, auto-backport, size/XS, update-licenses, services/harbor, backport-to-release-2.14

#3164 chore: bump cosi-bucket-kit to 0.0.2
  services/cosi-driver-nutanix/0.2.0/cosi-resources-nutanix.yaml
  services/harbor/1.16.2/cosi-storage/cosi-bucket.yaml
  services/kubecost/2.5.2/cosi-storage/cosi-bucket.yaml
  services/rook-ceph-cluster/1.16.2/objectbucketclaims/cosi-bucket.yaml
Labels: ok-to-test, do-not-merge/testing, auto-backport, size/XS, open-kommander-pr, services/rook-ceph-cluster, services/kubecost, update-licenses, services/harbor, services/cosi-driver-nutanix, backport-to-release-2.14

#3165 chore(harbor): use minimal pg image (#3162)
  licenses.d2iq.yaml
  services/harbor/1.16.2/defaults/database.yaml
Labels: size/XS

#3166 fix(harbor): add reference to UI created overrides (#3163)
  services/harbor/1.16.2/cosi-storage/cosi-bucket.yaml
  services/harbor/1.16.2/manual-storage/manual-bucket.yaml
  services/harbor/1.16.2/release/harbor.yaml
Labels: size/XS

#3167 chore: bump cosi-bucket-kit to 0.0.2 (#3164)
  services/cosi-driver-nutanix/0.2.0/cosi-resources-nutanix.yaml
  services/harbor/1.16.2/cosi-storage/cosi-bucket.yaml
  services/kubecost/2.5.2/cosi-storage/cosi-bucket.yaml
  services/rook-ceph-cluster/1.16.2/objectbucketclaims/cosi-bucket.yaml
Labels: size/XS

#3160 feat(cosi): bump cosi sidecar to v0.2.1
  licenses.d2iq.yaml
  services/cosi-driver-nutanix/0.2.0/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/objectbucketclaims/extra-images.txt
Labels: ok-to-test, needs-backport, size/S, open-kommander-pr, services/rook-ceph-cluster, update-licenses, services/cosi-driver-nutanix, backport-to-release-2.14

#3168 feat(cosi): bump cosi sidecar to v0.2.1 (#3160)
  licenses.d2iq.yaml
  services/cosi-driver-nutanix/0.2.0/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/objectbucketclaims/extra-images.txt
Labels: ready-for-review, ok-to-test, backport-pr, size/S, auto-merge

#3169 fix: add reloader annotation to cosi driver
  services/cosi-driver-nutanix/0.2.0/cosi-driver-nutanix.yaml
Labels: ready-for-review, ok-to-test, needs-backport, auto-backport, size/S, update-licenses, services/cosi-driver-nutanix, backport-to-release-2.14

#3170 fix: add reloader annotation to cosi driver (#3169)
  services/cosi-driver-nutanix/0.2.0/cosi-driver-nutanix.yaml
Labels: ready-for-review, size/S

#3177 ci: update `devbox.lock` file
  devbox.lock
Labels: ok-to-test, auto-backport, size/XS, backport-to-release-2.12, backport-to-release-2.13, backport-to-release-2.14

#3180 ci: update `devbox.lock` file (#3177)
  devbox.lock
Labels: size/XS

#3178 ci: update `devbox.lock` file (#3177)
  devbox.lock
Labels: size/XS

#3181 fix: disable ipv6 in harbor config
  services/harbor/1.16.2/defaults/harbor.yaml
Labels: ok-to-test, auto-backport, size/S, update-licenses, services/harbor, backport-to-release-2.14

#3182 fix: disable ipv6 in harbor config (#3181)
  services/harbor/1.16.2/defaults/harbor.yaml
Labels: size/S

#3159 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.41.8/defaults/cm.yaml
  services/kommander-ui/17.41.8/defaults/kustomization.yaml
  services/kommander-ui/17.41.8/kommander-ui.yaml
  services/kommander-ui/17.41.8/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#3183 feat: bump ui to 17.41.8 (#3159)
  licenses.d2iq.yaml
  services/kommander-ui/17.41.8/defaults/cm.yaml
  services/kommander-ui/17.41.8/defaults/kustomization.yaml
  services/kommander-ui/17.41.8/kommander-ui.yaml
  services/kommander-ui/17.41.8/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS

#3189 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.41.10/defaults/cm.yaml
  services/kommander-ui/17.41.10/defaults/kustomization.yaml
  services/kommander-ui/17.41.10/kommander-ui.yaml
  services/kommander-ui/17.41.10/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3191 build: add cosi controller image
  licenses.d2iq.yaml
  services/cosi-driver-nutanix/0.2.0/defaults/cm.yaml
  services/cosi-driver-nutanix/0.2.0/extra-images.txt
Labels: ok-to-test, auto-backport, backport-to-release-2.14

#3193 build: add cosi controller image (#3191)
  licenses.d2iq.yaml
  services/cosi-driver-nutanix/0.2.0/defaults/cm.yaml
  services/cosi-driver-nutanix/0.2.0/extra-images.txt
Labels: size/S

#3192 refactor: remove new traefik flux kustomization
  services/traefik/34.1.0/kustomization.yaml
  services/traefik/34.1.0/traefik.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, services/traefik, update-licenses, backport-to-release-2.14

#3194 refactor: remove new traefik flux kustomization (#3192)
  services/traefik/34.1.0/kustomization.yaml
  services/traefik/34.1.0/traefik.yaml
Labels: size/S

#3197 chore: make the kubectl image tag consistent
  services/kubecost/2.5.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, backport-to-main

#3186 feat: bump k8s 1.32.2 version to bloodhound
  .bloodhound.yml
Labels: ready-for-review, ok-to-test, size/XS

#3198 chore: make the kubectl image tag consistent
  services/kubecost/2.5.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, open-kommander-pr, services/kubecost, update-licenses

#3190 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.43.2/defaults/cm.yaml
  services/kommander-ui/17.43.2/defaults/kustomization.yaml
  services/kommander-ui/17.43.2/kommander-ui.yaml
  services/kommander-ui/17.43.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3199 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.42.3/defaults/cm.yaml
  services/kommander-ui/17.42.3/defaults/kustomization.yaml
  services/kommander-ui/17.42.3/kommander-ui.yaml
  services/kommander-ui/17.42.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#3203 feat: Bump cosi-bucket-kit deps to 0.0.3
  services/cosi-driver-nutanix/0.2.0/cosi-resources-nutanix.yaml
  services/harbor/1.16.2/cosi-storage/cosi-bucket.yaml
  services/harbor/1.16.2/defaults/harbor.yaml
  services/kubecost/2.5.2/cosi-storage/cosi-bucket.yaml
  services/rook-ceph-cluster/1.16.2/objectbucketclaims/cosi-bucket.yaml
Labels: ok-to-test, do-not-merge/testing, auto-backport, size/S, open-kommander-pr, services/rook-ceph-cluster, services/kubecost, update-licenses, services/harbor, services/cosi-driver-nutanix, backport-to-release-2.14

#3204 feat: Bump cosi-bucket-kit deps to 0.0.3 (#3203) [release-2.14]
  services/cosi-driver-nutanix/0.2.0/cosi-resources-nutanix.yaml
  services/harbor/1.16.2/cosi-storage/cosi-bucket.yaml
  services/harbor/1.16.2/defaults/harbor.yaml
  services/kubecost/2.5.2/cosi-storage/cosi-bucket.yaml
  services/rook-ceph-cluster/1.16.2/objectbucketclaims/cosi-bucket.yaml
Labels: size/S

#3202 fix: GPU metrics scraping
  services/kube-prometheus-stack/69.1.2/defaults/cm.yaml
  services/nvidia-gpu-operator/24.9.2/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, auto-backport, size/S, open-kommander-pr, services/nvidia-gpu-operator, services/kube-prometheus-stack, update-licenses, backport-to-release-2.14

#3205 fix: GPU metrics scraping (#3202)
  services/kube-prometheus-stack/69.1.2/defaults/cm.yaml
  services/nvidia-gpu-operator/24.9.2/defaults/cm.yaml
Labels: size/S

#3207 chore: bumping dex image
  licenses.d2iq.yaml
  services/dex/2.14.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, needs-backport, auto-backport, services/dex, update-licenses, backport-to-release-2.14

#3208 chore: bumping dex image (#3207)
  licenses.d2iq.yaml
  services/dex/2.14.1/defaults/cm.yaml
Labels: size/XS

#3108 feat: update chartmuseum chart to 3.10.3
  licenses.d2iq.yaml
  services/chartmuseum/3.10.2/chartmuseum-3.10.2.tgz
  services/chartmuseum/3.10.3/README.md
  services/chartmuseum/3.10.3/chartmuseum-3.10.3.tgz
  services/chartmuseum/3.10.3/chartmuseum.yaml
  services/chartmuseum/3.10.3/defaults/cm.yaml
  services/chartmuseum/3.10.3/defaults/kustomization.yaml
  services/chartmuseum/3.10.3/ingress.yaml
  services/chartmuseum/3.10.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, update-licenses, services/chartmuseum

#3212 chore: bump cosi-driver-nutanix to 0.3.0
  licenses.d2iq.yaml
  services/cosi-driver-nutanix/0.3.0/cosi-driver-nutanix.yaml
  services/cosi-driver-nutanix/0.3.0/cosi-resources-nutanix.yaml
  services/cosi-driver-nutanix/0.3.0/defaults/cm.yaml
  services/cosi-driver-nutanix/0.3.0/defaults/kustomization.yaml
  services/cosi-driver-nutanix/0.3.0/extra-images.txt
  services/cosi-driver-nutanix/0.3.0/kustomization.yaml
Labels: ok-to-test, size/S, update-licenses, services/cosi-driver-nutanix

#3213 chore: bump cosi-driver-nutanix to 0.3.0 (#3212)
  licenses.d2iq.yaml
  services/cosi-driver-nutanix/0.3.0/cosi-driver-nutanix.yaml
  services/cosi-driver-nutanix/0.3.0/cosi-resources-nutanix.yaml
  services/cosi-driver-nutanix/0.3.0/defaults/cm.yaml
  services/cosi-driver-nutanix/0.3.0/defaults/kustomization.yaml
  services/cosi-driver-nutanix/0.3.0/extra-images.txt
  services/cosi-driver-nutanix/0.3.0/kustomization.yaml
Labels: size/S

#3216 fix: Bump cosi-bucket-kit to 0.0.4 (#3215) [release-2.14]
  services/cosi-driver-nutanix/0.3.0/cosi-resources-nutanix.yaml
  services/harbor/1.16.2/cosi-storage/cosi-bucket.yaml
  services/kubecost/2.5.2/cosi-storage/cosi-bucket.yaml
  services/rook-ceph-cluster/1.16.2/objectbucketclaims/cosi-bucket.yaml
Labels: size/XS

#3211 feat(2.14): bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.42.5/defaults/cm.yaml
  services/kommander-ui/17.42.5/defaults/kustomization.yaml
  services/kommander-ui/17.42.5/kommander-ui.yaml
  services/kommander-ui/17.42.5/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#3217 chore: bump cosi-bucket-kit chart to 0.0.5
  services/cosi-driver-nutanix/0.3.0/cosi-resources-nutanix.yaml
  services/harbor/1.16.2/cosi-storage/cosi-bucket.yaml
  services/kubecost/2.5.2/cosi-storage/cosi-bucket.yaml
  services/rook-ceph-cluster/1.16.2/objectbucketclaims/cosi-bucket.yaml
Labels: ready-for-review, ok-to-test, auto-backport, backport-to-release-2.14

#3218 chore: bump cosi-bucket-kit chart to 0.0.5 (#3217)
  services/cosi-driver-nutanix/0.3.0/cosi-resources-nutanix.yaml
  services/harbor/1.16.2/cosi-storage/cosi-bucket.yaml
  services/kubecost/2.5.2/cosi-storage/cosi-bucket.yaml
  services/rook-ceph-cluster/1.16.2/objectbucketclaims/cosi-bucket.yaml
Labels: size/XS

#3214 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.43.4/defaults/cm.yaml
  services/kommander-ui/17.43.4/defaults/kustomization.yaml
  services/kommander-ui/17.43.4/kommander-ui.yaml
  services/kommander-ui/17.43.4/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3221 feat(cosi-driver-nutanix): Bump to 0.4.0
  licenses.d2iq.yaml
  services/cosi-driver-nutanix/0.4.0/cosi-driver-nutanix.yaml
  services/cosi-driver-nutanix/0.4.0/cosi-resources-nutanix.yaml
  services/cosi-driver-nutanix/0.4.0/defaults/cm.yaml
  services/cosi-driver-nutanix/0.4.0/defaults/kustomization.yaml
  services/cosi-driver-nutanix/0.4.0/extra-images.txt
  services/cosi-driver-nutanix/0.4.0/kustomization.yaml
Labels: ok-to-test, auto-backport, size/S, update-licenses, services/cosi-driver-nutanix, backport-to-release-2.14

#3222 feat(cosi-driver-nutanix): Bump to 0.4.0 (#3221) [release-2.14]
  licenses.d2iq.yaml
  services/cosi-driver-nutanix/0.4.0/cosi-driver-nutanix.yaml
  services/cosi-driver-nutanix/0.4.0/cosi-resources-nutanix.yaml
  services/cosi-driver-nutanix/0.4.0/defaults/cm.yaml
  services/cosi-driver-nutanix/0.4.0/defaults/kustomization.yaml
  services/cosi-driver-nutanix/0.4.0/extra-images.txt
  services/cosi-driver-nutanix/0.4.0/kustomization.yaml
Labels: size/S

#3210 feat: Bump git-operator to 0.13.6
  .env
  just/test.just
  licenses.d2iq.yaml
  server/Dockerfile
  services/git-operator/0.1.4/defaults/kustomization.yaml
  services/git-operator/0.1.4/git-operator-manifests/all.yaml
  services/git-operator/0.1.4/git-operator-manifests/kustomization.yaml
  services/git-operator/0.1.4/ingress.yaml
  services/git-operator/0.1.4/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, services/git-operator

#3226 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.42.7/defaults/cm.yaml
  services/kommander-ui/17.42.7/defaults/kustomization.yaml
  services/kommander-ui/17.42.7/kommander-ui.yaml
  services/kommander-ui/17.42.7/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#3228 chore: decrease kubecost aggregator default storage
  services/kubecost/2.5.2/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kubecost, update-licenses

#3229 chore: decrease kubecost aggregator default storage (#3228)
  services/kubecost/2.5.2/defaults/cm.yaml
Labels: size/XS
