Repository mesosphere/kommander-applications, pull requests merged in 2025-04, with the labels that each got.

#3269 feat: update logging-operator
  licenses.d2iq.yaml
  services/fluent-bit/0.48.7/defaults/cm.yaml
  services/fluent-bit/0.48.7/defaults/kustomization.yaml
  services/fluent-bit/0.48.7/fluent-bit.yaml
  services/fluent-bit/0.48.7/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.48.7/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.48.7/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.48.7/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.48.7/kustomization.yaml
  services/logging-operator/5.2.0/defaults/cm.yaml
  services/logging-operator/5.2.0/defaults/kustomization.yaml
  services/logging-operator/5.2.0/extra-images.txt
  services/logging-operator/5.2.0/grafana-dashboards/kustomization.yaml
  services/logging-operator/5.2.0/grafana-dashboards/logging-operator.json
  services/logging-operator/5.2.0/grafana-dashboards/logging-stack-stress.json
  services/logging-operator/5.2.0/kustomization.yaml
  services/logging-operator/5.2.0/logging-operator-logging.yaml
  services/logging-operator/5.2.0/logging-operator.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/fluent-bit, services/logging-operator, update-licenses

#3347 fix(kps): Use correct metrics path for grafana-logging
  services/grafana-logging/6.60.3/defaults/cm.yaml
  services/grafana-logging/6.60.3/defaults/kustomization.yaml
  services/grafana-logging/6.60.3/grafana.yaml
  services/grafana-logging/6.60.3/kustomization.yaml
  services/kube-prometheus-stack/48.3.3/defaults/cm.yaml
  services/project-grafana-logging/6.60.3/defaults/cm.yaml
  services/project-grafana-logging/6.60.3/defaults/kustomization.yaml
  services/project-grafana-logging/6.60.3/kustomization.yaml
  services/project-grafana-logging/6.60.3/project-grafana.yaml
Labels: ready-for-review, ok-to-test, needs-backport, auto-backport, size/S, backport-to-main, backport-to-release-2.12, backport-to-release-2.13, backport-to-release-2.14, backport-to-release-2.15

#3279 fix: updating nginx-unprivileged:1.27.4-alpine
  .env
  licenses.d2iq.yaml
  services/git-operator/0.1.4/git-operator-manifests/all.yaml
  services/grafana-loki/0.79.5/defaults/cm.yaml
  services/project-grafana-loki/0.79.5/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/grafana-loki, services/project-grafana-loki, update-licenses, services/git-operator

#3289 feat: Introduce cilium-hubble-relay-traefik
  .github/service-labeler.yaml
  apptests/appscenarios/ciliumhubblerelaytraefik.go
  apptests/appscenarios/ciliumhubblerelaytraefik_test.go
  apptests/constants/apps.go
  apptests/testdata/cilium-hubble-relay-traefik/hubble-relay-fake.yaml
  services/cilium-hubble-relay-traefik/0.0.3/cilium-hubble-relay-traefik.yaml
  services/cilium-hubble-relay-traefik/0.0.3/defaults/cm.yaml
  services/cilium-hubble-relay-traefik/0.0.3/defaults/kustomization.yaml
  services/cilium-hubble-relay-traefik/0.0.3/kustomization.yaml
  services/cilium-hubble-relay-traefik/metadata.yaml
  services/kommander/0.16.0/defaults/cm.yaml
Labels: ok-to-test, size/XL, services/kommander, update-licenses, services/cilium-hubble-relay-traefik

#3322 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.42.10/defaults/cm.yaml
  services/kommander-ui/17.42.10/defaults/kustomization.yaml
  services/kommander-ui/17.42.10/kommander-ui.yaml
  services/kommander-ui/17.42.10/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#3325 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.56.0/defaults/cm.yaml
  services/kommander-ui/17.56.0/defaults/kustomization.yaml
  services/kommander-ui/17.56.0/kommander-ui.yaml
  services/kommander-ui/17.56.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3048 fix: add the missing append
  hack/list-images.sh
Labels: ready-for-review, ok-to-test, size/M

#3355 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.57.3/defaults/cm.yaml
  services/kommander-ui/17.57.3/defaults/kustomization.yaml
  services/kommander-ui/17.57.3/kommander-ui.yaml
  services/kommander-ui/17.57.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3367 fix: updating nginx-unprivileged:1.27.4-alpine (#3279)
  .env
  licenses.d2iq.yaml
  services/git-operator/0.1.4/git-operator-manifests/all.yaml
  services/grafana-loki/0.79.5/defaults/cm.yaml
  services/project-grafana-loki/0.79.5/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/grafana-loki, services/project-grafana-loki, update-licenses, services/git-operator

#3346 feat: Bump gpu-operator to v25.3.0
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/25.3.0/defaults/cm.yaml
  services/nvidia-gpu-operator/25.3.0/defaults/kustomization.yaml
  services/nvidia-gpu-operator/25.3.0/grafana-dashboards/gpu-operator.json
  services/nvidia-gpu-operator/25.3.0/grafana-dashboards/kustomization.yaml
  services/nvidia-gpu-operator/25.3.0/helmrelease.yaml
  services/nvidia-gpu-operator/25.3.0/helmrelease/extra-images.txt
  services/nvidia-gpu-operator/25.3.0/helmrelease/kustomization.yaml
  services/nvidia-gpu-operator/25.3.0/helmrelease/nvidia.yaml
  services/nvidia-gpu-operator/25.3.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/fluent-bit, services/logging-operator, services/kommander, services/nvidia-gpu-operator, services/grafana-loki, services/project-grafana-loki, services/kommander-appmanagement, update-licenses, services/kommander-ui, services/git-operator

#3365 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.71.1/defaults/cm.yaml
  services/kommander-ui/17.71.1/defaults/kustomization.yaml
  services/kommander-ui/17.71.1/kommander-ui.yaml
  services/kommander-ui/17.71.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3366 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.59.1/defaults/cm.yaml
  services/kommander-ui/17.59.1/defaults/kustomization.yaml
  services/kommander-ui/17.59.1/kommander-ui.yaml
  services/kommander-ui/17.59.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3350 fix(kps): Use correct metrics path for grafana-logging
  services/grafana-logging/8.9.2/defaults/cm.yaml
  services/grafana-logging/8.9.2/defaults/kustomization.yaml
  services/grafana-logging/8.9.2/grafana.yaml
  services/grafana-logging/8.9.2/kustomization.yaml
  services/kube-prometheus-stack/69.8.0/defaults/cm.yaml
  services/project-grafana-logging/8.9.2/defaults/cm.yaml
  services/project-grafana-logging/8.9.2/defaults/kustomization.yaml
  services/project-grafana-logging/8.9.2/kustomization.yaml
  services/project-grafana-logging/8.9.2/project-grafana.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/S, services/grafana-logging, services/kube-prometheus-stack, services/project-grafana-logging, update-licenses

#3371 feat: Release NKP-Pulse v0.2.6
  licenses.d2iq.yaml
  services/nkp-pulse-management/0.1.2/defaults/cm.yaml
  services/nkp-pulse-management/0.2.6/defaults/cm.yaml
  services/nkp-pulse-management/0.2.6/defaults/kustomization.yaml
  services/nkp-pulse-management/0.2.6/helmrelease.yaml
  services/nkp-pulse-management/0.2.6/kustomization.yaml
  services/nkp-pulse-workspace/0.1.2/defaults/cm.yaml
  services/nkp-pulse-workspace/0.2.6/defaults/cm.yaml
  services/nkp-pulse-workspace/0.2.6/defaults/kustomization.yaml
  services/nkp-pulse-workspace/0.2.6/helmrelease.yaml
  services/nkp-pulse-workspace/0.2.6/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, update-licenses, services/nkp-pulse-management, services/nkp-pulse-workspace

#3379 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.81.2/defaults/cm.yaml
  services/kommander-ui/17.81.2/defaults/kustomization.yaml
  services/kommander-ui/17.81.2/kommander-ui.yaml
  services/kommander-ui/17.81.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3357 feat: bump kiali to v2.7.1
  licenses.d2iq.yaml
  services/kiali/2.6.0/extra-images.txt
  services/kiali/2.7.1/defaults/cm.yaml
  services/kiali/2.7.1/defaults/kustomization.yaml
  services/kiali/2.7.1/extra-images.txt
  services/kiali/2.7.1/kiali.yaml
  services/kiali/2.7.1/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kiali, update-licenses

#3387 fix: Exclude listing nkp-pulse images in airgapped bundle.
  README.md
  hack/list-images.sh
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr

#3380 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.71.10/defaults/cm.yaml
  services/kommander-ui/17.71.10/defaults/kustomization.yaml
  services/kommander-ui/17.71.10/kommander-ui.yaml
  services/kommander-ui/17.71.10/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3375 feat: Bump cost-analyzer to 2.7.0
  licenses.d2iq.yaml
  services/kubecost/2.7.0/cosi-storage.yaml
  services/kubecost/2.7.0/cosi-storage/cosi-bucket.yaml
  services/kubecost/2.7.0/cosi-storage/kustomization.yaml
  services/kubecost/2.7.0/defaults/cm.yaml
  services/kubecost/2.7.0/defaults/kustomization.yaml
  services/kubecost/2.7.0/kustomization.yaml
  services/kubecost/2.7.0/pre-install.yaml
  services/kubecost/2.7.0/pre-install/kustomization.yaml
  services/kubecost/2.7.0/pre-install/pre-install-jobs.yaml
  services/kubecost/2.7.0/release.yaml
  services/kubecost/2.7.0/release/extra-images.txt
  services/kubecost/2.7.0/release/kustomization.yaml
  services/kubecost/2.7.0/release/release.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/centralized-kubecost, services/kubecost, update-licenses, services/git-operator

#3389 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.81.7/defaults/cm.yaml
  services/kommander-ui/17.81.7/defaults/kustomization.yaml
  services/kommander-ui/17.81.7/kommander-ui.yaml
  services/kommander-ui/17.81.7/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3368 fix: CVE-fix k8s-sidecar:1.30.3
  licenses.d2iq.yaml
  services/centralized-grafana/70.4.2/centralized-grafana.yaml
  services/centralized-grafana/70.4.2/defaults/cm.yaml
  services/centralized-grafana/70.4.2/defaults/kustomization.yaml
  services/centralized-grafana/70.4.2/grafana-dashboards/global-overview.json
  services/centralized-grafana/70.4.2/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/70.4.2/kustomization.yaml
  services/centralized-grafana/70.4.2/rbac/grafana.yaml
  services/centralized-grafana/70.4.2/rbac/kustomization.yaml
  services/grafana-logging/8.9.2/defaults/cm.yaml
  services/kube-prometheus-stack/70.4.2/defaults/cm.yaml
  services/kube-prometheus-stack/70.4.2/defaults/kustomization.yaml
  services/kube-prometheus-stack/70.4.2/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/70.4.2/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/70.4.2/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/70.4.2/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/70.4.2/grafana-dashboards/calico.json
  services/kube-prometheus-stack/70.4.2/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/70.4.2/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/70.4.2/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/70.4.2/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/70.4.2/grafana-dashboards/pv-stats.json
  services/kube-prometheus-stack/70.4.2/helmrelease.yaml
  services/kube-prometheus-stack/70.4.2/helmrelease/extra-images.txt
  services/kube-prometheus-stack/70.4.2/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/70.4.2/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/70.4.2/kustomization.yaml
  services/kube-prometheus-stack/70.4.2/rbac/alertmanager.yaml
  services/kube-prometheus-stack/70.4.2/rbac/grafana.yaml
  services/kube-prometheus-stack/70.4.2/rbac/kustomization.yaml
  services/kube-prometheus-stack/70.4.2/rbac/prometheus.yaml
  services/project-grafana-logging/8.9.2/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/centralized-grafana, services/grafana-logging, services/kube-prometheus-stack, services/centralized-kubecost, services/kubecost, services/project-grafana-logging, update-licenses

#3399 feat: bump grafana to 8.11.0
  licenses.d2iq.yaml
  services/centralized-grafana/70.4.2/centralized-grafana.yaml
  services/centralized-grafana/70.4.2/defaults/cm.yaml
  services/grafana-logging/8.11.0/defaults/cm.yaml
  services/grafana-logging/8.11.0/defaults/kustomization.yaml
  services/grafana-logging/8.11.0/grafana.yaml
  services/grafana-logging/8.11.0/kustomization.yaml
  services/kube-prometheus-stack/70.4.2/defaults/cm.yaml
  services/kube-prometheus-stack/70.4.2/helmrelease/kube-prometheus-stack.yaml
  services/project-grafana-logging/8.11.0/defaults/cm.yaml
  services/project-grafana-logging/8.11.0/defaults/kustomization.yaml
  services/project-grafana-logging/8.11.0/kustomization.yaml
  services/project-grafana-logging/8.11.0/project-grafana.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/centralized-grafana, services/grafana-logging, services/kube-prometheus-stack, services/project-grafana-logging, update-licenses

#3402 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.82.0/defaults/cm.yaml
  services/kommander-ui/17.82.0/defaults/kustomization.yaml
  services/kommander-ui/17.82.0/kommander-ui.yaml
  services/kommander-ui/17.82.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3403 fix: CVE-fix k8s-sidecar:1.30.3 for release-2.15 (#3368)
  licenses.d2iq.yaml
  services/centralized-grafana/70.4.2/centralized-grafana.yaml
  services/centralized-grafana/70.4.2/defaults/cm.yaml
  services/centralized-grafana/70.4.2/defaults/kustomization.yaml
  services/centralized-grafana/70.4.2/grafana-dashboards/global-overview.json
  services/centralized-grafana/70.4.2/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/70.4.2/kustomization.yaml
  services/centralized-grafana/70.4.2/rbac/grafana.yaml
  services/centralized-grafana/70.4.2/rbac/kustomization.yaml
  services/grafana-logging/8.11.0/defaults/cm.yaml
  services/grafana-logging/8.11.0/defaults/kustomization.yaml
  services/grafana-logging/8.11.0/grafana.yaml
  services/grafana-logging/8.11.0/kustomization.yaml
  services/kube-prometheus-stack/70.4.2/defaults/cm.yaml
  services/kube-prometheus-stack/70.4.2/defaults/kustomization.yaml
  services/kube-prometheus-stack/70.4.2/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/70.4.2/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/70.4.2/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/70.4.2/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/70.4.2/grafana-dashboards/calico.json
  services/kube-prometheus-stack/70.4.2/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/70.4.2/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/70.4.2/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/70.4.2/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/70.4.2/grafana-dashboards/pv-stats.json
  services/kube-prometheus-stack/70.4.2/helmrelease.yaml
  services/kube-prometheus-stack/70.4.2/helmrelease/extra-images.txt
  services/kube-prometheus-stack/70.4.2/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/70.4.2/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/70.4.2/kustomization.yaml
  services/kube-prometheus-stack/70.4.2/rbac/alertmanager.yaml
  services/kube-prometheus-stack/70.4.2/rbac/grafana.yaml
  services/kube-prometheus-stack/70.4.2/rbac/kustomization.yaml
  services/kube-prometheus-stack/70.4.2/rbac/prometheus.yaml
  services/project-grafana-logging/8.11.0/defaults/cm.yaml
  services/project-grafana-logging/8.11.0/defaults/kustomization.yaml
  services/project-grafana-logging/8.11.0/kustomization.yaml
  services/project-grafana-logging/8.11.0/project-grafana.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/centralized-grafana, services/grafana-logging, services/kube-prometheus-stack, services/centralized-kubecost, services/kubecost, services/project-grafana-logging, update-licenses

#3397 feat: bump cert-manager to 1.16.4
  licenses.d2iq.yaml
  services/cert-manager/1.16.4/cert-manager-namespace.yaml
  services/cert-manager/1.16.4/cert-manager-namespace/namespace.yaml
  services/cert-manager/1.16.4/defaults/cm.yaml
  services/cert-manager/1.16.4/defaults/kustomization.yaml
  services/cert-manager/1.16.4/kustomization.yaml
  services/cert-manager/1.16.4/priorityclass-resource-quota.yaml
  services/cert-manager/1.16.4/priorityclass-resource-quota/resourcequota.yaml
  services/cert-manager/1.16.4/release.yaml
  services/cert-manager/1.16.4/release/kustomization.yaml
  services/cert-manager/1.16.4/release/release.yaml
  services/cert-manager/1.16.4/root-ca.yaml
  services/cert-manager/1.16.4/root-ca/root-ca.yaml
  services/cert-manager/bootstrap/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/cert-manager, update-licenses

#3405 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.83.0/defaults/cm.yaml
  services/kommander-ui/17.83.0/defaults/kustomization.yaml
  services/kommander-ui/17.83.0/kommander-ui.yaml
  services/kommander-ui/17.83.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3411 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.71.14/defaults/cm.yaml
  services/kommander-ui/17.71.14/defaults/kustomization.yaml
  services/kommander-ui/17.71.14/kommander-ui.yaml
  services/kommander-ui/17.71.14/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3401 fix(kps): Update updateStrategy maxUnavailable to 25%
  services/kube-prometheus-stack/70.4.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, services/kube-prometheus-stack, update-licenses, backport-to-release-2.14, backport-to-release-2.15

#3410 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.83.1/defaults/cm.yaml
  services/kommander-ui/17.83.1/defaults/kustomization.yaml
  services/kommander-ui/17.83.1/kommander-ui.yaml
  services/kommander-ui/17.83.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3412 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.23.24/defaults/cm.yaml
  services/kommander-ui/15.23.24/defaults/kustomization.yaml
  services/kommander-ui/15.23.24/kommander-ui.yaml
  services/kommander-ui/15.23.24/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3414 fix(kps): Update updateStrategy maxUnavailable to 25% (#3401)
  services/kube-prometheus-stack/70.4.2/defaults/cm.yaml
Labels: backport-pr, size/XS, auto-merge

#3415 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.71.15/defaults/cm.yaml
  services/kommander-ui/17.71.15/defaults/kustomization.yaml
  services/kommander-ui/17.71.15/kommander-ui.yaml
  services/kommander-ui/17.71.15/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3413 fix(kps): Update updateStrategy maxUnavailable to 25% (#3401)
  services/kube-prometheus-stack/69.1.3/defaults/cm.yaml
  services/kube-prometheus-stack/69.1.3/defaults/kustomization.yaml
  services/kube-prometheus-stack/69.1.3/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/69.1.3/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/69.1.3/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/69.1.3/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/69.1.3/grafana-dashboards/calico.json
  services/kube-prometheus-stack/69.1.3/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/69.1.3/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/69.1.3/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/69.1.3/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/69.1.3/grafana-dashboards/pv-stats.json
  services/kube-prometheus-stack/69.1.3/helmrelease.yaml
  services/kube-prometheus-stack/69.1.3/helmrelease/extra-images.txt
  services/kube-prometheus-stack/69.1.3/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/69.1.3/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/69.1.3/kustomization.yaml
  services/kube-prometheus-stack/69.1.3/rbac/alertmanager.yaml
  services/kube-prometheus-stack/69.1.3/rbac/grafana.yaml
  services/kube-prometheus-stack/69.1.3/rbac/kustomization.yaml
  services/kube-prometheus-stack/69.1.3/rbac/prometheus.yaml
Labels: backport-pr, size/S, auto-merge

#3416 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.23.25/defaults/cm.yaml
  services/kommander-ui/15.23.25/defaults/kustomization.yaml
  services/kommander-ui/15.23.25/kommander-ui.yaml
  services/kommander-ui/15.23.25/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3398 feat: bump cert-manager to 1.16.4 (release-2.15)
  licenses.d2iq.yaml
  services/cert-manager/1.16.4/cert-manager-namespace.yaml
  services/cert-manager/1.16.4/cert-manager-namespace/namespace.yaml
  services/cert-manager/1.16.4/defaults/cm.yaml
  services/cert-manager/1.16.4/defaults/kustomization.yaml
  services/cert-manager/1.16.4/kustomization.yaml
  services/cert-manager/1.16.4/priorityclass-resource-quota.yaml
  services/cert-manager/1.16.4/priorityclass-resource-quota/resourcequota.yaml
  services/cert-manager/1.16.4/release.yaml
  services/cert-manager/1.16.4/release/kustomization.yaml
  services/cert-manager/1.16.4/release/release.yaml
  services/cert-manager/1.16.4/root-ca.yaml
  services/cert-manager/1.16.4/root-ca/root-ca.yaml
  services/cert-manager/bootstrap/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/cert-manager, update-licenses

#3343 feat: Bump cloudnative-pg to 0.23.2
  licenses.d2iq.yaml
  services/cloudnative-pg/0.23.2/cloudnative-pg.yaml
  services/cloudnative-pg/0.23.2/defaults/cm.yaml
  services/cloudnative-pg/0.23.2/defaults/kustomization.yaml
  services/cloudnative-pg/0.23.2/grafana-dashboards/grafana-dashboard.json
  services/cloudnative-pg/0.23.2/grafana-dashboards/kustomization.yaml
  services/cloudnative-pg/0.23.2/kustomization.yaml
Labels: ok-to-test, size/S, update-licenses, services/cloudnative-pg

#3407 feat: bump harbor-core to 2.13.0
  licenses.d2iq.yaml
  services/harbor/1.17.0/cosi-storage.yaml
  services/harbor/1.17.0/cosi-storage/cosi-bucket.yaml
  services/harbor/1.17.0/cosi-storage/kustomization.yaml
  services/harbor/1.17.0/database.yaml
  services/harbor/1.17.0/database/cluster.yaml
  services/harbor/1.17.0/database/extra-images.txt
  services/harbor/1.17.0/database/kustomization.yaml
  services/harbor/1.17.0/defaults/database.yaml
  services/harbor/1.17.0/defaults/harbor.yaml
  services/harbor/1.17.0/defaults/kustomization.yaml
  services/harbor/1.17.0/defaults/valkey.yaml
  services/harbor/1.17.0/grafana-dashboards/harbor-redis-exporter.json
  services/harbor/1.17.0/grafana-dashboards/harbor.json
  services/harbor/1.17.0/grafana-dashboards/kustomization.yaml
  services/harbor/1.17.0/kustomization.yaml
  services/harbor/1.17.0/manual-storage.yaml
  services/harbor/1.17.0/manual-storage/kustomization.yaml
  services/harbor/1.17.0/manual-storage/manual-bucket.yaml
  services/harbor/1.17.0/ncr-system-namespace.yaml
  services/harbor/1.17.0/ncr-system-namespace/ncr-system.yaml
  services/harbor/1.17.0/pre-install.yaml
  services/harbor/1.17.0/pre-install/kustomization.yaml
  services/harbor/1.17.0/pre-install/pre-install-jobs.yaml
  services/harbor/1.17.0/pre-install/secrets.yaml
  services/harbor/1.17.0/release.yaml
  services/harbor/1.17.0/release/certificates.yaml
  services/harbor/1.17.0/release/harbor.yaml
  services/harbor/1.17.0/release/kustomization.yaml
  services/harbor/1.17.0/release/list-images-values.yaml
  services/harbor/1.17.0/valkey.yaml
  services/harbor/1.17.0/valkey/kustomization.yaml
  services/harbor/1.17.0/valkey/valkey.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, update-licenses, services/harbor

#3425 Rohith/custom metrics
  services/kube-prometheus-stack/69.8.0/defaults/cm.yaml
Labels: size/M

#3430 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.71.16/defaults/cm.yaml
  services/kommander-ui/17.71.16/defaults/kustomization.yaml
  services/kommander-ui/17.71.16/kommander-ui.yaml
  services/kommander-ui/17.71.16/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3417 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.85.0/defaults/cm.yaml
  services/kommander-ui/17.85.0/defaults/kustomization.yaml
  services/kommander-ui/17.85.0/kommander-ui.yaml
  services/kommander-ui/17.85.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3429 feat: bump traefik:v3.3.5 (#3418)
  apptests/appscenarios/traefik_test.go
  licenses.d2iq.yaml
  services/traefik/35.0.0/crds.yaml
  services/traefik/35.0.0/crds/crds.yaml
  services/traefik/35.0.0/crds/kustomization.yaml
  services/traefik/35.0.0/crds/list-images-values.yaml
  services/traefik/35.0.0/defaults/crds.yaml
  services/traefik/35.0.0/defaults/kustomization.yaml
  services/traefik/35.0.0/defaults/traefik.yaml
  services/traefik/35.0.0/grafana-dashboards/kustomization.yaml
  services/traefik/35.0.0/grafana-dashboards/traefik.json
  services/traefik/35.0.0/kustomization.yaml
  services/traefik/35.0.0/traefik/kustomization.yaml
  services/traefik/35.0.0/traefik/traefik.yaml
Labels: ok-to-test, size/M, open-kommander-pr, services/traefik, update-licenses

#3428 feat: update the fluent-bit
  licenses.d2iq.yaml
  services/fluent-bit/0.48.10/defaults/cm.yaml
  services/fluent-bit/0.48.10/defaults/kustomization.yaml
  services/fluent-bit/0.48.10/fluent-bit.yaml
  services/fluent-bit/0.48.10/grafana-dashboards-logging/audit.json
  services/fluent-bit/0.48.10/grafana-dashboards-logging/kustomization.yaml
  services/fluent-bit/0.48.10/grafana-dashboards/fluent-bit.json
  services/fluent-bit/0.48.10/grafana-dashboards/kustomization.yaml
  services/fluent-bit/0.48.10/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/fluent-bit, services/logging-operator, update-licenses

#3438 feat: Adds Prometheus Rules for triggering certificate renewal alerts
  services/kube-prometheus-stack/70.4.2/defaults/cm.yaml
Labels: size/M

#3329 feat: Bump prometheus-adapter to 4.14.1
  services/prometheus-adapter/4.14.1/defaults/cm.yaml
  services/prometheus-adapter/4.14.1/defaults/kustomization.yaml
  services/prometheus-adapter/4.14.1/helmrelease/prometheus-adapter.yaml
  services/prometheus-adapter/4.14.1/kustomization.yaml
  services/prometheus-adapter/4.14.1/prometheus-adapter-helmrelease.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/prometheus-adapter, update-licenses

#3340 feat: Bump reloader to 2.1.2
  licenses.d2iq.yaml
  services/reloader/2.1.2/defaults/cm.yaml
  services/reloader/2.1.2/defaults/kustomization.yaml
  services/reloader/2.1.2/kustomization.yaml
  services/reloader/2.1.2/reloader.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/reloader, update-licenses

#3444 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.86.2/defaults/cm.yaml
  services/kommander-ui/17.86.2/defaults/kustomization.yaml
  services/kommander-ui/17.86.2/kommander-ui.yaml
  services/kommander-ui/17.86.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3431 feat: bump rook-ceph to 1.17.0
  licenses.d2iq.yaml
  services/rook-ceph-cluster/1.17.0/defaults/cm.yaml
  services/rook-ceph-cluster/1.17.0/defaults/kustomization.yaml
  services/rook-ceph-cluster/1.17.0/grafana-dashboards/kustomization.yaml
  services/rook-ceph-cluster/1.17.0/grafana-dashboards/rook-ceph-cluster.json
  services/rook-ceph-cluster/1.17.0/grafana-dashboards/rook-ceph-osd.json
  services/rook-ceph-cluster/1.17.0/grafana-dashboards/rook-ceph-pools.json
  services/rook-ceph-cluster/1.17.0/helmrelease/dashboard-cm.yaml
  services/rook-ceph-cluster/1.17.0/helmrelease/helmrelease.yaml
  services/rook-ceph-cluster/1.17.0/helmrelease/kustomization.yaml
  services/rook-ceph-cluster/1.17.0/kustomization.yaml
  services/rook-ceph-cluster/1.17.0/object-bucket-claims.yaml
  services/rook-ceph-cluster/1.17.0/objectbucketclaims/cosi-bucket.yaml
  services/rook-ceph-cluster/1.17.0/objectbucketclaims/extra-images.txt
  services/rook-ceph-cluster/1.17.0/objectbucketclaims/helmrelease.yaml
  services/rook-ceph-cluster/1.17.0/objectbucketclaims/kustomization.yaml
  services/rook-ceph-cluster/1.17.0/pre-install.yaml
  services/rook-ceph-cluster/1.17.0/pre-install/ceph-crd-check.yaml
  services/rook-ceph-cluster/1.17.0/rook-ceph-cluster.yaml
  services/rook-ceph/1.17.0/defaults/cm.yaml
  services/rook-ceph/1.17.0/defaults/kustomization.yaml
  services/rook-ceph/1.17.0/helmrelease/helmrelease.yaml
  services/rook-ceph/1.17.0/helmrelease/kustomization.yaml
  services/rook-ceph/1.17.0/kustomization.yaml
  services/rook-ceph/1.17.0/rook-ceph.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/rook-ceph-cluster, services/rook-ceph, update-licenses

#3339 feat: Bump kubernetes-dashboard to 7.12.0
  licenses.d2iq.yaml
  services/kubernetes-dashboard/7.12.0/defaults/cm.yaml
  services/kubernetes-dashboard/7.12.0/defaults/kustomization.yaml
  services/kubernetes-dashboard/7.12.0/helmrelease.yaml
  services/kubernetes-dashboard/7.12.0/helmrelease/kubernetes-dashboard.yaml
  services/kubernetes-dashboard/7.12.0/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/kubernetes-dashboard, update-licenses

#3408 feat: Bumped velero to 1.16.0
  licenses.d2iq.yaml
  services/velero/9.0.0/defaults/cm.yaml
  services/velero/9.0.0/defaults/kustomization.yaml
  services/velero/9.0.0/grafana-dashboards/kustomization.yaml
  services/velero/9.0.0/grafana-dashboards/velero.json
  services/velero/9.0.0/helmrelease/helmrelease.yaml
  services/velero/9.0.0/kustomization.yaml
  services/velero/9.0.0/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/9.0.0/post-install/kustomization.yaml
  services/velero/9.0.0/pre-install/kustomization.yaml
  services/velero/9.0.0/pre-install/pre-install-job.yaml
  services/velero/9.0.0/velero-post-install.yaml
  services/velero/9.0.0/velero-pre-install.yaml
  services/velero/9.0.0/velero.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/reloader, services/velero, update-licenses

#3445 ci: remove replace directives
  apptests/go.mod
  apptests/go.sum
Labels: size/S, services/traefik

#3422 feat: Bumped Kiali/Kiali-Operator to 2.8.0
  licenses.d2iq.yaml
  services/kiali/2.8.0/defaults/cm.yaml
  services/kiali/2.8.0/defaults/kustomization.yaml
  services/kiali/2.8.0/extra-images.txt
  services/kiali/2.8.0/kiali.yaml
  services/kiali/2.8.0/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kiali, update-licenses

#3433 feat: enable persistence for grafana
  services/kube-prometheus-stack/70.4.2/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kube-prometheus-stack, update-licenses

#3448 refactor: Appscenerio interface add 2 new methods
  apptests/appscenarios/appscenarios.go
  apptests/appscenarios/ciliumhubblerelaytraefik.go
  apptests/appscenarios/gatekeeper.go
  apptests/appscenarios/karma.go
  apptests/appscenarios/reloader.go
  apptests/appscenarios/suite_test.go
  apptests/appscenarios/traefik.go
Labels: size/M

#3452 feat: bump gateway-api-crds to 1.6.0 (#3450)
  services/gateway-api-crds/1.6.0/defaults/cm.yaml
  services/gateway-api-crds/1.6.0/defaults/kustomization.yaml
  services/gateway-api-crds/1.6.0/gateway-api-crds.yaml
  services/gateway-api-crds/1.6.0/kustomization.yaml
  services/traefik/35.0.0/crds/crds.yaml
Labels: ok-to-test, size/XS, services/traefik, update-licenses, services/gateway-api-crds

#3455 ci: upgrade dkp-bloodhound version
  make/validate.mk
Labels: ok-to-test, size/XS

#3457 feat(apps): Copy metadata.yaml to <app>/<version>/
  services/ai-navigator-app/0.2.10/metadata.yaml
  services/ai-navigator-cluster-info-agent/0.1.3/metadata.yaml
  services/centralized-grafana/70.4.2/metadata.yaml
  services/cert-manager/1.16.4/metadata.yaml
  services/chartmuseum/3.10.3/metadata.yaml
  services/cilium-hubble-relay-traefik/0.0.3/metadata.yaml
  services/cloudnative-pg/0.23.2/metadata.yaml
  services/cosi-driver-nutanix/0.4.0/metadata.yaml
  services/dex-k8s-authenticator/1.4.5/metadata.yaml
  services/dex/2.14.2/metadata.yaml
  services/external-dns/7.5.6/metadata.yaml
  services/fluent-bit/0.48.10/metadata.yaml
  services/gatekeeper/3.18.2/metadata.yaml
  services/gateway-api-crds/1.6.0/metadata.yaml
  services/git-operator/0.1.4/metadata.yaml
  services/grafana-logging/8.11.0/metadata.yaml
  services/grafana-loki/0.80.3/metadata.yaml
  services/harbor/1.17.0/metadata.yaml
  services/istio/1.23.3/metadata.yaml
  services/jaeger/2.57.0/metadata.yaml
  services/karma-traefik/0.0.2/metadata.yaml
  services/karma/2.0.6/metadata.yaml
  services/kiali/2.8.0/metadata.yaml
  services/knative/1.17.0/metadata.yaml
  services/kommander-appmanagement/0.16.0/metadata.yaml
  services/kommander-flux/2.5.1/metadata.yaml
  services/kommander-ui/17.86.2/metadata.yaml
  services/kommander/0.16.0/metadata.yaml
  services/kube-oidc-proxy/0.3.5/metadata.yaml
  services/kube-prometheus-stack/70.4.2/metadata.yaml
  services/kubecost/2.7.0/metadata.yaml
  services/kubefed/0.11.1/metadata.yaml
  services/kubernetes-dashboard/7.12.0/metadata.yaml
  services/kubetunnel/0.0.39/metadata.yaml
  services/logging-operator/5.2.0/metadata.yaml
  services/nkp-insights-management/1.4.4/metadata.yaml
  services/nkp-insights/1.4.4/metadata.yaml
  services/nkp-pulse-management/0.2.6/metadata.yaml
  services/nkp-pulse-workspace/0.2.6/metadata.yaml
  services/nvidia-gpu-operator/25.3.0/metadata.yaml
  services/project-grafana-logging/8.11.0/metadata.yaml
  services/project-grafana-loki/0.80.3/metadata.yaml
  services/project-logging/1.0.3/metadata.yaml
  services/prometheus-adapter/4.14.1/metadata.yaml
  services/prometheus-thanos-traefik/0.0.2/metadata.yaml
  services/reloader/2.1.2/metadata.yaml
  services/rook-ceph-cluster/1.17.0/metadata.yaml
  services/rook-ceph/1.17.0/metadata.yaml
  services/thanos/15.7.24/metadata.yaml
  services/traefik-forward-auth-mgmt/0.3.14/metadata.yaml
  services/traefik-forward-auth/0.3.14/metadata.yaml
  services/traefik/35.0.0/metadata.yaml
  services/velero/9.0.0/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XL, services/kiali, services/fluent-bit, services/logging-operator, services/rook-ceph-cluster, services/rook-ceph, services/gatekeeper, services/kommander, services/kommander-flux, services/istio, services/jaeger, services/centralized-grafana, services/external-dns, services/nvidia-gpu-operator, services/traefik, services/reloader, services/grafana-logging, services/cert-manager, services/kube-prometheus-stack, services/dex-k8s-authenticator, services/karma, services/karma-traefik, services/knative, services/kubecost, services/prometheus-adapter, services/prometheus-thanos-traefik, services/traefik-forward-auth, services/traefik-forward-auth-mgmt, services/velero, services/grafana-loki, services/project-grafana-loki, services/kubefed, services/kubetunnel, services/thanos, services/project-logging, services/project-grafana-logging, services/kommander-appmanagement, services/kubernetes-dashboard, services/dex, services/kube-oidc-proxy, update-licenses, services/kommander-ui, services/chartmuseum, services/ai-navigator-app, services/ai-navigator-cluster-info-agent, services/git-operator, services/nkp-insights, services/nkp-insights-management, services/harbor, services/nkp-pulse-management, services/nkp-pulse-workspace, services/gateway-api-crds, services/cosi-driver-nutanix, services/cloudnative-pg, services/cilium-hubble-relay-traefik

#3463 refactor: move AppScenarios interface into apptests module
  apptests/appscenarios/appscenarios.go
  apptests/appscenarios/certmanager.go
  apptests/appscenarios/ciliumhubblerelaytraefik.go
  apptests/appscenarios/externaldns.go
  apptests/appscenarios/gatekeeper.go
  apptests/appscenarios/karma.go
  apptests/appscenarios/kommanderflux.go
  apptests/appscenarios/kubecost.go
  apptests/appscenarios/reloader.go
  apptests/appscenarios/rookceph.go
  apptests/appscenarios/traefik.go
  apptests/appscenarios/velero.go
  apptests/scenarios/suite.go
Labels: size/M

#3464 refactor: rename files to better depict the intentions
  apptests/appscenarios/util.go
  apptests/appscenarios/util_test.go
  apptests/scenarios/interfaces.go
Labels: size/S, services/cert-manager

#3465 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.88.0/defaults/cm.yaml
  services/kommander-ui/17.88.0/defaults/kustomization.yaml
  services/kommander-ui/17.88.0/kommander-ui.yaml
  services/kommander-ui/17.88.0/kustomization.yaml
  services/kommander-ui/17.88.0/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge
