Repository mesosphere/kommander-applications, pull requests merged in 2025-01, with the labels that each got.

#2985 feat: Update the kubetunnel app to 0.0.39
  licenses.d2iq.yaml
  services/kubetunnel/0.0.39/defaults/cm.yaml
  services/kubetunnel/0.0.39/defaults/kustomization.yaml
  services/kubetunnel/0.0.39/extra-images.txt
  services/kubetunnel/0.0.39/kubetunnel.yaml
  services/kubetunnel/0.0.39/kustomization.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/kubetunnel, update-licenses

#2909 feat: bump kube-state-metrics to v2.14.0 and prometheus-stack to 67.6.0
  licenses.d2iq.yaml
  services/kube-prometheus-stack/67.6.0/defaults/cm.yaml
  services/kube-prometheus-stack/67.6.0/defaults/kustomization.yaml
  services/kube-prometheus-stack/67.6.0/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/67.6.0/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/67.6.0/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/67.6.0/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/67.6.0/grafana-dashboards/calico.json
  services/kube-prometheus-stack/67.6.0/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/67.6.0/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/67.6.0/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/67.6.0/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/67.6.0/grafana-dashboards/pv-stats.json
  services/kube-prometheus-stack/67.6.0/helmrelease.yaml
  services/kube-prometheus-stack/67.6.0/helmrelease/extra-images.txt
  services/kube-prometheus-stack/67.6.0/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/67.6.0/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/67.6.0/kustomization.yaml
  services/kube-prometheus-stack/67.6.0/rbac/alertmanager.yaml
  services/kube-prometheus-stack/67.6.0/rbac/grafana.yaml
  services/kube-prometheus-stack/67.6.0/rbac/kustomization.yaml
  services/kube-prometheus-stack/67.6.0/rbac/prometheus.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/centralized-grafana, services/kube-prometheus-stack, update-licenses, go

#2990 chore: Remove `v` from app version, bump API version of HR
  services/nkp-pulse-management/0.0.1-dev.0/defaults/cm.yaml
  services/nkp-pulse-management/0.0.1-dev.0/defaults/kustomization.yaml
  services/nkp-pulse-management/0.0.1-dev.0/helmrelease.yaml
  services/nkp-pulse-management/0.0.1-dev.0/kustomization.yaml
  services/nkp-pulse-workspace/0.0.1-dev.0/defaults/cm.yaml
  services/nkp-pulse-workspace/0.0.1-dev.0/defaults/kustomization.yaml
  services/nkp-pulse-workspace/0.0.1-dev.0/helmrelease.yaml
  services/nkp-pulse-workspace/0.0.1-dev.0/kustomization.yaml
Labels: ok-to-test, size/XS, update-licenses, services/nkp-pulse-management, services/nkp-pulse-workspace

#2963 feat: updated app metadata
  services/cert-manager/metadata.yaml
  services/external-dns/metadata.yaml
  services/fluent-bit/metadata.yaml
  services/gatekeeper/metadata.yaml
  services/grafana-logging/metadata.yaml
  services/grafana-loki/metadata.yaml
  services/istio/metadata.yaml
  services/jaeger/metadata.yaml
  services/kiali/metadata.yaml
  services/kube-oidc-proxy/metadata.yaml
  services/kube-prometheus-stack/metadata.yaml
  services/kubecost/metadata.yaml
  services/kubernetes-dashboard/metadata.yaml
  services/logging-operator/metadata.yaml
  services/nkp-insights/metadata.yaml
  services/nvidia-gpu-operator/metadata.yaml
  services/project-grafana-logging/metadata.yaml
  services/project-grafana-loki/metadata.yaml
  services/project-logging/metadata.yaml
  services/prometheus-adapter/metadata.yaml
  services/reloader/metadata.yaml
  services/rook-ceph-cluster/metadata.yaml
  services/rook-ceph/metadata.yaml
  services/traefik-forward-auth/metadata.yaml
  services/traefik/metadata.yaml
  services/velero/metadata.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/kiali, services/fluent-bit, services/logging-operator, services/rook-ceph-cluster, services/rook-ceph, services/gatekeeper, services/istio, services/jaeger, services/external-dns, services/nvidia-gpu-operator, services/traefik, services/reloader, services/grafana-logging, services/cert-manager, services/kube-prometheus-stack, services/kubecost, services/prometheus-adapter, services/traefik-forward-auth, services/velero, services/grafana-loki, services/project-grafana-loki, services/project-logging, services/project-grafana-logging, services/kubernetes-dashboard, services/kube-oidc-proxy, update-licenses, services/nkp-insights

#2979 feat: Bump gpu-operator to v24.9.1
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/24.9.1/defaults/cm.yaml
  services/nvidia-gpu-operator/24.9.1/defaults/kustomization.yaml
  services/nvidia-gpu-operator/24.9.1/grafana-dashboards/gpu-operator.json
  services/nvidia-gpu-operator/24.9.1/grafana-dashboards/kustomization.yaml
  services/nvidia-gpu-operator/24.9.1/helmrelease.yaml
  services/nvidia-gpu-operator/24.9.1/helmrelease/extra-images.txt
  services/nvidia-gpu-operator/24.9.1/helmrelease/kustomization.yaml
  services/nvidia-gpu-operator/24.9.1/helmrelease/nvidia.yaml
  services/nvidia-gpu-operator/24.9.1/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#2986 feat: logging-operator version update
  licenses.d2iq.yaml
  services/fluent-bit/0.47.7/defaults/cm.yaml
  services/logging-operator/5.0.1/defaults/cm.yaml
  services/logging-operator/5.0.1/defaults/kustomization.yaml
  services/logging-operator/5.0.1/extra-images.txt
  services/logging-operator/5.0.1/grafana-dashboards/kustomization.yaml
  services/logging-operator/5.0.1/grafana-dashboards/logging-operator.json
  services/logging-operator/5.0.1/grafana-dashboards/logging-stack-stress.json
  services/logging-operator/5.0.1/kustomization.yaml
  services/logging-operator/5.0.1/logging-operator-logging.yaml
  services/logging-operator/5.0.1/logging-operator.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/fluent-bit, services/logging-operator, update-licenses

#2993 feat: change supported to qualified for all third party apps
  services/grafana-logging/metadata.yaml
  services/grafana-loki/metadata.yaml
  services/istio/metadata.yaml
  services/traefik-forward-auth/metadata.yaml
  services/traefik/metadata.yaml
  services/velero/metadata.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/istio, services/traefik, services/grafana-logging, services/traefik-forward-auth, services/velero, services/grafana-loki, update-licenses

#2994 fix: list image shell missing cronjob
  hack/list-images.sh
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, backport-to-main

#2959 feat: upgrade to kubecost v2
  .github/service-labeler.yaml
  apptests/appscenarios/kubecost.go
  apptests/appscenarios/kubecost_test.go
  common/helm-repositories/kubecost.yaml
  common/helm-repositories/kustomization.yaml
  hack/list-images.sh
  licenses.d2iq.yaml
  services/centralized-grafana/65.5.0/defaults/cm.yaml
  services/centralized-kubecost/0.37.8/defaults/cm.yaml
  services/centralized-kubecost/0.37.8/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.8/release/release.yaml
  services/centralized-kubecost/metadata.yaml
  services/kommander-ui/16.22.0/defaults/cm.yaml
  services/kommander/0.14.0/defaults/cm.yaml
  services/kubecost/0.37.9/defaults/cm.yaml
  services/kubecost/0.37.9/kubecost.yaml
  services/kubecost/2.5.0/cosi-storage.yaml
  services/kubecost/2.5.0/cosi-storage/cosi-bucket.yaml
  services/kubecost/2.5.0/cosi-storage/kustomization.yaml
  services/kubecost/2.5.0/defaults/cm.yaml
  services/kubecost/2.5.0/defaults/kustomization.yaml
  services/kubecost/2.5.0/kustomization.yaml
  services/kubecost/2.5.0/move-to-konvoy.yaml
  services/kubecost/2.5.0/move-to-konvoy/kustomization.yaml
  services/kubecost/2.5.0/move-to-konvoy/move-to-konvoy-cosi-hr.yaml
  services/kubecost/2.5.0/pre-install.yaml
  services/kubecost/2.5.0/pre-install/kustomization.yaml
  services/kubecost/2.5.0/pre-install/pre-install-jobs.yaml
  services/kubecost/2.5.0/release.yaml
  services/kubecost/2.5.0/release/extra-images.txt
  services/kubecost/2.5.0/release/kustomization.yaml
  services/kubecost/2.5.0/release/release.yaml
  services/nkp-insights/1.3.4/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/XXL, open-kommander-pr, services/kommander, services/centralized-grafana, services/centralized-kubecost, services/kubecost, update-licenses, services/kommander-ui, services/nkp-insights

#2960 feat: bloodhound k8s bump1.31
  .bloodhound.yml
Labels: size/XS

#2995 fix: [main] list image shell missing cronjob (#2994)
  hack/list-images.sh
  licenses.d2iq.yaml
Labels: size/XS

#2997 fix: ensure ipv4 for kong
  services/kubernetes-dashboard/7.10.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, services/kubernetes-dashboard, backport-to-release-2.12, backport-to-release-2.13

#2999 fix: [release-2.13] ensure ipv4 for kong (#2997)
  services/kubernetes-dashboard/7.10.0/defaults/cm.yaml
Labels: size/XS

#2988 feat: chartbump/kiali-operator-2.3.0
  licenses.d2iq.yaml
  services/kiali/2.1.0/extra-images.txt
  services/kiali/2.3.0/defaults/cm.yaml
  services/kiali/2.3.0/defaults/kustomization.yaml
  services/kiali/2.3.0/extra-images.txt
  services/kiali/2.3.0/kiali.yaml
  services/kiali/2.3.0/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kiali, update-licenses

#2998 fix: [release-2.12] ensure ipv4 for kong (#2997)
  services/kubernetes-dashboard/7.5.1/defaults/cm.yaml
Labels: size/XS

#3000 fix: git operator cronjob use same kubectl
  hack/list-images.sh
  licenses.d2iq.yaml
  services/git-operator/0.1.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, backport-to-main

#2996 refactor: always have a dependency against COSI for kubecost
  licenses.d2iq.yaml
  services/kommander/0.14.0/defaults/cm.yaml
  services/kubecost/2.5.0/cosi-storage/cosi-bucket.yaml
  services/kubecost/2.5.0/cosi-storage/extra-images.txt
  services/kubecost/2.5.0/cosi-storage/kustomization.yaml
  services/kubecost/2.5.0/cosi-storage/object-store-check.yaml
  services/kubecost/2.5.0/defaults/cm.yaml
  services/kubecost/2.5.0/pre-install.yaml
  services/kubecost/2.5.0/pre-install/pre-install-jobs.yaml
  services/kubecost/2.5.0/release.yaml
  services/kubecost/2.5.0/release/extra-images.txt
  services/kubecost/2.5.0/release/release.yaml
Labels: ok-to-test, do-not-merge/testing, size/L, open-kommander-pr, services/kommander, services/kubecost, update-licenses

#3011 feat: Add cloudnative-pg internal app
  .github/service-labeler.yaml
  common/helm-repositories/cloudnative-pg.yaml
  common/helm-repositories/kustomization.yaml
  licenses.d2iq.yaml
  services/cloudnative-pg/0.23.0/cloudnative-pg.yaml
  services/cloudnative-pg/0.23.0/defaults/cm.yaml
  services/cloudnative-pg/0.23.0/defaults/kustomization.yaml
  services/cloudnative-pg/0.23.0/kustomization.yaml
  services/cloudnative-pg/metadata.yaml
Labels: ok-to-test, size/M, update-licenses

#3004 feat: update CA trust bundle for kubecost containers
  apptests/appscenarios/kubecost.go
  licenses.d2iq.yaml
  services/kubecost/2.5.2/cosi-storage.yaml
  services/kubecost/2.5.2/cosi-storage/cosi-bucket.yaml
  services/kubecost/2.5.2/cosi-storage/kustomization.yaml
  services/kubecost/2.5.2/cosi-storage/object-store-check.yaml
  services/kubecost/2.5.2/defaults/cm.yaml
  services/kubecost/2.5.2/defaults/kustomization.yaml
  services/kubecost/2.5.2/kustomization.yaml
  services/kubecost/2.5.2/move-to-konvoy.yaml
  services/kubecost/2.5.2/move-to-konvoy/kustomization.yaml
  services/kubecost/2.5.2/move-to-konvoy/move-to-konvoy-cosi-hr.yaml
  services/kubecost/2.5.2/pre-install.yaml
  services/kubecost/2.5.2/pre-install/kustomization.yaml
  services/kubecost/2.5.2/pre-install/pre-install-jobs.yaml
  services/kubecost/2.5.2/release.yaml
  services/kubecost/2.5.2/release/extra-images.txt
  services/kubecost/2.5.2/release/kustomization.yaml
  services/kubecost/2.5.2/release/release.yaml
  services/rook-ceph-cluster/1.15.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.15.5/objectbucketclaims/cosi-bucket.yaml
  services/rook-ceph-cluster/1.15.5/objectbucketclaims/extra-images.txt
  services/rook-ceph-cluster/1.15.5/objectbucketclaims/helmrelease.yaml
  services/rook-ceph-cluster/1.15.5/objectbucketclaims/kustomization.yaml
  services/traefik/27.0.3/defaults/cm.yaml
  services/velero/7.2.2/helmrelease/helmrelease.yaml
Labels: ok-to-test, do-not-merge/testing, size/L, open-kommander-pr, services/rook-ceph-cluster, services/traefik, services/kubecost, services/velero, update-licenses

#2975 feat: Bump velero to 8.2.0
  licenses.d2iq.yaml
  services/velero/8.2.0/defaults/cm.yaml
  services/velero/8.2.0/defaults/kustomization.yaml
  services/velero/8.2.0/grafana-dashboards/kustomization.yaml
  services/velero/8.2.0/grafana-dashboards/velero.json
  services/velero/8.2.0/helmrelease/helmrelease.yaml
  services/velero/8.2.0/kustomization.yaml
  services/velero/8.2.0/post-install/deployment_update-backupstoragelocation.yaml
  services/velero/8.2.0/post-install/kustomization.yaml
  services/velero/8.2.0/pre-install/kustomization.yaml
  services/velero/8.2.0/pre-install/pre-install-job.yaml
  services/velero/8.2.0/velero-post-install.yaml
  services/velero/8.2.0/velero-pre-install.yaml
  services/velero/8.2.0/velero.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/velero, update-licenses

#2951 feat: add harbor app
  .github/service-labeler.yaml
  common/helm-repositories/harbor.yaml
  common/helm-repositories/kustomization.yaml
  licenses.d2iq.yaml
  services/harbor/1.16.0/defaults/cm.yaml
  services/harbor/1.16.0/defaults/kustomization.yaml
  services/harbor/1.16.0/kustomization.yaml
  services/harbor/1.16.0/ncr-system-namespace.yaml
  services/harbor/1.16.0/ncr-system-namespace/ncr-system.yaml
  services/harbor/1.16.0/pre-install.yaml
  services/harbor/1.16.0/pre-install/kustomization.yaml
  services/harbor/1.16.0/pre-install/pre-install-jobs.yaml
  services/harbor/1.16.0/release.yaml
  services/harbor/1.16.0/release/harbor.yaml
  services/harbor/metadata.yaml
  services/traefik/27.0.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/L, services/traefik, update-licenses, services/harbor

#3005 feat: drop kubecost-thanos-traefik
  .github/service-labeler.yaml
  services/kubecost-thanos-traefik/0.0.2/defaults/cm.yaml
  services/kubecost-thanos-traefik/0.0.2/defaults/kustomization.yaml
  services/kubecost-thanos-traefik/0.0.2/kubecost-thanos-traefik.yaml
  services/kubecost-thanos-traefik/0.0.2/kustomization.yaml
  services/kubecost-thanos-traefik/metadata.yaml
  services/nkp-insights/1.3.4/defaults/cm.yaml
Labels: ok-to-test, size/M, update-licenses, services/nkp-insights

#2908 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.14.0/defaults/cm.yaml
  services/kommander-ui/17.14.0/defaults/kustomization.yaml
  services/kommander-ui/17.14.0/kommander-ui.yaml
  services/kommander-ui/17.14.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#2989 feat: Bump traefik to 33.2.1
  apptests/appscenarios/traefik_test.go
  licenses.d2iq.yaml
  services/traefik/33.2.1/defaults/cm.yaml
  services/traefik/33.2.1/defaults/kustomization.yaml
  services/traefik/33.2.1/grafana-dashboards/kustomization.yaml
  services/traefik/33.2.1/grafana-dashboards/traefik.json
  services/traefik/33.2.1/kustomization.yaml
  services/traefik/33.2.1/traefik-plugin-rewritebody.yaml
  services/traefik/33.2.1/traefik.yaml
Labels: ok-to-test, size/S, open-kommander-pr, services/kommander-flux, services/traefik, update-licenses

#3017 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.15.0/defaults/cm.yaml
  services/kommander-ui/17.15.0/defaults/kustomization.yaml
  services/kommander-ui/17.15.0/kommander-ui.yaml
  services/kommander-ui/17.15.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3020 fix: Use only alphanumeric characters for harbor valkey password
  services/harbor/1.16.0/pre-install/pre-install-jobs.yaml
Labels: ok-to-test, size/S, update-licenses, services/harbor

#3022 feat: add monitoring to cnpg and default harbor db
  services/cloudnative-pg/0.23.0/defaults/cm.yaml
  services/harbor/1.16.0/defaults/database.yaml
Labels: ok-to-test, size/XS, update-licenses, services/harbor

#3024 feat: PostgresSQL 17 for Harbor database
  services/harbor/1.16.0/defaults/database.yaml
Labels: ok-to-test, update-licenses, services/harbor

#3028 feat: add cloudnative-pg grafana dashboard
  services/cloudnative-pg/0.23.0/grafana-dashboards/grafana-dashboard.json
  services/cloudnative-pg/0.23.0/grafana-dashboards/kustomization.yaml
  services/cloudnative-pg/0.23.0/kustomization.yaml
Labels: ok-to-test, size/XXL, update-licenses

#3025 feat: add prom rules for harbor deployed cluster
  services/harbor/1.16.0/defaults/database.yaml
Labels: ok-to-test, update-licenses, services/harbor

#3032 feat: enable monitoring and network policy for valkey
  services/harbor/1.16.0/defaults/valkey.yaml
  services/harbor/1.16.0/valkey/valkey.yaml
Labels: ok-to-test, size/S, update-licenses, services/harbor

#3027 fix: third-party apps should use the qualified certification
  services/cloudnative-pg/metadata.yaml
  services/harbor/metadata.yaml
Labels: ok-to-test, size/XS, update-licenses, services/harbor

#3019 feat: consume centralized-grafana in primary kubecost
  apptests/appscenarios/kubecost_test.go
  services/kubecost/2.5.2/defaults/cm.yaml
  services/kubecost/2.5.2/release/release.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/kubecost, update-licenses

#3033 feat: add optional overrides for knative
  services/knative/1.15.5/knative-serving.yaml
Labels: ok-to-test, size/XS, services/knative, update-licenses

#3018 feat: Bump traefik to 34.1.0
  apptests/appscenarios/traefik_test.go
  licenses.d2iq.yaml
  services/kubecost/2.5.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.15.5/defaults/cm.yaml
  services/traefik/33.2.1/defaults/cm.yaml
  services/traefik/33.2.1/grafana-dashboards/traefik.json
  services/traefik/33.2.1/traefik-plugin-rewritebody.yaml
  services/traefik/34.1.0/defaults/cm.yaml
  services/traefik/34.1.0/defaults/kustomization.yaml
  services/traefik/34.1.0/grafana-dashboards/kustomization.yaml
  services/traefik/34.1.0/grafana-dashboards/traefik.json
  services/traefik/34.1.0/kustomization.yaml
  services/traefik/34.1.0/traefik.yaml
Labels: ok-to-test

#3002 fix: [main] git operator cronjob use same kubectl (#3000)
  hack/list-images.sh
  licenses.d2iq.yaml
  services/git-operator/0.1.3/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, services/git-operator

#3045 fix: Update all Essential License name under the kommander applicatio…
  services/ai-navigator-app/metadata.yaml
  services/ai-navigator-cluster-info-agent/metadata.yaml
  services/cert-manager/metadata.yaml
  services/chartmuseum/metadata.yaml
  services/cloudnative-pg/metadata.yaml
  services/dex-k8s-authenticator/metadata.yaml
  services/dex/metadata.yaml
  services/external-dns/metadata.yaml
  services/fluent-bit/metadata.yaml
  services/gatekeeper/metadata.yaml
  services/git-operator/metadata.yaml
  services/grafana-logging/metadata.yaml
  services/grafana-loki/metadata.yaml
  services/harbor/metadata.yaml
  services/istio/metadata.yaml
  services/jaeger/metadata.yaml
  services/kiali/metadata.yaml
  services/knative/metadata.yaml
  services/kommander-appmanagement/metadata.yaml
  services/kommander-flux/metadata.yaml
  services/kommander-ui/metadata.yaml
  services/kommander/metadata.yaml
  services/kube-oidc-proxy/metadata.yaml
  services/kube-prometheus-stack/metadata.yaml
  services/kubefed/metadata.yaml
  services/kubernetes-dashboard/metadata.yaml
  services/kubetunnel/metadata.yaml
  services/logging-operator/metadata.yaml
  services/nkp-pulse-management/metadata.yaml
  services/nkp-pulse-workspace/metadata.yaml
  services/nvidia-gpu-operator/metadata.yaml
  services/prometheus-adapter/metadata.yaml
  services/reloader/metadata.yaml
  services/rook-ceph-cluster/metadata.yaml
  services/rook-ceph/metadata.yaml
  services/traefik-forward-auth-mgmt/metadata.yaml
  services/traefik-forward-auth/metadata.yaml
  services/traefik/metadata.yaml
  services/velero/metadata.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/kiali, services/fluent-bit, services/logging-operator, services/rook-ceph-cluster, services/rook-ceph, services/gatekeeper, services/kommander, services/kommander-flux, services/istio, services/jaeger, services/external-dns, services/nvidia-gpu-operator, services/traefik, services/reloader, services/grafana-logging, services/cert-manager, services/kube-prometheus-stack, services/dex-k8s-authenticator, services/knative, services/prometheus-adapter, services/traefik-forward-auth, services/traefik-forward-auth-mgmt, services/velero, services/grafana-loki, services/kubefed, services/kubetunnel, services/kommander-appmanagement, services/kubernetes-dashboard, services/dex, services/kube-oidc-proxy, update-licenses, services/kommander-ui, services/chartmuseum, services/ai-navigator-app, services/ai-navigator-cluster-info-agent, services/git-operator, services/harbor, services/nkp-pulse-management, services/nkp-pulse-workspace

#3044 fix: add airgapped certification to istio, jaeger, and kiali
  services/istio/metadata.yaml
  services/jaeger/metadata.yaml
  services/kiali/metadata.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kiali, services/istio, services/jaeger, update-licenses

#3026 feat: Bump Gatekeeper to v3.18.2
  licenses.d2iq.yaml
  services/gatekeeper/3.18.2/constraints.yaml
  services/gatekeeper/3.18.2/constraints/enforce-helmrelease-sa.yaml
  services/gatekeeper/3.18.2/constraints/enforce-kustomization-sa.yaml
  services/gatekeeper/3.18.2/constrainttemplates.yaml
  services/gatekeeper/3.18.2/constrainttemplates/enforce-sa-constrainttemplate.yaml
  services/gatekeeper/3.18.2/defaults/cm.yaml
  services/gatekeeper/3.18.2/defaults/kustomization.yaml
  services/gatekeeper/3.18.2/kustomization.yaml
  services/gatekeeper/3.18.2/release.yaml
  services/gatekeeper/3.18.2/release/kustomization.yaml
  services/gatekeeper/3.18.2/release/release.yaml
  services/gatekeeper/bootstrap/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/gatekeeper, update-licenses

#3047 fix: add the missing append
  hack/list-images.sh
Labels: ready-for-review, ok-to-test, auto-backport, size/M, backport-to-release-2.13

#3035 refactor: drop cosi controller install
  .bloodhound.yml
  licenses.d2iq.yaml
  services/kubecost/2.5.2/cosi-storage.yaml
  services/kubecost/2.5.2/kustomization.yaml
  services/kubecost/2.5.2/move-to-konvoy.yaml
  services/kubecost/2.5.2/move-to-konvoy/kustomization.yaml
  services/kubecost/2.5.2/move-to-konvoy/move-to-konvoy-cosi-hr.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/kubecost, update-licenses

#3042 feat: Bump traefik to 34.1.0 (#3018)
  apptests/appscenarios/traefik_test.go
  apptests/testdata/traefik/override-cm.yaml
  licenses.d2iq.yaml
  services/kubecost/2.5.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.15.5/defaults/cm.yaml
  services/traefik/33.2.1/defaults/cm.yaml
  services/traefik/33.2.1/grafana-dashboards/traefik.json
  services/traefik/33.2.1/traefik-plugin-rewritebody.yaml
  services/traefik/34.1.0/defaults/cm.yaml
  services/traefik/34.1.0/defaults/kustomization.yaml
  services/traefik/34.1.0/grafana-dashboards/kustomization.yaml
  services/traefik/34.1.0/grafana-dashboards/traefik.json
  services/traefik/34.1.0/kustomization.yaml
  services/traefik/34.1.0/traefik.yaml
Labels: ok-to-test, size/XXL, open-kommander-pr, services/rook-ceph-cluster, services/traefik, services/kubecost, update-licenses

#3051 fix: track harbor generated secrets by flux
  services/harbor/1.16.0/pre-install/kustomization.yaml
  services/harbor/1.16.0/pre-install/pre-install-jobs.yaml
  services/harbor/1.16.0/pre-install/secrets.yaml
Labels: ok-to-test, size/M, update-licenses, services/harbor

#3050 feat: bump kubectl version to 1.31.4
  apptests/appscenarios/contants.go
  common/build/list-images-values.yaml
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.9/defaults/cm.yaml
  services/dex/2.14.0/defaults/cm.yaml
  services/git-operator/0.1.3/kustomization.yaml
  services/grafana-loki/0.79.5/grafana-loki-pre-install-jobs/pre-install.yaml
  services/harbor/1.16.0/pre-install/pre-install-jobs.yaml
  services/istio/1.23.3/defaults/cm.yaml
  services/knative/1.15.5/defaults/cm.yaml
  services/kommander/0.14.0/dynamic-helmreleases/cluster-observer/list-images-values.yaml
  services/kube-prometheus-stack/67.6.0/defaults/cm.yaml
  services/kubecost/2.5.2/cosi-storage/object-store-check.yaml
  services/kubecost/2.5.2/pre-install/pre-install-jobs.yaml
  services/kubefed/0.10.5/defaults/cm.yaml
  services/kubetunnel/0.0.39/defaults/cm.yaml
  services/nkp-insights-management/1.3.4/defaults/cm.yaml
  services/nkp-insights/1.3.4/defaults/cm.yaml
  services/project-grafana-loki/0.79.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.15.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.15.5/pre-install/ceph-crd-check.yaml
  services/thanos/15.7.24/jobs/jobs.yaml
  services/velero/8.2.0/defaults/cm.yaml
  services/velero/8.2.0/velero-pre-install.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/rook-ceph-cluster, services/kommander, services/istio, services/kube-prometheus-stack, services/knative, services/kubecost, services/velero, services/grafana-loki, services/project-grafana-loki, services/kubefed, services/kubetunnel, services/thanos, services/dex, update-licenses, services/ai-navigator-app, services/git-operator, services/nkp-insights, services/nkp-insights-management, services/harbor

#3049 chore: bump cosi-bucket-kit chart
  services/kubecost/2.5.2/cosi-storage/cosi-bucket.yaml
  services/kubecost/2.5.2/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/kubecost, update-licenses

#3052 feat: bump dex-k8s-authenticator to 1.4.5
  licenses.d2iq.yaml
  services/dex-k8s-authenticator/1.4.5/defaults/cm.yaml
  services/dex-k8s-authenticator/1.4.5/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.4.5/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.4.5/kustomization.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, services/dex-k8s-authenticator, update-licenses

#3034 refactor: deploy ceph BucketClass by default
  services/kubecost/2.5.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.15.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.15.5/objectbucketclaims/cosi-bucket.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/rook-ceph-cluster, services/kubecost, update-licenses

#3031 feat: add nutanix cosi driver app
  .github/service-labeler.yaml
  licenses.d2iq.yaml
  services/cosi-driver-nutanix/0.0.4/cosi-driver-nutanix.yaml
  services/cosi-driver-nutanix/0.0.4/cosi-resources-nutanix.yaml
  services/cosi-driver-nutanix/0.0.4/defaults/cm.yaml
  services/cosi-driver-nutanix/0.0.4/defaults/kustomization.yaml
  services/cosi-driver-nutanix/0.0.4/kustomization.yaml
  services/cosi-driver-nutanix/metadata.yaml
  services/rook-ceph-cluster/1.15.5/objectbucketclaims/extra-images.txt
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/L, open-kommander-pr, services/rook-ceph-cluster, update-licenses

#2992 feat: bump centralized-grafana to 67.6.0
  services/centralized-grafana/67.6.0/centralized-grafana.yaml
  services/centralized-grafana/67.6.0/defaults/cm.yaml
  services/centralized-grafana/67.6.0/defaults/kustomization.yaml
  services/centralized-grafana/67.6.0/grafana-dashboards/global-overview.json
  services/centralized-grafana/67.6.0/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/67.6.0/kustomization.yaml
  services/centralized-grafana/67.6.0/rbac/grafana.yaml
  services/centralized-grafana/67.6.0/rbac/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, services/centralized-grafana, update-licenses

#3055 feat: bump dex-k8s-authenticator to 1.4.5 (2.13)
  licenses.d2iq.yaml
  services/dex-k8s-authenticator/1.4.5/defaults/cm.yaml
  services/dex-k8s-authenticator/1.4.5/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.4.5/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.4.5/kustomization.yaml
Labels: size/XS, open-kommander-pr

#3021 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.24.0/defaults/cm.yaml
  services/kommander-ui/17.24.0/defaults/kustomization.yaml
  services/kommander-ui/17.24.0/kommander-ui.yaml
  services/kommander-ui/17.24.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3065 fix: ceph dashboard middleware
  services/rook-ceph-cluster/1.16.2/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, open-kommander-pr, services/rook-ceph-cluster, update-licenses

#3059 feat: bump cosi-bucket-kit in kubecost
  services/kubecost/2.5.2/cosi-storage/cosi-bucket.yaml
  services/kubecost/2.5.2/cosi-storage/kustomization.yaml
  services/kubecost/2.5.2/cosi-storage/object-store-check.yaml
  services/kubecost/2.5.2/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/L, open-kommander-pr, services/kubecost, update-licenses

#3058 feat: use ghcr.io/mesosphere images for cosi
  licenses.d2iq.yaml
  services/cosi-driver-nutanix/0.0.4/defaults/cm.yaml
  services/cosi-driver-nutanix/0.0.4/extra-images.txt
  services/rook-ceph-cluster/1.16.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/objectbucketclaims/extra-images.txt
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/rook-ceph-cluster, update-licenses

#3066 chore: bump cosi-bucket-kit in harbor
  services/harbor/1.16.0/cosi-storage/cosi-bucket.yaml
Labels: ok-to-test, size/XS, update-licenses, services/harbor

#3067 revert: feat: use ghcr.io/mesosphere images for cosi (#3058)
  licenses.d2iq.yaml
  services/cosi-driver-nutanix/0.0.4/defaults/cm.yaml
  services/cosi-driver-nutanix/0.0.4/extra-images.txt
  services/rook-ceph-cluster/1.16.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/objectbucketclaims/extra-images.txt
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/rook-ceph-cluster, update-licenses

#3068 chore: update kubecost ingress middleware
  services/kubecost/2.5.2/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kubecost, update-licenses

#3069 chore: move gpu operator app to general category
  services/nvidia-gpu-operator/metadata.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#3071 fix(list-images): load cm by name and key
  hack/list-images.sh
  licenses.d2iq.yaml
  services/harbor/1.16.2/release/list-images-values.yaml
Labels: ok-to-test, size/M, update-licenses, services/harbor

#3064 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.28.0/defaults/cm.yaml
  services/kommander-ui/17.28.0/defaults/kustomization.yaml
  services/kommander-ui/17.28.0/kommander-ui.yaml
  services/kommander-ui/17.28.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3075 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.28.2/defaults/cm.yaml
  services/kommander-ui/17.28.2/defaults/kustomization.yaml
  services/kommander-ui/17.28.2/kommander-ui.yaml
  services/kommander-ui/17.28.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3054 feat: bump dex-k8s-authenticator to 1.4.5 (2.12)
  licenses.d2iq.yaml
  services/dex-k8s-authenticator/1.4.5/defaults/cm.yaml
  services/dex-k8s-authenticator/1.4.5/defaults/kustomization.yaml
  services/dex-k8s-authenticator/1.4.5/dex-k8s-authenticator.yaml
  services/dex-k8s-authenticator/1.4.5/kustomization.yaml
Labels: size/S, open-kommander-pr

#2977 feat: Bump grafana to 8.8.5
  licenses.d2iq.yaml
  services/grafana-logging/8.8.5/defaults/cm.yaml
  services/grafana-logging/8.8.5/defaults/kustomization.yaml
  services/grafana-logging/8.8.5/grafana.yaml
  services/grafana-logging/8.8.5/kustomization.yaml
  services/project-grafana-logging/8.8.5/defaults/cm.yaml
  services/project-grafana-logging/8.8.5/defaults/kustomization.yaml
  services/project-grafana-logging/8.8.5/kustomization.yaml
  services/project-grafana-logging/8.8.5/project-grafana.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/grafana-logging, services/project-grafana-logging, update-licenses

#3056 feat: Bump kubefed to 0.11.1
  common/build/kommander-cert-federation.yaml
  licenses.d2iq.yaml
  services/kubefed/0.11.1/defaults/cm.yaml
  services/kubefed/0.11.1/defaults/kustomization.yaml
  services/kubefed/0.11.1/federatedtypeconfigs.yaml
  services/kubefed/0.11.1/federatedtypeconfigs/federatedtypeconfigs.yaml
  services/kubefed/0.11.1/kube-federation-system-namespace.yaml
  services/kubefed/0.11.1/kube-federation-system-namespace/kube-federation-system.yaml
  services/kubefed/0.11.1/kustomization.yaml
  services/kubefed/0.11.1/release.yaml
  services/kubefed/0.11.1/release/release.yaml
Labels: do-not-merge, ok-to-test, size/S, open-kommander-pr, services/kubefed, update-licenses

#3084 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.29.0/defaults/cm.yaml
  services/kommander-ui/17.29.0/defaults/kustomization.yaml
  services/kommander-ui/17.29.0/kommander-ui.yaml
  services/kommander-ui/17.29.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3078 feat: bump kube-oidc-proxy 1.0.9
  licenses.d2iq.yaml
  services/kube-oidc-proxy/0.3.5/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/kube-oidc-proxy, update-licenses
