Repository mesosphere/kommander-applications, pull requests merged in 2025-09, with the labels that each got.

#3934 feat: bump ui to latest
  applications/kommander-ui/17.125.2/defaults/cm.yaml
  applications/kommander-ui/17.125.2/defaults/kustomization.yaml
  applications/kommander-ui/17.125.2/kommander-ui.yaml
  applications/kommander-ui/17.125.2/kustomization.yaml
  applications/kommander-ui/17.125.2/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#4002 fix(grafana): Avoid downloading plugin updates (2.14)
  services/centralized-grafana/69.1.2/defaults/cm.yaml
  services/grafana-logging/8.9.0/defaults/cm.yaml
  services/kube-prometheus-stack/69.1.3/defaults/cm.yaml
  services/project-grafana-logging/8.9.0/defaults/cm.yaml
Labels: ok-to-test, size/XS

#3922 fix(grafana): Avoid errors in airgapped
  .bloodhound.yml
  devbox.json
  devbox.lock
  services/centralized-grafana/70.4.2/defaults/cm.yaml
  services/grafana-logging/8.11.0/defaults/cm.yaml
  services/kube-prometheus-stack/70.4.2/defaults/cm.yaml
  services/project-grafana-logging/8.11.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/M, backport-to-release-2.14, backport-to-release-2.16

#4004 fix(grafana): Avoid errors in airgapped (2.14)
  devbox.json
  devbox.lock
  services/centralized-grafana/69.1.2/defaults/cm.yaml
  services/grafana-logging/8.9.0/defaults/cm.yaml
  services/kube-prometheus-stack/69.1.3/defaults/cm.yaml
  services/project-grafana-logging/8.9.0/defaults/cm.yaml
Labels: ok-to-test, size/M

#4001 feat: bump ui to latest
  applications/kommander-ui/17.126.1/defaults/cm.yaml
  applications/kommander-ui/17.126.1/defaults/kustomization.yaml
  applications/kommander-ui/17.126.1/kommander-ui.yaml
  applications/kommander-ui/17.126.1/kustomization.yaml
  applications/kommander-ui/17.126.1/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3354 fix(kps): Use correct metrics path for grafana-logging (2.15)
  services/centralized-grafana/70.4.3/centralized-grafana.yaml
  services/centralized-grafana/70.4.3/defaults/cm.yaml
  services/centralized-grafana/70.4.3/defaults/kustomization.yaml
  services/centralized-grafana/70.4.3/grafana-dashboards/global-overview.json
  services/centralized-grafana/70.4.3/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/70.4.3/kustomization.yaml
  services/centralized-grafana/70.4.3/rbac/grafana.yaml
  services/centralized-grafana/70.4.3/rbac/kustomization.yaml
  services/grafana-logging/8.11.1/defaults/cm.yaml
  services/grafana-logging/8.11.1/defaults/kustomization.yaml
  services/grafana-logging/8.11.1/grafana.yaml
  services/grafana-logging/8.11.1/kustomization.yaml
  services/kube-prometheus-stack/70.4.3/defaults/cm.yaml
  services/kube-prometheus-stack/70.4.3/defaults/kustomization.yaml
  services/kube-prometheus-stack/70.4.3/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/70.4.3/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/70.4.3/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/70.4.3/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/70.4.3/grafana-dashboards/calico.json
  services/kube-prometheus-stack/70.4.3/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/70.4.3/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/70.4.3/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/70.4.3/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/70.4.3/grafana-dashboards/pv-stats.json
  services/kube-prometheus-stack/70.4.3/helmrelease.yaml
  services/kube-prometheus-stack/70.4.3/helmrelease/extra-images.txt
  services/kube-prometheus-stack/70.4.3/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/70.4.3/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/70.4.3/kustomization.yaml
  services/kube-prometheus-stack/70.4.3/rbac/alertmanager.yaml
  services/kube-prometheus-stack/70.4.3/rbac/grafana.yaml
  services/kube-prometheus-stack/70.4.3/rbac/kustomization.yaml
  services/kube-prometheus-stack/70.4.3/rbac/prometheus.yaml
  services/project-grafana-logging/8.11.1/defaults/cm.yaml
  services/project-grafana-logging/8.11.1/defaults/kustomization.yaml
  services/project-grafana-logging/8.11.1/kustomization.yaml
  services/project-grafana-logging/8.11.1/project-grafana.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/M

#4003 fix(grafana): Avoid errors in airgapped (2.16)
  applications/centralized-grafana/71.0.1/defaults/cm.yaml
  applications/grafana-logging/8.15.2/defaults/cm.yaml
  applications/kube-prometheus-stack/71.0.1/defaults/cm.yaml
  applications/project-grafana-logging/8.15.2/defaults/cm.yaml
Labels: ok-to-test, let-me-merge-it, size/XS

#4018 feat: bump ui to latest
  applications/kommander-ui/17.128.0/defaults/cm.yaml
  applications/kommander-ui/17.128.0/defaults/kustomization.yaml
  applications/kommander-ui/17.128.0/kommander-ui.yaml
  applications/kommander-ui/17.128.0/kustomization.yaml
  applications/kommander-ui/17.128.0/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#4033 feat: update the gpu operator to 25.3.3 (2.16)
  applications/nvidia-gpu-operator/25.3.3/defaults/cm.yaml
  applications/nvidia-gpu-operator/25.3.3/defaults/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.3/grafana-dashboards/gpu-operator.json
  applications/nvidia-gpu-operator/25.3.3/grafana-dashboards/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.3/helmrelease.yaml
  applications/nvidia-gpu-operator/25.3.3/helmrelease/extra-images.txt
  applications/nvidia-gpu-operator/25.3.3/helmrelease/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.3/helmrelease/nvidia.yaml
  applications/nvidia-gpu-operator/25.3.3/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.3/metadata.yaml
  licenses.d2iq.yaml
Labels: size/S, open-kommander-pr, services/nvidia-gpu-operator

#4035 feat: bump gpu-operator 25.3.3
  applications/nvidia-gpu-operator/25.3.3/defaults/cm.yaml
  applications/nvidia-gpu-operator/25.3.3/defaults/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.3/grafana-dashboards/gpu-operator.json
  applications/nvidia-gpu-operator/25.3.3/grafana-dashboards/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.3/helmrelease.yaml
  applications/nvidia-gpu-operator/25.3.3/helmrelease/extra-images.txt
  applications/nvidia-gpu-operator/25.3.3/helmrelease/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.3/helmrelease/nvidia.yaml
  applications/nvidia-gpu-operator/25.3.3/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.3/metadata.yaml
  licenses.d2iq.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, applications/nvidia-gpu-operator

#4034 feat: bump gpu-operator 25.3.3 (2.15)
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/25.3.3/defaults/cm.yaml
  services/nvidia-gpu-operator/25.3.3/defaults/kustomization.yaml
  services/nvidia-gpu-operator/25.3.3/grafana-dashboards/gpu-operator.json
  services/nvidia-gpu-operator/25.3.3/grafana-dashboards/kustomization.yaml
  services/nvidia-gpu-operator/25.3.3/helmrelease.yaml
  services/nvidia-gpu-operator/25.3.3/helmrelease/extra-images.txt
  services/nvidia-gpu-operator/25.3.3/helmrelease/kustomization.yaml
  services/nvidia-gpu-operator/25.3.3/helmrelease/nvidia.yaml
  services/nvidia-gpu-operator/25.3.3/kustomization.yaml
Labels: size/M, open-kommander-pr, services/nvidia-gpu-operator

#4039 feat: Bumped k8s in bloodhound
  .bloodhound.yml
Labels: size/XS

#4060 ci(gha): Close/reopen PRs after license update
  .github/workflows/validate-licenses.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/jaeger

#4048 feat: add nvidia network operator
  .bloodhound.yml
  .github/app-labeler.yaml
  applications/nvidia-network-operator/25.7.0/defaults/kustomization.yaml
  applications/nvidia-network-operator/25.7.0/helmrelease.yaml
  applications/nvidia-network-operator/25.7.0/helmrelease/cm.yaml
  applications/nvidia-network-operator/25.7.0/helmrelease/extra-images.txt
  applications/nvidia-network-operator/25.7.0/helmrelease/helmrelease.yaml
  applications/nvidia-network-operator/25.7.0/helmrelease/kustomization.yaml
  applications/nvidia-network-operator/25.7.0/kustomization.yaml
  applications/nvidia-network-operator/25.7.0/metadata.yaml
  licenses.d2iq.yaml
Labels: ok-to-test, size/L, update-licenses, auto-merge, applications/kommander-ui, applications/nvidia-network-operator
