Repository mesosphere/kommander-applications, pull requests merged in 2025-10, with the labels that each got.

#4085 revert: fix incorrect velero refactor from #4036
  applications/velero/10.1.0/kustomization.yaml
  applications/velero/10.1.0/velero.yaml
Labels: ok-to-test, size/XS, open-kommander-pr, update-licenses, applications/velero

#4086 fix: Update all bitnami images to bitnamilegacy [release-2.15]
  apptests/appscenarios/contants.go
  apptests/testdata/rook-ceph/manifests/persistent-volume-creator.yaml
  common/build/list-images-values.yaml
  hack/list-images.sh
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.10/defaults/cm.yaml
  services/cosi-driver-nutanix/0.4.0/defaults/cm.yaml
  services/dex/2.14.2/defaults/cm.yaml
  services/external-dns/7.5.6/defaults/cm.yaml
  services/git-operator/0.1.4/kustomization.yaml
  services/grafana-loki/0.79.5/grafana-loki-pre-install-jobs/pre-install.yaml
  services/harbor/1.17.0/defaults/harbor.yaml
  services/harbor/1.17.0/defaults/valkey.yaml
  services/harbor/1.17.0/pre-install/pre-install-jobs.yaml
  services/istio/1.23.3/defaults/cm.yaml
  services/knative/1.17.0/defaults/cm.yaml
  services/kommander/0.15.2/dynamic-helmreleases/cluster-observer/list-images-values.yaml
  services/kube-prometheus-stack/70.4.3/defaults/cm.yaml
  services/kubecost/2.7.0/defaults/cm.yaml
  services/kubecost/2.7.0/pre-install/pre-install-jobs.yaml
  services/kubefed/0.11.1/defaults/cm.yaml
  services/kubetunnel/0.0.39/defaults/cm.yaml
  services/nkp-insights-management/1.4.4/defaults/cm.yaml
  services/nkp-insights/1.4.4/defaults/cm.yaml
  services/project-grafana-loki/0.79.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/pre-install/ceph-crd-check.yaml
  services/thanos/15.7.24/defaults/cm.yaml
  services/thanos/15.7.24/jobs/jobs.yaml
  services/velero/8.3.0/defaults/cm.yaml
  services/velero/8.3.0/velero-pre-install.yaml
Labels: size/M

#4084 feat: bump ui to latest
  applications/kommander-ui/17.141.0/helmrelease/cm.yaml
  applications/kommander-ui/17.141.0/helmrelease/kommander-ui.yaml
  applications/kommander-ui/17.141.0/helmrelease/kustomization.yaml
  applications/kommander-ui/17.141.0/kustomization.yaml
  applications/kommander-ui/17.141.0/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#4073 chore: bump flux-oci-mirror to 0.3.0 (2.16)
  applications/kommander-flux/2.6.2/defaults/cm.yaml
  applications/kommander-flux/2.6.2/defaults/kustomization.yaml
  applications/kommander-flux/2.6.2/kustomization.yaml
  applications/kommander-flux/2.6.2/metadata.yaml
  applications/kommander-flux/2.6.2/mirror/flux-oci-mirror.yaml
  applications/kommander-flux/2.6.2/mirror/kustomization.yaml
  applications/kommander-flux/2.6.2/mirror/network-policy.yaml
  applications/kommander-flux/2.6.2/patch-proxy-env-vars.yaml
  applications/kommander-flux/2.6.2/patch-source-ctrl-network-policy.yaml
  applications/kommander-flux/2.6.2/templates/apiextensions.k8s.io_v1_customresourcedefinition_alerts.notification.toolkit.fluxcd.io.yaml
  applications/kommander-flux/2.6.2/templates/apiextensions.k8s.io_v1_customresourcedefinition_buckets.source.toolkit.fluxcd.io.yaml
  applications/kommander-flux/2.6.2/templates/apiextensions.k8s.io_v1_customresourcedefinition_gitrepositories.source.toolkit.fluxcd.io.yaml
  applications/kommander-flux/2.6.2/templates/apiextensions.k8s.io_v1_customresourcedefinition_helmcharts.source.toolkit.fluxcd.io.yaml
  applications/kommander-flux/2.6.2/templates/apiextensions.k8s.io_v1_customresourcedefinition_helmreleases.helm.toolkit.fluxcd.io.yaml
  applications/kommander-flux/2.6.2/templates/apiextensions.k8s.io_v1_customresourcedefinition_helmrepositories.source.toolkit.fluxcd.io.yaml
  applications/kommander-flux/2.6.2/templates/apiextensions.k8s.io_v1_customresourcedefinition_kustomizations.kustomize.toolkit.fluxcd.io.yaml
  applications/kommander-flux/2.6.2/templates/apiextensions.k8s.io_v1_customresourcedefinition_ocirepositories.source.toolkit.fluxcd.io.yaml
  applications/kommander-flux/2.6.2/templates/apiextensions.k8s.io_v1_customresourcedefinition_providers.notification.toolkit.fluxcd.io.yaml
  applications/kommander-flux/2.6.2/templates/apiextensions.k8s.io_v1_customresourcedefinition_receivers.notification.toolkit.fluxcd.io.yaml
  applications/kommander-flux/2.6.2/templates/apps_v1_deployment_helm-controller.yaml
  applications/kommander-flux/2.6.2/templates/apps_v1_deployment_kustomize-controller.yaml
  applications/kommander-flux/2.6.2/templates/apps_v1_deployment_notification-controller.yaml
  applications/kommander-flux/2.6.2/templates/apps_v1_deployment_source-controller.yaml
  applications/kommander-flux/2.6.2/templates/kustomization.yaml
  applications/kommander-flux/2.6.2/templates/networking.k8s.io_v1_networkpolicy_allow-egress.yaml
  applications/kommander-flux/2.6.2/templates/networking.k8s.io_v1_networkpolicy_allow-scraping.yaml
  applications/kommander-flux/2.6.2/templates/networking.k8s.io_v1_networkpolicy_allow-source.yaml
  applications/kommander-flux/2.6.2/templates/networking.k8s.io_v1_networkpolicy_allow-webhooks.yaml
  applications/kommander-flux/2.6.2/templates/rbac.authorization.k8s.io_v1_clusterrole_crd-controller-kommander-flux.yaml
  applications/kommander-flux/2.6.2/templates/rbac.authorization.k8s.io_v1_clusterrole_flux-edit-kommander-flux.yaml
  applications/kommander-flux/2.6.2/templates/rbac.authorization.k8s.io_v1_clusterrole_flux-view-kommander-flux.yaml
  applications/kommander-flux/2.6.2/templates/rbac.authorization.k8s.io_v1_clusterrolebinding_cluster-reconciler-kommander-flux.yaml
  applications/kommander-flux/2.6.2/templates/rbac.authorization.k8s.io_v1_clusterrolebinding_crd-controller-kommander-flux.yaml
  applications/kommander-flux/2.6.2/templates/v1_namespace_kommander-flux.yaml
  applications/kommander-flux/2.6.2/templates/v1_resourcequota_critical-pods-kommander-flux.yaml
  applications/kommander-flux/2.6.2/templates/v1_service_notification-controller.yaml
  applications/kommander-flux/2.6.2/templates/v1_service_source-controller.yaml
  applications/kommander-flux/2.6.2/templates/v1_service_webhook-receiver.yaml
  applications/kommander-flux/2.6.2/templates/v1_serviceaccount_helm-controller.yaml
  applications/kommander-flux/2.6.2/templates/v1_serviceaccount_kustomize-controller.yaml
  applications/kommander-flux/2.6.2/templates/v1_serviceaccount_notification-controller.yaml
  applications/kommander-flux/2.6.2/templates/v1_serviceaccount_source-controller.yaml
  hack/flux/update-flux-oci-mirror.sh
  licenses.d2iq.yaml
Labels: size/XS, open-kommander-pr

#4097 feat: bump ui to latest
  applications/kommander-ui/17.142.0/helmrelease/cm.yaml
  applications/kommander-ui/17.142.0/helmrelease/kommander-ui.yaml
  applications/kommander-ui/17.142.0/helmrelease/kustomization.yaml
  applications/kommander-ui/17.142.0/kustomization.yaml
  applications/kommander-ui/17.142.0/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#4088 feat: Add centralized-opencost app
  .github/app-labeler.yaml
  applications/centralized-opencost/2.2.7/helmrelease.yaml
  applications/centralized-opencost/2.2.7/kustomization.yaml
  applications/centralized-opencost/2.2.7/metadata.yaml
  applications/centralized-opencost/2.2.7/release/cm.yaml
  applications/centralized-opencost/2.2.7/release/kustomization.yaml
  applications/centralized-opencost/2.2.7/release/opencost.yaml
  applications/kommander/0.17.0/helmrelease/cm.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/L, update-licenses, applications/kommander, applications/centralized-opencost

#4071 feat: update to gpu-latest v25.3.4
  applications/nvidia-gpu-operator/25.3.4/grafana-dashboards/gpu-operator.json
  applications/nvidia-gpu-operator/25.3.4/grafana-dashboards/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.4/helmrelease.yaml
  applications/nvidia-gpu-operator/25.3.4/helmrelease/cm.yaml
  applications/nvidia-gpu-operator/25.3.4/helmrelease/extra-images.txt
  applications/nvidia-gpu-operator/25.3.4/helmrelease/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.4/helmrelease/nvidia.yaml
  applications/nvidia-gpu-operator/25.3.4/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.4/metadata.yaml
  licenses.d2iq.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, applications/nvidia-gpu-operator
