Repository mesosphere/kommander-applications, pull requests merged in 2025-03, with the labels that each got.

#3206 fix: gpu dashboard temp graph
  services/nvidia-gpu-operator/24.9.2/grafana-dashboards/gpu-operator.json
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#3243 fix: revert dcgm-export to helm chart default value
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/24.9.2/defaults/cm.yaml
  services/nvidia-gpu-operator/24.9.2/grafana-dashboards/gpu-operator.json
Labels: ok-to-test, do-not-merge/testing, auto-backport, open-kommander-pr, services/nvidia-gpu-operator, update-licenses, backport-to-release-2.14

#3244 fix: revert dcgm-export to helm chart default value (2.14)
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/24.9.2/defaults/cm.yaml
Labels: size/XS

#3245 fix: gpu dashboard temp graph (#3206) [release-2.14]
  services/nvidia-gpu-operator/24.9.2/grafana-dashboards/gpu-operator.json
Labels: size/XS

#3246 fix: gpu dashboard temp graph
  services/nvidia-gpu-operator/24.9.2/grafana-dashboards/gpu-operator.json
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#3224 chore: Re-add NKP Pulse for NKP 2.15 release.
  .exclude-airgapped
  .github/service-labeler.yaml
  common/helm-repositories/kustomization.yaml
  common/helm-repositories/nkp-pulse-repos.yaml
  justfile
  licenses.d2iq.yaml
  services/kommander/0.15.0/defaults/cm.yaml
  services/nkp-pulse-management/0.0.1-dev.0/defaults/cm.yaml
  services/nkp-pulse-management/0.0.1-dev.0/defaults/kustomization.yaml
  services/nkp-pulse-management/0.0.1-dev.0/helmrelease.yaml
  services/nkp-pulse-management/0.0.1-dev.0/kustomization.yaml
  services/nkp-pulse-management/metadata.yaml
  services/nkp-pulse-workspace/0.0.1-dev.0/defaults/cm.yaml
  services/nkp-pulse-workspace/0.0.1-dev.0/defaults/kustomization.yaml
  services/nkp-pulse-workspace/0.0.1-dev.0/helmrelease.yaml
  services/nkp-pulse-workspace/0.0.1-dev.0/kustomization.yaml
  services/nkp-pulse-workspace/metadata.yaml
Labels: ready-for-review, ok-to-test, size/L, services/kommander, update-licenses, services/nkp-pulse-management, services/nkp-pulse-workspace

#3209 feat: bump kubectl version to 1.32.2
  apptests/appscenarios/contants.go
  common/build/list-images-values.yaml
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.10/defaults/cm.yaml
  services/cosi-driver-nutanix/0.4.0/defaults/cm.yaml
  services/dex/2.14.1/defaults/cm.yaml
  services/git-operator/0.1.4/kustomization.yaml
  services/grafana-loki/0.79.5/grafana-loki-pre-install-jobs/pre-install.yaml
  services/harbor/1.16.2/defaults/harbor.yaml
  services/harbor/1.16.2/pre-install/pre-install-jobs.yaml
  services/istio/1.23.3/defaults/cm.yaml
  services/knative/1.17.0/defaults/cm.yaml
  services/kommander/0.15.0/dynamic-helmreleases/cluster-observer/list-images-values.yaml
  services/kube-prometheus-stack/69.1.2/defaults/cm.yaml
  services/kubecost/2.5.2/defaults/cm.yaml
  services/kubecost/2.5.2/pre-install/pre-install-jobs.yaml
  services/kubefed/0.11.1/defaults/cm.yaml
  services/kubetunnel/0.0.39/defaults/cm.yaml
  services/nkp-insights-management/1.4.4/defaults/cm.yaml
  services/nkp-insights/1.4.4/defaults/cm.yaml
  services/project-grafana-loki/0.79.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/pre-install/ceph-crd-check.yaml
  services/thanos/15.7.24/jobs/jobs.yaml
  services/velero/8.3.0/defaults/cm.yaml
  services/velero/8.3.0/velero-pre-install.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/rook-ceph-cluster, services/kommander, services/istio, services/kube-prometheus-stack, services/knative, services/kubecost, services/velero, services/grafana-loki, services/project-grafana-loki, services/kubefed, services/kubetunnel, services/thanos, services/dex, update-licenses, services/ai-navigator-app, services/git-operator, services/nkp-insights, services/nkp-insights-management, services/harbor, services/cosi-driver-nutanix

#3248 chore: update cosi licensing metadata
  services/cosi-driver-nutanix/metadata.yaml
Labels: ok-to-test, auto-backport, size/XS, update-licenses, services/cosi-driver-nutanix, backport-to-release-2.14

#3253 chore: update cosi licensing metadata (#3248)
  services/cosi-driver-nutanix/metadata.yaml
Labels: size/XS

#3223 feat: Release NKP-Pulse v0.1.2
  licenses.d2iq.yaml
  services/nkp-pulse-management/v0.1.2/defaults/cm.yaml
  services/nkp-pulse-management/v0.1.2/defaults/kustomization.yaml
  services/nkp-pulse-management/v0.1.2/helmrelease.yaml
  services/nkp-pulse-management/v0.1.2/kustomization.yaml
  services/nkp-pulse-workspace/v0.1.2/defaults/cm.yaml
  services/nkp-pulse-workspace/v0.1.2/defaults/kustomization.yaml
  services/nkp-pulse-workspace/v0.1.2/helmrelease.yaml
  services/nkp-pulse-workspace/v0.1.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, services/nkp-pulse-management, services/nkp-pulse-workspace

#3225 feat: bump kubecost to 2.6.3
  licenses.d2iq.yaml
  services/kubecost/2.6.3/cosi-storage.yaml
  services/kubecost/2.6.3/cosi-storage/cosi-bucket.yaml
  services/kubecost/2.6.3/cosi-storage/kustomization.yaml
  services/kubecost/2.6.3/defaults/cm.yaml
  services/kubecost/2.6.3/defaults/kustomization.yaml
  services/kubecost/2.6.3/kustomization.yaml
  services/kubecost/2.6.3/pre-install.yaml
  services/kubecost/2.6.3/pre-install/kustomization.yaml
  services/kubecost/2.6.3/pre-install/pre-install-jobs.yaml
  services/kubecost/2.6.3/release.yaml
  services/kubecost/2.6.3/release/extra-images.txt
  services/kubecost/2.6.3/release/kustomization.yaml
  services/kubecost/2.6.3/release/release.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/kubecost, update-licenses

#3258 feat: Bump git operator to v0.13.7
  .env
  licenses.d2iq.yaml
  services/git-operator/0.1.4/git-operator-manifests/all.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, update-licenses, services/git-operator

#3257 feat: bump dex to v2.42.0
  licenses.d2iq.yaml
  services/dex/2.14.2/defaults/cm.yaml
  services/dex/2.14.2/defaults/kustomization.yaml
  services/dex/2.14.2/dex.yaml
  services/dex/2.14.2/kustomization.yaml
Labels: ok-to-test, open-kommander-pr, services/dex, update-licenses

#3241 feat: bump the k8s 1.30 to latest patch
  .bloodhound.yml
Labels: auto-backport, size/XS, backport-to-release-2.13, backport-to-release-2.14

#3247 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.45.1/defaults/cm.yaml
  services/kommander-ui/17.45.1/defaults/kustomization.yaml
  services/kommander-ui/17.45.1/kommander-ui.yaml
  services/kommander-ui/17.45.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3260 fix: Remove 'v' from app version
  services/nkp-pulse-management/0.1.2/defaults/cm.yaml
  services/nkp-pulse-management/0.1.2/defaults/kustomization.yaml
  services/nkp-pulse-management/0.1.2/helmrelease.yaml
  services/nkp-pulse-management/0.1.2/kustomization.yaml
  services/nkp-pulse-workspace/0.1.2/defaults/cm.yaml
  services/nkp-pulse-workspace/0.1.2/defaults/kustomization.yaml
  services/nkp-pulse-workspace/0.1.2/helmrelease.yaml
  services/nkp-pulse-workspace/0.1.2/kustomization.yaml
Labels: ok-to-test, size/S, update-licenses, services/nkp-pulse-management, services/nkp-pulse-workspace

#3242 feat: Bump kiali & kiali-operator to 2.6.0
  licenses.d2iq.yaml
  services/kiali/2.4.0/extra-images.txt
  services/kiali/2.6.0/defaults/cm.yaml
  services/kiali/2.6.0/defaults/kustomization.yaml
  services/kiali/2.6.0/extra-images.txt
  services/kiali/2.6.0/kiali.yaml
  services/kiali/2.6.0/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kiali, update-licenses

#3262 chore: update centralized-grafana and karma metadata
  services/centralized-grafana/metadata.yaml
  services/karma/metadata.yaml
Labels: ok-to-test, size/S, services/centralized-grafana, services/karma, update-licenses

#3264 feat: bump the k8s 1.30 to latest patch (2.13)
  .bloodhound.yml
Labels: size/XS

#3270 feat: bump kubectl version to 1.30.10
  apptests/appscenarios/contants.go
  common/build/list-images-values.yaml
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.8/defaults/cm.yaml
  services/centralized-kubecost/0.37.7/defaults/cm.yaml
  services/centralized-kubecost/0.37.7/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.7/release/release.yaml
  services/dex/2.14.0/defaults/cm.yaml
  services/git-operator/0.1.2/kustomization.yaml
  services/grafana-loki/0.79.5/grafana-loki-pre-install-jobs/pre-install.yaml
  services/istio/1.23.3/defaults/cm.yaml
  services/knative/1.15.5/defaults/cm.yaml
  services/kommander/0.13.2/dynamic-helmreleases/cluster-observer/list-images-values.yaml
  services/kube-prometheus-stack/65.5.0/defaults/cm.yaml
  services/kubecost/0.37.8/defaults/cm.yaml
  services/kubefed/0.10.5/defaults/cm.yaml
  services/kubetunnel/0.0.38/defaults/cm.yaml
  services/nkp-insights-management/1.3.4/defaults/cm.yaml
  services/nkp-insights/1.3.4/defaults/cm.yaml
  services/project-grafana-loki/0.79.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.14.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.14.5/pre-install/ceph-crd-check.yaml
  services/thanos/15.7.23/jobs/jobs.yaml
  services/traefik/27.0.3/defaults/cm.yaml
  services/velero/7.2.2/defaults/cm.yaml
  services/velero/7.2.2/velero-pre-install.yaml
Labels: size/M

#3265 feat: bump kube-prometheus-stack 69.8.0
  licenses.d2iq.yaml
  services/centralized-grafana/69.8.0/centralized-grafana.yaml
  services/centralized-grafana/69.8.0/defaults/cm.yaml
  services/centralized-grafana/69.8.0/defaults/kustomization.yaml
  services/centralized-grafana/69.8.0/grafana-dashboards/global-overview.json
  services/centralized-grafana/69.8.0/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/69.8.0/kustomization.yaml
  services/centralized-grafana/69.8.0/rbac/grafana.yaml
  services/centralized-grafana/69.8.0/rbac/kustomization.yaml
  services/kube-prometheus-stack/69.8.0/defaults/cm.yaml
  services/kube-prometheus-stack/69.8.0/defaults/kustomization.yaml
  services/kube-prometheus-stack/69.8.0/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/69.8.0/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/69.8.0/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/69.8.0/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/69.8.0/grafana-dashboards/calico.json
  services/kube-prometheus-stack/69.8.0/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/69.8.0/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/69.8.0/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/69.8.0/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/69.8.0/grafana-dashboards/pv-stats.json
  services/kube-prometheus-stack/69.8.0/helmrelease.yaml
  services/kube-prometheus-stack/69.8.0/helmrelease/extra-images.txt
  services/kube-prometheus-stack/69.8.0/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/69.8.0/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/69.8.0/kustomization.yaml
  services/kube-prometheus-stack/69.8.0/rbac/alertmanager.yaml
  services/kube-prometheus-stack/69.8.0/rbac/grafana.yaml
  services/kube-prometheus-stack/69.8.0/rbac/kustomization.yaml
  services/kube-prometheus-stack/69.8.0/rbac/prometheus.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/centralized-grafana, services/kube-prometheus-stack, update-licenses

#3273 chore: bump dkp-bloodhound to v0.12.1
  make/validate.mk
Labels: ready-for-review, ok-to-test, size/XS

#3003 feat(2.13): bump ui to 15.23.21
  licenses.d2iq.yaml
  services/kommander-ui/15.23.21/defaults/cm.yaml
  services/kommander-ui/15.23.21/defaults/kustomization.yaml
  services/kommander-ui/15.23.21/kommander-ui.yaml
  services/kommander-ui/15.23.21/kustomization.yaml
Labels: ready-for-review, ok-to-test, slack-notify, size/XS, Stale, update-licenses

#3261 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.49.1/defaults/cm.yaml
  services/kommander-ui/17.49.1/defaults/kustomization.yaml
  services/kommander-ui/17.49.1/kommander-ui.yaml
  services/kommander-ui/17.49.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, slack-notify, size/XS, update-licenses, services/kommander-ui

#3283 chore: Post release bumps
  upgrade-matrix.yaml
Labels: size/XS

#3284 chore: Post release bumps
  common/kommander-operator/defaults/cm.yaml
  services/kommander-appmanagement/0.16.0/defaults/cm.yaml
  services/kommander-appmanagement/0.16.0/defaults/kustomization.yaml
  services/kommander-appmanagement/0.16.0/kommander-appmanagement.yaml
  services/kommander-appmanagement/0.16.0/kustomization.yaml
  services/kommander/0.15.0/extra-images.txt
  services/kommander/0.16.0/defaults/cm.yaml
  services/kommander/0.16.0/defaults/kustomization.yaml
  services/kommander/0.16.0/dynamic-helmreleases/README.txt
  services/kommander/0.16.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.16.0/dynamic-helmreleases/cluster-observer/kustomization.yaml
  services/kommander/0.16.0/dynamic-helmreleases/cluster-observer/list-images-values.yaml
  services/kommander/0.16.0/dynamic-helmreleases/mtls-proxy/kustomization.yaml
  services/kommander/0.16.0/dynamic-helmreleases/mtls-proxy/list-images-values.yaml
  services/kommander/0.16.0/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.16.0/extra-images.txt
  services/kommander/0.16.0/kommander.yaml
  services/kommander/0.16.0/kustomization.yaml
  upgrade-matrix.yaml
Labels: ok-to-test, services/kommander, services/kommander-appmanagement, update-licenses

#3288 revert: "chore: Re-add NKP Pulse for NKP 2.15 release #3224 #3223 #3260"
  .exclude-airgapped
  .github/service-labeler.yaml
  common/helm-repositories/kustomization.yaml
  common/helm-repositories/nkp-pulse-repos.yaml
  justfile
  licenses.d2iq.yaml
  services/kommander/0.15.0/defaults/cm.yaml
  services/nkp-pulse-management/0.1.2/defaults/cm.yaml
  services/nkp-pulse-management/0.1.2/defaults/kustomization.yaml
  services/nkp-pulse-management/0.1.2/helmrelease.yaml
  services/nkp-pulse-management/0.1.2/kustomization.yaml
  services/nkp-pulse-management/metadata.yaml
  services/nkp-pulse-workspace/0.1.2/defaults/cm.yaml
  services/nkp-pulse-workspace/0.1.2/defaults/kustomization.yaml
  services/nkp-pulse-workspace/0.1.2/helmrelease.yaml
  services/nkp-pulse-workspace/0.1.2/kustomization.yaml
  services/nkp-pulse-workspace/metadata.yaml
Labels: size/L

#3287 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/15.23.23/defaults/cm.yaml
  services/kommander-ui/15.23.23/defaults/kustomization.yaml
  services/kommander-ui/15.23.23/kommander-ui.yaml
  services/kommander-ui/15.23.23/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses

#3291 feat: Bump ai-navigator-app to v0.3.0
  services/ai-navigator-app/0.2.10/ai-navigator-app.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/ai-navigator-app, backport-to-release-2.13, backport-to-release-2.14, backport-to-release-2.15

#3292 feat: [release-2.13] Bump ai-navigator-app to v0.3.0 (#3291)
  services/ai-navigator-app/0.2.8/ai-navigator-app.yaml
Labels: size/XS

#3293 feat: [release-2.14] Bump ai-navigator-app to v0.3.0 (#3291)
  services/ai-navigator-app/0.2.10/ai-navigator-app.yaml
Labels: size/XS

#3294 feat: [release-2.15] Bump ai-navigator-app to v0.3.0 (#3291)
  services/ai-navigator-app/0.2.10/ai-navigator-app.yaml
Labels: size/XS

#3290 feat: bump kubectl version to 1.30.7
  apptests/appscenarios/contants.go
  common/build/list-images-values.yaml
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.8/defaults/cm.yaml
  services/centralized-kubecost/0.37.7/defaults/cm.yaml
  services/centralized-kubecost/0.37.7/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.7/release/release.yaml
  services/dex/2.14.0/defaults/cm.yaml
  services/git-operator/0.1.2/kustomization.yaml
  services/grafana-loki/0.79.5/grafana-loki-pre-install-jobs/pre-install.yaml
  services/istio/1.23.3/defaults/cm.yaml
  services/knative/1.15.5/defaults/cm.yaml
  services/kommander/0.13.2/dynamic-helmreleases/cluster-observer/list-images-values.yaml
  services/kube-prometheus-stack/65.5.0/defaults/cm.yaml
  services/kubecost/0.37.8/defaults/cm.yaml
  services/kubefed/0.10.5/defaults/cm.yaml
  services/kubetunnel/0.0.38/defaults/cm.yaml
  services/nkp-insights-management/1.3.4/defaults/cm.yaml
  services/nkp-insights/1.3.4/defaults/cm.yaml
  services/project-grafana-loki/0.79.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.14.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.14.5/pre-install/ceph-crd-check.yaml
  services/thanos/15.7.23/jobs/jobs.yaml
  services/traefik/27.0.3/defaults/cm.yaml
  services/velero/7.2.2/defaults/cm.yaml
  services/velero/7.2.2/velero-pre-install.yaml
Labels: size/M, open-kommander-pr

#3295 fix: preserve user labels on flux ns during upgrades
  hack/flux/flux-update-kustomization.yaml
  services/kommander-flux/2.4.0/templates/v1_namespace_kommander-flux.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, open-kommander-pr, services/kommander-flux, update-licenses, backport-to-release-2.8, backport-to-release-2.12, backport-to-release-2.13, backport-to-release-2.14, backport-to-release-2.15

#3281 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.50.0/defaults/cm.yaml
  services/kommander-ui/17.50.0/defaults/kustomization.yaml
  services/kommander-ui/17.50.0/kommander-ui.yaml
  services/kommander-ui/17.50.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3296 fix: preserve user labels on flux ns during upgrades (#3295)
  hack/flux/flux-update-kustomization.yaml
  services/kommander-flux/2.2.3/templates/v1_namespace_kommander-flux.yaml
Labels: size/S

#3259 feat: bump the k8s 1.30 to latest patch (2.14)
  .bloodhound.yml
Labels: size/XS

#3303 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.52.0/defaults/cm.yaml
  services/kommander-ui/17.52.0/defaults/kustomization.yaml
  services/kommander-ui/17.52.0/kommander-ui.yaml
  services/kommander-ui/17.52.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui

#3300 fix: preserve user labels on flux ns during upgrades (#3295)
  hack/flux/flux-update-kustomization.yaml
  services/kommander-flux/2.4.0/templates/v1_namespace_kommander-flux.yaml
Labels: size/S

#3299 fix: preserve user labels on flux ns during upgrades (#3295)
  hack/flux/flux-update-kustomization.yaml
  services/kommander-flux/2.4.0/templates/v1_namespace_kommander-flux.yaml
Labels: size/S

#3298 fix: preserve user labels on flux ns during upgrades (#3295)
  hack/flux/flux-update-kustomization.yaml
  services/kommander-flux/2.4.0/templates/v1_namespace_kommander-flux.yaml
Labels: ready-for-review, ok-to-test, size/S

#3297 fix: preserve user labels on flux ns during upgrades (#3295)
  hack/flux/flux-update-kustomization.yaml
  services/kommander-flux/2.2.5/templates/v1_namespace_kommander-flux.yaml
Labels: ready-for-review, ok-to-test, size/S

#3144 fix: update the secret name annotation [release-2.13] (#3124)
  services/dex/2.14.1/defaults/cm.yaml
  services/dex/2.14.1/defaults/kustomization.yaml
  services/dex/2.14.1/dex.yaml
  services/dex/2.14.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, Stale

#3307 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.52.1/defaults/cm.yaml
  services/kommander-ui/17.52.1/defaults/kustomization.yaml
  services/kommander-ui/17.52.1/kommander-ui.yaml
  services/kommander-ui/17.52.1/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3310 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.52.2/defaults/cm.yaml
  services/kommander-ui/17.52.2/defaults/kustomization.yaml
  services/kommander-ui/17.52.2/kommander-ui.yaml
  services/kommander-ui/17.52.2/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3312 fix: use fluentbit image from dockerhub (#3142)
  licenses.d2iq.yaml
  services/fluent-bit/0.43.1/defaults/cm.yaml
  services/logging-operator/4.2.5/defaults/cm.yaml
Labels: size/XS, open-kommander-pr

#3317 fix(thanos): Set resources
  services/thanos/15.7.24/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, needs-backport, do-not-merge/testing, size/XS, open-kommander-pr, services/thanos, update-licenses, backport-to-release-2.12, backport-to-release-2.13, backport-to-release-2.14, backport-to-release-2.15

#3313 feat: Bumped k8s to 1.32.3
  .bloodhound.yml
  apptests/appscenarios/contants.go
  common/build/list-images-values.yaml
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.10/defaults/cm.yaml
  services/cosi-driver-nutanix/0.4.0/defaults/cm.yaml
  services/dex/2.14.2/defaults/cm.yaml
  services/git-operator/0.1.4/kustomization.yaml
  services/grafana-loki/0.79.5/grafana-loki-pre-install-jobs/pre-install.yaml
  services/harbor/1.16.2/defaults/harbor.yaml
  services/harbor/1.16.2/pre-install/pre-install-jobs.yaml
  services/istio/1.23.3/defaults/cm.yaml
  services/knative/1.17.0/defaults/cm.yaml
  services/kommander/0.16.0/dynamic-helmreleases/cluster-observer/list-images-values.yaml
  services/kube-prometheus-stack/69.8.0/defaults/cm.yaml
  services/kubecost/2.6.3/defaults/cm.yaml
  services/kubecost/2.6.3/pre-install/pre-install-jobs.yaml
  services/kubefed/0.11.1/defaults/cm.yaml
  services/kubetunnel/0.0.39/defaults/cm.yaml
  services/nkp-insights-management/1.4.4/defaults/cm.yaml
  services/nkp-insights/1.4.4/defaults/cm.yaml
  services/project-grafana-loki/0.79.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/pre-install/ceph-crd-check.yaml
  services/thanos/15.7.24/jobs/jobs.yaml
  services/velero/8.3.0/defaults/cm.yaml
  services/velero/8.3.0/velero-pre-install.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/rook-ceph-cluster, services/kommander, services/istio, services/kube-prometheus-stack, services/knative, services/kubecost, services/velero, services/grafana-loki, services/project-grafana-loki, services/kubefed, services/kubetunnel, services/thanos, services/dex, update-licenses, services/ai-navigator-app, services/git-operator, services/nkp-insights, services/nkp-insights-management, services/harbor, services/cosi-driver-nutanix

#3311 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.54.0/defaults/cm.yaml
  services/kommander-ui/17.54.0/defaults/kustomization.yaml
  services/kommander-ui/17.54.0/kommander-ui.yaml
  services/kommander-ui/17.54.0/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3323 chore: bump kommander operator version
  charts/kommander-operator/Chart.yaml
Labels: ready-for-review, size/XS

#3328 fix(kps): Missing node-exporter rbac proxy rule
  services/kube-prometheus-stack/48.3.3/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS
