Repository mesosphere/kommander-applications, pull requests merged in 2025-08, with the labels that each got.

#3833 feat: Release NKP-Insights v1.6.5
  applications/nkp-insights-management/1.6.5/defaults/cm.yaml
  applications/nkp-insights-management/1.6.5/defaults/kustomization.yaml
  applications/nkp-insights-management/1.6.5/helmrelease.yaml
  applications/nkp-insights-management/1.6.5/helmrelease/helmrelease.yaml
  applications/nkp-insights-management/1.6.5/helmrelease/kustomization.yaml
  applications/nkp-insights-management/1.6.5/kustomization.yaml
  applications/nkp-insights-management/1.6.5/metadata.yaml
  applications/nkp-insights/1.6.5/defaults/cm.yaml
  applications/nkp-insights/1.6.5/defaults/kustomization.yaml
  applications/nkp-insights/1.6.5/helmrelease.yaml
  applications/nkp-insights/1.6.5/helmrelease/extra-images.txt
  applications/nkp-insights/1.6.5/helmrelease/helmrelease.yaml
  applications/nkp-insights/1.6.5/helmrelease/kustomization.yaml
  applications/nkp-insights/1.6.5/helmrelease/list-images-values.yaml
  applications/nkp-insights/1.6.5/kustomization.yaml
  applications/nkp-insights/1.6.5/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/M, update-licenses, applications/nkp-insights, applications/nkp-insights-management

#3801 feat: controller synced values for gatekeeper proxy
  applications/gatekeeper/3.19.2/release/release.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, update-licenses, applications/gatekeeper

#3831 feat: bump kiali to 2.13.0
  applications/kiali/2.13.0/defaults/cm.yaml
  applications/kiali/2.13.0/defaults/kustomization.yaml
  applications/kiali/2.13.0/extra-images.txt
  applications/kiali/2.13.0/kiali.yaml
  applications/kiali/2.13.0/kustomization.yaml
  applications/kiali/2.13.0/metadata.yaml
  licenses.d2iq.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, applications/kiali

#3838 feat: bump ui to latest
  applications/kommander-ui/17.117.3/defaults/cm.yaml
  applications/kommander-ui/17.117.3/defaults/kustomization.yaml
  applications/kommander-ui/17.117.3/kommander-ui.yaml
  applications/kommander-ui/17.117.3/kustomization.yaml
  applications/kommander-ui/17.117.3/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3843 chore: bump harbor cosi-bucket-kit to 0.0.8
  applications/harbor/1.17.1/cosi-storage/cosi-bucket.yaml
Labels: size/XS

#3847 fix: unique name for cosi bucket kit
  applications/harbor/1.17.1/cosi-storage/cosi-bucket.yaml
  applications/kubecost/2.8.1/cosi-storage/cosi-bucket.yaml
Labels: size/XS

#3841 feat: Release AI Navigator RAG v0.6.1
  .github/app-labeler.yaml
  applications/ai-navigator-rag/0.6.1/defaults/cm.yaml
  applications/ai-navigator-rag/0.6.1/defaults/kustomization.yaml
  applications/ai-navigator-rag/0.6.1/helmrelease.yaml
  applications/ai-navigator-rag/0.6.1/helmrelease/helmrelease.yaml
  applications/ai-navigator-rag/0.6.1/kustomization.yaml
  applications/ai-navigator-rag/0.6.1/metadata.yaml
  make/validate.mk
Labels: ready-for-review, ok-to-test, size/L, update-licenses

#3850 refactor: remove external-secrets dep for kommander
  applications/kommander/0.16.0/kommander.yaml
Labels: ok-to-test, size/XS, update-licenses, applications/kommander

#3849 feat: bump ui to latest
  applications/kommander-ui/17.118.2/defaults/cm.yaml
  applications/kommander-ui/17.118.2/defaults/kustomization.yaml
  applications/kommander-ui/17.118.2/kommander-ui.yaml
  applications/kommander-ui/17.118.2/kustomization.yaml
  applications/kommander-ui/17.118.2/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3852 feat: Release NKP-Insights v1.6.6
  applications/nkp-insights-management/1.6.6/defaults/cm.yaml
  applications/nkp-insights-management/1.6.6/defaults/kustomization.yaml
  applications/nkp-insights-management/1.6.6/helmrelease.yaml
  applications/nkp-insights-management/1.6.6/helmrelease/helmrelease.yaml
  applications/nkp-insights-management/1.6.6/helmrelease/kustomization.yaml
  applications/nkp-insights-management/1.6.6/kustomization.yaml
  applications/nkp-insights-management/1.6.6/metadata.yaml
  applications/nkp-insights/1.6.6/defaults/cm.yaml
  applications/nkp-insights/1.6.6/defaults/kustomization.yaml
  applications/nkp-insights/1.6.6/helmrelease.yaml
  applications/nkp-insights/1.6.6/helmrelease/extra-images.txt
  applications/nkp-insights/1.6.6/helmrelease/helmrelease.yaml
  applications/nkp-insights/1.6.6/helmrelease/kustomization.yaml
  applications/nkp-insights/1.6.6/helmrelease/list-images-values.yaml
  applications/nkp-insights/1.6.6/kustomization.yaml
  applications/nkp-insights/1.6.6/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, applications/nkp-insights, applications/nkp-insights-management

#3853 fix: Remove pullthrough as registry path for ai-navigator-rag
  applications/ai-navigator-rag/0.6.1/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, update-licenses, applications/ai-navigator-rag

#3855 fix: use unique names for all oci repos
  applications/centralized-grafana/71.0.0/centralized-grafana.yaml
  applications/cosi-driver-nutanix/0.6.0/cosi-resources-nutanix.yaml
  applications/gateway-api-crds/1.9.0/gateway-api-crds.yaml
  applications/grafana-loki/0.80.4/grafana-loki-helmrelease.yaml
  applications/grafana-loki/0.80.4/grafana-loki-helmrelease/grafana-loki.yaml
  applications/karma-traefik/0.0.3/karma-traefik.yaml
  applications/project-grafana-logging/8.15.1/project-grafana.yaml
  applications/project-grafana-loki/0.80.4/object-bucket-claims.yaml
  applications/project-grafana-loki/0.80.4/project-grafana-loki.yaml
  applications/prometheus-thanos-traefik/0.0.3/prometheus-thanos-traefik.yaml
  applications/rook-ceph-cluster/1.17.6/object-bucket-claims.yaml
  applications/rook-ceph-cluster/1.17.6/objectbucketclaims/cosi-bucket.yaml
  applications/rook-ceph-cluster/1.17.6/objectbucketclaims/helmrelease.yaml
  applications/traefik-forward-auth-mgmt/0.3.15/traefik-forward-auth-mgmt.yaml
  apptests/appscenarios/rookceph.go
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, update-licenses, applications/cosi-driver-nutanix, applications/centralized-grafana, applications/project-grafana-logging, applications/karma-traefik, applications/grafana-loki, applications/project-grafana-loki, applications/rook-ceph-cluster, applications/traefik-forward-auth-mgmt, applications/prometheus-thanos-traefik, applications/gateway-api-crds

#3844 feat: fix cve bump sidecar to 1.30.7
  applications/centralized-grafana/71.0.1/centralized-grafana.yaml
  applications/centralized-grafana/71.0.1/defaults/cm.yaml
  applications/centralized-grafana/71.0.1/defaults/kustomization.yaml
  applications/centralized-grafana/71.0.1/grafana-dashboards/global-overview.json
  applications/centralized-grafana/71.0.1/grafana-dashboards/kustomization.yaml
  applications/centralized-grafana/71.0.1/kustomization.yaml
  applications/centralized-grafana/71.0.1/metadata.yaml
  applications/centralized-grafana/71.0.1/rbac/grafana.yaml
  applications/centralized-grafana/71.0.1/rbac/kustomization.yaml
  applications/grafana-logging/8.15.2/defaults/cm.yaml
  applications/grafana-logging/8.15.2/defaults/kustomization.yaml
  applications/grafana-logging/8.15.2/grafana.yaml
  applications/grafana-logging/8.15.2/kustomization.yaml
  applications/grafana-logging/8.15.2/metadata.yaml
  applications/kube-prometheus-stack/71.0.1/defaults/cm.yaml
  applications/kube-prometheus-stack/71.0.1/defaults/kustomization.yaml
  applications/kube-prometheus-stack/71.0.1/etcd-metrics-proxy.yaml
  applications/kube-prometheus-stack/71.0.1/etcd-metrics-proxy/cert.yaml
  applications/kube-prometheus-stack/71.0.1/etcd-metrics-proxy/client-rbac.yaml
  applications/kube-prometheus-stack/71.0.1/etcd-metrics-proxy/kube-rbac-proxy.yaml
  applications/kube-prometheus-stack/71.0.1/grafana-dashboards/calico.json
  applications/kube-prometheus-stack/71.0.1/grafana-dashboards/controller-runtime.json
  applications/kube-prometheus-stack/71.0.1/grafana-dashboards/flux-cluster-stats.json
  applications/kube-prometheus-stack/71.0.1/grafana-dashboards/flux-control-plane.json
  applications/kube-prometheus-stack/71.0.1/grafana-dashboards/kustomization.yaml
  applications/kube-prometheus-stack/71.0.1/grafana-dashboards/pv-stats.json
  applications/kube-prometheus-stack/71.0.1/helmrelease.yaml
  applications/kube-prometheus-stack/71.0.1/helmrelease/extra-images.txt
  applications/kube-prometheus-stack/71.0.1/helmrelease/kube-prometheus-stack.yaml
  applications/kube-prometheus-stack/71.0.1/helmrelease/kustomization.yaml
  applications/kube-prometheus-stack/71.0.1/kustomization.yaml
  applications/kube-prometheus-stack/71.0.1/metadata.yaml
  applications/kube-prometheus-stack/71.0.1/rbac/alertmanager.yaml
  applications/kube-prometheus-stack/71.0.1/rbac/grafana.yaml
  applications/kube-prometheus-stack/71.0.1/rbac/kustomization.yaml
  applications/kube-prometheus-stack/71.0.1/rbac/prometheus.yaml
  applications/project-grafana-logging/8.15.2/defaults/cm.yaml
  applications/project-grafana-logging/8.15.2/defaults/kustomization.yaml
  applications/project-grafana-logging/8.15.2/kustomization.yaml
  applications/project-grafana-logging/8.15.2/metadata.yaml
  applications/project-grafana-logging/8.15.2/project-grafana.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, applications/centralized-grafana, applications/grafana-logging, applications/kube-prometheus-stack, applications/project-grafana-logging

#3851 fix: NCN-108862 adds ubuntu prebuilt driver container for pro
  applications/nvidia-gpu-operator/25.3.1/helmrelease/extra-images.txt
  licenses.d2iq.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, update-licenses, applications/nvidia-gpu-operator

#3869 feat: Release NKP-Insights v1.6.7
  applications/nkp-insights-management/1.6.7/defaults/cm.yaml
  applications/nkp-insights-management/1.6.7/defaults/kustomization.yaml
  applications/nkp-insights-management/1.6.7/helmrelease.yaml
  applications/nkp-insights-management/1.6.7/helmrelease/helmrelease.yaml
  applications/nkp-insights-management/1.6.7/helmrelease/kustomization.yaml
  applications/nkp-insights-management/1.6.7/kustomization.yaml
  applications/nkp-insights-management/1.6.7/metadata.yaml
  applications/nkp-insights/1.6.7/defaults/cm.yaml
  applications/nkp-insights/1.6.7/defaults/kustomization.yaml
  applications/nkp-insights/1.6.7/helmrelease.yaml
  applications/nkp-insights/1.6.7/helmrelease/extra-images.txt
  applications/nkp-insights/1.6.7/helmrelease/helmrelease.yaml
  applications/nkp-insights/1.6.7/helmrelease/kustomization.yaml
  applications/nkp-insights/1.6.7/helmrelease/list-images-values.yaml
  applications/nkp-insights/1.6.7/kustomization.yaml
  applications/nkp-insights/1.6.7/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, applications/nkp-insights, applications/nkp-insights-management

#3870 feat: Release AI Navigator RAG v0.6.3
  applications/ai-navigator-rag/0.6.3/defaults/cm.yaml
  applications/ai-navigator-rag/0.6.3/defaults/kustomization.yaml
  applications/ai-navigator-rag/0.6.3/helmrelease.yaml
  applications/ai-navigator-rag/0.6.3/helmrelease/helmrelease.yaml
  applications/ai-navigator-rag/0.6.3/kustomization.yaml
  applications/ai-navigator-rag/0.6.3/metadata.yaml
Labels: ready-for-review, ok-to-test, size/M, update-licenses, applications/ai-navigator-rag

#3871 feat: Release AI Navigator Cluster Info API v0.4.1
  applications/ai-navigator-cluster-info-agent/0.4.1/defaults/cm.yaml
  applications/ai-navigator-cluster-info-agent/0.4.1/defaults/kustomization.yaml
  applications/ai-navigator-cluster-info-agent/0.4.1/helmrelease.yaml
  applications/ai-navigator-cluster-info-agent/0.4.1/helmrelease/ai-navigator-cluster-info-agent.yaml
  applications/ai-navigator-cluster-info-agent/0.4.1/helmrelease/ai-navigator-cluster-info-api.yaml
  applications/ai-navigator-cluster-info-agent/0.4.1/helmrelease/kustomization.yaml
  applications/ai-navigator-cluster-info-agent/0.4.1/kustomization.yaml
  applications/ai-navigator-cluster-info-agent/0.4.1/metadata.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, applications/ai-navigator-cluster-info-agent

#3874 fix(grafana): Disable preinstalled plugins
  applications/centralized-grafana/71.0.1/defaults/cm.yaml
  applications/grafana-logging/8.15.2/defaults/cm.yaml
  applications/kube-prometheus-stack/71.0.1/defaults/cm.yaml
  applications/project-grafana-logging/8.15.2/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, update-licenses, applications/centralized-grafana, applications/grafana-logging, applications/kube-prometheus-stack, applications/project-grafana-logging

#3885 feat: Release AI Navigator RAG v0.6.4
  applications/ai-navigator-rag/0.6.4/defaults/cm.yaml
  applications/ai-navigator-rag/0.6.4/defaults/kustomization.yaml
  applications/ai-navigator-rag/0.6.4/helmrelease.yaml
  applications/ai-navigator-rag/0.6.4/helmrelease/helmrelease.yaml
  applications/ai-navigator-rag/0.6.4/kustomization.yaml
  applications/ai-navigator-rag/0.6.4/metadata.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, update-licenses, applications/ai-navigator-rag, backport-to-release-2.16

#3807 feat: update kube-prometheus-stack to 75.16.1
  applications/centralized-grafana/75.16.1/centralized-grafana.yaml
  applications/centralized-grafana/75.16.1/defaults/cm.yaml
  applications/centralized-grafana/75.16.1/defaults/kustomization.yaml
  applications/centralized-grafana/75.16.1/grafana-dashboards/global-overview.json
  applications/centralized-grafana/75.16.1/grafana-dashboards/kustomization.yaml
  applications/centralized-grafana/75.16.1/kustomization.yaml
  applications/centralized-grafana/75.16.1/metadata.yaml
  applications/centralized-grafana/75.16.1/rbac/grafana.yaml
  applications/centralized-grafana/75.16.1/rbac/kustomization.yaml
  applications/grafana-logging/9.3.1/defaults/cm.yaml
  applications/grafana-logging/9.3.1/defaults/kustomization.yaml
  applications/grafana-logging/9.3.1/grafana.yaml
  applications/grafana-logging/9.3.1/kustomization.yaml
  applications/grafana-logging/9.3.1/metadata.yaml
  applications/kube-prometheus-stack/75.16.1/defaults/cm.yaml
  applications/kube-prometheus-stack/75.16.1/defaults/kustomization.yaml
  applications/kube-prometheus-stack/75.16.1/etcd-metrics-proxy.yaml
  applications/kube-prometheus-stack/75.16.1/etcd-metrics-proxy/cert.yaml
  applications/kube-prometheus-stack/75.16.1/etcd-metrics-proxy/client-rbac.yaml
  applications/kube-prometheus-stack/75.16.1/etcd-metrics-proxy/kube-rbac-proxy.yaml
  applications/kube-prometheus-stack/75.16.1/grafana-dashboards/calico.json
  applications/kube-prometheus-stack/75.16.1/grafana-dashboards/controller-runtime.json
  applications/kube-prometheus-stack/75.16.1/grafana-dashboards/flux-cluster-stats.json
  applications/kube-prometheus-stack/75.16.1/grafana-dashboards/flux-control-plane.json
  applications/kube-prometheus-stack/75.16.1/grafana-dashboards/kustomization.yaml
  applications/kube-prometheus-stack/75.16.1/grafana-dashboards/pv-stats.json
  applications/kube-prometheus-stack/75.16.1/helmrelease.yaml
  applications/kube-prometheus-stack/75.16.1/helmrelease/extra-images.txt
  applications/kube-prometheus-stack/75.16.1/helmrelease/kube-prometheus-stack.yaml
  applications/kube-prometheus-stack/75.16.1/helmrelease/kustomization.yaml
  applications/kube-prometheus-stack/75.16.1/kustomization.yaml
  applications/kube-prometheus-stack/75.16.1/metadata.yaml
  applications/kube-prometheus-stack/75.16.1/rbac/alertmanager.yaml
  applications/kube-prometheus-stack/75.16.1/rbac/grafana.yaml
  applications/kube-prometheus-stack/75.16.1/rbac/kustomization.yaml
  applications/kube-prometheus-stack/75.16.1/rbac/prometheus.yaml
  applications/kubecost/2.8.1/defaults/cm.yaml
  applications/project-grafana-logging/9.3.1/defaults/cm.yaml
  applications/project-grafana-logging/9.3.1/defaults/kustomization.yaml
  applications/project-grafana-logging/9.3.1/kustomization.yaml
  applications/project-grafana-logging/9.3.1/metadata.yaml
  applications/project-grafana-logging/9.3.1/project-grafana.yaml
  apptests/testdata/cert-manager/acme-setup/deploy-ingress-nginx-v1.10.0.yaml
  licenses.d2iq.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, update-licenses, applications/centralized-grafana, applications/grafana-logging, applications/kube-prometheus-stack, applications/kubecost, applications/project-grafana-logging

#3887 fix: bump flux oci mirror to 0.2.5 (2.16)
  applications/kommander-flux/2.6.1/mirror/flux-oci-mirror.yaml
  hack/flux/update-flux-oci-mirror.sh
  licenses.d2iq.yaml
Labels: size/XS, open-kommander-pr

#3890 feat: Update images for Knative - env vars and queue-proxy
  applications/knative/1.18.1/defaults/cm.yaml
  applications/knative/1.18.1/extra-images.txt
  hack/knative/README.md
  hack/knative/extract-images.py
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XL, update-licenses, applications/knative, backport-to-release-2.16

#3891 feat: bump ui to latest
  applications/kommander-ui/17.121.1/defaults/cm.yaml
  applications/kommander-ui/17.121.1/defaults/kustomization.yaml
  applications/kommander-ui/17.121.1/kommander-ui.yaml
  applications/kommander-ui/17.121.1/kustomization.yaml
  applications/kommander-ui/17.121.1/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3910 fix: Update app versions for dashboards (#3909)
  applications/grafana-logging/9.3.1/grafana.yaml
  applications/harbor/1.17.2/release/harbor.yaml
  applications/jaeger/2.57.2/helmrelease/release.yaml
  applications/kiali/2.13.0/kiali.yaml
  applications/kube-prometheus-stack/75.16.1/helmrelease/kube-prometheus-stack.yaml
  applications/kube-prometheus-stack/75.16.1/metadata.yaml
  applications/kubernetes-dashboard/7.13.0/helmrelease/kubernetes-dashboard.yaml
  applications/traefik/36.2.0/traefik/traefik.yaml
  apptests/appscenarios/traefik.go
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, update-licenses, applications/grafana-logging, applications/kube-prometheus-stack, applications/harbor, applications/jaeger, applications/kiali, applications/kubernetes-dashboard, applications/traefik

#3915 fix: remove grafana cpu limit & use recommended mem for limit
  applications/centralized-grafana/75.16.1/defaults/cm.yaml
  applications/grafana-logging/9.3.1/defaults/cm.yaml
  applications/kube-prometheus-stack/75.16.1/defaults/cm.yaml
  applications/project-grafana-logging/9.3.1/defaults/cm.yaml
Labels: ok-to-test, update-licenses, applications/centralized-grafana, applications/grafana-logging, applications/kube-prometheus-stack, applications/project-grafana-logging

#3908 feat: update the gpu operator to 25.3.2
  applications/nvidia-gpu-operator/25.3.2/defaults/cm.yaml
  applications/nvidia-gpu-operator/25.3.2/defaults/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.2/grafana-dashboards/gpu-operator.json
  applications/nvidia-gpu-operator/25.3.2/grafana-dashboards/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.2/helmrelease.yaml
  applications/nvidia-gpu-operator/25.3.2/helmrelease/extra-images.txt
  applications/nvidia-gpu-operator/25.3.2/helmrelease/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.2/helmrelease/nvidia.yaml
  applications/nvidia-gpu-operator/25.3.2/kustomization.yaml
  applications/nvidia-gpu-operator/25.3.2/metadata.yaml
  licenses.d2iq.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, applications/nvidia-gpu-operator

#3918 docs: Add must have and fix typo in ai nav rag app page
  applications/ai-navigator-rag/0.7.1/metadata.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/M, update-licenses, applications/ai-navigator-rag, backport-to-release-2.16

#3905 feat: bump ui to latest
  applications/kommander-ui/17.122.4/defaults/cm.yaml
  applications/kommander-ui/17.122.4/defaults/kustomization.yaml
  applications/kommander-ui/17.122.4/kommander-ui.yaml
  applications/kommander-ui/17.122.4/kustomization.yaml
  applications/kommander-ui/17.122.4/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3924 fix: Update all bitnami images to bitnamilegacy
  .bloodhound.yml
  apptests/appscenarios/contants.go
  apptests/testdata/rook-ceph/manifests/persistent-volume-creator.yaml
  common/build/list-images-values.yaml
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.10/defaults/cm.yaml
  services/cosi-driver-nutanix/0.4.0/defaults/cm.yaml
  services/dex/2.14.2/defaults/cm.yaml
  services/external-dns/7.5.6/defaults/cm.yaml
  services/git-operator/0.1.4/kustomization.yaml
  services/grafana-loki/0.79.5/grafana-loki-pre-install-jobs/pre-install.yaml
  services/harbor/1.17.0/defaults/harbor.yaml
  services/harbor/1.17.0/defaults/valkey.yaml
  services/harbor/1.17.0/pre-install/pre-install-jobs.yaml
  services/istio/1.23.3/defaults/cm.yaml
  services/knative/1.17.0/defaults/cm.yaml
  services/kommander/0.15.1/dynamic-helmreleases/cluster-observer/list-images-values.yaml
  services/kube-prometheus-stack/70.4.2/defaults/cm.yaml
  services/kubecost/2.7.0/defaults/cm.yaml
  services/kubecost/2.7.0/pre-install/pre-install-jobs.yaml
  services/kubefed/0.11.1/defaults/cm.yaml
  services/kubetunnel/0.0.39/defaults/cm.yaml
  services/nkp-insights-management/1.4.4/defaults/cm.yaml
  services/nkp-insights/1.4.4/defaults/cm.yaml
  services/project-grafana-loki/0.79.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/pre-install/ceph-crd-check.yaml
  services/thanos/15.7.24/defaults/cm.yaml
  services/thanos/15.7.24/jobs/jobs.yaml
  services/velero/8.3.0/defaults/cm.yaml
  services/velero/8.3.0/velero-pre-install.yaml
Labels: ready-for-review, ok-to-test, size/M, update-licenses

#3931 fix(git-operator): Override image using kustomization overlay
  hack/list-images.sh
  services/git-operator/0.1.4/kustomization.yaml
Labels: ok-to-test, size/XS

#3936 fix: 2.14.2 + bitnamilegacy ONLY
  .bloodhound.yml
  apptests/appscenarios/contants.go
  apptests/testdata/rook-ceph/manifests/persistent-volume-creator.yaml
  common/build/list-images-values.yaml
  hack/list-images.sh
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.10/defaults/cm.yaml
  services/cosi-driver-nutanix/0.4.0/defaults/cm.yaml
  services/dex/2.14.1/defaults/cm.yaml
  services/external-dns/7.5.6/defaults/cm.yaml
  services/git-operator/0.1.3/kustomization.yaml
  services/grafana-loki/0.79.5/grafana-loki-pre-install-jobs/pre-install.yaml
  services/harbor/1.16.2/defaults/harbor.yaml
  services/harbor/1.16.2/defaults/valkey.yaml
  services/harbor/1.16.2/pre-install/pre-install-jobs.yaml
  services/istio/1.23.3/defaults/cm.yaml
  services/knative/1.17.0/defaults/cm.yaml
  services/kommander/0.14.2/dynamic-helmreleases/cluster-observer/list-images-values.yaml
  services/kube-prometheus-stack/69.1.3/defaults/cm.yaml
  services/kubecost/2.5.2/defaults/cm.yaml
  services/kubecost/2.5.2/pre-install/pre-install-jobs.yaml
  services/kubefed/0.11.1/defaults/cm.yaml
  services/kubetunnel/0.0.39/defaults/cm.yaml
  services/nkp-insights-management/1.4.4/defaults/cm.yaml
  services/nkp-insights/1.4.4/defaults/cm.yaml
  services/project-grafana-loki/0.79.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/defaults/cm.yaml
  services/rook-ceph-cluster/1.16.2/pre-install/ceph-crd-check.yaml
  services/thanos/15.7.24/defaults/cm.yaml
  services/thanos/15.7.24/jobs/jobs.yaml
  services/velero/8.3.0/defaults/cm.yaml
  services/velero/8.3.0/velero-pre-install.yaml
Labels: ok-to-test, size/M

#3938 fix: 2.13.2 + bitnamilegacy ONLY
  .bloodhound.yml
  apptests/appscenarios/contants.go
  apptests/testdata/rook-ceph/manifests/persistent-volume-creator.yaml
  common/build/list-images-values.yaml
  hack/list-images.sh
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.8/defaults/cm.yaml
  services/centralized-kubecost/0.37.7/defaults/cm.yaml
  services/centralized-kubecost/0.37.7/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.7/release/release.yaml
  services/dex/2.14.1/defaults/cm.yaml
  services/external-dns/7.5.6/defaults/cm.yaml
  services/git-operator/0.1.2/kustomization.yaml
  services/grafana-loki/0.79.5/grafana-loki-pre-install-jobs/pre-install.yaml
  services/istio/1.23.3/defaults/cm.yaml
  services/knative/1.15.5/defaults/cm.yaml
  services/kommander/0.13.3/dynamic-helmreleases/cluster-observer/list-images-values.yaml
  services/kube-prometheus-stack/65.5.0/defaults/cm.yaml
  services/kubecost/0.37.8/defaults/cm.yaml
  services/kubefed/0.10.5/defaults/cm.yaml
  services/kubetunnel/0.0.38/defaults/cm.yaml
  services/nkp-insights-management/1.3.4/defaults/cm.yaml
  services/nkp-insights/1.3.4/defaults/cm.yaml
  services/project-grafana-loki/0.79.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.14.5/defaults/cm.yaml
  services/rook-ceph-cluster/1.14.5/pre-install/ceph-crd-check.yaml
  services/thanos/15.7.23/defaults/cm.yaml
  services/thanos/15.7.23/jobs/jobs.yaml
  services/traefik/27.0.3/defaults/cm.yaml
  services/velero/7.2.2/defaults/cm.yaml
  services/velero/7.2.2/velero-pre-install.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/M, backport-to-release-2.13

#3948 feat: [release-2.16] Release NKP-Insights v1.6.8 (#3947)
  applications/nkp-insights-management/1.6.8/defaults/cm.yaml
  applications/nkp-insights-management/1.6.8/defaults/kustomization.yaml
  applications/nkp-insights-management/1.6.8/helmrelease.yaml
  applications/nkp-insights-management/1.6.8/helmrelease/helmrelease.yaml
  applications/nkp-insights-management/1.6.8/helmrelease/kustomization.yaml
  applications/nkp-insights-management/1.6.8/kustomization.yaml
  applications/nkp-insights-management/1.6.8/metadata.yaml
  applications/nkp-insights/1.6.8/defaults/cm.yaml
  applications/nkp-insights/1.6.8/defaults/kustomization.yaml
  applications/nkp-insights/1.6.8/helmrelease.yaml
  applications/nkp-insights/1.6.8/helmrelease/extra-images.txt
  applications/nkp-insights/1.6.8/helmrelease/helmrelease.yaml
  applications/nkp-insights/1.6.8/helmrelease/kustomization.yaml
  applications/nkp-insights/1.6.8/helmrelease/list-images-values.yaml
  applications/nkp-insights/1.6.8/kustomization.yaml
  applications/nkp-insights/1.6.8/metadata.yaml
  licenses.d2iq.yaml
Labels: ok-to-test, size/S

#3949 feat: Release AI Navigator RAG v0.7.3
  applications/ai-navigator-rag/0.7.3/defaults/cm.yaml
  applications/ai-navigator-rag/0.7.3/defaults/kustomization.yaml
  applications/ai-navigator-rag/0.7.3/helmrelease.yaml
  applications/ai-navigator-rag/0.7.3/helmrelease/helmrelease.yaml
  applications/ai-navigator-rag/0.7.3/kustomization.yaml
  applications/ai-navigator-rag/0.7.3/metadata.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/S, update-licenses, applications/ai-navigator-rag, backport-to-release-2.16

#3950 feat: [release-2.16] Release AI Navigator RAG v0.7.3 (#3949)
  applications/ai-navigator-rag/0.7.3/defaults/cm.yaml
  applications/ai-navigator-rag/0.7.3/defaults/kustomization.yaml
  applications/ai-navigator-rag/0.7.3/helmrelease.yaml
  applications/ai-navigator-rag/0.7.3/helmrelease/helmrelease.yaml
  applications/ai-navigator-rag/0.7.3/kustomization.yaml
  applications/ai-navigator-rag/0.7.3/metadata.yaml
Labels: size/S

#3964 feat: Release DKP-Insights v1.0.3
  licenses.d2iq.yaml
  services/dkp-insights-management/1.0.3/defaults/cm.yaml
  services/dkp-insights-management/1.0.3/defaults/kustomization.yaml
  services/dkp-insights-management/1.0.3/helmrelease.yaml
  services/dkp-insights-management/1.0.3/helmrelease/helmrelease.yaml
  services/dkp-insights-management/1.0.3/helmrelease/kustomization.yaml
  services/dkp-insights-management/1.0.3/kustomization.yaml
  services/dkp-insights/1.0.3/defaults/cm.yaml
  services/dkp-insights/1.0.3/defaults/kustomization.yaml
  services/dkp-insights/1.0.3/helmrelease.yaml
  services/dkp-insights/1.0.3/helmrelease/extra-images.txt
  services/dkp-insights/1.0.3/helmrelease/helmrelease.yaml
  services/dkp-insights/1.0.3/helmrelease/kustomization.yaml
  services/dkp-insights/1.0.3/helmrelease/list-images-values.yaml
  services/dkp-insights/1.0.3/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/S

#3903 feat: bump k8s 1.32.3 to latest patch 1.32.8
  .bloodhound.yml
Labels: ok-to-test, size/XS

#3961 fix: Replace bitnami with bitnamilegacy (2.7)
  .bloodhound.yml
  common/build/kommander-cert-federation.yaml
  common/build/list-images-values.yaml
  hack/list-images.sh
  licenses.d2iq.yaml
  services/ai-navigator-app/0.2.1/defaults/cm.yaml
  services/ai-navigator-cluster-info-agent/0.1.1/defaults/cm.yaml
  services/centralized-kubecost/0.37.2/defaults/cm.yaml
  services/centralized-kubecost/0.37.2/post-install-jobs/post-install-jobs.yaml
  services/centralized-kubecost/0.37.2/release/release.yaml
  services/dex/2.13.11/defaults/cm.yaml
  services/dkp-insights-management/1.0.3/defaults/cm.yaml
  services/dkp-insights/1.0.3/defaults/cm.yaml
  services/dkp-insights/1.0.3/helmrelease/list-images-values.yaml
  services/external-dns/7.1.2/defaults/cm.yaml
  services/gitea/8.2.0/defaults/cm.yaml
  services/grafana-loki/0.74.6/grafana-loki-pre-install-jobs/pre-install.yaml
  services/istio/1.17.2/defaults/cm.yaml
  services/knative/1.10.4/defaults/cm.yaml
  services/kommander/0.7.4/dynamic-helmreleases/cluster-observer/list-images-values.yaml
  services/kube-prometheus-stack/48.3.2/defaults/cm.yaml
  services/kubecost/0.37.2/defaults/cm.yaml
  services/kubefed/0.10.4/defaults/cm.yaml
  services/kubetunnel/0.0.31/defaults/cm.yaml
  services/rook-ceph-cluster/1.12.6/defaults/cm.yaml
  services/rook-ceph-cluster/1.12.6/objectbucketclaims/helmrelease.yaml
  services/rook-ceph-cluster/1.12.6/pre-install/ceph-crd-check.yaml
  services/thanos/12.13.13/defaults/cm.yaml
  services/thanos/12.13.13/jobs/jobs.yaml
  services/traefik/24.0.0/defaults/cm.yaml
  services/velero/4.1.2/defaults/cm.yaml
  services/velero/4.1.2/pre-install/pre-install-job.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/M, backport-to-release-2.7
