Repository mesosphere/kommander-applications, pull requests merged in 2025-06, with the labels that each got.

#3570 feat: add external secrets operator app
  .github/service-labeler.yaml
  common/helm-repositories/external-secrets.yaml
  common/helm-repositories/kustomization.yaml
  licenses.d2iq.yaml
  services/external-secrets/0.17.0/defaults/cm.yaml
  services/external-secrets/0.17.0/defaults/kustomization.yaml
  services/external-secrets/0.17.0/external-secrets-namespace.yaml
  services/external-secrets/0.17.0/external-secrets-namespace/external-secrets.yaml
  services/external-secrets/0.17.0/kustomization.yaml
  services/external-secrets/0.17.0/metadata.yaml
  services/external-secrets/0.17.0/release.yaml
  services/external-secrets/0.17.0/release/kustomization.yaml
  services/external-secrets/0.17.0/release/release.yaml
  services/external-secrets/metadata.yaml
Labels: ok-to-test, size/L, update-licenses

#3563 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.94.0/defaults/cm.yaml
  services/kommander-ui/17.94.0/defaults/kustomization.yaml
  services/kommander-ui/17.94.0/kommander-ui.yaml
  services/kommander-ui/17.94.0/kustomization.yaml
  services/kommander-ui/17.94.0/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3540 feat: Remove app metadata.yaml
  .bloodhound.yml
  services/ai-navigator-app/metadata.yaml
  services/ai-navigator-cluster-info-agent/metadata.yaml
  services/centralized-grafana/metadata.yaml
  services/cert-manager/bootstrap/metadata.yaml
  services/cert-manager/metadata.yaml
  services/chartmuseum/metadata.yaml
  services/cilium-hubble-relay-traefik/metadata.yaml
  services/cloudnative-pg/metadata.yaml
  services/cosi-driver-nutanix/metadata.yaml
  services/dex-k8s-authenticator/metadata.yaml
  services/dex/metadata.yaml
  services/external-dns/metadata.yaml
  services/external-secrets/metadata.yaml
  services/fluent-bit/metadata.yaml
  services/gatekeeper/bootstrap/metadata.yaml
  services/gatekeeper/metadata.yaml
  services/gateway-api-crds/metadata.yaml
  services/git-operator/metadata.yaml
  services/grafana-logging/metadata.yaml
  services/grafana-loki/metadata.yaml
  services/harbor/metadata.yaml
  services/istio/metadata.yaml
  services/jaeger/metadata.yaml
  services/karma-traefik/metadata.yaml
  services/karma/metadata.yaml
  services/kiali/metadata.yaml
  services/knative/metadata.yaml
  services/kommander-appmanagement/metadata.yaml
  services/kommander-flux/metadata.yaml
  services/kommander-ui/metadata.yaml
  services/kommander/metadata.yaml
  services/kube-oidc-proxy/metadata.yaml
  services/kube-prometheus-stack/metadata.yaml
  services/kubecost/metadata.yaml
  services/kubefed/metadata.yaml
  services/kubernetes-dashboard/metadata.yaml
  services/kubetunnel/metadata.yaml
  services/logging-operator/metadata.yaml
  services/nkp-insights-management/metadata.yaml
  services/nkp-insights/metadata.yaml
  services/nkp-pulse-management/metadata.yaml
  services/nkp-pulse-workspace/metadata.yaml
  services/nvidia-gpu-operator/metadata.yaml
  services/project-grafana-logging/metadata.yaml
  services/project-grafana-loki/metadata.yaml
  services/project-logging/metadata.yaml
  services/prometheus-adapter/metadata.yaml
  services/prometheus-thanos-traefik/metadata.yaml
  services/reloader/metadata.yaml
  services/rook-ceph-cluster/metadata.yaml
  services/rook-ceph/metadata.yaml
  services/thanos/metadata.yaml
  services/traefik-forward-auth-mgmt/metadata.yaml
  services/traefik-forward-auth/metadata.yaml
  services/traefik/metadata.yaml
  services/velero/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XL, open-kommander-pr, services/kiali, services/fluent-bit, services/logging-operator, services/rook-ceph-cluster, services/rook-ceph, services/gatekeeper, services/kommander, services/kommander-flux, services/istio, services/jaeger, services/centralized-grafana, services/external-dns, services/nvidia-gpu-operator, services/traefik, services/reloader, services/grafana-logging, services/cert-manager, services/kube-prometheus-stack, services/dex-k8s-authenticator, services/karma, services/karma-traefik, services/knative, services/kubecost, services/prometheus-adapter, services/prometheus-thanos-traefik, services/traefik-forward-auth, services/traefik-forward-auth-mgmt, services/velero, services/grafana-loki, services/project-grafana-loki, services/kubefed, services/kubetunnel, services/thanos, services/project-logging, services/project-grafana-logging, services/kommander-appmanagement, services/kubernetes-dashboard, services/dex, services/kube-oidc-proxy, update-licenses, services/kommander-ui, services/chartmuseum, services/ai-navigator-app, services/ai-navigator-cluster-info-agent, services/git-operator, services/nkp-insights, services/nkp-insights-management, services/harbor, services/nkp-pulse-management, services/nkp-pulse-workspace, services/gateway-api-crds, services/cosi-driver-nutanix, services/cloudnative-pg, services/cilium-hubble-relay-traefik

#3573 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.96.0/defaults/cm.yaml
  services/kommander-ui/17.96.0/defaults/kustomization.yaml
  services/kommander-ui/17.96.0/kommander-ui.yaml
  services/kommander-ui/17.96.0/kustomization.yaml
  services/kommander-ui/17.96.0/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3580 ci: Fix pre-commit metadata check
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  hack/validate-app-metadata.sh
  make/pre-commit.mk
Labels: ready-for-review, ok-to-test, size/XS

#3581 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.96.2/defaults/cm.yaml
  services/kommander-ui/17.96.2/defaults/kustomization.yaml
  services/kommander-ui/17.96.2/kommander-ui.yaml
  services/kommander-ui/17.96.2/kustomization.yaml
  services/kommander-ui/17.96.2/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3584 build: devbox update
  .envrc
  .pre-commit-config.yaml
  devbox.lock
  hack/release/cmd/postrelease/postrelease.go
  hack/release/cmd/prerelease/prerelease.go
  hack/release/pkg/appversion/appversion.go
  hack/release/pkg/chartversion/chartversion_test.go
  hack/release/pkg/constants/constants.go
  hack/release/pkg/updatecapimate/updatecapimate.go
  hack/release/pkg/updatecapimate/updatecapimate_test.go
  make/go.mk
Labels: ok-to-test, size/XL

#3578 feat: Release NKP-Pulse v0.2.7
  services/nkp-pulse-management/0.2.7/defaults/cm.yaml
  services/nkp-pulse-management/0.2.7/helmrelease.yaml
  services/nkp-pulse-workspace/0.2.7/defaults/cm.yaml
  services/nkp-pulse-workspace/0.2.7/helmrelease.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, services/nkp-pulse-management, services/nkp-pulse-workspace

#3583 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.71.23/defaults/cm.yaml
  services/kommander-ui/17.71.23/defaults/kustomization.yaml
  services/kommander-ui/17.71.23/kommander-ui.yaml
  services/kommander-ui/17.71.23/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3582 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.42.26/defaults/cm.yaml
  services/kommander-ui/17.42.26/defaults/kustomization.yaml
  services/kommander-ui/17.42.26/kommander-ui.yaml
  services/kommander-ui/17.42.26/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3585 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.97.0/defaults/cm.yaml
  services/kommander-ui/17.97.0/defaults/kustomization.yaml
  services/kommander-ui/17.97.0/kommander-ui.yaml
  services/kommander-ui/17.97.0/kustomization.yaml
  services/kommander-ui/17.97.0/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3591 feat: Create applications symlink to services
  applications
Labels: ready-for-review, ok-to-test, size/XS

#3593 ci: use new slack webhook config
  .github/workflows/release.yml
Labels: size/S

#3542 feat: adds mig manager to airgap bundle
  licenses.d2iq.yaml
  services/nvidia-gpu-operator/25.3.1/defaults/cm.yaml
  services/nvidia-gpu-operator/25.3.1/helmrelease/extra-images.txt
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/nvidia-gpu-operator, update-licenses

#3551 feat: modify types and certifications for apps
  services/ai-navigator-app/0.2.11/metadata.yaml
  services/ai-navigator-cluster-info-agent/0.1.4/metadata.yaml
  services/centralized-grafana/71.0.1/metadata.yaml
  services/cert-manager/1.16.5/metadata.yaml
  services/cloudnative-pg/0.23.3/metadata.yaml
  services/cosi-driver-nutanix/0.4.1/metadata.yaml
  services/external-dns/8.5.1/metadata.yaml
  services/fluent-bit/0.48.11/metadata.yaml
  services/gatekeeper/3.18.3/metadata.yaml
  services/grafana-logging/8.15.1/metadata.yaml
  services/grafana-loki/0.80.4/metadata.yaml
  services/harbor/1.17.0/metadata.yaml
  services/istio/1.23.4/metadata.yaml
  services/jaeger/2.57.2/metadata.yaml
  services/karma/2.0.7/metadata.yaml
  services/kiali/2.8.1/metadata.yaml
  services/knative/1.18.1/metadata.yaml
  services/kube-oidc-proxy/0.3.6/metadata.yaml
  services/kube-prometheus-stack/71.0.1/metadata.yaml
  services/kubecost/2.7.3/metadata.yaml
  services/kubernetes-dashboard/7.12.1/metadata.yaml
  services/logging-operator/5.3.1/metadata.yaml
  services/nkp-insights/1.4.5/metadata.yaml
  services/nvidia-gpu-operator/25.3.1/metadata.yaml
  services/project-grafana-logging/8.15.1/metadata.yaml
  services/project-grafana-loki/0.80.4/metadata.yaml
  services/project-logging/1.0.3/metadata.yaml
  services/prometheus-adapter/4.14.2/metadata.yaml
  services/reloader/2.1.3/metadata.yaml
  services/rook-ceph-cluster/1.17.1/metadata.yaml
  services/rook-ceph/1.17.1/metadata.yaml
  services/traefik-forward-auth/0.3.15/metadata.yaml
  services/traefik/35.2.1/metadata.yaml
  services/velero/9.0.1/metadata.yaml
Labels: help wanted, ok-to-test, do-not-merge/testing, size/L, open-kommander-pr, services/kiali, services/fluent-bit, services/logging-operator, services/rook-ceph-cluster, services/rook-ceph, services/gatekeeper, services/istio, services/jaeger, services/centralized-grafana, services/external-dns, services/nvidia-gpu-operator, services/traefik, services/reloader, services/grafana-logging, services/cert-manager, services/kube-prometheus-stack, services/karma, services/knative, services/kubecost, services/prometheus-adapter, services/traefik-forward-auth, services/velero, services/grafana-loki, services/project-grafana-loki, services/project-logging, services/project-grafana-logging, services/kubernetes-dashboard, services/kube-oidc-proxy, update-licenses, services/ai-navigator-app, services/ai-navigator-cluster-info-agent, services/nkp-insights, services/harbor, services/cosi-driver-nutanix, services/cloudnative-pg

#3608 build: Bump bloodhound
  .bloodhound.yml
  make/validate.mk
Labels: ready-for-review, ok-to-test, size/XS, auto-merge

#3550 refactor: Switch HelmReleases to use OCI registries
  apptests/appscenarios/externaldns_test.go
  apptests/appscenarios/gatekeeper_test.go
  apptests/appscenarios/testdata/bitnami-helmrepository.yaml
  common/helm-repositories/kustomization.yaml
  hack/list-images.sh
  services/external-dns/8.5.1/external-dns.yaml
  services/thanos/15.8.1/thanos.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/external-dns, services/thanos, update-licenses

#3634 build(gha): Update path in labeler config
  .github/app-pr-labeler.yaml
Labels: ready-for-review, ok-to-test, size/L, auto-merge
