Repository mesosphere/kommander-applications, pull requests merged in 2025-07, with the labels that each got.

#3624 feat: an app to run AI Navigator Chatbot locally
  .github/app-labeler.yaml
  applications/ai-navigator-gateway/0.5.0/defaults/cm.yaml
  applications/ai-navigator-gateway/0.5.0/defaults/kustomization.yaml
  applications/ai-navigator-gateway/0.5.0/helmrelease.yaml
  applications/ai-navigator-gateway/0.5.0/helmrelease/helmrelease.yaml
  applications/ai-navigator-gateway/0.5.0/kustomization.yaml
  applications/ai-navigator-gateway/0.5.0/metadata.yaml
  common/helm-repositories/ai-navigator-repos.yaml
  hack/list-images.sh
Labels: ready-for-review, ok-to-test, size/L, update-licenses

#3666 feat: bump fluent-bit to 0.50.0 and OCI migration
  applications/fluent-bit/0.48.11/fluent-bit.yaml
  applications/fluent-bit/0.50.0/defaults/cm.yaml
  applications/fluent-bit/0.50.0/defaults/kustomization.yaml
  applications/fluent-bit/0.50.0/fluent-bit.yaml
  applications/fluent-bit/0.50.0/grafana-dashboards-logging/audit.json
  applications/fluent-bit/0.50.0/grafana-dashboards-logging/kustomization.yaml
  applications/fluent-bit/0.50.0/grafana-dashboards/fluent-bit.json
  applications/fluent-bit/0.50.0/grafana-dashboards/kustomization.yaml
  applications/fluent-bit/0.50.0/kustomization.yaml
  applications/fluent-bit/0.50.0/metadata.yaml
  apptests/testdata/fluent.yaml
  common/helm-repositories/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/fluent-bit

#3631 feat: Merge Cluster Info API and Agent into the single app
  applications/ai-navigator-cluster-info-agent/0.1.4/defaults/cm.yaml
  applications/ai-navigator-cluster-info-agent/0.3.0/defaults/cm.yaml
  applications/ai-navigator-cluster-info-agent/0.3.0/defaults/kustomization.yaml
  applications/ai-navigator-cluster-info-agent/0.3.0/helmrelease.yaml
  applications/ai-navigator-cluster-info-agent/0.3.0/helmrelease/ai-navigator-cluster-info-agent.yaml
  applications/ai-navigator-cluster-info-agent/0.3.0/helmrelease/ai-navigator-cluster-info-api.yaml
  applications/ai-navigator-cluster-info-agent/0.3.0/helmrelease/kustomization.yaml
  applications/ai-navigator-cluster-info-agent/0.3.0/kustomization.yaml
  applications/ai-navigator-cluster-info-agent/0.3.0/metadata.yaml
Labels: size/L

#3622 feat: bump to gpu-operator to v.25.3.1
  applications/nvidia-gpu-operator/25.3.1/defaults/cm.yaml
  applications/nvidia-gpu-operator/25.3.1/helmrelease/nvidia.yaml
  licenses.d2iq.yaml
Labels: ok-to-test, size/M, services/nvidia-gpu-operator

#3637 refactor: migrate traefik to oci repository
  applications/traefik/35.2.1/crds/crds.yaml
  applications/traefik/36.2.0/crds.yaml
  applications/traefik/36.2.0/crds/crds.yaml
  applications/traefik/36.2.0/crds/kustomization.yaml
  applications/traefik/36.2.0/crds/list-images-values.yaml
  applications/traefik/36.2.0/defaults/crds.yaml
  applications/traefik/36.2.0/defaults/kustomization.yaml
  applications/traefik/36.2.0/defaults/traefik.yaml
  applications/traefik/36.2.0/grafana-dashboards/kustomization.yaml
  applications/traefik/36.2.0/grafana-dashboards/traefik.json
  applications/traefik/36.2.0/kustomization.yaml
  applications/traefik/36.2.0/metadata.yaml
  applications/traefik/36.2.0/traefik/kustomization.yaml
  applications/traefik/36.2.0/traefik/traefik.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr

#3670 feat: bump kiali-operator to 2.12.0 and OCI migration
  applications/kiali/2.12.0/defaults/cm.yaml
  applications/kiali/2.12.0/defaults/kustomization.yaml
  applications/kiali/2.12.0/extra-images.txt
  applications/kiali/2.12.0/kiali.yaml
  applications/kiali/2.12.0/kustomization.yaml
  applications/kiali/2.12.0/metadata.yaml
  common/helm-repositories/kustomization.yaml
  licenses.d2iq.yaml
Labels: ok-to-test, size/M, open-kommander-pr, services/kiali

#3671 fix: rook-ceph wait script for OCI repository version
  applications/rook-ceph-cluster/1.17.5/pre-install.yaml
  applications/rook-ceph-cluster/1.17.5/pre-install/ceph-crd-check.yaml
Labels: ready-for-review, size/XS, open-kommander-pr

#3677 feat: bump gatekepeer to 3.19.2 and OCI migration
  applications/gatekeeper/3.19.2/constraints.yaml
  applications/gatekeeper/3.19.2/constraints/enforce-helmrelease-sa.yaml
  applications/gatekeeper/3.19.2/constraints/enforce-kustomization-sa.yaml
  applications/gatekeeper/3.19.2/constrainttemplates.yaml
  applications/gatekeeper/3.19.2/constrainttemplates/enforce-sa-constrainttemplate.yaml
  applications/gatekeeper/3.19.2/defaults/cm.yaml
  applications/gatekeeper/3.19.2/defaults/kustomization.yaml
  applications/gatekeeper/3.19.2/kustomization.yaml
  applications/gatekeeper/3.19.2/metadata.yaml
  applications/gatekeeper/3.19.2/release.yaml
  applications/gatekeeper/3.19.2/release/kustomization.yaml
  applications/gatekeeper/3.19.2/release/release.yaml
  applications/gatekeeper/bootstrap/kustomization.yaml
  hack/list-oci-artifacts.sh
  licenses.d2iq.yaml
Labels: ready-for-review, size/M

#3668 feat: bump k8s to 1.33.2
  .bloodhound.yml
Labels: ok-to-test, size/XS

#3679 chore: Adds mock KB URL for cert expiry Prometheus alerts
  applications/kube-prometheus-stack/71.0.1/defaults/cm.yaml
Labels: size/XS

#3688 chore: Use Dockerhub as the registry for NKP-Pulse
  applications/nkp-pulse-management/0.2.7/defaults/cm.yaml
  applications/nkp-pulse-workspace/0.2.7/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/XS

#3600 refactor: migrated logging-operator to oci repository
  applications/logging-operator/5.3.1/logging-operator/logging-operator.yaml
  applications/logging-operator/5.4.0/defaults/cm.yaml
  applications/logging-operator/5.4.0/defaults/kustomization.yaml
  applications/logging-operator/5.4.0/grafana-dashboards/kustomization.yaml
  applications/logging-operator/5.4.0/grafana-dashboards/logging-operator.json
  applications/logging-operator/5.4.0/grafana-dashboards/logging-stack-stress.json
  applications/logging-operator/5.4.0/kustomization.yaml
  applications/logging-operator/5.4.0/logging-operator-logging/extra-images.txt
  applications/logging-operator/5.4.0/logging-operator-logging/kustomization.yaml
  applications/logging-operator/5.4.0/logging-operator-logging/logging-operator-logging.yaml
  applications/logging-operator/5.4.0/logging-operator/kustomization.yaml
  applications/logging-operator/5.4.0/logging-operator/logging-operator.yaml
  applications/logging-operator/5.4.0/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, do-not-merge/testing, size/L, open-kommander-pr, services/logging-operator

#3686 refactor: kubetunnel OCI migration
  applications/kubetunnel/0.0.40/kubetunnel.yaml
Labels: size/S, open-kommander-pr, services/kubetunnel

#3696 feat: bump ui to latest
  applications/kommander-ui/17.109.0/defaults/cm.yaml
  applications/kommander-ui/17.109.0/defaults/kustomization.yaml
  applications/kommander-ui/17.109.0/kommander-ui.yaml
  applications/kommander-ui/17.109.0/kustomization.yaml
  applications/kommander-ui/17.109.0/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3700 feat: update cosi-driver-nutanix to OCI
  applications/cosi-driver-nutanix/0.6.0/cosi-driver-nutanix.yaml
  applications/cosi-driver-nutanix/0.6.0/cosi-resources-nutanix.yaml
Labels: ok-to-test, open-kommander-pr, update-licenses, applications/cosi-driver-nutanix

#3697 feat: bump ui to latest
  applications/kommander-ui/17.110.0/defaults/cm.yaml
  applications/kommander-ui/17.110.0/defaults/kustomization.yaml
  applications/kommander-ui/17.110.0/kommander-ui.yaml
  applications/kommander-ui/17.110.0/kustomization.yaml
  applications/kommander-ui/17.110.0/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3702 refactor: migrate kube-oidc-proxy to OCI
  applications/kube-oidc-proxy/0.3.6/kube-oidc-proxy.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, update-licenses, applications/kube-oidc-proxy

#3705 feat: bump kubectl to 1.33.2
  applications/ai-navigator-cluster-info-agent/0.3.0/defaults/cm.yaml
  applications/cosi-driver-nutanix/0.6.0/defaults/cm.yaml
  applications/dex/2.14.3/defaults/cm.yaml
  applications/git-operator/0.13.10/kustomization.yaml
  applications/grafana-loki/0.80.4/grafana-loki-pre-install-jobs/pre-install.yaml
  applications/harbor/1.17.0/defaults/harbor.yaml
  applications/harbor/1.17.0/pre-install/pre-install-jobs.yaml
  applications/istio/1.23.4/defaults/cm.yaml
  applications/kommander/0.16.0/dynamic-helmreleases/cluster-observer/list-images-values.yaml
  applications/kube-prometheus-stack/71.0.1/defaults/cm.yaml
  applications/kubecost/2.7.3/defaults/cm.yaml
  applications/kubecost/2.7.3/pre-install/pre-install-jobs.yaml
  applications/kubefed/0.11.2/defaults/cm.yaml
  applications/kubetunnel/0.0.40/defaults/cm.yaml
  applications/nkp-insights-management/1.4.5/defaults/cm.yaml
  applications/nkp-insights/1.4.5/defaults/cm.yaml
  applications/nkp-pulse-management/0.2.7/defaults/cm.yaml
  applications/project-grafana-loki/0.80.4/defaults/cm.yaml
  applications/rook-ceph-cluster/1.17.5/defaults/cm.yaml
  applications/rook-ceph-cluster/1.17.5/pre-install/ceph-crd-check.yaml
  applications/thanos/15.8.1/jobs/jobs.yaml
  applications/velero/10.0.8/defaults/cm.yaml
  applications/velero/10.0.8/velero-pre-install.yaml
  apptests/appscenarios/constants.go
  common/build/list-images-values.yaml
  licenses.d2iq.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, update-licenses, applications/cosi-driver-nutanix, applications/nkp-pulse-management, applications/kube-prometheus-stack, applications/kubecost, applications/harbor, applications/kommander, applications/ai-navigator-cluster-info-agent, applications/dex, applications/git-operator, applications/grafana-loki, applications/istio, applications/kubefed, applications/kubetunnel, applications/nkp-insights, applications/nkp-insights-management, applications/project-grafana-loki, applications/rook-ceph-cluster, applications/thanos, applications/velero

#3706 refactor: migrate knative chart to OCIRepository
  applications/knative/1.18.1/knative-deployment.yaml
  applications/knative/1.18.1/knative-operator.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, update-licenses, applications/knative

#3704 feat: bump ui to latest
  applications/kommander-ui/17.112.3/defaults/cm.yaml
  applications/kommander-ui/17.112.3/defaults/kustomization.yaml
  applications/kommander-ui/17.112.3/kommander-ui.yaml
  applications/kommander-ui/17.112.3/kustomization.yaml
  applications/kommander-ui/17.112.3/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3714 feat: Release NKP-Pulse v0.2.10
  applications/nkp-pulse-management/0.2.10/defaults/cm.yaml
  applications/nkp-pulse-management/0.2.10/defaults/kustomization.yaml
  applications/nkp-pulse-management/0.2.10/helmrelease.yaml
  applications/nkp-pulse-management/0.2.10/kustomization.yaml
  applications/nkp-pulse-management/0.2.10/metadata.yaml
  applications/nkp-pulse-workspace/0.2.10/defaults/cm.yaml
  applications/nkp-pulse-workspace/0.2.10/defaults/kustomization.yaml
  applications/nkp-pulse-workspace/0.2.10/helmrelease.yaml
  applications/nkp-pulse-workspace/0.2.10/kustomization.yaml
  applications/nkp-pulse-workspace/0.2.10/metadata.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, applications/nkp-pulse-management, applications/nkp-pulse-workspace

#3710 refactor: migrate traefik-forward-auth chart to OCIRepository
  applications/traefik-forward-auth-mgmt/0.3.15/traefik-forward-auth-mgmt.yaml
  applications/traefik-forward-auth/0.3.15/traefik-forward-auth.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, update-licenses, applications/traefik-forward-auth, applications/traefik-forward-auth-mgmt

#3722 chore: updates sentence
  applications/kube-prometheus-stack/71.0.1/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, open-kommander-pr, update-licenses, applications/kube-prometheus-stack

#3721 refactor: Migrate Prometheus thanos traefik to OCIRepository
  applications/prometheus-thanos-traefik/0.0.3/prometheus-thanos-traefik.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, update-licenses, applications/prometheus-thanos-traefik

#3733 chore: update cosi app icon
  applications/cosi-driver-nutanix/0.6.0/metadata.yaml
Labels: ok-to-test, size/XS, update-licenses, applications/cosi-driver-nutanix

#3720 feat: Prometheus Adapter OCI Migration
  applications/prometheus-adapter/4.14.2/helmrelease/prometheus-adapter.yaml
Labels: ready-for-review, ok-to-test, open-kommander-pr, update-licenses, applications/prometheus-adapter

#3737 refactor: remove helm-repo ref
  common/helm-repositories/kustomization.yaml
Labels: size/XS

#3736 refactor: chartmuseum oci migration
  applications/chartmuseum/3.10.4/chartmuseum.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, applications/chartmuseum

#3729 refactor: migrate gateway-api-crds chart to OCIRepository
  applications/gateway-api-crds/1.6.1/gateway-api-crds.yaml
  applications/gateway-api-crds/1.9.0/defaults/cm.yaml
  applications/gateway-api-crds/1.9.0/defaults/kustomization.yaml
  applications/gateway-api-crds/1.9.0/gateway-api-crds.yaml
  applications/gateway-api-crds/1.9.0/kustomization.yaml
  applications/gateway-api-crds/1.9.0/metadata.yaml
Labels: ok-to-test, size/M, open-kommander-pr, update-licenses, applications/gateway-api-crds

#3738 refactor: Migrate istio to OCI
  applications/istio/1.23.4/helmrelease/helmrelease.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, applications/istio

#3739 refactor: Migrate object-bucket-claim to OCI
  applications/project-grafana-loki/0.80.4/object-bucket-claims.yaml
  applications/rook-ceph-cluster/1.17.5/objectbucketclaims/helmrelease.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, update-licenses, applications/project-grafana-loki, applications/rook-ceph-cluster

#3742 feat: bump ui to latest
  applications/kommander-ui/17.113.0/defaults/cm.yaml
  applications/kommander-ui/17.113.0/defaults/kustomization.yaml
  applications/kommander-ui/17.113.0/kommander-ui.yaml
  applications/kommander-ui/17.113.0/kustomization.yaml
  applications/kommander-ui/17.113.0/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3724 refactor: add schema field in application metadata
  applications/ai-navigator-app/0.4.0/metadata.yaml
  applications/ai-navigator-cluster-info-agent/0.3.0/metadata.yaml
  applications/ai-navigator-gateway/0.5.0/metadata.yaml
  applications/centralized-grafana/71.0.1/metadata.yaml
  applications/cert-manager/1.17.2/metadata.yaml
  applications/chartmuseum/3.10.4/metadata.yaml
  applications/cilium-hubble-relay-traefik/0.0.4/metadata.yaml
  applications/cloudnative-pg/0.24.0/metadata.yaml
  applications/cosi-driver-nutanix/0.6.0/metadata.yaml
  applications/dex-k8s-authenticator/1.4.6/metadata.yaml
  applications/dex/2.14.3/metadata.yaml
  applications/external-dns/8.5.1/metadata.yaml
  applications/external-secrets/0.18.1/metadata.yaml
  applications/fluent-bit/0.50.0/metadata.yaml
  applications/gatekeeper/3.19.2/metadata.yaml
  applications/gateway-api-crds/1.9.0/metadata.yaml
  applications/git-operator/0.13.10/metadata.yaml
  applications/grafana-logging/8.15.1/metadata.yaml
  applications/grafana-loki/0.80.4/metadata.yaml
  applications/harbor/1.17.0/metadata.yaml
  applications/istio/1.23.4/metadata.yaml
  applications/jaeger/2.57.2/metadata.yaml
  applications/karma-traefik/0.0.3/metadata.yaml
  applications/karma/2.0.8/metadata.yaml
  applications/kiali/2.12.0/metadata.yaml
  applications/knative/1.18.1/metadata.yaml
  applications/kommander-appmanagement/0.16.0/metadata.yaml
  applications/kommander-flux/2.6.1/metadata.yaml
  applications/kommander-ui/17.113.0/metadata.yaml
  applications/kommander/0.16.0/metadata.yaml
  applications/kube-oidc-proxy/0.3.6/metadata.yaml
  applications/kube-prometheus-stack/71.0.1/metadata.yaml
  applications/kubecost/2.7.3/metadata.yaml
  applications/kubefed/0.11.2/metadata.yaml
  applications/kubernetes-dashboard/7.13.0/metadata.yaml
  applications/kubetunnel/0.0.40/metadata.yaml
  applications/logging-operator/5.4.0/metadata.yaml
  applications/nkp-insights-management/1.6.0/metadata.yaml
  applications/nkp-insights/1.6.0/metadata.yaml
  applications/nkp-pulse-management/0.2.10/metadata.yaml
  applications/nkp-pulse-workspace/0.2.10/metadata.yaml
  applications/nvidia-gpu-operator/25.3.1/metadata.yaml
  applications/project-grafana-logging/8.15.1/metadata.yaml
  applications/project-grafana-loki/0.80.4/metadata.yaml
  applications/project-logging/1.0.3/metadata.yaml
  applications/prometheus-adapter/4.14.2/metadata.yaml
  applications/prometheus-thanos-traefik/0.0.3/metadata.yaml
  applications/reloader/2.1.5/metadata.yaml
  applications/rook-ceph-cluster/1.17.5/metadata.yaml
  applications/rook-ceph/1.17.5/metadata.yaml
  applications/thanos/15.8.1/metadata.yaml
  applications/traefik-forward-auth-mgmt/0.3.15/metadata.yaml
  applications/traefik-forward-auth/0.3.15/metadata.yaml
  applications/traefik/36.2.0/metadata.yaml
  applications/velero/10.0.8/metadata.yaml
  applications/vgpu-token-operator/1.0.6/metadata.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, update-licenses, auto-merge, applications/kommander-ui, applications/vgpu-token-operator, applications/logging-operator, applications/cilium-hubble-relay-traefik, applications/cosi-driver-nutanix, applications/nkp-pulse-management, applications/nkp-pulse-workspace, applications/kube-oidc-proxy, applications/centralized-grafana, applications/grafana-logging, applications/kube-prometheus-stack, applications/kubecost, applications/project-grafana-logging, applications/karma, applications/karma-traefik, applications/harbor, applications/kommander, applications/ai-navigator-cluster-info-agent, applications/dex, applications/git-operator, applications/grafana-loki, applications/istio, applications/kubefed, applications/kubetunnel, applications/nkp-insights, applications/nkp-insights-management, applications/project-grafana-loki, applications/rook-ceph-cluster, applications/thanos, applications/velero, applications/knative, applications/reloader, applications/ai-navigator-app, applications/ai-navigator-gateway, applications/traefik-forward-auth, applications/traefik-forward-auth-mgmt, applications/dex-k8s-authenticator, applications/kommander-flux, applications/prometheus-adapter, applications/prometheus-thanos-traefik, applications/cert-manager, applications/chartmuseum, applications/cloudnative-pg, applications/external-dns, applications/external-secrets, applications/fluent-bit, applications/gatekeeper, applications/gateway-api-crds, applications/jaeger, applications/kiali, applications/kommander-appmanagement, applications/kubernetes-dashboard, applications/nvidia-gpu-operator, applications/project-logging, applications/rook-ceph, applications/traefik

#3743 feat: built in cluster observer helm chart
  applications/kommander/0.16.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  charts/cluster-observer/README.md
  charts/cluster-observer/cluster-observer-1.4.1.tgz
  common/helm-repositories/mesosphere-repos.yaml
Labels: ready-for-review, ok-to-test, size/S, open-kommander-pr, update-licenses, applications/kommander

#3709 ci: validate via nkp-catalog-cli
  make/validate.mk
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, auto-merge, applications/kommander-ui, applications/vgpu-token-operator, applications/logging-operator, applications/cilium-hubble-relay-traefik, applications/cosi-driver-nutanix, applications/nkp-pulse-management, applications/nkp-pulse-workspace, applications/kube-oidc-proxy, applications/centralized-grafana, applications/grafana-logging, applications/kube-prometheus-stack, applications/kubecost, applications/project-grafana-logging, applications/karma, applications/karma-traefik, applications/harbor, applications/kommander, applications/ai-navigator-cluster-info-agent, applications/dex, applications/git-operator, applications/grafana-loki, applications/istio, applications/kubefed, applications/kubetunnel, applications/nkp-insights, applications/nkp-insights-management, applications/project-grafana-loki, applications/rook-ceph-cluster, applications/thanos, applications/velero, applications/knative, applications/reloader, applications/ai-navigator-app, applications/ai-navigator-gateway, applications/traefik-forward-auth, applications/traefik-forward-auth-mgmt, applications/dex-k8s-authenticator, applications/kommander-flux, applications/prometheus-adapter, applications/prometheus-thanos-traefik, applications/cert-manager, applications/chartmuseum, applications/cloudnative-pg, applications/external-dns, applications/external-secrets, applications/fluent-bit, applications/gatekeeper, applications/gateway-api-crds, applications/jaeger, applications/kiali, applications/kommander-appmanagement, applications/kubernetes-dashboard, applications/nvidia-gpu-operator, applications/project-logging, applications/rook-ceph, applications/traefik

#3745 feat: bump ui to latest
  applications/kommander-ui/17.114.0/defaults/cm.yaml
  applications/kommander-ui/17.114.0/defaults/kustomization.yaml
  applications/kommander-ui/17.114.0/kommander-ui.yaml
  applications/kommander-ui/17.114.0/kustomization.yaml
  applications/kommander-ui/17.114.0/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3746 feat: bump ui to latest
  applications/kommander-ui/17.115.1/defaults/cm.yaml
  applications/kommander-ui/17.115.1/defaults/kustomization.yaml
  applications/kommander-ui/17.115.1/kommander-ui.yaml
  applications/kommander-ui/17.115.1/kustomization.yaml
  applications/kommander-ui/17.115.1/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3717 refactor: kubefed oci migration
  applications/kubefed/0.11.2/release/release.yaml
Labels: ok-to-test, size/S, open-kommander-pr, update-licenses, applications/kubefed

#3750 fix: bumps vgpu token operator to v1.0.7
  applications/vgpu-token-operator/1.0.7/defaults/cm.yaml
  applications/vgpu-token-operator/1.0.7/defaults/kustomization.yaml
  applications/vgpu-token-operator/1.0.7/helmrelease.yaml
  applications/vgpu-token-operator/1.0.7/helmrelease/extra-images.txt
  applications/vgpu-token-operator/1.0.7/helmrelease/kustomization.yaml
  applications/vgpu-token-operator/1.0.7/helmrelease/vgpu.yaml
  applications/vgpu-token-operator/1.0.7/kustomization.yaml
  applications/vgpu-token-operator/1.0.7/metadata.yaml
  licenses.d2iq.yaml
Labels: ok-to-test, size/S, update-licenses, applications/vgpu-token-operator

#3741 feat: add flux oci mirror app
  applications/kommander-flux/2.6.1/kustomization.yaml
  applications/kommander-flux/2.6.1/mirror/flux-oci-mirror.yaml
  applications/kommander-flux/2.6.1/mirror/kustomization.yaml
  apptests/appscenarios/kommanderflux_test.go
  apptests/environment/crds/cert-manager.crds.yaml
  apptests/environment/environment.go
  licenses.d2iq.yaml
Labels: ok-to-test, size/XXL, update-licenses, applications/kommander-flux

#3752 fix: cert-manager crd links
  .bloodhound.yml
Labels: size/XS

#3734 refactor: migrate kubecost chart to OCIRepository
  applications/kubecost/2.7.3/cosi-storage/cosi-bucket.yaml
  applications/kubecost/2.7.3/release/release.yaml
  common/helm-repositories/kustomization.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, update-licenses, applications/kubecost

#3759 feat: bump ai-navigator-app to 0.5.1
  applications/ai-navigator-app/0.5.1/defaults/cm.yaml
  applications/ai-navigator-app/0.5.1/defaults/kustomization.yaml
  applications/ai-navigator-app/0.5.1/helmrelease.yaml
  applications/ai-navigator-app/0.5.1/helmrelease/ai-navigator-app.yaml
  applications/ai-navigator-app/0.5.1/helmrelease/kustomization.yaml
  applications/ai-navigator-app/0.5.1/kustomization.yaml
  applications/ai-navigator-app/0.5.1/metadata.yaml
Labels: ready-for-review, ok-to-test, update-licenses, applications/ai-navigator-app

#3760 build: push chart to ghcr
  .github/workflows/single-chart-ghcr.yaml
Labels: size/M

#3762 fix: enable HR replacement on upgrade
  applications/kommander/0.16.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
Labels: ready-for-review, ok-to-test, update-licenses, applications/kommander

#3766 fix: update single chart push
  .github/workflows/single-chart-ghcr.yaml
Labels: ready-for-review

#3767 feat: bump ui to latest
  applications/kommander-ui/17.116.7/defaults/cm.yaml
  applications/kommander-ui/17.116.7/defaults/kustomization.yaml
  applications/kommander-ui/17.116.7/kommander-ui.yaml
  applications/kommander-ui/17.116.7/kustomization.yaml
  applications/kommander-ui/17.116.7/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3765 chore: Split HelmRelease and OCIRepository in their own respective files
  applications/nkp-insights-management/1.6.2/helmrelease/helmrelease.yaml
  applications/nkp-insights-management/1.6.2/helmrelease/kustomization.yaml
  applications/nkp-insights-management/1.6.2/helmrelease/ocirepository.yaml
  applications/nkp-insights/1.6.2/helmrelease/helmrelease.yaml
  applications/nkp-insights/1.6.2/helmrelease/kustomization.yaml
  applications/nkp-insights/1.6.2/helmrelease/ocirepository.yaml
Labels: ready-for-review, ok-to-test

#3770 feat: bump ui to latest
  applications/kommander-ui/17.116.8/defaults/cm.yaml
  applications/kommander-ui/17.116.8/defaults/kustomization.yaml
  applications/kommander-ui/17.116.8/kommander-ui.yaml
  applications/kommander-ui/17.116.8/kustomization.yaml
  applications/kommander-ui/17.116.8/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3776 revert: "chore: Split HelmRelease and OCIRepository"
  applications/nkp-insights-management/1.6.2/helmrelease/helmrelease.yaml
  applications/nkp-insights-management/1.6.2/helmrelease/kustomization.yaml
  applications/nkp-insights-management/1.6.2/helmrelease/ocirepository.yaml
  applications/nkp-insights/1.6.2/helmrelease/helmrelease.yaml
  applications/nkp-insights/1.6.2/helmrelease/kustomization.yaml
  applications/nkp-insights/1.6.2/helmrelease/ocirepository.yaml
Labels: ready-for-review, ok-to-test

#3775 feat: bump ui to latest
  applications/kommander-ui/17.116.9/defaults/cm.yaml
  applications/kommander-ui/17.116.9/defaults/kustomization.yaml
  applications/kommander-ui/17.116.9/kommander-ui.yaml
  applications/kommander-ui/17.116.9/kustomization.yaml
  applications/kommander-ui/17.116.9/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3773 chore: Remove AI Navigator RAG app for 2.16
  .exclude-airgapped
  .github/app-labeler.yaml
  applications/ai-navigator-gateway/0.5.0/defaults/cm.yaml
  applications/ai-navigator-gateway/0.5.0/defaults/kustomization.yaml
  applications/ai-navigator-gateway/0.5.0/helmrelease.yaml
  applications/ai-navigator-gateway/0.5.0/helmrelease/helmrelease.yaml
  applications/ai-navigator-gateway/0.5.0/kustomization.yaml
  applications/ai-navigator-gateway/0.5.0/metadata.yaml
  common/helm-repositories/ai-navigator-repos.yaml
  make/validate.mk
Labels: ready-for-review, ok-to-test, size/L, update-licenses

#3789 feat: Release NKP-Pulse 0.2.11
  applications/nkp-pulse-management/0.2.11/defaults/cm.yaml
  applications/nkp-pulse-management/0.2.11/defaults/kustomization.yaml
  applications/nkp-pulse-management/0.2.11/helmrelease.yaml
  applications/nkp-pulse-management/0.2.11/kustomization.yaml
  applications/nkp-pulse-management/0.2.11/metadata.yaml
  applications/nkp-pulse-workspace/0.2.11/defaults/cm.yaml
  applications/nkp-pulse-workspace/0.2.11/defaults/kustomization.yaml
  applications/nkp-pulse-workspace/0.2.11/helmrelease.yaml
  applications/nkp-pulse-workspace/0.2.11/kustomization.yaml
  applications/nkp-pulse-workspace/0.2.11/metadata.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, applications/nkp-pulse-management, applications/nkp-pulse-workspace

#3791 feat: bump ui to latest
  applications/kommander-ui/17.116.11/defaults/cm.yaml
  applications/kommander-ui/17.116.11/defaults/kustomization.yaml
  applications/kommander-ui/17.116.11/kommander-ui.yaml
  applications/kommander-ui/17.116.11/kustomization.yaml
  applications/kommander-ui/17.116.11/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3795 feat: kommander-cert-federation to ocirepository
  applications/kommander/0.16.0/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  charts/kommander-cert-federation/README.md
  charts/kommander-cert-federation/kommander-cert-federation-0.0.13.tgz
  charts/mtls-proxy/README.md
  charts/mtls-proxy/mtls-proxy-0.1.8.tgz
  common/build/kommander-cert-federation.yaml
Labels: ok-to-test, size/S, update-licenses, applications/kommander

#3794 chore: update states of prometheus alerts
  applications/kube-prometheus-stack/71.0.0/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, applications/kube-prometheus-stack

#3753 refactor: default catalog configuration
  applications/kommander/0.16.0/defaults/cm.yaml
Labels: ok-to-test, size/S, update-licenses, applications/kommander

#3800 fix: Add PostRenderer patches to Flux added ChartVersion Digest
  applications/knative/1.18.1/knative-operator.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, applications/knative

#3808 fix: Add additional spec.template.labels patch
  applications/knative/1.18.1/knative-operator.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, applications/knative

#3809 feat: Release NKP-Insights v1.6.4
  applications/nkp-insights-management/1.6.4/defaults/cm.yaml
  applications/nkp-insights-management/1.6.4/defaults/kustomization.yaml
  applications/nkp-insights-management/1.6.4/helmrelease.yaml
  applications/nkp-insights-management/1.6.4/helmrelease/helmrelease.yaml
  applications/nkp-insights-management/1.6.4/helmrelease/kustomization.yaml
  applications/nkp-insights-management/1.6.4/kustomization.yaml
  applications/nkp-insights-management/1.6.4/metadata.yaml
  applications/nkp-insights/1.6.4/defaults/cm.yaml
  applications/nkp-insights/1.6.4/defaults/kustomization.yaml
  applications/nkp-insights/1.6.4/helmrelease.yaml
  applications/nkp-insights/1.6.4/helmrelease/extra-images.txt
  applications/nkp-insights/1.6.4/helmrelease/helmrelease.yaml
  applications/nkp-insights/1.6.4/helmrelease/kustomization.yaml
  applications/nkp-insights/1.6.4/helmrelease/list-images-values.yaml
  applications/nkp-insights/1.6.4/kustomization.yaml
  applications/nkp-insights/1.6.4/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/S, update-licenses, applications/nkp-insights, applications/nkp-insights-management

#3804 feat: Add support for creating full Kommander application bundles
  justfile
  make/validate.mk
Labels: ready-for-review, ok-to-test, size/S

#3815 feat: bump ui to latest
  applications/kommander-ui/17.116.14/defaults/cm.yaml
  applications/kommander-ui/17.116.14/defaults/kustomization.yaml
  applications/kommander-ui/17.116.14/kommander-ui.yaml
  applications/kommander-ui/17.116.14/kustomization.yaml
  applications/kommander-ui/17.116.14/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3822 fix: Unset log_timezone for postgres
  .bloodhound.yml
  applications/harbor/1.17.1/defaults/database.yaml
Labels: ok-to-test, size/XS, update-licenses, applications/harbor

#3803 feat: update fluent-bit to 4.0.5
  applications/fluent-bit/0.50.0/defaults/cm.yaml
  licenses.d2iq.yaml
Labels: ok-to-test, do-not-merge/testing, size/XS, open-kommander-pr, update-licenses, applications/fluent-bit

#3821 feat: bump ui to latest
  applications/kommander-ui/17.116.17/defaults/cm.yaml
  applications/kommander-ui/17.116.17/defaults/kustomization.yaml
  applications/kommander-ui/17.116.17/kommander-ui.yaml
  applications/kommander-ui/17.116.17/kustomization.yaml
  applications/kommander-ui/17.116.17/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3824 refactor: update redis-exporter with bitnamilegacy
  applications/harbor/1.17.1/defaults/valkey.yaml
  licenses.d2iq.yaml
Labels: ok-to-test, size/S, open-kommander-pr, update-licenses, applications/harbor

#3826 feat: bump ui to latest
  applications/kommander-ui/17.117.1/defaults/cm.yaml
  applications/kommander-ui/17.117.1/defaults/kustomization.yaml
  applications/kommander-ui/17.117.1/kommander-ui.yaml
  applications/kommander-ui/17.117.1/kustomization.yaml
  applications/kommander-ui/17.117.1/metadata.yaml
  licenses.d2iq.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge, applications/kommander-ui

#3829 feat: add prometheus/promethes:v3.3.0
  applications/kube-prometheus-stack/71.0.0/defaults/cm.yaml
  applications/kube-prometheus-stack/71.0.0/helmrelease/extra-images.txt
  licenses.d2iq.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, applications/kube-prometheus-stack

#3828 fix(kommander): Add external-secrets dependency
  applications/kommander/0.16.0/kommander.yaml
Labels: ready-for-review, ok-to-test, size/XS, open-kommander-pr, update-licenses, applications/kommander
