Repository mesosphere/kommander-applications, pull requests merged in 2025-05, with the labels that each got.

#3372 feat: kommander charts use oci
  charts/kommander-operator/templates/_helpers.tpl
  charts/kommander-operator/templates/deployment.yaml
  charts/kommander-operator/templates/rback_v1_clusterrole_binding_operator_kommander-operator.yaml
  charts/kommander-operator/templates/rback_v1_clusterrole_operator_kommander-operator.yaml
  charts/kommander-operator/templates/serviceaccount.yaml
  common/helm-repositories/kommander.yaml
  common/helm-repositories/kustomization.yaml
  hack/release/pkg/chartversion/chartversion.go
  services/kommander-appmanagement/0.16.0/kommander-appmanagement.yaml
  services/kommander/0.16.0/kommander.yaml
Labels: ready-for-review, ok-to-test, size/M, services/kommander, services/kommander-appmanagement, update-licenses

#3480 test: fix postpre release unit test
  hack/release/go.mod
  hack/release/go.sum
  hack/release/pkg/chartversion/chartversion_test.go
Labels: ready-for-review, ok-to-test, size/L

#3483 feat: Bump bitnami/thanos:0.38.0
  licenses.d2iq.yaml
  services/kube-prometheus-stack/70.4.2/defaults/cm.yaml
  services/thanos/15.8.0/defaults/cm.yaml
  services/thanos/15.8.0/defaults/kustomization.yaml
  services/thanos/15.8.0/jobs.yaml
  services/thanos/15.8.0/jobs/jobs.yaml
  services/thanos/15.8.0/kustomization.yaml
  services/thanos/15.8.0/metadata.yaml
  services/thanos/15.8.0/thanos.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kube-prometheus-stack, services/thanos, update-licenses

#3458 feat: update the jaeger-latest
  licenses.d2iq.yaml
  services/jaeger/2.57.1/defaults/cm.yaml
  services/jaeger/2.57.1/defaults/kustomization.yaml
  services/jaeger/2.57.1/helmrelease.yaml
  services/jaeger/2.57.1/helmrelease/extra-images.txt
  services/jaeger/2.57.1/helmrelease/kustomization.yaml
  services/jaeger/2.57.1/helmrelease/release.yaml
  services/jaeger/2.57.1/kustomization.yaml
  services/jaeger/2.57.1/metadata.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, services/jaeger, update-licenses

#3479 feat: Bump traefik to 35.2.0
  licenses.d2iq.yaml
  services/traefik/35.2.0/crds.yaml
  services/traefik/35.2.0/crds/crds.yaml
  services/traefik/35.2.0/crds/kustomization.yaml
  services/traefik/35.2.0/crds/list-images-values.yaml
  services/traefik/35.2.0/defaults/crds.yaml
  services/traefik/35.2.0/defaults/kustomization.yaml
  services/traefik/35.2.0/defaults/traefik.yaml
  services/traefik/35.2.0/grafana-dashboards/kustomization.yaml
  services/traefik/35.2.0/grafana-dashboards/traefik.json
  services/traefik/35.2.0/kustomization.yaml
  services/traefik/35.2.0/metadata.yaml
  services/traefik/35.2.0/traefik/kustomization.yaml
  services/traefik/35.2.0/traefik/traefik.yaml
Labels: ok-to-test, auto-backport, size/S, services/traefik, update-licenses, auto-merge, backport-to-release-2.15

#3490 fix(traefik): Bump to 35.2.0
  licenses.d2iq.yaml
  services/traefik/35.2.0/crds.yaml
  services/traefik/35.2.0/crds/crds.yaml
  services/traefik/35.2.0/crds/kustomization.yaml
  services/traefik/35.2.0/crds/list-images-values.yaml
  services/traefik/35.2.0/defaults/crds.yaml
  services/traefik/35.2.0/defaults/kustomization.yaml
  services/traefik/35.2.0/defaults/traefik.yaml
  services/traefik/35.2.0/grafana-dashboards/kustomization.yaml
  services/traefik/35.2.0/grafana-dashboards/traefik.json
  services/traefik/35.2.0/kustomization.yaml
  services/traefik/35.2.0/traefik/kustomization.yaml
  services/traefik/35.2.0/traefik/traefik.yaml
Labels: ready-for-review, ok-to-test, backport-pr, size/S, auto-merge

#3488 refactor: Migrate helm repository definition closer to service
  services/kommander/0.16.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.16.0/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.16.0/kustomization.yaml
  services/kommander/0.16.0/repository.yaml
Labels: size/M, services/kommander

#3494 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.88.1/defaults/cm.yaml
  services/kommander-ui/17.88.1/defaults/kustomization.yaml
  services/kommander-ui/17.88.1/kommander-ui.yaml
  services/kommander-ui/17.88.1/kustomization.yaml
  services/kommander-ui/17.88.1/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3496 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.88.2/defaults/cm.yaml
  services/kommander-ui/17.88.2/defaults/kustomization.yaml
  services/kommander-ui/17.88.2/kommander-ui.yaml
  services/kommander-ui/17.88.2/kustomization.yaml
  services/kommander-ui/17.88.2/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3427 feat: Extend Kubestate metrics for CRDs and custom prometheus rules
  services/kube-prometheus-stack/70.4.2/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/kube-prometheus-stack, update-licenses

#3493 fix: Remove Rook Ceph from required dependencies for Insights
  services/nkp-insights/1.4.4/metadata.yaml
Labels: ok-to-test, update-licenses, services/nkp-insights

#3495 refactor: reorder defaultProApps to deploy ai navigator towards the end.
  services/kommander/0.15.0/defaults/cm.yaml
Labels: auto-backport, size/XS, backport-to-main, backport-to-release-2.12, backport-to-release-2.13, backport-to-release-2.14

#3499 refactor: reorder defaultProApps to deploy ai nav towards the end
  services/kommander/0.16.0/defaults/cm.yaml
Labels: ready-for-review, ok-to-test, services/kommander, update-licenses

#3460 feat: bump grafana/grafana to 11.6.1
  licenses.d2iq.yaml
  services/centralized-grafana/71.0.0/centralized-grafana.yaml
  services/centralized-grafana/71.0.0/defaults/cm.yaml
  services/centralized-grafana/71.0.0/defaults/kustomization.yaml
  services/centralized-grafana/71.0.0/grafana-dashboards/global-overview.json
  services/centralized-grafana/71.0.0/grafana-dashboards/kustomization.yaml
  services/centralized-grafana/71.0.0/kustomization.yaml
  services/centralized-grafana/71.0.0/metadata.yaml
  services/centralized-grafana/71.0.0/rbac/grafana.yaml
  services/centralized-grafana/71.0.0/rbac/kustomization.yaml
  services/grafana-logging/8.15.0/defaults/cm.yaml
  services/grafana-logging/8.15.0/defaults/kustomization.yaml
  services/grafana-logging/8.15.0/grafana.yaml
  services/grafana-logging/8.15.0/kustomization.yaml
  services/grafana-logging/8.15.0/metadata.yaml
  services/kube-prometheus-stack/71.0.0/defaults/cm.yaml
  services/kube-prometheus-stack/71.0.0/defaults/kustomization.yaml
  services/kube-prometheus-stack/71.0.0/etcd-metrics-proxy.yaml
  services/kube-prometheus-stack/71.0.0/etcd-metrics-proxy/cert.yaml
  services/kube-prometheus-stack/71.0.0/etcd-metrics-proxy/client-rbac.yaml
  services/kube-prometheus-stack/71.0.0/etcd-metrics-proxy/kube-rbac-proxy.yaml
  services/kube-prometheus-stack/71.0.0/grafana-dashboards/calico.json
  services/kube-prometheus-stack/71.0.0/grafana-dashboards/controller-runtime.json
  services/kube-prometheus-stack/71.0.0/grafana-dashboards/flux-cluster-stats.json
  services/kube-prometheus-stack/71.0.0/grafana-dashboards/flux-control-plane.json
  services/kube-prometheus-stack/71.0.0/grafana-dashboards/kustomization.yaml
  services/kube-prometheus-stack/71.0.0/grafana-dashboards/pv-stats.json
  services/kube-prometheus-stack/71.0.0/helmrelease.yaml
  services/kube-prometheus-stack/71.0.0/helmrelease/extra-images.txt
  services/kube-prometheus-stack/71.0.0/helmrelease/kube-prometheus-stack.yaml
  services/kube-prometheus-stack/71.0.0/helmrelease/kustomization.yaml
  services/kube-prometheus-stack/71.0.0/kustomization.yaml
  services/kube-prometheus-stack/71.0.0/metadata.yaml
  services/kube-prometheus-stack/71.0.0/rbac/alertmanager.yaml
  services/kube-prometheus-stack/71.0.0/rbac/grafana.yaml
  services/kube-prometheus-stack/71.0.0/rbac/kustomization.yaml
  services/kube-prometheus-stack/71.0.0/rbac/prometheus.yaml
  services/kubecost/2.7.2/cosi-storage.yaml
  services/kubecost/2.7.2/cosi-storage/cosi-bucket.yaml
  services/kubecost/2.7.2/cosi-storage/kustomization.yaml
  services/kubecost/2.7.2/defaults/cm.yaml
  services/kubecost/2.7.2/defaults/kustomization.yaml
  services/kubecost/2.7.2/kustomization.yaml
  services/kubecost/2.7.2/metadata.yaml
  services/kubecost/2.7.2/pre-install.yaml
  services/kubecost/2.7.2/pre-install/kustomization.yaml
  services/kubecost/2.7.2/pre-install/pre-install-jobs.yaml
  services/kubecost/2.7.2/release.yaml
  services/kubecost/2.7.2/release/extra-images.txt
  services/kubecost/2.7.2/release/kustomization.yaml
  services/kubecost/2.7.2/release/release.yaml
  services/project-grafana-logging/8.15.0/defaults/cm.yaml
  services/project-grafana-logging/8.15.0/defaults/kustomization.yaml
  services/project-grafana-logging/8.15.0/kustomization.yaml
  services/project-grafana-logging/8.15.0/metadata.yaml
  services/project-grafana-logging/8.15.0/project-grafana.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/centralized-grafana, services/grafana-logging, services/kube-prometheus-stack, services/kubecost, services/project-grafana-logging, update-licenses

#3451 feat: Bump bitnami/external-dns0.16.1-debian-12-r5
  licenses.d2iq.yaml
  services/external-dns/8.5.0/defaults/cm.yaml
  services/external-dns/8.5.0/defaults/kustomization.yaml
  services/external-dns/8.5.0/external-dns.yaml
  services/external-dns/8.5.0/kustomization.yaml
  services/external-dns/8.5.0/metadata.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/external-dns, update-licenses

#3502 chore: Remove unused feature flag
  charts/kommander-operator/templates/deployment.yaml
  charts/kommander-operator/values.yaml
Labels: size/XS

#3501 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.42.19/defaults/cm.yaml
  services/kommander-ui/17.42.19/defaults/kustomization.yaml
  services/kommander-ui/17.42.19/kommander-ui.yaml
  services/kommander-ui/17.42.19/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3461 feat: bump fluentd 5.3.0
  licenses.d2iq.yaml
  services/logging-operator/5.3.0/defaults/cm.yaml
  services/logging-operator/5.3.0/defaults/kustomization.yaml
  services/logging-operator/5.3.0/extra-images.txt
  services/logging-operator/5.3.0/grafana-dashboards/kustomization.yaml
  services/logging-operator/5.3.0/grafana-dashboards/logging-operator.json
  services/logging-operator/5.3.0/grafana-dashboards/logging-stack-stress.json
  services/logging-operator/5.3.0/kustomization.yaml
  services/logging-operator/5.3.0/logging-operator-logging.yaml
  services/logging-operator/5.3.0/logging-operator.yaml
  services/logging-operator/5.3.0/metadata.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/logging-operator, update-licenses

#3504 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.90.0/defaults/cm.yaml
  services/kommander-ui/17.90.0/defaults/kustomization.yaml
  services/kommander-ui/17.90.0/kommander-ui.yaml
  services/kommander-ui/17.90.0/kustomization.yaml
  services/kommander-ui/17.90.0/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3497 refactor: reorder defaultProApps to deploy ai nav towards the end
  services/kommander/0.14.1/defaults/cm.yaml
Labels: size/XS

#3491 feat: git-operator release-v0.13.9
  .env
  justfile
  licenses.d2iq.yaml
  services/dex/2.14.2/defaults/cm.yaml
  services/git-operator/0.13.9/defaults/kustomization.yaml
  services/git-operator/0.13.9/git-operator-manifests/all.yaml
  services/git-operator/0.13.9/git-operator-manifests/kustomization.yaml
  services/git-operator/0.13.9/ingress.yaml
  services/git-operator/0.13.9/kustomization.yaml
  services/git-operator/0.13.9/metadata.yaml
  services/kube-prometheus-stack/71.0.0/defaults/cm.yaml
  services/kube-prometheus-stack/71.0.0/etcd-metrics-proxy/kube-rbac-proxy.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kube-prometheus-stack, services/dex, update-licenses, services/git-operator

#3509 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.91.2/defaults/cm.yaml
  services/kommander-ui/17.91.2/defaults/kustomization.yaml
  services/kommander-ui/17.91.2/kommander-ui.yaml
  services/kommander-ui/17.91.2/kustomization.yaml
  services/kommander-ui/17.91.2/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3511 chore: Switch metric source from Machine to KubeadmConfig
  services/kube-prometheus-stack/71.0.0/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/M, open-kommander-pr, services/kube-prometheus-stack, update-licenses

#3513 revert: "refactor: Migrate helm repository definition closer to service"
  services/kommander/0.16.0/dynamic-helmreleases/cluster-observer/cluster-observer.yaml
  services/kommander/0.16.0/dynamic-helmreleases/mtls-proxy/mtls-proxy.yaml
  services/kommander/0.16.0/kustomization.yaml
  services/kommander/0.16.0/repository.yaml
Labels: ready-for-review, ok-to-test, size/M, open-kommander-pr, services/kommander, update-licenses

#3510 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.91.5/defaults/cm.yaml
  services/kommander-ui/17.91.5/defaults/kustomization.yaml
  services/kommander-ui/17.91.5/kommander-ui.yaml
  services/kommander-ui/17.91.5/kustomization.yaml
  services/kommander-ui/17.91.5/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3512 fix: use pull_request target for GHA
  .github/workflows/automerge.yaml
  .github/workflows/backport.yaml
Labels: size/XS

#3514 feat: bump k8s 1.33.0 version to bloodhound
  .bloodhound.yml
Labels: size/XS

#3522 feat: bump chartmuseum to version v0.16.3
  licenses.d2iq.yaml
  services/chartmuseum/3.10.3/chartmuseum-3.10.3.tgz
  services/chartmuseum/3.10.4/README.md
  services/chartmuseum/3.10.4/chartmuseum-3.10.4.tgz
  services/chartmuseum/3.10.4/chartmuseum.yaml
  services/chartmuseum/3.10.4/defaults/cm.yaml
  services/chartmuseum/3.10.4/defaults/kustomization.yaml
  services/chartmuseum/3.10.4/ingress.yaml
  services/chartmuseum/3.10.4/kustomization.yaml
  services/chartmuseum/3.10.4/metadata.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, update-licenses, services/chartmuseum

#3527 chore: Adds Rollout Might Fail state
  services/kube-prometheus-stack/71.0.0/defaults/cm.yaml
Labels: ok-to-test, do-not-merge/testing, size/S, open-kommander-pr, services/kube-prometheus-stack, update-licenses

#3530 feat: Bump kommander operator chart to 0.4.0
  charts/kommander-operator/Chart.yaml
Labels: size/XS

#3528 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.71.20/defaults/cm.yaml
  services/kommander-ui/17.71.20/defaults/kustomization.yaml
  services/kommander-ui/17.71.20/kommander-ui.yaml
  services/kommander-ui/17.71.20/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3529 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.42.23/defaults/cm.yaml
  services/kommander-ui/17.42.23/defaults/kustomization.yaml
  services/kommander-ui/17.42.23/kommander-ui.yaml
  services/kommander-ui/17.42.23/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3525 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.91.10/defaults/cm.yaml
  services/kommander-ui/17.91.10/defaults/kustomization.yaml
  services/kommander-ui/17.91.10/kommander-ui.yaml
  services/kommander-ui/17.91.10/kustomization.yaml
  services/kommander-ui/17.91.10/metadata.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, services/kommander-ui, auto-merge

#3536 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.42.24/defaults/cm.yaml
  services/kommander-ui/17.42.24/defaults/kustomization.yaml
  services/kommander-ui/17.42.24/kommander-ui.yaml
  services/kommander-ui/17.42.24/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3535 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.71.21/defaults/cm.yaml
  services/kommander-ui/17.71.21/defaults/kustomization.yaml
  services/kommander-ui/17.71.21/kommander-ui.yaml
  services/kommander-ui/17.71.21/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3532 feat: bump the k8s 1.31 to latest patch 1.31.9
  .bloodhound.yml
Labels: size/XS

#3539 feat: bump the k8s 1.31 to latest patch 1.31.9 (2.14)
  .bloodhound.yml
Labels: size/XS

#3541 fix: Force k appmanagement HR
  services/kommander-appmanagement/0.16.0/kommander-appmanagement.yaml
Labels: ok-to-test, size/XS, services/kommander-appmanagement, update-licenses

#3543 feat: bump ui to latest
  licenses.d2iq.yaml
  services/kommander-ui/17.42.25/defaults/cm.yaml
  services/kommander-ui/17.42.25/defaults/kustomization.yaml
  services/kommander-ui/17.42.25/kommander-ui.yaml
  services/kommander-ui/17.42.25/kustomization.yaml
Labels: ready-for-review, ok-to-test, size/XS, update-licenses, auto-merge

#3554 fix(cert-manager): Add 10y expiry to cert
  services/cert-manager/1.16.5/cert-manager-namespace.yaml
  services/cert-manager/1.16.5/cert-manager-namespace/namespace.yaml
  services/cert-manager/1.16.5/defaults/cm.yaml
  services/cert-manager/1.16.5/defaults/kustomization.yaml
  services/cert-manager/1.16.5/kustomization.yaml
  services/cert-manager/1.16.5/metadata.yaml
  services/cert-manager/1.16.5/priorityclass-resource-quota.yaml
  services/cert-manager/1.16.5/priorityclass-resource-quota/resourcequota.yaml
  services/cert-manager/1.16.5/release.yaml
  services/cert-manager/1.16.5/release/kustomization.yaml
  services/cert-manager/1.16.5/release/release.yaml
  services/cert-manager/1.16.5/root-ca.yaml
  services/cert-manager/1.16.5/root-ca/root-ca.yaml
  services/cert-manager/bootstrap/kustomization.yaml
Labels: ready-for-review, ok-to-test, auto-backport, size/XS, services/cert-manager, update-licenses, auto-merge, backport-to-release-2.15

#3555 fix(cert-manager): Add 10y expiry to cert (#3554)
  services/cert-manager/1.16.5/cert-manager-namespace.yaml
  services/cert-manager/1.16.5/cert-manager-namespace/namespace.yaml
  services/cert-manager/1.16.5/defaults/cm.yaml
  services/cert-manager/1.16.5/defaults/kustomization.yaml
  services/cert-manager/1.16.5/kustomization.yaml
  services/cert-manager/1.16.5/priorityclass-resource-quota.yaml
  services/cert-manager/1.16.5/priorityclass-resource-quota/resourcequota.yaml
  services/cert-manager/1.16.5/release.yaml
  services/cert-manager/1.16.5/release/kustomization.yaml
  services/cert-manager/1.16.5/release/release.yaml
  services/cert-manager/1.16.5/root-ca.yaml
  services/cert-manager/1.16.5/root-ca/root-ca.yaml
  services/cert-manager/bootstrap/kustomization.yaml
Labels: ready-for-review, backport-pr, size/S, auto-merge

#3556 feat: bump dkp bloodhound to v0.15.0
  make/validate.mk
  services/harbor/1.17.0/defaults/database.yaml
Labels: ok-to-test, size/XS, update-licenses, services/harbor
